{"openapi":"3.0.0","info":{"title":"Auto Dialer","description":"","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/dialer/call-histories/{callHistoryId}":{"get":{"tags":["Call History & Reporting"],"summary":"Get Call History by ID","description":"Retrieve call history for a call history ID.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:read:call_history:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetCallDetailsbyCallID","parameters":[{"name":"callHistoryId","in":"path","description":"Unique call history ID.","required":true,"schema":{"type":"string","example":"WlLdbYT7R0uWWhJzjBmVVQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully retrieved call history for the specified call history ID.","content":{"application/json":{"schema":{"type":"object","properties":{"call_history_id":{"type":"string","description":"Unique identifier for the call history record.","example":"WlLdbYT7R0uWWhJzjBmVVQ"},"primary_name":{"type":"string","description":"Primary name of the prospect.","example":"Klay Thompson"},"secondary_name":{"type":"string","description":"Secondary name of the prospect.","example":"Klay T"},"company":{"type":"string","description":"Company name (for leads).","example":"GSW"},"disposition":{"type":"string","description":"Call disposition or outcome.","example":"Connected - No interest"},"transcript":{"type":"string","description":"Call transcript, if available.","example":"[00:00] 16315423526: Your call has been forwarded to voicemail. The person you're trying to reach is not available. At the tone.\\n[00:05] 16315423526: Please record your message. When you have finished recording, you may hang up."},"type":{"type":"string","description":"Record type enum: UPCOMING, CALLED, SNOOZED, HISTORY, NO_CALL_LIST, REMOVED, CALL_BACK_INBOUND","example":"HISTORY","enum":["UPCOMING","CALLED","SNOOZED","HISTORY","NO_CALL_LIST","REMOVED","CALL_BACK_INBOUND"]},"user_id":{"type":"string","description":"Unique identifier of the user who made the call.","example":"1W6kwwJQRL-1p9bsjdQvmw"},"call_list_id":{"type":"string","description":"Unique identifier of the call list.","example":"iY092GX9TbWfL54HnBxyPQ"},"account_name":{"type":"string","description":"Account name (for contacts).","example":"Facebook"},"calling_number":{"type":"string","description":"Phone number used to make the call.","example":"+15162060062"},"called_number":{"type":"string","description":"Phone number that was called.","example":"+1-631-542-3526"},"complete_called_number":{"type":"string","description":"Complete phone number with country code.","example":"+16315423526"},"call_duration":{"type":"number","description":"Call duration in seconds.","example":29},"create_time":{"type":"string","description":"Time when the call record was created in UTC (ISO 8601 format).","example":"2025-11-13T15:30:45Z"},"start_time":{"type":"string","description":"Time when the call started in UTC (ISO 8601 format).","example":"2025-11-13T15:30:16Z"},"dialer_status":{"type":"string","description":"Call status enum: UPCOMING, DIALING, CONNECTED, CANCELED, ENDED, VOICEMAIL_SKIP, DIALER_TREE_SKIP, BUSY_CALL_SKIP, DIFFERENT_TIMEZONE_SKIP, VOICEMAIL_LEFT, NO_NUMBER_TO_DIAL_SKIP, CALL_LIMIT_BY_DAY, CALL_LIMIT_BY_WEEK, COUNTRY_LIMIT","example":"ENDED","enum":["UPCOMING","DIALING","CONNECTED","CANCELED","ENDED","VOICEMAIL_SKIP","DIALER_TREE_SKIP","BUSY_CALL_SKIP","DIFFERENT_TIMEZONE_SKIP","VOICEMAIL_LEFT","NO_NUMBER_TO_DIAL_SKIP","CALL_LIMIT_BY_DAY","CALL_LIMIT_BY_WEEK","COUNTRY_LIMIT"]},"dialer_sub_status":{"type":"string","description":"Call sub-status enum: CANCELED_BY_CALLER, CANCELED_BY_CALLEE, CALLED_BY_PBX, ZP_ERROR, ANSWER, NOT_ANSWER","example":"ANSWER","enum":["CANCELED_BY_CALLER","CANCELED_BY_CALLEE","CALLED_BY_PBX","ZP_ERROR","ANSWER","NOT_ANSWER"]},"disposition_deleted":{"type":"boolean","description":"Indicates whether the disposition has been deleted.","example":false},"auto_disposition":{"type":"boolean","description":"Indicates whether the disposition was automatically assigned (true) or manually set (false).","example":true},"meeting_id":{"type":"string","description":"Unique identifier of the associated meeting, if available.","example":"aa916cffb2ad4be9a85f0a9a915799c5"},"processing_analysis":{"type":"boolean","description":"Indicates whether call analysis is currently being processed.","example":false},"call_note":{"type":"string","description":"Notes or comments about the call.","example":"Prospect showed no interest."},"call_id":{"type":"string","description":"Unique identifier for the call that was made.","example":"068b9f5120201001631"},"amd_result":{"type":"string","description":"Answering Machine Detection result enum: MACHINE, HUMAN","example":"HUMAN","enum":["MACHINE","HUMAN"]},"call_list_name":{"type":"string","description":"Name of the call list.","example":"test disposition"},"call_list_deleted":{"type":"boolean","description":"Indicates whether the call list has been deleted.","example":true},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"List of email addresses associated with the contact.","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address.","example":"john.smith@acme-corp.com"},"type":{"type":"string","description":"Type of email address.","example":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}},"description":"Root response object containing call history details."}}}},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or Admin <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6150` <br>\n Call history not found with ID: 068b9f5120201001631 <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error <br>\n"}},"security":[{"openapi_oauth":["dialer:read:admin","zoom_auto_dialer:read:call_history:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:read:admin"],"x-granular-scopes":["zoom_auto_dialer:read:call_history:admin"]}}},"/dialer/call-history":{"get":{"tags":["Call History & Reporting"],"summary":"Get Call History","description":"Retrieve call history with pagination and various filtering options. Supports filtering by user, call list ID, or call ID, but not all three simultaneously.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:read:call_history:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetCallHistory","parameters":[{"name":"user_id","in":"query","description":"Filter by user ID or email (cannot be combined with call_list_id or call_id).","required":false,"schema":{"type":"string","example":"1W6kwwJQRL-1p9bsjdQvmw"}},{"name":"call_list_id","in":"query","description":"Filter by call list ID (cannot be combined with user_id or call_id).","required":false,"schema":{"type":"string","example":"iY092GX9TbWfL54HnBxyPQ"}},{"name":"import_from","in":"query","description":"Filter by the import source (only valid with user_id): SALESFORCE, CSV, OUTREACH, OPEN_API.","required":false,"schema":{"type":"string","example":"OPEN_API"}},{"name":"keyword","in":"query","description":"Search keyword for filtering by name, called phone number, or call ID.","required":false,"schema":{"type":"string","example":"John"}},{"name":"sort_order","in":"query","description":"Sort order: asc or desc (defaults to desc by creation time).","required":false,"schema":{"type":"string","example":"desc","enum":["desc","asc"]}},{"name":"page","in":"query","description":"Page number (defaults to 1).","required":false,"schema":{"type":"number","example":1,"default":1}},{"name":"page_size","in":"query","description":"Number of items per page (defaults to 20).","required":false,"schema":{"maximum":100,"minimum":1,"type":"number","example":20,"default":20}},{"name":"call_id","in":"query","description":"Unique call ID (cannot be combined with other filters).","required":false,"schema":{"type":"string","example":"068b9f5120201001631"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully retrieved the call history.","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"type":"number","description":"Total number of items.","example":50},"page":{"type":"number","description":"Current page number.","example":1},"page_size":{"maximum":100,"minimum":1,"type":"number","description":"Number of items per page.","example":10,"default":20},"has_next_page":{"type":"boolean","description":"Whether there is a next page.","example":true},"call_history":{"type":"array","description":"Array of call history records.","items":{"type":"object","properties":{"call_history_id":{"type":"string","description":"Unique identifier for the call history record.","example":"19DBLVM5SHG6cgIeo0vrHQ"},"primary_name":{"type":"string","description":"Prospect primary name.","example":"Klay Thompson"},"secondary_name":{"type":"string","description":"Prospect secondary name.","example":"Klay"},"company":{"type":"string","description":"Company name (for leads).","example":"GSW"},"account_name":{"type":"string","description":"Account name (for contacts).","example":"GSW"},"disposition":{"type":"string","description":"Call disposition/outcome.","example":"Interested"},"disposition_deleted":{"type":"boolean","description":"Whether the disposition has been deleted.","example":false},"transcript":{"type":"string","description":"Call transcript (if available).","example":"[00:00] 16315423526: Your call has been forwarded to voicemail. The person you're trying to reach is not available. At the tone.\\n[00:05] 16315423526: Please record your message. When you have finished recording, you may hang up."},"type":{"type":"string","description":"Record type enum: UPCOMING, CALLED, SNOOZED, HISTORY, NO_CALL_LIST, REMOVED, CALL_BACK_INBOUND.","example":"HISTORY","enum":["UPCOMING","CALLED","SNOOZED","HISTORY","NO_CALL_LIST","REMOVED","CALL_BACK_INBOUND"]},"user_id":{"type":"string","description":"ID of the user who made the call.","example":"1W6kwwJQRL-1p9bsjdQvmw"},"call_list_id":{"type":"string","description":"Call list identifier.","example":"Nq6eIDDOTOa5wrxVdFUR3w"},"call_list_name":{"type":"string","description":"Name of the call list.","example":"Call list test"},"call_list_deleted":{"type":"boolean","description":"Whether the call list has been deleted.","example":false},"calling_number":{"type":"string","description":"Calling phone number.","example":"+1987654321"},"called_number":{"type":"string","description":"Phone number that was called.","example":"+1-631-542-4444"},"complete_called_number":{"type":"string","description":"Complete phone number with country code.","example":"+16315424444"},"call_duration":{"type":"number","description":"Call duration in seconds.","example":394},"create_time":{"type":"string","description":"Call creation time in UTC (ISO 8601 format).","example":"2025-11-13T15:30:45Z"},"start_time":{"type":"string","description":"Call start time in UTC (ISO 8601 format).","example":"2025-11-13T15:24:11Z"},"dialer_status":{"type":"string","description":"Call status enum: UPCOMING, DIALING, CONNECTED, CANCELED, ENDED, VOICEMAIL_SKIP, DIALER_TREE_SKIP, BUSY_CALL_SKIP, DIFFERENT_TIMEZONE_SKIP, VOICEMAIL_LEFT, NO_NUMBER_TO_DIAL_SKIP, CALL_LIMIT_BY_DAY, CALL_LIMIT_BY_WEEK, COUNTRY_LIMIT.","example":"ENDED","enum":["UPCOMING","DIALING","CONNECTED","CANCELED","ENDED","VOICEMAIL_SKIP","DIALER_TREE_SKIP","BUSY_CALL_SKIP","DIFFERENT_TIMEZONE_SKIP","VOICEMAIL_LEFT","NO_NUMBER_TO_DIAL_SKIP","CALL_LIMIT_BY_DAY","CALL_LIMIT_BY_WEEK","COUNTRY_LIMIT"]},"dialer_sub_status":{"type":"string","description":"Call sub-status enum: CANCELED_BY_CALLER, CANCELED_BY_CALLEE, CALLED_BY_PBX, ZP_ERROR, ANSWER, NOT_ANSWER.","example":"ANSWER","enum":["CANCELED_BY_CALLER","CANCELED_BY_CALLEE","CALLED_BY_PBX","ZP_ERROR","ANSWER","NOT_ANSWER"]},"auto_disposition":{"type":"boolean","description":"Whether disposition was automatically assigned (true) or manually set (false).","example":true},"meeting_id":{"type":"string","description":"Associated meeting ID (if available).","example":"3756643caefc4ed0ac3faccdc92a3677"},"processing_analysis":{"type":"boolean","description":"Whether call analysis is being processed.","example":false},"call_note":{"type":"string","description":"Call note.","example":"Prospect showed no interest."},"call_id":{"type":"string","description":"Unique call identifier.","example":"06711553f02021f25a0"},"amd_result":{"type":"string","description":"Answering Machine Detection result enum: MACHINE, HUMAN.","example":"HUMAN","enum":["MACHINE","HUMAN"]},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Email addresses.","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address.","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}},"description":"Call history item."}}},"description":"root"}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `6151` <br>\n At least one filter must be provided: user_id(id or email), call_list_id, or call_id <br>\n**Error Code:** `6152` <br>\n call_id cannot be combined with other filters: user_id (id or email), call_list_id, import_from, keyword <br>\n**Error Code:** `6153` <br>\n import_from is invalid <br>\n**Error Code:** `6154` <br>\n import_from parameter is only valid when filtering by user_id (id or email) <br>\n**Error Code:** `6155` <br>\n sort_order must be either 'asc' or 'desc' <br>\n**Error Code:** `6152` <br>\n Cannot provide both call_list_id and user_id (id or email) in the same request <br>\n**Error Code:** `6156` <br>\n page_size cannot exceed 100. Provided: 150 <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or Admin <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6021` <br>\n User not found with id: 1W6kwwJQRL-1p9bsjdQvmw <br>\n**Error Code:** `6150` <br>\n Call not found with callId: 068b9f5120201001631 <br>\n**Error Code:** `6020` <br>\n Call list not found with id: iY092GX9TbWfL54HnBxyPQ <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error <br>\n"}},"security":[{"openapi_oauth":["dialer:read:admin","zoom_auto_dialer:read:call_history:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:read:admin"],"x-granular-scopes":["zoom_auto_dialer:read:call_history:admin"]}}},"/dialer/call-lists":{"get":{"tags":["Call List Management"],"summary":"List Call Lists","description":"Retrieve all call lists in the account. Optionally filter by user IDs/emails and source.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:read:call_lists:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"ListCallLists","parameters":[{"name":"user_ids","in":"query","description":"Comma-separated list of user IDs or emails to filter by. Supports mixing IDs and emails.","required":false,"schema":{"type":"string","example":"1W6kwwJQRL-1p9bsjdQvmw,john@example.com,user_456"}},{"name":"import_from","in":"query","description":"Source of call list","required":false,"schema":{"type":"string","example":"OPEN_API"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully retrieved all call lists for the account","content":{"application/json":{"schema":{"type":"object","properties":{"call_lists":{"maxItems":10000,"minItems":0,"type":"array","description":"Array of call lists associated with the account.","items":{"type":"object","properties":{"call_list_id":{"type":"string","description":"Unique identifier of the call list.","example":"24n0mXjZSaOrOYJg7sahlA"},"name":{"type":"string","description":"Name of the call list.","example":"Q4 2025 Sales Prospects Contact"},"status":{"type":"string","description":"Call list status: IN_PROGRESS, COMPLETE","example":"COMPLETE","enum":["IN_PROGRESS","COMPLETE"]},"owner_user_id":{"type":"string","description":"User ID of the call list owner.","example":"CeNVNaE9SOWPo5SC_KlZHw"},"owner_email":{"type":"string","description":"Email address of the call list owner.","example":"dev+john_doe_zradialer@zoomsandbox.us"},"description":{"type":"string","description":"Description of the call list.","example":"High-priority contacts for Q5 2025 sales campaign targeting enterprise customers in the technology sector. Focus on companies with 500+ employees and annual revenue over $10M."},"prospect_type":{"type":"string","description":"Type of prospects: CONTACT, LEAD","example":"CONTACT","enum":["CONTACT","LEAD"]},"create_time":{"type":"string","description":"Timestamp when the call list was created (ISO-8601 format).","example":"2025-10-17T08:34:58.151+00:00"},"import_from":{"type":"string","description":"Source: SALESFORCE, CSV, OUTREACH, OPEN_API","example":"OPEN_API"},"recent_dialed":{"type":"boolean","description":"Indicates whether the list contains recently dialed contacts.","example":false}},"description":"Call list object containing detailed information about each list."}}},"description":"Root response."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `6153` <br>\n The import_from parameter value is invalid. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User does not have the required Zoom Owner or Admin privileges. <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:read:admin","zoom_auto_dialer:read:call_lists:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:read:admin"],"x-granular-scopes":["zoom_auto_dialer:read:call_lists:admin"]}},"post":{"tags":["Call List Management"],"summary":"Create Call List","description":"Create a new call list\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:write:call_lists:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"CreateCallList","requestBody":{"description":"Request payload:\n`name`: Required, cannot be blank, must be unique within account\n`description`: Optional, max length based on system configuration\n`prospect_type`: Required, must be CONTACT or LEAD\n`assigned_to_user_id`: Required, user id or email must be provided.","content":{"application/json":{"schema":{"required":["assigned_to_user_id","name","prospect_type"],"type":"object","properties":{"name":{"type":"string","description":"Name of the call list","example":"Q4 2025 Sales Prospects Contact"},"description":{"type":"string","description":"Description of the call list","example":"High-priority contacts for Q5 2025 sales campaign targeting enterprise customers in the technology sector. Focus on companies with 500+ employees and annual revenue over $10M."},"prospect_type":{"type":"string","description":"Type of prospects in the list. Valid values: CONTACT, LEAD","example":"CONTACT","enum":["CONTACT","LEAD"]},"assigned_to_user_id":{"type":"string","description":"User ID or email to assign the list to","example":"0yT-QeXeQYqW6uizHEFmXA"}},"description":"root"}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`    Successfully created the call list.","content":{"application/json":{"schema":{"type":"object","properties":{"call_list_id":{"type":"string","description":"Auto-generated unique identifier for the created call list","example":"c-ncE_MXQACAjn3_I_35gg"},"name":{"type":"string","description":"The name of the call list (as provided in request)","example":"Q4 2025 Sales Prospects Contact"},"created_at":{"type":"string","description":"Timestamp when the call list was created in UTC (ISO 8601 format)","example":"2025-10-20T13:40:33.247Z"},"prospect_type":{"type":"string","description":"Type of prospects in the list: CONTACT, LEAD","example":"CONTACT","enum":["CONTACT","LEAD"]},"assigned_to_user_id":{"type":"string","description":"User ID to whom the call list is assigned","example":"0yT-QeXeQYqW6uizHEFmXA"},"assigned_to_user_email":{"type":"string","description":"Email address of the assigned user","example":"dev+john_doe_zradialer@zoomsandbox.us"}},"description":"root"}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `6100` <br>\n Validation failed. \nerrors field will have further details.\nEg:\n\"errors\": [\n    {\n      \"field\": \"name\",\n      \"message\": \"Call list name cannot be blank\"\n    }\n  ] <br>\n**Error Code:** `6000` <br>\n Call list name already exists <br>\n**Error Code:** `6002` <br>\n Maximum number of call lists created via Open API exceeded. Current: 10000, Maximum allowed: 10000 <br>\n**Error Code:** `6005` <br>\n The name cannot exceed 255 characters <br>\n**Error Code:** `6006` <br>\n The description cannot exceed 1000 characters <br>\n**Error Code:** `6007` <br>\n ID should not be provided for create operation <br>\n**Error Code:** `6010` <br>\n Prospect type is required <br>\n**Error Code:** `6011` <br>\n Prospect type must be either 'CONTACT' or 'LEAD' <br>\n**Error Code:** `6022` <br>\n Either userId or email must be provided for assignment <br>\n**Error Code:** `6201` <br>\n Request body is required <br>\n**Error Code:** `6004` <br>\n Call list name is required <br>\n**Error Code:** `6021` <br>\n User not found with id: 0yT-QeXeQYqW6uizHEFmXA or email: dev+john_doe_zradialer@zoomsandbox.us <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  User is not a Zoom Owner or Admin \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  Internal server error \n\n "}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:write:call_lists:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:write:call_lists:admin"]}}},"/dialer/call-lists/{callListId}":{"get":{"tags":["Call List Management"],"summary":"Get Call List by ID","description":"Retrieve details of a specific call list by its ID\n\nError Conditions:\nInvalid callListId\nUser is not Zoom Owner or Admin\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:read:call_lists:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetCallListbyID","parameters":[{"name":"callListId","in":"path","description":"Unique identifier for the call list.","required":true,"schema":{"type":"string","example":"24n0mXjZSaOrOYJg7sahlA"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully retrieved the call list details.","content":{"application/json":{"schema":{"type":"object","properties":{"call_list":{"type":"object","properties":{"call_list_id":{"type":"string","description":"Unique identifier for the call list.","example":"24n0mXjZSaOrOYJg7sahlA"},"name":{"type":"string","description":"Name of the call list.","example":"Q4 2025 Sales Prospects Contact"},"status":{"type":"string","description":"Call list status: IN_PROGRESS, COMPLETE","example":"COMPLETE","enum":["IN_PROGRESS","COMPLETE"]},"owner_user_id":{"type":"string","description":"User ID of the call list owner.","example":"CeNVNaE9SOWPo5SC_KlZHw"},"owner_email":{"type":"string","description":"Email address of the call list owner.","example":"dev+john_doe_zradialer@zoomsandbox.us"},"description":{"type":"string","description":"Detailed description of the call list.","example":"High-priority contacts for Q5 2025 sales campaign targeting enterprise customers in the technology sector. Focus on companies with 500+ employees and annual revenue over $10M."},"prospect_type":{"type":"string","description":"Type of prospects: CONTACT, LEAD","example":"CONTACT","enum":["CONTACT","LEAD"]},"create_time":{"type":"string","description":"Timestamp when the call list was created (ISO-8601 format).","example":"2025-10-17T08:34:58.151+00:00"},"import_from":{"type":"string","description":"Source: OPEN_API, SALESFORCE, CSV, OUTREACH","example":"OPEN_API"},"recent_dialed":{"type":"boolean","description":"Indicates whether the list contains recently dialed contacts.","example":false}},"description":"Call list object."}},"description":"Root response object."}}}},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or Admin <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6001` <br>\n Call list not found with ID: 24n0mXjZSaOrOYJg7sahlA <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error <br>\n"}},"security":[{"openapi_oauth":["dialer:read:admin","zoom_auto_dialer:read:call_lists:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:read:admin"],"x-granular-scopes":["zoom_auto_dialer:read:call_lists:admin"]}},"delete":{"tags":["Call List Management"],"summary":"Delete Call List","description":"Delete a call list and all its associated prospects.\n\n**Limitation:** Currently, deletion is supported only for call lists created through Open APIs. Future updates will expand support to all call lists.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:delete:call_lists:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"DeleteCallList","parameters":[{"name":"callListId","in":"path","description":"Unique call list ID.\n\n**Note:** Currently, deletion is supported only for call lists created through Open APIs.","required":true,"schema":{"type":"string","example":"abc123xyz"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` <br>\n Successfully deleted the call list."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `6003` <br>\n Cannot delete call list that was not created via Open API <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6001` <br>\n Call list not found with ID: abc123xyz <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal Server Error <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:delete:call_lists:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:delete:call_lists:admin"]}},"patch":{"tags":["Call List Management"],"summary":"Update Call List","description":"Update an existing call list.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:update:call_lists:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateCallList","parameters":[{"name":"callListId","in":"path","description":"Unique identifier for the call list.","required":true,"schema":{"type":"string","example":"abc123xyz"}}],"requestBody":{"description":"At least one field must be provided for update.\n\nValidation rules:\n\n- At least one field (name, description, prospect_type, or assigned_to_user_id) must be provided for update.\n- At least one field must have a different value from the existing call list.\n- prospect_type cannot be changed if the list contains prospects.\n- Call list cannot be updated if it's currently being dialed.\n- Only fields with actual value changes will be updated.\n- When reassigning to a different user, all non-history prospects are reassigned and set to \"upcoming\" status.\n\n**Limitation**: At this time, update is supported only for call lists created through Open APIs. A future update will expand support to all call lists.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"New name for the call list.","example":"Q1 2025 Enterprise Leads - Updated"},"description":{"type":"string","description":"New description for the call list.","example":"Updated description for Q1 targets"},"prospect_type":{"type":"string","description":"New prospect type for the call list. Must be Contact or Lead (case insensitive). Note: Cannot be changed if the list contains prospects.","example":"CONTACT","enum":["CONTACT","LEAD"]},"assigned_to_user_id":{"type":"string","description":"User ID or email to reassign the call list to. User must exist in the account. Either user_id or user_email can be provided.","example":"1W6kwwJQRL-1p9bsjdQvmw"}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204` <br>\n No Content [Successfully updated the call list]\n\n "},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request [Invalid request parameters or validation errors]\n\n **Error Code:** `6053` <br>\n No changes detected. At least one field (name, prospect_type, description, assigned_to_user) must have a different value from the existing call list. <br>\n**Error Code:** `6053` <br>\n At least one field must be provided for update operation. <br>\n**Error Code:** `6005` <br>\n The name cannot exceed 255 characters. <br>\n**Error Code:** `6006` <br>\n The description cannot exceed 1000 characters. <br>\n**Error Code:** `6011` <br>\n Prospect type must be either 'CONTACT' or 'LEAD'. <br>\n**Error Code:** `6009` <br>\n Prospect type cannot be changed when call list has items. Current item size: 5. Please remove all items before changing prospect type. <br>\n**Error Code:** `6008` <br>\n Call list is currently in use. <br>\n**Error Code:** `6100` <br>\n Validation failed. \nerrors array will have more information.\nEg:\n{\n  \"code\": 6100,\n  \"message\": \"Validation failed\",\n  \"errors\": [\n    {\n      \"field\": \"name\",\n      \"message\": \"name exceeds maximum length of 255 characters\"\n    },\n    {\n      \"field\": \"description\",\n      \"message\": \"description exceeds maximum length of 1000 characters\"\n    }\n  ]\n} <br>\n**Error Code:** `6021` <br>\n User not found with ID: 1W6kwwJQRL-1p9bsjdQvmw. <br>\n**Error Code:** `6003` <br>\n Cannot update call list that was not created via Open API. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden [Insufficient permissions to perform this operation]\n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found [Call list not found]\n\n **Error Code:** `6001` <br>\n Call list does not exist. <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error [An unexpected error occurred]\n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:update:call_lists:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:update:call_lists:admin"]}}},"/dialer/call-lists/{callListId}/prospects":{"get":{"tags":["Prospect Management"],"summary":"List All Prospects in Call List","description":"Retrieve all prospects in a specific call list.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:read:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"ListAllProspectsInCallList","parameters":[{"name":"callListId","in":"path","description":"The unique identifier of the call list.","required":true,"schema":{"type":"string","example":"c-ncE_MXQACAjn3_I_35gg"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br>\n Successfully retrieved all prospects for the call list.\n\n","content":{"application/json":{"schema":{"type":"object","properties":{"prospects":{"maxItems":10000,"minItems":0,"type":"array","description":"List of prospects in the call list.","items":{"type":"object","properties":{"prospect_id":{"type":"string","description":"The unique identifier for the prospect.","example":"mq4XpiQISe6tlhHRwX9a8g"},"type":{"type":"string","description":"Prospect type enum: UPCOMING, CALLED, SNOOZED, HISTORY, NO_CALL_LIST, REMOVED, CALL_BACK_INBOUND","example":"UPCOMING","enum":["UPCOMING","CALLED","SNOOZED","HISTORY","NO_CALL_LIST","REMOVED","CALL_BACK_INBOUND"]},"primary_name":{"type":"string","description":"Primary name.","example":"John Smith"},"secondary_name":{"type":"string","description":"Secondary name.","example":"Johnny"},"title":{"type":"string","description":"Job title.","example":"Senior Sales Manager"},"company":{"type":"string","description":"Company name.","example":"Acme Corporation"},"department":{"type":"string","description":"Department","example":"Sales"},"description":{"type":"string","description":"Additional description or notes about the prospect.","example":"Experienced sales professional with 10+ years in enterprise software"},"assignee_user_id":{"type":"string","description":"The user ID of the person to whom this prospect is assigned.","example":"0yT-QeXeQYqW6uizHEFmXA"},"call_list_id":{"type":"string","description":"The call list ID that this prospect belongs to.","example":"c-ncE_MXQACAjn3_I_35gg"},"dialer_status":{"type":"string","description":"The outcome status of the dialer call: NOT_CALLED, DIALING, CONNECTED, VOICEMAIL, BUSY, NO_ANSWER, CANCELED, FAILED","example":"CANCELED","enum":["NOT_CALLED","DIALING","CONNECTED","VOICEMAIL","BUSY","NO_ANSWER","CANCELED","FAILED"]},"dialer_sub_status":{"type":"string","description":"Sub-status of the dialer call: CANCELED_BY_CALLER, CANCELED_BY_CALLEE, CALLED_BY_PBX, ZP_ERROR, ANSWER, NOT_ANSWER","example":"CANCELED_BY_CALLER","enum":["CANCELED_BY_CALLER","CANCELED_BY_CALLEE","CALLED_BY_PBX","ZP_ERROR","ANSWER","NOT_ANSWER"]},"create_time":{"type":"string","description":"The timestamp when the prospect was created (ISO-8601 format).","example":"2025-10-20T20:40:52.214+00:00"},"modify_time":{"type":"string","description":"The timestamp when the prospect was last modified (ISO-8601 format).","example":"2025-10-20T20:40:52.223+00:00"},"prospect_type":{"type":"string","description":"The type of prospect: CONTACT or LEAD.","example":"CONTACT","enum":["CONTACT","LEAD"]},"linkedIn_url":{"type":"string","description":"The LinkedIn profile URL for the contact.","example":"https://linkedin.com/in/johnsmith-contact"},"lead_linkedIn_url":{"type":"string","description":"The LinkedIn profile URL for the lead.","example":"https://linkedin.com/in/johndoe"},"company_linkedIn_url":{"type":"string","description":"The company's LinkedIn profile URL.","example":"https://linkedin.com/company/acme-corp"},"company_url":{"type":"string","description":"The company's website URL.","example":"https://www.acme-corp.com"},"company_description":{"type":"string","description":"A description of the company.","example":"Leading provider of enterprise software solutions"},"mailing_country":{"type":"string","description":"The mailing country.","example":"United States"},"mailing_state":{"type":"string","description":"The mailing state or province.","example":"California"},"mailing_city":{"type":"string","description":"The mailing city.","example":"San Francisco"},"mailing_street":{"type":"string","description":"The mailing street address.","example":"123 Market Street, Suite 400"},"mailing_zip_code":{"type":"string","description":"The mailing ZIP or postal code.","example":"94105"},"import_from":{"type":"string","description":"The source from which the prospect was imported.","example":"OPEN_API"},"number_of_employees":{"type":"number","description":"The number of employees in the company.","example":100},"annual_revenue":{"type":"number","description":"The annual revenue of the company.","example":500000},"topic":{"type":"string","description":"The topic or interest area.","example":"Cloud Solutions"},"email_domain":{"type":"string","description":"The email domain.","example":"acme.com"},"industry":{"type":"string","description":"The industry sector.","example":"Technology"},"lead_status":{"type":"string","description":"The current status of the lead.","example":"Qualified"},"lead_rating":{"type":"string","description":"The lead rating.","example":"Hot"},"lead_source":{"type":"string","description":"The source of the lead.","example":"Website"},"custom_fields":{"maxItems":10,"minItems":0,"type":"array","description":"An array of up to 10 custom field values.","items":{"type":"string","description":"A custom field value.","example":"custom field 1"}},"phone_numbers":{"maxItems":4,"minItems":1,"type":"array","description":"Phone numbers.","items":{"type":"object","properties":{"number":{"type":"string","description":"The phone number.","example":"1-555-123-4567"},"type":{"type":"string","description":"Type of phone number: PRIMARY_PHONE, MOBILE_PHONE, HOME_PHONE, OTHER_PHONE","example":"PRIMARY_PHONE","default":"PRIMARY_PHONE","enum":["PRIMARY_PHONE","MOBILE_PHONE","HOME_PHONE","OTHER_PHONE"]},"ext":{"type":"string","description":"The phone extension.","example":"1234"}}}},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Email addresses","items":{"type":"object","properties":{"email":{"type":"string","description":"The email address.","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","default":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}}}}}}}}},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden\n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found\n\n **Error Code:** `6022` <br>\n Call list not found with ID: c-ncE_MXQACAjn3_I_35gg <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error\n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:read:admin","zoom_auto_dialer:read:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:read:admin"],"x-granular-scopes":["zoom_auto_dialer:read:prospects:admin"]}},"post":{"tags":["Prospect Management"],"summary":"Create Prospect","description":"Create and add a prospect to a call list\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:write:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"CreateProspect","parameters":[{"name":"callListId","in":"path","description":"Unique identifier of the call list","required":true,"schema":{"type":"string","example":"c-ncE_MXQACAjn3_I_35gg"}}],"requestBody":{"description":"Prospect to create. Call list can contain a maximum of 10,000 total prospects.\n\nValidation Rules:\n- Call list total cannot exceed 10,000 prospects\n- At least one name field (primary_name or secondary_name) is required\n- At least one phone field is required\n- Phone numbers must be in valid format\n- Email addresses must be in valid format if provided\n- All string fields have maximum length restrictions\n- Call list must exist and be created via Open API\n- Do not include: id, assignee_user_id, account_id, call_list_id (these are auto-assigned)","content":{"application/json":{"schema":{"type":"object","properties":{"primary_name":{"type":"string","description":"Primary name","example":"John Smith"},"secondary_name":{"type":"string","description":"Secondary name","example":"Johnny"},"title":{"type":"string","description":"Job title","example":"Senior Sales Manager"},"company":{"type":"string","description":"Company name (account name for contacts, company name for leads)","example":"Acme Corporation"},"department":{"type":"string","description":"Department of the prospect","example":"Sales"},"description":{"type":"string","description":"Additional description or notes","example":"Experienced sales professional with 10+ years in enterprise software"},"industry":{"type":"string","description":"Industry of the prospect","example":"Technology"},"lead_source":{"type":"string","description":"Lead source","example":"LinkedIn"},"lead_status":{"type":"string","description":"Current status of the lead","example":"Qualified"},"topic":{"type":"string","description":"Topic of interest","example":"Enterprise Software Solutions"},"lead_rating":{"type":"string","description":"Lead rating","example":"Hot"},"number_of_employees":{"type":"number","description":"Number of employees in the company","example":5000},"annual_revenue":{"type":"number","description":"Annual revenue of the company","example":50000000},"lead_linkedIn_url":{"type":"string","description":"Lead LinkedIn profile URL","example":"https://linkedin.com/in/johnsmith"},"linkedIn_url":{"type":"string","description":"Contact LinkedIn profile URL","example":"https://linkedin.com/in/johnsmith-contact"},"company_linkedIn_url":{"type":"string","description":"Company LinkedIn profile URL","example":"https://linkedin.com/company/acme-corp"},"company_url":{"type":"string","description":"Company website URL","example":"https://www.acme-corp.com"},"company_description":{"type":"string","description":"Description of the company","example":"Leading provider of enterprise software solutions"},"mailing_country":{"type":"string","description":"Mailing address country","example":"United States"},"mailing_state":{"type":"string","description":"Mailing address state","example":"California"},"mailing_city":{"type":"string","description":"Mailing address city","example":"San Francisco"},"mailing_street":{"type":"string","description":"Mailing address street","example":"123 Market Street, Suite 400"},"mailing_zip_code":{"type":"string","description":"Mailing address ZIP code","example":"94105"},"custom_fields":{"maxItems":10,"minItems":0,"type":"array","description":"Array of up to 10 custom field values","items":{"type":"string","description":"Custom field value","example":"custom field 1"}},"phone_numbers":{"maxItems":4,"minItems":1,"type":"array","description":"Phone numbers. At least one phone number is required.","items":{"type":"object","properties":{"number":{"type":"string","description":"Phone number in valid format","example":"1-555-123-4567"},"type":{"type":"string","description":"Type of phone number: PRIMARY_PHONE, MOBILE_PHONE, HOME_PHONE, OTHER_PHONE","example":"PRIMARY_PHONE","default":"PRIMARY_PHONE","enum":["PRIMARY_PHONE","MOBILE_PHONE","HOME_PHONE","OTHER_PHONE"]},"ext":{"type":"string","description":"Phone extension number","example":"1234"}}}},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Email addresses","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address in valid format","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","default":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}},"description":"Prospect object"}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`    Successfully created prospect for the call list","content":{"application/json":{"schema":{"type":"object","properties":{"prospect_id":{"type":"string","description":"Auto-generated unique prospect ID","example":"mq4XpiQISe6tlhHRwX9a8g"},"primary_name":{"type":"string","description":"Primary name","example":"John Smith"},"primary_phone":{"type":"string","description":"Primary phone number","example":"+1-555-123-4567"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `6003` <br>\n Call list not created via Open API <br>\n**Error Code:** `6042` <br>\n Total prospects in call list cannot exceed 10000. Current: 9999 <br>\n**Error Code:** `6100` <br>\n Validation failed. \nerror field will have more details.\nEg:\n{\n  \"code\": 6100,\n  \"message\": \"Validation failed\",\n  \"errors\": [\n    {\n      \"field\": \"primary_name\",\n      \"message\": \"At least one name field is required\"\n    }\n  ]\n} <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `6001` <br>\n Call list not found with ID: c-ncE_MXQACAjn3_I_35gg <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error [\n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:write:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:write:prospects:admin"]}},"patch":{"tags":["Prospect Management"],"summary":"Update Prospects batch","description":"Batch update existing prospects. Can also reassign prospects to a different call list.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:update:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateProspects","parameters":[{"name":"callListId","in":"path","description":"Unique identifier of the current call list.","required":true,"schema":{"type":"string","example":"c-ncE_MXQACAjn3_I_35gg"}}],"requestBody":{"description":"Maximum 1000 prospects per API call.\n\nValidation Rules:\n- Each prospect must include the id field\n- If not reassigning to different list: at least one updatable field must be provided\n- If reassigning to different list assign_to_call_list_id should be provided and no other fields are required\n- Prospects must exist and belong to the specified call list\n- Target call list (if reassigning) must exist and be created via Open API\n- All string fields have maximum length restrictions (configurable)\n- Phone numbers must be in valid format\n- Email addresses must be in valid format if provided\n- Do not include: assignee_user_id, account_id, call_list_id in prospects (auto-managed)","content":{"application/json":{"schema":{"required":["prospects"],"type":"object","properties":{"prospects":{"maxItems":1000,"minItems":1,"type":"array","description":"Array of prospect objects to update (maximum 1000 per API call).","items":{"required":["prospect_id"],"type":"object","properties":{"prospect_id":{"type":"string","description":"The unique identifier of the prospect to update (required).","example":"mq4XpiQISe6tlhHRwX9a8g"},"primary_name":{"type":"string","description":"Primary name.","example":"John Smith"},"secondary_name":{"type":"string","description":"Secondary name.","example":"Johnny"},"title":{"type":"string","description":"Job title.","example":"Senior Sales Manager"},"company":{"type":"string","description":"Company name (Account for contacts, Company for leads).","example":"Acme Corporation"},"department":{"type":"string","description":"Department of the prospect.","example":"Sales"},"description":{"type":"string","description":"Additional description or notes.","example":"Experienced sales professional with 10+ years in enterprise software"},"industry":{"type":"string","description":"Industry of the prospect.","example":"Technology"},"lead_source":{"type":"string","description":"Lead source.","example":"LinkedIn"},"lead_status":{"type":"string","description":"Current status of the lead.","example":"Qualified"},"topic":{"type":"string","description":"Topic of interest.","example":"Enterprise Software Solutions"},"lead_rating":{"type":"string","description":"Lead rating.","example":"Hot"},"number_of_employees":{"type":"number","description":"Company size.","example":5000},"annual_revenue":{"type":"number","description":"Company revenue.","example":50000000},"lead_linkedIn_url":{"type":"string","description":"LinkedIn profile URL of the lead.","example":"https://linkedin.com/in/johnsmith"},"linkedIn_url":{"type":"string","description":"LinkedIn profile URL of the contact.","example":"https://linkedin.com/in/johnsmith-contact"},"company_linkedIn_url":{"type":"string","description":"LinkedIn company page URL.","example":"https://linkedin.com/company/acme-corp"},"company_url":{"type":"string","description":"Official website URL of the company.","example":"https://www.acme-corp.com"},"company_description":{"type":"string","description":"Brief description of the company's business.","example":"Leading provider of enterprise software solutions"},"mailing_country":{"type":"string","description":"Country in the mailing address.","example":"United States"},"mailing_state":{"type":"string","description":"State or province in the mailing address.","example":"California"},"mailing_city":{"type":"string","description":"City in the mailing address.","example":"San Francisco"},"mailing_street":{"type":"string","description":"Street address including suite or unit number.","example":"123 Market Street, Suite 400"},"mailing_zip_code":{"type":"string","description":"ZIP or postal code in the mailing address.","example":"94105"},"custom_fields":{"maxItems":10,"minItems":0,"type":"array","description":"Array of up to 10 custom field values for additional prospect information.","items":{"type":"string","description":"Custom field value for storing additional prospect data.","example":"Updated custom field 1"}},"phone_numbers":{"maxItems":4,"minItems":0,"type":"array","description":"Phone numbers.","items":{"type":"object","properties":{"number":{"type":"string","description":"Phone number in standard format.","example":"1-555-123-4567"},"type":{"type":"string","description":"Type of phone number: PRIMARY_PHONE, MOBILE_PHONE, HOME_PHONE, OTHER_PHONE","example":"PRIMARY_PHONE","enum":["PRIMARY_PHONE","MOBILE_PHONE","HOME_PHONE","OTHER_PHONE"]},"ext":{"type":"string","description":"Phone extension.","example":"1234"}}}},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Email addresses.","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address in valid format.","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}},"description":"Items."}},"assign_to_call_list_id":{"type":"string","description":"If provided, moves all prospects to a different call list (must be created via Open API).","example":"list999"}},"description":"Root request."}}}},"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully updated prospects for a call list.\n**HTTP Status Code:** `207`    Multi-Status - Partial success. Some prospects were updated successfully while others failed.","content":{"application/json":{"schema":{"type":"object","properties":{"success_list":{"type":"array","description":"List of prospects that were successfully updated.","items":{"type":"object","properties":{"prospect_id":{"type":"string","description":"Unique identifier of the successfully updated prospect.","example":"ugtO21BNRvSBQshEmRnfEw"}},"description":"Successfully updated prospect information."}},"failed_list":{"type":"array","description":"List of prospects that failed to update with error details.","items":{"type":"object","properties":{"prospect_id":{"type":"string","description":"Unique identifier of the prospect that failed to update.","example":"GfX0-VReSpKp_bot3UlB8w"},"error_message":{"type":"string","description":"Specific validation error explaining why the prospect update failed.","example":"VALIDATION_ERROR: Prospect does not belong to call list: _Wze-TJqSQODzsRc53tQPg"}},"description":"Failed prospect update information with error details."}},"total_processed":{"type":"number","description":"Total count of prospects that were successfully updated.","example":1},"total_failed":{"type":"number","description":"Total count of prospects that failed to update.","example":1},"total_prospects":{"type":"number","description":"Total number of prospects included in the update request.","example":2},"assigned_to_user_id":{"type":"string","description":"Unique identifier of the user to whom the prospects are assigned.","example":"1W6kwwJQRL-1p9bsjdQvmw"},"assigned_to_user_email":{"type":"string","description":"Email address of the user to whom the prospects are assigned.","example":"dev+anupamzradialer@zoomsandbox.us"}},"description":" Root response."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `6201` <br>\n At least one prospect must be provided for update <br>\n**Error Code:** `6043` <br>\n Maximum number of prospects for an API call exceeded - limit is 1000 prospects <br>\n**Error Code:** `6003` <br>\n Call list not created via Open API <br>\n**Error Code:** `6101` <br>\n Prospect ID is required for update operation <br>\n**Error Code:** `6045` <br>\n At least one updatable field must be provided for prospect: mq4XpiQISe6tlhHRwX9a8g <br>\n**Error Code:** `6100` <br>\n Validation failed.  errors filed will have more details. Eg: {   \"code\": 6001,   \"message\": \"Validation failed\",   \"errors\": [     {       \"field\": \"primary_email\",       \"message\": \"Invalid email format\"     },     {       \"field\": \"primary_phone\",       \"message\": \"Invalid phone number format\"     },     {       \"field\": \"primary_name\",       \"message\": \"Field exceeds maximum length of 255 characters\"     }   ] } <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `6001` <br>\n Call list not found with ID: c-ncE_MXQACAjn3_I_35gg <br>\n**Error Code:** `6001` <br>\n Assign to call list not found with id: new-list-456 <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error \n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:update:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:update:prospects:admin"]}}},"/dialer/call-lists/{callListId}/prospects/batch":{"post":{"tags":["Prospect Management"],"summary":"Create Prospects batch","description":"Batch call to add prospects to a call list.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:write:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"CreateProspects","parameters":[{"name":"callListId","in":"path","description":"Unique identifier of the call list.","required":true,"schema":{"type":"string","example":"c-ncE_MXQACAjn3_I_35gg"}}],"requestBody":{"description":"Maximum 1,000 prospects per API call. Call list can contain maximum 10,000 total prospects.\n\nValidation Rules:\n- Maximum 1,000 prospects per API call\n- Call list total cannot exceed 10,000 prospects\n- At least one name field (primary_name or secondary_name) is required\n- At least one phone field is required\n- Phone numbers must be in valid format\n- Email addresses must be in valid format if provided\n- All string fields have maximum length restrictions\n- Call list must exist and be created via Open API\n- Do not include: id, assignee_user_id, account_id, call_list_id (these are auto-assigned)","content":{"application/json":{"schema":{"type":"object","properties":{"prospects":{"maxItems":1000,"minItems":1,"type":"array","description":"Array of prospect objects to create (maximum 1,000 per API call).","items":{"type":"object","properties":{"primary_name":{"type":"string","description":"Primary name.","example":"John Smith"},"secondary_name":{"type":"string","description":"Secondary name.","example":"Johnny"},"title":{"type":"string","description":"Job title.","example":"Senior Sales Manager"},"company":{"type":"string","description":"Company name (Account for contacts, Company for leads).","example":"Acme Corporation"},"department":{"type":"string","description":"Department of the prospect.","example":"Sales"},"description":{"type":"string","description":"Additional description or notes.","example":"Experienced sales professional with 10+ years in enterprise software"},"industry":{"type":"string","description":"Industry of the prospect.","example":"Technology"},"lead_source":{"type":"string","description":"Lead source.","example":"LinkedIn"},"lead_status":{"type":"string","description":"Current status of the lead.","example":"Qualified"},"topic":{"type":"string","description":"Topic of interest.","example":"Enterprise Software Solutions"},"lead_rating":{"type":"string","description":"Lead rating.","example":"Hot"},"number_of_employees":{"type":"number","description":"Number of employees in the company.","example":5000},"annual_revenue":{"type":"number","description":"Company revenue.","example":50000000},"lead_linkedIn_url":{"type":"string","description":"LinkedIn profile URL of the lead.","example":"https://linkedin.com/in/johnsmith"},"linkedIn_url":{"type":"string","description":"LinkedIn profile URL of the contact.","example":"https://linkedin.com/in/johnsmith-contact"},"company_linkedIn_url":{"type":"string","description":"LinkedIn profile URL of the company.","example":"https://linkedin.com/company/acme-corp"},"company_url":{"type":"string","description":"Website URL of the company.","example":"https://www.acme-corp.com"},"company_description":{"type":"string","description":"Description of the company.","example":"Leading provider of enterprise software solutions"},"mailing_country":{"type":"string","description":"Country of the mailing address.","example":"United States"},"mailing_state":{"type":"string","description":"State of the mailing address.","example":"California"},"mailing_city":{"type":"string","description":"City of the mailing address.","example":"San Francisco"},"mailing_street":{"type":"string","description":"Street address of the mailing address.","example":"123 Market Street, Suite 400"},"mailing_zip_code":{"type":"string","description":"ZIP code of the mailing address.","example":"94105"},"custom_fields":{"maxItems":10,"minItems":0,"type":"array","description":"Array of custom field values (maximum 10 fields).","items":{"type":"string","description":"Custom field value.","example":"custom field 1"}},"phone_numbers":{"maxItems":4,"minItems":1,"type":"array","description":"Phone numbers for the prospect. At least one phone number is required.","items":{"type":"object","properties":{"number":{"type":"string","description":"Phone number.","example":"1-555-123-4567"},"type":{"type":"string","description":"Type of phone number: PRIMARY_PHONE, MOBILE_PHONE, HOME_PHONE, OTHER_PHONE","example":"PRIMARY_PHONE","default":"PRIMARY_PHONE","enum":["PRIMARY_PHONE","MOBILE_PHONE","HOME_PHONE","OTHER_PHONE"]},"ext":{"type":"string","description":"Phone extension.","example":"1234"}}}},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Email addresses.","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address.","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","default":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}},"description":"Prospects."}}},"description":"Root request."}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`    All prospects successfully created.\nNote: This status is returned only when ALL prospects in the batch are successfully created. For partial success or all failures, see status codes 207 and 400 respectively.","content":{"application/json":{"schema":{"type":"object","properties":{"success_list":{"type":"array","description":"List of successfully created prospects with generated IDs.","items":{"type":"object","properties":{"prospect_id":{"type":"string","description":"Auto-generated unique prospect ID.","example":"mq4XpiQISe6tlhHRwX9a8g"},"name":{"type":"string","description":"Name.","example":"John Smith"},"phone":{"type":"string","description":"Phone number.","example":"+1-555-123-4567"}},"description":"Items."}},"failed_list":{"type":"array","description":"List of prospects that failed creation with error messages.","items":{"type":"object","properties":{"phone":{"type":"string","description":"Phone number.","example":"+1-555-123-4567"},"name":{"type":"string","description":"Name.","example":"John Smith"},"error_message":{"type":"string","description":"Specific validation error explaining why the prospect creation failed.","example":"VALIDATION_ERROR: Invalid phone number format"}},"description":"Items."}},"total_processed":{"type":"number","description":"Number of prospects successfully created.","example":5},"total_failed":{"type":"number","description":"Number of prospects that failed validation or creation.","example":2},"total_prospects":{"type":"number","description":"Total number of prospects in the request.","example":7},"assigned_to_user_id":{"type":"string","description":"User ID to whom all prospects are assigned.","example":"0yT-QeXeQYqW6uizHEFmXA"},"assigned_to_user_email":{"type":"string","description":"Email address of the assigned user.","example":"dev+john_doe_zradialer@zoomsandbox.us"}},"description":"Root response."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `6043` <br>\n Maximum number of prospects for an API call exceeded - limit is 1000 prospects <br>\n**Error Code:** `6003` <br>\n Call list not created via Open API <br>\n**Error Code:** `6042` <br>\n Total prospects in call list cannot exceed 10000. Current: 9500, Adding: 600, Total would be: 10100 <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6001` <br>\n Call list not found with ID: c-ncE_MXQACAjn3_I_35gg <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:write:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:write:prospects:admin"]}}},"/dialer/call-lists/{callListId}/prospects/{prospectId}":{"delete":{"tags":["Prospect Management"],"summary":"Delete Prospect","description":"Delete a single prospect from a call list by its ID.\n\n**Limitation:** Currently, deletion is supported only for prospects belonging to call lists created through Open APIs. A future update will expand support to all call lists.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:delete:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"DeleteProspect","parameters":[{"name":"callListId","in":"path","description":"Unique identifier of the call list.","required":true,"schema":{"type":"string","example":"0yT-QeXeQYqW6uizHEFmXA"}},{"name":"prospectId","in":"path","description":"Unique identifier of the prospect to delete.","required":true,"schema":{"type":"string","example":"GfX0-VReSpKp_bot3UlB8w"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` <br>\n  Successfully deleted the prospect. No response body.\n\n "},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `6003` <br>\n Call list not created via Open API <br>\n**Error Code:** `6041` <br>\n Prospect does not belong to call list: 0yT-QeXeQYqW6uizHEFmXA <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6001` <br>\n Call list not found with ID: 0yT-QeXeQYqW6uizHEFmXA <br>\n**Error Code:** `6040` <br>\n Prospect not found with id: GfX0-VReSpKp_bot3UlB8w <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:delete:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:delete:prospects:admin"]}},"patch":{"tags":["Prospect Management"],"summary":"Update Prospect","description":"Update an existing prospect. Can also reassign prospect to a different call list.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:update:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateProspect","parameters":[{"name":"callListId","in":"path","description":"Unique identifier of the current call list.","required":true,"schema":{"type":"string","example":"c-ncE_MXQACAjn3_I_35gg"}},{"name":"prospectId","in":"path","description":"Unique identifier of the prospect to update.","required":true,"schema":{"type":"string","example":"mq4XpiQISe6tlhHRwX9a8g"}}],"requestBody":{"description":"Validation Rules:\n- If not reassigning to different list: at least one updatable field must be provided.\n- If reassigning to different list: assign_to_call_list_id should be provided and no other fields are required.\n- Prospect must exist and belong to the specified call list.\n- Target call list (if reassigning) must exist and be created via Open API.\n- All string fields have maximum length restrictions.\n- Phone numbers must be in valid format.\n- Email addresses must be in valid format if provided.","content":{"application/json":{"schema":{"type":"object","properties":{"primary_name":{"type":"string","description":"Primary name.","example":"John Smith"},"secondary_name":{"type":"string","description":"Secondary name.","example":"Johnny"},"title":{"type":"string","description":"Job title.","example":"Senior Sales Manager"},"company":{"type":"string","description":"Company name (Account for contacts, Company for leads).","example":"Acme Corporation"},"department":{"type":"string","description":"Department of the prospect.","example":"Sales"},"description":{"type":"string","description":"Additional description or notes about the prospect.","example":"Experienced sales professional with 10+ years in enterprise software"},"industry":{"type":"string","description":"Industry of the prospect's company.","example":"Technology"},"lead_source":{"type":"string","description":"Lead source.","example":"LinkedIn"},"lead_status":{"type":"string","description":"Current status of the lead.","example":"Qualified"},"topic":{"type":"string","description":"Topic of interest.","example":"Enterprise Software Solutions"},"lead_rating":{"type":"string","description":"Lead rating.","example":"Hot"},"number_of_employees":{"type":"number","description":"Company size.","example":5000},"annual_revenue":{"type":"number","description":"Company revenue.","example":50000000},"lead_linkedIn_url":{"type":"string","description":"Lead's LinkedIn profile URL.","example":"https://linkedin.com/in/johnsmith"},"linkedIn_url":{"type":"string","description":"Contact's LinkedIn profile URL.","example":"https://linkedin.com/in/johnsmith-contact"},"company_linkedIn_url":{"type":"string","description":"Company's LinkedIn profile URL.","example":"https://linkedin.com/company/acme-corp"},"company_url":{"type":"string","description":"Company's website URL.","example":"https://www.acme-corp.com"},"company_description":{"type":"string","description":"Description of the prospect's company.","example":"Leading provider of enterprise software solutions"},"mailing_country":{"type":"string","description":"Mailing address country.","example":"United States"},"mailing_state":{"type":"string","description":"Mailing address state or province.","example":"California"},"mailing_city":{"type":"string","description":"Mailing address city.","example":"San Francisco"},"mailing_street":{"type":"string","description":"Mailing address street and suite information.","example":"123 Market Street, Suite 400"},"mailing_zip_code":{"type":"string","description":"Mailing address ZIP or postal code.","example":"94105"},"assign_to_call_list_id":{"type":"string","description":"If provided, moves the prospect to a different call list (must be created via Open API).","example":"ncwoeif_dgfjeo34m"},"custom_fields":{"maxItems":10,"minItems":0,"type":"array","description":"Array of up to 10 custom field values for additional prospect information.","items":{"type":"string","description":"Custom field value.","example":"Updated custom field 1"}},"phone_numbers":{"maxItems":4,"minItems":0,"type":"array","description":"Array of phone numbers for the prospect (maximum 4).","items":{"type":"object","properties":{"number":{"type":"string","description":"Phone number in valid format.","example":"1-555-123-4567"},"type":{"type":"string","description":"Type of phone number: PRIMARY_PHONE, MOBILE_PHONE, HOME_PHONE, OTHER_PHONE","example":"PRIMARY_PHONE","enum":["PRIMARY_PHONE","MOBILE_PHONE","HOME_PHONE","OTHER_PHONE"]},"ext":{"type":"string","description":"Phone extension number.","example":"1234"}}}},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Array of email addresses for the prospect (maximum 2).","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address in valid format.","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204` <br>\n Successfully updated prospect\n\n "},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `6003` <br>\n Call list not created via Open API <br>\n**Error Code:** `6041` <br>\n Prospect does not belong to call list: c-ncE_MXQACAjn3_I_35gg <br>\n**Error Code:** `6045` <br>\n At least one updatable field must be provided for prospect: mq4XpiQISe6tlhHRwX9a8g <br>\n**Error Code:** `6100` <br>\n Validation failed. \nerrors filed will have more details.\nEg:\n{\n  \"code\": 6001,\n  \"message\": \"Validation failed\",\n  \"errors\": [\n    {\n      \"field\": \"primary_email\",\n      \"message\": \"Invalid email format\"\n    },\n    {\n      \"field\": \"primary_phone\",\n      \"message\": \"Invalid phone number format\"\n    },\n    {\n      \"field\": \"primary_name\",\n      \"message\": \"Field exceeds maximum length of 255 characters\"\n    }\n  ]\n} <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `6001` <br>\n Call list not found with ID: c-ncE_MXQACAjn3_I_35gg <br>\n**Error Code:** `6040` <br>\n Prospect not found with id: mq4XpiQISe6tlhHRwX9a8g <br>\n**Error Code:** `6001` <br>\n Assign to call list not found with id: ncwoeif_dgfjeo34m <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error \n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:write:admin","zoom_auto_dialer:update:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:write:admin"],"x-granular-scopes":["zoom_auto_dialer:update:prospects:admin"]}}},"/dialer/prospects/{prospectId}":{"get":{"tags":["Prospect Management"],"summary":"Get Prospect by ID","description":"Retrieve details of a specific prospect.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `dialer:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_auto_dialer:read:prospects:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetProspectbyID","parameters":[{"name":"prospectId","in":"path","description":"Unique identifier of the prospect.","required":true,"schema":{"type":"string","example":"mq4XpiQISe6tlhHRwX9a8g"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully retrieved the prospect by ID.","content":{"application/json":{"schema":{"type":"object","properties":{"prospect_id":{"type":"string","description":"Unique identifier of the prospect.","example":"mq4XpiQISe6tlhHRwX9a8g"},"type":{"type":"string","description":"Prospect type enum: UPCOMING, CALLED, SNOOZED, HISTORY, NO_CALL_LIST, REMOVED, CALL_BACK_INBOUND","example":"UPCOMING","enum":["UPCOMING","CALLED","SNOOZED","HISTORY","NO_CALL_LIST","REMOVED","CALL_BACK_INBOUND"]},"primary_name":{"type":"string","description":"Primary name.","example":"John Smith"},"secondary_name":{"type":"string","description":"Secondary name.","example":"Johnny"},"title":{"type":"string","description":"Job title.","example":"Senior Sales Manager"},"company":{"type":"string","description":"Company name.","example":"Acme Corporation"},"department":{"type":"string","description":"Department.","example":"Sales"},"description":{"type":"string","description":"Additional description or notes about the prospect.","example":"Experienced sales professional with 10+ years in enterprise software"},"assignee_user_id":{"type":"string","description":"User ID to whom this prospect is assigned.","example":"0yT-QeXeQYqW6uizHEFmXA"},"call_list_id":{"type":"string","description":"Call list ID this prospect belongs to.","example":"c-ncE_MXQACAjn3_I_35gg"},"dialer_status":{"type":"string","description":"The outcome status of the dialer call: NOT_CALLED, DIALING, CONNECTED, VOICEMAIL, BUSY, NO_ANSWER, CANCELED, FAILED","example":"CANCELED","enum":["NOT_CALLED","DIALING","CONNECTED","VOICEMAIL","BUSY","NO_ANSWER","CANCELED","FAILED"]},"dialer_sub_status":{"type":"string","description":"Sub-status of the dialer call: CANCELED_BY_CALLER, CANCELED_BY_CALLEE, CALLED_BY_PBX, ZP_ERROR, ANSWER, NOT_ANSWER","example":"CANCELED_BY_CALLER","enum":["CANCELED_BY_CALLER","CANCELED_BY_CALLEE","CALLED_BY_PBX","ZP_ERROR","ANSWER","NOT_ANSWER"]},"create_time":{"type":"string","description":"When the prospect was created (ISO 8601 format with timezone).","example":"2025-10-20T20:40:52.214+00:00"},"modify_time":{"type":"string","description":"When the prospect was last modified (ISO 8601 format with timezone).","example":"2025-10-20T20:40:52.223+00:00"},"prospect_type":{"type":"string","description":"Type of prospect: CONTACT, LEAD","example":"CONTACT","enum":["CONTACT","LEAD"]},"linkedIn_url":{"type":"string","description":"LinkedIn profile URL for the contact.","example":"https://linkedin.com/in/johnsmith-contact"},"lead_linkedIn_url":{"type":"string","description":"LinkedIn profile URL for the lead.","example":"https://linkedin.com/in/johndoe"},"company_linkedIn_url":{"type":"string","description":"Company LinkedIn profile URL.","example":"https://linkedin.com/company/acme-corp"},"company_url":{"type":"string","description":"Company website URL.","example":"https://www.acme-corp.com"},"company_description":{"type":"string","description":"Company description.","example":"Leading provider of enterprise software solutions"},"mailing_country":{"type":"string","description":"Mailing country.","example":"United States"},"mailing_state":{"type":"string","description":"Mailing state or province.","example":"California"},"mailing_city":{"type":"string","description":"Mailing city.","example":"San Francisco"},"mailing_street":{"type":"string","description":"Mailing street address.","example":"123 Market Street, Suite 400"},"mailing_zip_code":{"type":"string","description":"Mailing ZIP or postal code.","example":"94105"},"import_from":{"type":"string","description":"Import source of the prospect.","example":"OPEN_API"},"number_of_employees":{"type":"number","description":"Number of employees in the company.","example":100},"annual_revenue":{"type":"number","description":"Annual revenue of the company.","example":500000},"topic":{"type":"string","description":"Topic or interest area.","example":"Cloud Solutions"},"email_domain":{"type":"string","description":"Email domain of the prospect.","example":"acme.com"},"industry":{"type":"string","description":"Industry sector.","example":"Technology"},"lead_status":{"type":"string","description":"Current status of the lead.","example":"Qualified"},"lead_rating":{"type":"string","description":"Lead rating.","example":"Hot"},"lead_source":{"type":"string","description":"Lead source.","example":"Website"},"custom_fields":{"maxItems":10,"minItems":0,"type":"array","description":"Array of up to 10 custom field values.","items":{"type":"string","description":"Custom field value.","example":"custom field 1"}},"phone_numbers":{"maxItems":4,"minItems":1,"type":"array","description":"Phone numbers.","items":{"type":"object","properties":{"number":{"type":"string","description":"Phone number.","example":"1-555-123-4567"},"type":{"type":"string","description":"Type of phone number: PRIMARY_PHONE, MOBILE_PHONE, HOME_PHONE, OTHER_PHONE","example":"PRIMARY_PHONE","enum":["PRIMARY_PHONE","MOBILE_PHONE","HOME_PHONE","OTHER_PHONE"]},"ext":{"type":"string","description":"Phone extension.","example":"1234"}}}},"email_addresses":{"maxItems":2,"minItems":0,"type":"array","description":"Email addresses.","items":{"type":"object","properties":{"email":{"type":"string","description":"Email address.","example":"john.smith@acme-corp.com"},"type":{"type":"string","example":"PRIMARY_EMAIL","default":"PRIMARY_EMAIL","enum":["PRIMARY_EMAIL","SECONDARY_EMAIL"]}}}}}}}}},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `6023` <br>\n User is not a Zoom Owner or an Admin. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `6040` <br>\n Prospect not found with ID. <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `6200` <br>\n Internal server error. <br>\n"}},"security":[{"openapi_oauth":["dialer:read:admin","zoom_auto_dialer:read:prospects:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["dialer:read:admin"],"x-granular-scopes":["zoom_auto_dialer:read:prospects:admin"]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{"dialer:read:admin":"dialer:read:admin","zoom_auto_dialer:read:call_history:admin":"zoom_auto_dialer:read:call_history:admin","dialer:write:admin":"dialer:write:admin","zoom_auto_dialer:write:call_lists:admin":"zoom_auto_dialer:write:call_lists:admin","zoom_auto_dialer:read:call_lists:admin":"zoom_auto_dialer:read:call_lists:admin","zoom_auto_dialer:delete:call_lists:admin":"zoom_auto_dialer:delete:call_lists:admin","zoom_auto_dialer:update:call_lists:admin":"zoom_auto_dialer:update:call_lists:admin","zoom_auto_dialer:read:prospects:admin":"zoom_auto_dialer:read:prospects:admin","zoom_auto_dialer:write:prospects:admin":"zoom_auto_dialer:write:prospects:admin","zoom_auto_dialer:update:prospects:admin":"zoom_auto_dialer:update:prospects:admin","zoom_auto_dialer:delete:prospects:admin":"zoom_auto_dialer:delete:prospects:admin"}}}}}}}