{"openapi":"3.0.0","info":{"title":"Billing","description":"The Zoom Billing APIs allow developers with [master accounts](https://developers.zoom.us/docs/api/rest/master-account-apis/) (also known as \"primary accounts\") to get information about billing plans of their accounts and subaccounts.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/accounts/billing/invoice_reports":{"get":{"tags":["Billing"],"summary":"List sub accounts' billing invoice reports","description":"Use this API to list sub accounts' invoice reports. \n\n This API can only be used by Master accounts that pay all billing charges of their associated Pro or higher sub accounts. Zoom only allows approved partners to use [Master account API](https://marketplace.zoom.us/docs/api-reference/zoom-api/ma) and manage sub accounts' billing information. Email the partner programs team at [**partner-success@zoom.us**](mailto:partner-success@zoom.us) for more details. \n\n **one** request to this API every **1 second**.\n**Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The sub account **must** be a paid account whose billing charges are paid by its Master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`","operationId":"listSubInvoiceReport","parameters":[{"name":"next_page_token","in":"query","description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nSub Invoice Report List returned.","content":{"application/json":{"schema":{"properties":{"next_page_token":{"type":"string","description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"w7587w4eiyfsudgf"},"invoice_reports":{"type":"array","description":"List of billing invoice reports.","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the billing invoice report.","example":"1648670915000"},"start_date":{"type":"string","description":"Start date for the billing invoice report.","format":"date","example":"2022-01-01"},"end_date":{"type":"string","description":"End date for the billing invoice report.","format":"date","example":"2022-02-01"},"accounts_total_number":{"type":"integer","description":"Total number of sub accounts included in the billing invoice report.","example":88},"remaining_days":{"type":"integer","description":"Number of days remaining on invoice period.","example":6},"status":{"type":"string","description":"Status of the generated billing invoice report.","example":"Processing","enum":["Completed","Processing"]}}}}}}}}},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master"],"openapi_authorization":[]}],"x-extensions":{"x-macro-scopes":["billing:master"]}},"post":{"tags":["Billing"],"summary":"Generate sub accounts' billing invoice reports","description":"Use this API to generate sub account invoice reports. \n\n This API can only be used by master accounts that pay all billing charges of their associated Pro or higher sub accounts. Zoom only allows approved partners to use [Master account API](https://marketplace.zoom.us/docs/api-reference/zoom-api/ma) and manage sub accounts' billing information. Email the partner programs team at [**partner-success@zoom.us**](mailto:partner-success@zoom.us) for more details. \n\n **one** request to this API every **3 minutes**.\n* This API has a daily limit of **100 requests per account**.\n   \n  **Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The sub account **must** be a paid account whose billing charges are paid by its Master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`","operationId":"generateSubInvoiceReport","requestBody":{"content":{"application/json":{"schema":{"properties":{"start_date":{"type":"string","description":"Start Date for the billing invoice report.","example":"2022-01-01"},"end_date":{"type":"string","description":"End Date for the billing invoice report.","example":"2022-02-01"},"account_ids":{"type":"array","description":"A comma-separated list of sub accounts under a master account.","items":{"type":"string","example":"kQ1OnoNpRmSRSb0DbrezUZ"}}},"description":"The request object for generating a sub accounts' invoice report."}}}},"responses":{"201":{"description":"Information about how to generate sub accounts' invoice report.","content":{"application/json":{"schema":{"properties":{"id":{"type":"string","description":"Identifier for the billing invoice report.","example":"1648670915000"},"start_date":{"type":"string","description":"Start Date for the billing invoice report.","format":"date","example":"2022-01-01"},"end_date":{"type":"string","description":"End Date for the billing invoice report.","format":"date","example":"2022-02-01"},"accounts_total_number":{"type":"integer","description":"Total number of sub accounts included in invoice report.","example":76},"remaining_days":{"type":"integer","description":"Number of days remaining on invoice period.","example":12},"status":{"type":"string","description":"Status of the invoice report:   \n * Processing   \n * Completed","example":"Processing","enum":["Processing","Completed"]}},"description":"The viewable object of a sub accounts' billing invoice report."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `2100` <br>\nThe span of `start_time` and `end_time` must be within a month to generate invoice reports.<br>\nYou must provide at least one sub account for which to generate an invoice report.<br>\n\n**Error Code:** `10102` <br>\nOne or more of the sub accounts provided were not found under the master account ID: {}<br>\n\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master"],"openapi_authorization":[]}],"x-extensions":{"x-macro-scopes":["billing:master"]}}},"/accounts/billing/invoice_reports/{invoiceReportId}":{"get":{"tags":["Billing"],"summary":"Download subaccounts' billing invoice reports","description":"Download a Zoom subaccounts' billing invoice reports. Maximum of **one** request to this API **per second**.\n**Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The subaccount **must** be a paid account whose billing charges are paid by its Master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:download_invoice_reports:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"downloadBillingInvoiceReport","parameters":[{"name":"invoiceReportId","in":"path","required":true,"schema":{"type":"string","example":"1648670915000"}},{"name":"download","in":"query","required":true,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nFile downloaded.   \n \nInvoice report information will be returned in the response when the parameter `download`= `false`.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The billing invoice report's identifier.","example":"1648670915000"},"start_date":{"type":"string","description":"The billing invoice report's start date.","format":"date","example":"2022-01-01"},"end_date":{"type":"string","description":"The billing invoice report's end date.","format":"date","example":"2022-02-01"},"accounts_total_number":{"type":"integer","description":"Total number of subaccounts included in invoice report.","example":76},"remaining_days":{"type":"integer","description":"Number of days remaining on invoice period.","example":12},"status":{"type":"string","description":"Status of the invoice report. \n * Processing   \n * Completed","example":"Processing","enum":["Available","Processing","Failed"]}},"description":"The viewable object of a subaccounts' billing invoice report."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Invoice Report ID does not exist: {invoiceReportId}.<br> <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:read:download_invoice_reports:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:download_invoice_reports:master"]}},"delete":{"tags":["Billing"],"summary":"Delete subaccounts' billing invoice report","description":"Delete Zoom subaccounts' billing invoice report.\n\n\n**Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The subaccount must be a paid account whose billing charges are paid by its master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:delete:invoice_report:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"deleteBillingInvoiceReport","parameters":[{"name":"invoiceReportId","in":"path","required":true,"schema":{"type":"string","example":"1648670915000"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`  \n \nNo Content."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Invoice Report ID does not exist: {invoiceReportId}.<br> <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:delete:invoice_report:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:delete:invoice_report:master"]}}},"/accounts/billing/renewals":{"get":{"tags":["Billing"],"summary":"List upcoming renewal accounts","description":"List subaccounts' upcoming renewal plans.\n**Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The subaccount **must** be a paid account whose billing charges are paid by its Master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`,`account:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:list_upcoming_renewal_accounts:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"Getupcomingrenewalaccounts","parameters":[{"name":"interval","in":"query","description":"Valid date range. Value is 30, 60, or 90.","required":false,"schema":{"type":"integer","format":"int32","example":30,"default":30,"enum":[30,60,90]}},{"name":"page_size","in":"query","description":"Page size. Value is less than 50.","required":false,"schema":{"maximum":50,"minimum":1,"type":"integer","example":20}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}}],"responses":{"200":{"description":"*HTTP Status Code:** `200`  Subaccount billing upcoming renewal data returned.","content":{"application/json":{"schema":{"required":["interval","page_size","results","total_records"],"type":"object","properties":{"interval":{"maximum":90,"minimum":30,"type":"integer","description":"Date range. Value is 30, 60, or 90.","format":"int32","example":30,"default":30,"enum":[30,60,90]},"page_size":{"type":"integer","description":"Page size.","example":20},"total_records":{"type":"integer","description":"Total records.","example":100},"results":{"type":"array","description":"Upcoming renewal data.","items":{"required":["account_id","account_name","account_number","auto_renew","email","next_renewal_date","renewable_subscriptions","total_renewal_amount"],"type":"object","properties":{"account_id":{"type":"string","description":"The Zoom account ID.","example":"xxxxxx"},"account_number":{"type":"string","description":"The Zoom account number.","example":"123456789"},"account_name":{"type":"string","description":"The Zoom account name.","example":"test"},"email":{"type":"string","description":"Account email ID.","example":"test@zoom.us"},"total_renewal_amount":{"type":"integer","description":"Renewal account amount.","example":100},"next_renewal_date":{"type":"Date","description":"The current term end date.","example":"2024-04-11"},"auto_renew":{"type":"boolean","description":"Whether the account is auto renewing or not.","example":true},"renewable_subscriptions":{"type":"array","description":"Renew subscription list.","items":{"required":["billing_cycle","next_invoice_amount","next_invoice_date","plan_name","quantity","service_effective_date"],"type":"object","properties":{"plan_name":{"type":"string","description":"Zoom plan name.","example":"Zoom Workplace Enterprise"},"quantity":{"type":"integer","description":"Purchased plan count.","example":20},"billing_cycle":{"type":"string","description":"The billing plan cycle.","example":"Monthly","enum":["Monthly","Annual","Quarterly","Two years","Three years"]},"service_effective_date":{"type":"Date","description":"Effective service date.","example":"2024-04-11"},"next_invoice_date":{"type":"Date","description":"Mext invoice date.","example":"2024-04-11"},"next_invoice_amount":{"type":"number","description":"Mext invoice amount.","example":41723}}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2100` <br>\n Invalid parameter: interval/page_size. <br>\n**Error Code:** `300` <br>\n The next page token is invalid or expired. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Account not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","account:master","billing:read:list_upcoming_renewal_accounts:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["SubAccount:Edit","SubAccount:Read"],"x-macro-scopes":["billing:master","account:master"],"x-granular-scopes":["billing:read:list_upcoming_renewal_accounts:master"]}}},"/api/download/billing/invoices/{invoiceId}":{"get":{"tags":["Billing"],"summary":"Download an invoice file","description":"Download a Zoom account's [billed](https://support.zoom.us/hc/en-us/articles/201363263-About-Billing) invoice file, in PDF format. To get an account's invoice ID, use the **[List billing invoices](https://developers.zoom.us/docs/api/rest/reference/billing/ma/#operation/ListBillingInvoices)** API.\n\n**one** request to this API every 30 minutes until the daily limit is reached.\n* This API has a daily limit of **100 requests per account**.\n**Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The sub account must be a paid account whose billing charges are paid by its Master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:download_invoice_file:master`","operationId":"downloadInvoicePDF","parameters":[{"name":"invoiceId","in":"path","description":"Invoice ID.","required":true,"schema":{"type":"string","example":"8ad09c6488afbb320188b254bb1d427f"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nAccount billing invoice PDF returned."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {subAccountId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"deprecated":true,"security":[{"openapi_oauth":["billing:master","billing:read:download_invoice_file:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:download_invoice_file:master"]}}},"/accounts/{accountId}/billing":{"get":{"tags":["Billing"],"summary":"Get billing information","description":"Get a subaccount's [billing information](https://support.zoom.us/hc/en-us/articles/201363263-About-Billing).  \n\n Only master accounts can use this API. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage subaccounts' billing information. Email the partner programs team at **partner-success@zoom.us** for more details.\n* To get a master account's billing information, use the `billing:read:billing_information:admin` scope. Enter me as the value of the accountId path parameter.\n* To get a subaccount's billing information, use the `billing:read:billing_information:master` scope. Enter the subaccount's actual account ID as the value of the accountId path parameter. \n \n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled.   \n \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:billing_information:master`,`billing:read:billing_information:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"GetBillingInformation","parameters":[{"name":"accountId","in":"path","description":"Unique identifier of the account.","required":true,"schema":{"type":"string","example":"TQTvjT52Tmi_wrhASNNOEw"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nAccount billing contact information returned.","content":{"application/json":{"schema":{"required":["address","city","country","email","employee_count","first_name","last_name","phone_number","state","zip"],"type":"object","properties":{"address":{"type":"string","description":"The billing contact's address.","example":"123 Bourbon St."},"apt":{"type":"string","description":"The billing contact's apartment or suite number.","example":"Unit 2"},"city":{"type":"string","description":"The billing contact's city.","example":"New Orleans"},"country":{"type":"string","description":"The billing contact's [country ID abbreviation](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).","example":"US"},"email":{"type":"string","description":"The billing contact's email address.","example":"doc.john@mailinator.com"},"first_name":{"type":"string","description":"The billing contact's first name.","example":"Doc"},"last_name":{"type":"string","description":"The billing contact's last name.","example":"John"},"phone_number":{"type":"string","description":"The billing contact's phone number.","example":"555-555-1234"},"state":{"type":"string","description":"The billing contact's state.","example":"LA"},"zip":{"type":"string","description":"The billing contact's zip or postal code.","example":"70112"},"employee_count":{"type":"string","description":"The range of employee count associated with the organization of this sub-account","example":"2-10","enum":["Just Me","2-10","11-50","51-250","251-500","501-1000","1001-5000","5001-10000","10000+"]}},"description":"The account's billing contact information."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2100` <br>\n This subaccount is on self pay mode. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Account does not exist: {subAccountId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:read:billing_information:master","billing:read:billing_information:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:billing_information:master","billing:read:billing_information:admin"]}},"patch":{"tags":["Billing"],"summary":"Update billing information","description":"Update [billing information](https://support.zoom.us/hc/en-us/articles/201363263-About-Billing) of a sub account.  \n   \n \nThis API can only be used by master accounts that pay all billing charges of their associated sub accounts. Zoom allows only [approved partners](https://marketplace.zoom.us/docs/api-reference/master-account-apis) to use master APIs and manage sub accounts' billing information. Email the partner programs team at **partner-success@zoom.us** for more details.  \n   \n \n\n**Prerequisites:**\n* Pro or a higher paid account with master account option enabled.   \n \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:update:billing_information:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"UpdateBillingInformation","parameters":[{"name":"accountId","in":"path","description":"Unique identifier of the account.","required":true,"schema":{"type":"string","example":"TQTvjT52Tmi_wrhASNNOEw"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Billing Contact's address.","example":"123 Paper St."},"apt":{"type":"string","description":"Billing Contact's apartment/suite.","example":"Unit 3"},"city":{"type":"string","description":"Billing Contact's city.","example":"San Jose"},"country":{"type":"string","description":"Billing Contact's country.","example":"US"},"email":{"type":"string","description":"Billing Contact's email address.","example":"m.kelly@mailinator.com"},"first_name":{"type":"string","description":"Billing Contact's first name.","example":"Jennifer"},"last_name":{"type":"string","description":"Billing Contact's last name.","example":"Kelly"},"phone_number":{"type":"string","description":"Billing Contact's phone number.","example":"555-555-9859"},"state":{"type":"string","description":"Billing Contact's state.","example":"CA"},"zip":{"type":"string","description":"Billing Contact's zip/postal code.","example":"96113"}},"description":"Billing Contact object."}}}},"responses":{"200":{"description":"**HTTP Status Code:** `200` Update billing information success."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2100` <br>\n This sub account is on self pay mode.<br>\nInvalid country parameter: {country}.<br>\nInvalid state parameter: {state}. <br>\n**Error Code:** `300` <br>\n Your request was not accepted because \"{field}\" contains special character(s). <br>\n**Error Code:** `200` <br>\n Please subscribe a plan for this sub account first. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Account does not exist: {subAccountId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:update:billing_information:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:update:billing_information:master"]}}},"/accounts/{accountId}/billing/invoices":{"get":{"tags":["Billing"],"summary":"List billing invoices","description":"List a Zoom account's [invoices](https://support.zoom.us/hc/en-us/articles/207276556-Viewing-your-invoice-history#h_6710542f-23cc-4059-9cc7-ff02bec7314e). To list a regular Zoom account's invoices or a master account's invoices, provide `me` as the value of the `accountId` path parameter. To list a subaccount's invoices, provide the subaccount's account ID in the `accountId` path parameter. **Prerequisites:*** Account must be enrolled in Pro or a higher plan.   **Additional Rate Limit:** You can make **one** API request per account(`accountId`) every **200** minutes until the daily limit is reached. This API has a daily limit of **100000** requests per account(`accountId`).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:list_invoices:master`,`billing:read:list_invoices:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"ListBillingInvoices","parameters":[{"name":"from","in":"query","description":"Start date for the invoice query in `yyyy-mm-dd` format. The date range defined by the &ldquo;from&rdquo; and &ldquo;to&rdquo; parameters should not exceed one year. The range defined should fall within the past three years.\n","required":false,"schema":{"type":"string","format":"date","example":"2022-01-02"}},{"name":"to","in":"query","description":"End date for the invoice query in `yyyy-mm-dd` format","required":false,"schema":{"type":"string","format":"date","example":"2022-02-01"}},{"name":"accountId","in":"path","description":"Unique identifier of the account.","required":true,"schema":{"type":"string","example":"TQTvjT52Tmi_wrhASNNOEw"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nAccount billing invoice information returned.","content":{"application/json":{"schema":{"type":"object","properties":{"currency":{"type":"string","description":"Currency used in the invoice.","example":"USD"},"invoices":{"type":"array","items":{"type":"object","properties":{"balance":{"type":"number","description":"The remaining balance of the invoice after all payments, adjustments, and refunds are applied.\n\n","format":"double","example":12.34},"due_date":{"type":"string","description":"The date by which the payment for this invoice is due.\n\n","example":"2022-02-08"},"id":{"type":"string","description":"Unique identifier of the invoice.","example":"Inv2329df"},"invoice_date":{"type":"string","description":"The date when the invoice was generated.\n","example":"2022-01-18"},"invoice_number":{"type":"string","description":"Invoice number.","example":"23jkfk21000"},"status":{"type":"string","description":"Status of the invoice.","example":"Draft","default":"\"Draft\""},"target_date":{"type":"string","description":"This date is used to determine which charges are to be billed. All charges that are to be billed on this date or prior will be included in the invoice.\n","example":"2022-03-01"},"tax_amount":{"type":"number","description":"Tax amount.","format":"double","example":35.9},"total_amount":{"type":"number","description":"Total invoice amount.","format":"double","example":1000.21}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for Paid account: {subAccountId}. <br>\n**Error Code:** `2001` <br>\n Account does not exist: {subAccountId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:read:list_invoices:master","billing:read:list_invoices:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["SubAccount:Edit","SubAccount:Read"],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:list_invoices:master","billing:read:list_invoices:admin"]}}},"/accounts/{accountId}/billing/invoices/{invoiceId}":{"get":{"tags":["Billing"],"summary":"Get invoice details","description":"Get detailed information about a specific [invoice](https://support.zoom.us/hc/en-us/articles/207276556-Viewing-your-invoice-history#h_6710542f-23cc-4059-9cc7-ff02bec7314e).   \n To retrieve a regular Zoom account's invoice details or a master account's invoice details, provide `me` as the value of `accountId` path parameter. To list a sub account's invoice details, provide the account ID of the sub account in the `accountId` path parameter. \n\n**Prerequisites:**\n* Account must be enrolled in Pro or a higher plan.   \n \n\n**Additional Rate Limit:** You can make **one** API request every **thirty** minutes until the daily limit is reached. This API has a daily limit of **100** requests per **account**.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:invoice_details:master`,`billing:read:invoice_details:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"GetInvoiceDetails","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"accountId","in":"path","description":"Unique identifier of the account.","required":true,"schema":{"type":"string","example":"TQTvjT52Tmi_wrhASNNOEw"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nAccount billing invoice information returned.","content":{"application/json":{"schema":{"type":"object","properties":{"balance":{"type":"number","description":"The remaining balance of the invoice after all payments, adjustments, and refunds are applied.\n\n","format":"double","example":20.13},"currency":{"type":"string","description":"Billing currency.","example":"USD"},"due_date":{"type":"string","description":"The date by which the payment for this invoice is due.\n\n","example":"2022-01-19"},"id":{"type":"string","description":"Unique identifier of the invoice.","example":"inv23kk1"},"invoice_date":{"type":"string","description":"The date when the invoice was generated.\n","example":"2022-01-19"},"invoice_items":{"type":"array","items":{"type":"object","properties":{"charge_name":{"type":"string","description":"Description for the charge.","example":"This is a recurring charge"},"charge_number":{"type":"string","description":"Identifier for the charge.","example":"23kv12"},"charge_type":{"type":"string","description":"Charge type.","example":"Billed on master"},"end_date":{"type":"string","description":"Billing end date.","format":"date","example":"2022-03-01"},"partner_sku":{"type":"string","description":"The partner SKU.","example":"SK1093"},"purchase_order_number":{"type":"string","description":"The purchase order number.","example":"PO12345"},"quantity":{"type":"integer","description":"Quantity.","example":10},"start_date":{"type":"string","description":"Billing start date.","format":"date","example":"2022-01-01"},"tax_amount":{"type":"number","description":"Tax amount.","format":"double","example":30.9},"total_amount":{"type":"number","description":"Total amount.","format":"double","example":300.15}}}},"invoice_number":{"type":"string","description":"Invoice number.","example":"12fkfkl0"},"status":{"type":"string","description":"Status of the invoice.","example":"Draft","default":"\"Draft\""},"target_date":{"type":"string","description":"This date is used to determine which charges are to be billed. All charges that are to be billed on this date or prior will be included in the invoice.\n","example":"2022-03-01"},"tax_amount":{"type":"number","description":"Tax amount.","format":"double","example":23.12},"total_amount":{"type":"number","description":"Total invoice amount.","format":"double","example":1300.29}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {subAccountId}.<br>\nInvoiceId does not exist: {invoiceId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:read:invoice_details:master","billing:read:invoice_details:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:invoice_details:master","billing:read:invoice_details:admin"]}}},"/billing/invoices/{invoiceId}/download":{"get":{"tags":["Billing"],"summary":"Download an invoice file (v2)","description":"Download a Zoom account's [billed](https://support.zoom.us/hc/en-us/articles/201363263-About-Billing) invoice file, in PDF format. To get an account's invoice ID, use the **[List billing invoices](/docs/api/rest/reference/billing/ma/#operation/ListBillingInvoices)** API.\n\nYou may send **one** request to this API every 30 minutes until you reach the daily limit of 100 requests per account.\n**Prerequisites:** \n* A Pro or a higher plan with the **Master account** option enabled. \n* The sub account must be a paid account whose billing charges are paid by its Master account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:download_invoice_file:master`","operationId":"downloadInvoicePDFFile","parameters":[{"name":"invoiceId","in":"path","description":"Invoice ID.","required":true,"schema":{"type":"string","example":"8ad09c6488afbb320188b254bb1d427f"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nAccount billing invoice PDF returned.","headers":{"Content-Type":{"description":"Content-Type","required":false,"schema":{"type":"string","example":"application/pdf"}},"Content-Disposition":{"description":"Content-Disposition","required":false,"schema":{"type":"string","example":"attachment; filename=\"8ad0855192b3dc860192b93fc9f00476.pdf\""}},"Content-Length":{"description":"Content-Length","required":false,"schema":{"type":"string","example":"102400"}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {subAccountId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:read:download_invoice_file:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:download_invoice_file:master"]}}},"/accounts/{accountId}/plans":{"get":{"tags":["Billing"],"summary":"Get account plan information","description":"Lets master accounts retrieve subaccounts' plan information.\n* To get a master account's plan information, use the billing:read:plan_information:admin scope. Enter me as the value of the accountId path parameter.\n* To get a subaccount's plan information, use the `billing:read:plan_information:master` scope. Enter the subaccount's actual account ID as the value of the accountId path parameter. \n\n**Prerequisite**: This API can only be used by master accounts that pay all billing charges of their associated Pro or higher subaccounts. \n\nZoom only allows approved partners to use [master account APIs](docs/api/ma/) and manage subaccounts' billing information. Email the partner programs team at [partner-success@zoom.us](mailto:partner-success@zoom.us) for more details. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:read:plan_information:master`,`billing:read:plan_information:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"GetAccountPlanInformation","parameters":[{"name":"accountId","in":"path","description":"Unique identifier of the account.","required":true,"schema":{"type":"string","example":"TQTvjT52Tmi_wrhASNNOEw"}}],"responses":{"200":{"description":"**HTTP Status Code:**`200`  \n \nAccount's plans returned.\n","content":{"application/json":{"schema":{"type":"object","properties":{"plan_audio":{"type":"object","properties":{"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. \n\n For a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US, CN"},"ddi_numbers":{"type":"integer","description":"The account's dedicated dial-in (DDI) numbers.","example":800},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"premium_countries":{"type":"string","description":"A comma-separated list of the account's premium countries. \n\n For a list of values, refer to the `ID` field in the [Premium countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists#premium-countries) table.","example":"US, CN"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"tollfree_countries":{"type":"string","description":"A comma-separated list of the account's toll-free countries. \n\n For a list of values, refer to the `ID` field in the [Toll-free countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists#toll-free-countries) table.","example":"US, CN"},"type":{"type":"string","description":"The [Audio Conferencing plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#audio-conferencing-plans).","example":"tollfree_payongo"}},"description":"Information about the account's Audio Conferencing plan."},"plan_base":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"active_hosts":{"type":"integer","description":"The account plan's number of active hosts.","example":15},"included_minutes":{"type":"integer","description":"The Video SDK plan's included minutes.","format":"long","example":3000},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"overage_price":{"type":"integer","description":"The Video SDK plan's overage price.","format":"double","example":35},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The account's [base plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#base-plans).","example":"monthly"}},"description":"Information about the account's base plan."},"plan_large_meeting":{"type":"array","description":"Information about the account's Large Meeting plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Large Meeting plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#large-meeting-plans).","example":"large500_monthly"}}}},"plan_phone":{"type":"object","properties":{"plan_base":{"type":"object","properties":{"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. \n\n For a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US, CN"},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Phone base plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#additional-zoom-phone-plans).","example":"phone_payongo"}},"description":"Information about the account's Zoom Phone base plan."},"plan_calling":{"type":"array","description":"Information about the account's additional Zoom Phone calling plans.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The additional [Zoom Phone calling plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#additional-zoom-phone-plans).","example":"INTERNATIONAL_TOLL_NUMBER"}}}},"plan_number":{"type":"array","description":"Information about the account's additional Zoom Phone number plans.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The additional [Zoom Phone number plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#additional-zoom-phone-plans).","example":"phone_toll_free_number_usca_monthly"}}}}},"description":"Information about the account's Zoom Phone plan."},"plan_zcc":{"type":"object","properties":{"plan_package":{"type":"object","properties":{"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. \n\n For a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US, CN"},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Contact Center package plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zccp_monthly"}},"description":"Information about the account's Zoom Contact Center package plan.","deprecated":true},"plan_ai_expert_assist":{"type":"object","properties":{"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [AI Expert Assist plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"ai_expert_assist_two_year"}},"description":"Information about the account's AI Expert Assist plan."},"plan_usage":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The additional [Zoom Contact Center Calling plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zcc_pay_as_you_go"}},"description":"Information about the account's additional Zoom Contact Center calling plans."},"plan_phone_number":{"type":"array","description":"Information about the account's additional Zoom Contact Center Number plans.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The additional [Zoom Contact Center number plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"vspn_usca_monthly"}}}},"plan_package_lists":{"type":"array","description":"Information about the account's Zoom Contact Center package plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Contact Center package plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zccp_monthly"}}}}},"description":"Information about the account's Zoom Contact Center plan."},"plan_recording":{"type":"string","description":"The account's [Cloud Recording plan](https://developers.zoom.us/docs/api/rest/other-references/plans/#cloud-recording-plans).","example":"cmr_monthly_commitment_40"},"plan_recording_next_invoice_date":{"type":"string","description":"The next invoice date for the account's Cloud Recording plan.","example":"2022-01-31"},"plan_recording_service_effective_date":{"type":"string","description":"The date when the Cloud Recording plan became effective on the account.","example":"2021-08-08"},"plan_recording_status":{"type":"string","description":"The account's Cloud Recording plan status. \n* `active` - Active. \n* `cancelled` - Cancelled. \n* `expired` - Expired.","example":"active","enum":["active","cancelled","expired"]},"plan_room_connector":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [H.323/SIP Device Room Connector plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#h323sip-device-room-connector-plans).","example":"roomconnector_monthly"}},"description":"Information about the account's H.323/SIP Device Room Connector plan."},"plan_webinar":{"type":"array","description":"Information about the account's Webinar plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [webinar plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#webinar-plans).","example":"webinar500_monthly"}}}},"plan_zoom_events":{"type":"array","description":"Information about the account's Zoom Events plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Events plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zoomevents1000_monthly"}}}},"plan_zoom_rooms":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Rooms plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#zoom-room-plans).","example":"zroom_monthly"}},"description":"Information about the account's Zoom Rooms plan."},"plan_sdk_cmr":{"type":"object","properties":{"type":{"type":"string","description":"The [Video SDK plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#video-sdk-add-on-plans).","example":"vsdk_cmr_monthly_100"}},"description":"Information about the account's Zoom Video SDK plan."},"plan_whiteboard":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Whiteboard plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#zoom-whiteboard-plans).","example":"zwb_monthly"},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Whiteboard plan."},"plan_whiteboard_plus":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Whiteboard Plus plan type](https://developers.zoom.us/docs/api/rest/other-references/plans#zoom-whiteboard-plans).","example":"zwb_plus_monthly"},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Whiteboard Plus plan."},"plan_zoom_iq":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Revenue Accelerator plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"ziq_sales_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Sales IQ plan."},"plan_ztransl":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Translation plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"ztransl_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Translation plan."},"plan_zwr":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Workspace Reservation plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zwr_yearly"}},"description":"Information about the account's Zoom Workspace Reservation plans."},"plan_zoom_one":{"type":"array","description":"Information about the account's Zoom Workplace Biz Plus plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Workplace Biz Plus plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zobp_usca_monthly_unlimited"}}}},"plan_qss":{"type":"array","description":"Information about the account's Zoom Quality Stream Service plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Quality Stream Service plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"quality_stream1_free_trial"}}}},"plan_zsched":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Scheduler plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zsched_yearly"}},"description":"Information about the account's Zoom Scheduler plans."},"plan_zoom_sessions":{"type":"array","description":"Information about the account's Zoom Sessions plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Quality Stream Service plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"quality_stream1_free_trial"}}}},"plan_znode":{"type":"object","properties":{"plan_znode_base":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node base plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"znode_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node base plan."},"plan_zphybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Phone Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zph_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node Phone Hybrid plan."},"plan_zmhybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Meeting Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_hybrid_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node Meeting Hybrid plan."},"plan_mchybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Meeting Connector plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zmc_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node Meeting Connector plan."},"plan_rchybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Recording Connector plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zrc_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node Recording Connector plan."},"plan_cmrhybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Recording Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_node_hybrid_rec_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node Recording Hybrid plan."},"plan_tchybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Team Chat Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zn_tc_hybrid_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Node Team Chat Hybrid plan."}},"description":"Information about the account's Zoom Node plan."},"plan_mesh":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Mesh plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#video-sdk-add-on-plans).","example":"zmesh_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Mesh plan."},"plan_workforce_management":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom workforce management plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_wf_mgt_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom workforce management."},"plan_audio_us_ca":{"type":"object","properties":{"type":{"type":"string","description":"The [Audio Conferencing plans type](https://developers.zoom.us/docs/api/rest/other-references/plans#video-sdk-add-on-plans).","example":"zmesh_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Audio Conferencing plan."},"plan_zoom_one_premier":{"type":"array","description":"Information about the account's Zoom Workplace Enterprise Premier plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]},"type":{"type":"string","description":"The [Zoom Workplace Enterprise Premier plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-one-for-education-enterprise-premier-plans).","example":"zoe_prem_jp_yearly"}}}},"plan_zoom_one_edu_school_campus_plus":{"type":"array","description":"Information about the account's Zoom Workplace for Education School and Campus Plus plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom One for Education School and Campus Plus](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-one-for-education-school-and-campus-plus-plans) plan.","example":"zo_edu_sch_cmp_plus_global_yearly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}}}},"plan_zoom_one_edu_premier":{"type":"array","description":"Information about the account's Zoom Workplace for Education Enterprise Premier plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workplace for Education School and Campus Plus](https://developers.zoom.us/docs/api/references/billing-plans/#zoom-workplace-for-education-school-and-campus-plus-plans) plan.","example":"zo_edu_sch_cmp_plus_global_yearly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}}}},"plan_zoom_one_edu_student":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workplace for Education: Enterprise Higher Ed Student](https://developers.zoom.us/docs/api/references/billing-plans/#zoom-workplace-for-education-enterprise-higher-ed-student-plans) plan.","example":"zo_edu_ent_hied_stu_yearly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Workplace for Education: Enterprise Higher Ed Student plan."},"plan_visitor_management":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Visitor management](https://developers.zoom.us/docs/api/references/billing-plans/).","example":"zm_visitor_management_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Visitor management plan."},"plan_partner_premier_support":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Partner Premier Support](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"partner_premier_support_monthly"},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Partner Premier Support plan."},"plan_zoom_clips_plus":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Clips Plus](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_clips_plus_monthly"},"next_invoice_date":{"type":"string","description":"The account plan's next invoice date.","example":"2022-05-01"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"status":{"type":"string","description":"The account plan's status. \n* `active` &mdash; Active. \n* `cancelled` &mdash; Cancelled. \n* `expired` &mdash; Expired.","example":"active","enum":["active","cancelled","expired"]}},"description":"Information about the account's Zoom Clips Plus plan."}}}}}},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["billing:master","billing:read:plan_information:master","billing:read:plan_information:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["SubAccount:Edit","SubAccount:Read"],"x-macro-scopes":["billing:master"],"x-granular-scopes":["billing:read:plan_information:master","billing:read:plan_information:admin"]}},"post":{"tags":["Billing"],"summary":"Subscribe an account to a plan","description":"Lets master accounts subscribe to a Zoom plan's subaccount.  \n\n**Prerequisites:** \nThis API can only be used by master accounts that pay all billing charges of their associated Pro or higher subaccounts. \n\n Zoom only allows [approved partners](https://developers.zoom.us/docs/api/rest/master-account-apis/) to use master account APIs and manage subaccounts' billing information. Email the partner programs team at [**partner-success@zoom.us**](mailto:partner-success@zoom.us) for more details.  \n \n **Note:** To subscribe to an add-on plan **after** subscribing to a base plan, use the [**Subscribe account to an additional plan**](https://developers.zoom.us/docs/api/rest/reference/zoom-api/ma#operation/accountPlanAddonCreate) API.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `billing:write:subscribe_plan:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"SubscribeAccountToAPlan","parameters":[{"name":"accountId","in":"path","description":"Unique identifier of the account.","required":true,"schema":{"type":"string","example":"TQTvjT52Tmi_wrhASNNOEw"}}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"required":["contact"],"type":"object","properties":{"contact":{"required":["address","city","country","email","first_name","last_name","phone_number","state","zip"],"type":"object","properties":{"address":{"type":"string","description":"The billing contact's address.","example":"123 Bourbon St."},"apt":{"type":"string","description":"The billing contact's apartment or suite number.","example":"Unit 2"},"city":{"type":"string","description":"The billing contact's city.","example":"New Orleans"},"country":{"type":"string","description":"The billing contact's two letter [country code](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#countries).","example":"US"},"email":{"type":"string","description":"The billing contact's email address.","example":"doc.john@mailinator.com"},"first_name":{"type":"string","description":"The billing contact's first name.","example":"Doc"},"last_name":{"type":"string","description":"The billing contact's last name.","example":"John"},"phone_number":{"type":"string","description":"The billing contact's phone number.","example":"555-555-1234"},"state":{"type":"string","description":"The billing contact's state.","example":"LA"},"zip":{"type":"string","description":"The billing contact's ZIP or postal code.","example":"70112"},"employee_count":{"type":"string","description":"The number of employees associated with the organization of this subaccount.","example":"15"}},"description":"The account's billing contact information."}}},{"required":["plan_base"],"type":"object","properties":{"subscription_options":{"type":"object","properties":{"paid_period_start_date":{"type":"string","description":"The date when a plan's paid period starts on the account. `paid_period_start_date` and `service_effective_date` must be the same date and must be in future.","example":"2021-12-31"},"service_effective_date":{"type":"string","description":"The date when the plan became effective on the account.","example":"2022-03-01"},"purchase_order_number":{"type":"string","description":"The purchase order number.","example":"PO-EC-TEST0505d"},"deal_registration_id":{"type":"string","description":"If the carrier account has a valid `deal_registration_id` it can use the deal registration discount. Otherwise, use the standard discount. Set in discount management on `nws-billing-op`.","example":"D-35433212"},"contract_term":{"type":"integer","description":"Contract term.","example":36,"enum":[1,12,24,36,48,60,72,84,96,108,120]}},"description":"subscirption options"},"plan_audio":{"type":"object","properties":{"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. \n\nFor a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US,CA,UK"},"ddi_numbers":{"type":"integer","description":"The account's dedicated dial-in (DDI) numbers.","example":800},"premium_countries":{"type":"string","description":"A comma-separated list of the account's premium countries. \n\nFor a list of values, refer to the `ID` field in the [Premium countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US,CA,IL"},"tollfree_countries":{"type":"string","description":"A comma-separated list of the account's toll-free countries \n\nFor a list of values, refer to the `ID` field in the [Toll-free countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#toll-free-countries) table.","example":"US,MX,IL"},"type":{"type":"string","description":"The [Audio Conferencing plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#audio-conferencing-plans).","example":"tollfree_payongo"}},"description":"The information about the account's Audio Conferencing plan."},"plan_base":{"required":["type"],"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"type":{"type":"string","description":"The account's [Base plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#base-plans).","example":"yearly"},"active_hosts":{"type":"integer","description":"Some base plans, like Zoom Workplace Enterprise Essential, support `active_hosts`.","example":10}},"description":"Information about the account's base plan."},"plan_large_meeting":{"type":"array","description":"Information about the account's Large Meeting plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Large Meeting plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#large-meeting-plans).","example":"large500_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_phone":{"type":"object","properties":{"plan_base":{"type":"object","properties":{"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. \n\n For a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US,CA"},"type":{"type":"string","description":"The [Zoom Phone Base plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-phone-plans).","example":"phone_payongo"}},"description":"Information about the account's Zoom Phone base plan."},"plan_calling":{"type":"array","description":"The information about the account's additional Zoom Phone calling plans.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"type":{"type":"string","description":"The additional [Zoom Phone calling plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-phone-plans).","example":"phone_calling_usca_monthly_unlimited"}}}},"plan_calling_addons":{"type":"array","description":"Information about the account's additional Zoom Phone add-on calling plan. A calling plan is required when adding an add-on calling plan.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"type":{"type":"string","description":"The type of [Zoom Phone add-on calling plan](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-phone-add-on-calling-plans).","example":"zp_power_pack_monthly"}}}},"plan_number":{"type":"array","description":"Information about the account's additional Zoom Phone number plans.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"type":{"type":"string","description":"The additional [Zoom Phone number plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-phone-plans).","example":"phone_toll_free_number_usca_monthly"}}}}},"description":"Information about the account's Zoom Phone plan."},"plan_zcc":{"type":"object","properties":{"plan_package":{"type":"object","properties":{"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. For a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US,CA"},"type":{"type":"string","description":"The [Zoom Contact Center plans](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zccp_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Contact Center Package plan.(Highly recommend using the field plan_package_list.)","deprecated":true},"plan_recording":{"type":"object","properties":{"type":{"type":"string","description":"The additional [Zoom Contact Center recording plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zcc_cs_30gb"}},"description":"Information about the account's additional Zoom Contact Center recording plans."},"plan_usage":{"type":"object","properties":{"type":{"type":"string","description":"The additional [Zoom Contact Center usage plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zcc_pay_as_you_go"},"callout_countries":{"type":"string","description":"A comma-separated list of the account's call-out countries. For a list of values, refer to the `ID` field in the [TSP callout countries](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#tsp-callout-countries) table.","example":"US,CA"}},"description":"Information about the account's additional Zoom Contact Center usage plans."},"plan_phone_number":{"type":"array","description":"Information about the account's additional Zoom Contact Center number plans.","items":{"type":"object","properties":{"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88},"type":{"type":"string","description":"The additional [Zoom Contact Center Number plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"vspn_usca_monthly"}}}},"plan_package_list":{"type":"array","description":"Information about the account's Zoom Contact Center plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Contact Center plans](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zccp_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_ai_expert_assist":{"type":"object","properties":{"type":{"type":"string","description":" The [AI Expert Assist](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"ai_expert_assist_two_year"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's AI Expert Assist.Only with the purchase of the ZCC base plan can you subscribe it"}},"description":"Information about the account's Zoom Contact Center plan."},"plan_recording":{"type":"string","description":"The account's [Cloud Recording plan](https://developers.zoom.us/docs/api/rest/other-references/plans/#cloud-recording-plans).","example":"cmr_monthly_commitment_40"},"plan_room_connector":{"type":"object","properties":{"type":{"type":"string","description":"The [H.323/SIP Device Room Connector plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#room-connector-plans).","example":"roomconnector_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Room Connector plan."},"plan_webinar":{"type":"array","description":"Information about the account's Webinar plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Webinar plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#webinar-plans).","example":"webinar500_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_zoom_events":{"type":"array","description":"Information about the account's Zoom Events plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Events plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zoomevents1000_yearly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_zoom_rooms":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Rooms plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-room-plans).","example":"zroom_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"Information about the account's Zoom Rooms plan."},"plan_sdk_cmr":{"type":"object","properties":{"type":{"type":"string","description":"The [Video SDK plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#video-sdk-cloud-recording-add-on-plans).","example":"vsdk_cmr_monthly_100"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Video SDK plan."},"plan_whiteboard":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Whiteboard plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-whiteboard-plans).","example":"zwb_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Whiteboard plan."},"plan_whiteboard_plus":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Whiteboard Plus plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-whiteboard-plans).","example":"zwb_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Whiteboard Plus plan."},"plan_zoom_iq":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Revenue Accelerator plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"ziq_sales_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Revenue Accelerator plan."},"plan_bundle":{"type":"array","description":"The account's Zoom Bundle plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The bundle plan type.","example":"ACT-ENT-LMT_500-WBN_500-T_1-monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_zoom_one":{"type":"array","description":"The account's Zoom Workplace Biz Plus plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workplace Biz Plus plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zobp_usca_monthly_unlimited"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_zwr":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workspace Reservation plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zwr_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Workspace Reservation plan."},"plan_ztransl":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Translation plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"ztransl_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Translation plan."},"plan_zsched":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Scheduler plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zsched_three_year"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Scheduler plan."},"plan_mesh":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Mesh plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zmesh_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Mesh plan."},"plan_znode":{"type":"object","properties":{"plan_znode_base":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node base plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"znode_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node base plan."},"plan_zphybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Phone Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zph_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node Phone Hybrid plan."},"plan_zmhybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Meeting Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_hybrid_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node Meeting Hybrid plan."},"plan_mchybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Meeting Connector plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zmc_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node Meeting Connector plan."},"plan_rchybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Recording Connector plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zrc_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node Recording Connector plan."},"plan_cmrhybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Recording Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_node_hybrid_rec_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node Recording Hybrid plan."},"plan_tchybrid":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Node Team Chat Hybrid plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zn_tc_hybrid_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom Node Team Chat Hybrid plan."}},"description":"The account's Zoom Node plan."},"plan_workforce_management":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom workforce management type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zm_wf_mgt_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The account's Zoom workforce management plan."},"plan_audio_us_ca":{"type":"object","properties":{"type":{"type":"string","description":"The [Audio Conferencing plans type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zoomaudio_unlimit_usca_monthly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}},"description":"The accout's Audio Conferencing plan"},"plan_zoom_one_premier":{"type":"array","description":"The account's Zoom Workplace Enterprise Premier plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workplace Enterprise Premier plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zoe_prem_aunz_quarterly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_zoom_one_edu_school_campus_plus":{"type":"array","description":"The account's Zoom Workplace for Education: School and Campus Plus plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workplace for Education: School and Campus Plus plan type](/docs/api/references/billing-plans/).","example":"zo_edu_sch_cmp_plus_global_yearly"},"hosts":{"type":"integer","description":"The account plan's number of hosts.","example":88}}}},"plan_zoom_one_edu_premier":{"type":"array","description":"The account's Zoom Workplace for Education: Enterprise Premier plan.","items":{"type":"object","properties":{"type":{"type":"string","description":"The [Zoom Workplace for Education: Enterprise Premier plan type](https://developers.zoom.us/docs/api/rest/other-references/plans/).","example":"zo_edu_ent_prem_usca_yearly"}
[...]
