{"openapi":"3.0.0","info":{"title":"Cobrowse SDK","description":"The Zoom Cobrowse SDK enables users to share their web browsing experience with an organization without compromising privacy and security. Collaborators can annotate and see what is being shared. Certain parts of the screen can be masked or redacted from view by the user to protect their privacy and confidentiality.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/cobrowsesdk/live_sessions":{"get":{"tags":["Sessions"],"summary":"List live sessions","description":"List the total live sessions that occurred during a specified period of time. You can specify a monthly date range for this data using the `from` and `to` query parameters. The month should fall within the last six months. The report only includes one month's worth of data.\n**Prerequisites:**\n* Cobrowse SDK\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Listlivesessions","parameters":[{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"maximum":300,"minimum":30,"type":"integer","example":30}},{"name":"next_page_token","in":"query","description":"Used to paginate through large result sets. Zoom returns a `next_page_token` whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"Tva2CuIdTgsv8wAnhyAdUrm06Y2HuLQtlh3"}},{"name":"session_pin","in":"query","description":"The Cobrowse session's pin code. Use this code to join the session.","required":false,"schema":{"type":"string","example":"987536"}}],"responses":{"200":{"description":"List live sessions.","content":{"application/json":{"schema":{"type":"object","properties":{"page_size":{"type":"integer","description":"The number of records returned within a single API call.","example":30},"next_page_token":{"type":"string","description":"Used to paginate through large result sets. Zoom returns a `next_page_token` whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"Tva2CuIdTgsv8wAnhyAdUrm0tY2HuLQtlh4"},"sessions":{"type":"array","description":"Live sessions.","items":{"required":["session_id","start_time","users"],"type":"object","properties":{"session_id":{"type":"string","description":"The Cobrowse session's ID.","example":"GDDykmpQQU6MWL3GqLNUkw"},"start_time":{"type":"string","description":"The Cobrowse session's start time.","format":"date-time","example":"2025-02-14T19:09:01Z"},"session_pin":{"type":"string","description":"The Cobrowse session's pin code. Use this code to join the session.","example":"987536"},"users":{"type":"array","description":"Session users.","items":{"required":["role_type","user_id","user_name"],"type":"object","properties":{"user_id":{"type":"string","description":"The user's ID. This is a unique ID assigned to the user joining a session and is valid for only that session.","example":"YZ8uRj9zRf2yY5cshmzrTA"},"user_name":{"type":"string","description":"The user's display name.","example":"exampleuser"},"role_type":{"type":"string","description":"The joining user's role type.","example":"agent","default":"agent","enum":["customer","agent"]}}}}},"description":"The live session's information."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30101` <br>\n The next page token is invalid or expired. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Invalid token. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":[],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[]}}},"/cobrowsesdk/past_sessions":{"get":{"tags":["Sessions"],"summary":"List past sessions","description":"List the total live or past sessions that occurred during a specified period of time. You can specify a monthly date range for this data using the `from` and `to` query parameters. The month should fall within the last six months. The report only includes one month's worth of data.\n**Prerequisites**:\n* Cobrowse SDK\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `RESOURCE-INTENSIVE`","operationId":"Listpastsession","parameters":[{"name":"time_type","in":"query","description":"Enables you to search Cobrowse sessions by start or end time. By default, uses `start_time`.","required":false,"schema":{"type":"string","example":"start_time","default":"start_time","enum":["start_time","end_time"]}},{"name":"from","in":"query","description":"The start time and date in `yyyy-mm-dd` or `yyyy-MM-dd'T'HH:mm:ss'Z'` format.\n\nThe date range defined by the from and to parameters should be a month as the response only includes one month's worth of data. The month defined should fall within the last six months. If unspecified, returns data within the last 24 hours.","required":false,"schema":{"type":"string","example":"2025-02-14"}},{"name":"to","in":"query","description":"Required only when the `from` parameter is specified.\n\nEnd time and date in `yyyy-mm-dd` or `yyyy-MM-dd'T'HH:mm:ss'Z'` format, the same format as the `from` parameter.","required":false,"schema":{"type":"string","example":"2025-02-14"}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"maximum":300,"minimum":30,"type":"integer","example":30}},{"name":"next_page_token","in":"query","description":"Used to paginate through large result sets. Zoom returns a `next_page_token` whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"Tva2CuIdTgsv8wAnhyAdUrm06Y2HuLQtlh3"}},{"name":"session_id","in":"query","description":"The Cobrowse session's ID.","required":false,"schema":{"type":"string","example":"GDDykmpQQU6MWL3GqLNUkw"}},{"name":"session_pin","in":"query","description":"The Cobrowse session's pin code. Use this code to join the session.","required":false,"schema":{"type":"string","example":"987536"}}],"responses":{"200":{"description":"List past sessions.","content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string","description":"The report's start date, in 'yyyy-mm-dd' format.","format":"date","example":"2025-02-14"},"to":{"type":"string","description":"The report's end date, in 'yyyy-mm-dd' format.","format":"date","example":"2025-02-14"},"page_size":{"type":"integer","description":"The number of records returned within a single API call.","example":30},"next_page_token":{"type":"string","description":"Used to paginate through large result sets. Zoom returns a `next_page_token` whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"Tva2CuIdTgsv8wAnhyAdUrm0tY2HuLQtlh4"},"sessions":{"type":"array","description":"Past session.","items":{"required":["duration","end_time","session_id","start_time"],"type":"object","properties":{"session_id":{"type":"string","description":"The Cobrowse session's ID.","example":"GDDykmpQQU6MWL3GqLNUkw"},"start_time":{"type":"string","description":"The Cobrowse session's start time.","format":"date-time","example":"2025-02-14T19:09:01Z"},"end_time":{"type":"string","description":"The Cobrowse session's end time.","format":"date-time","example":"2025-02-14T19:15:01Z"},"duration":{"type":"string","description":"The Cobrowse session's duration, in 'hh:mm:ss' format.","example":"00:03:19"},"user_count":{"type":"integer","description":"The Cobrowse session's user count.","example":2},"session_pin":{"type":"string","description":"The Cobrowse session's pin code. Use this code to join the session.","example":"987536"},"users":{"type":"array","description":"Session users.","items":{"type":"object","properties":{"user_id":{"type":"string","description":"The user's ID. This is a unique ID assigned to the user joining a session and is valid for only that session.","example":"YZ8uRj9zRf2yY5cshmzrTA"},"user_name":{"type":"string","description":"The user's display name.","example":"exampleuser"},"role_type":{"type":"string","description":"The joining user's role type.","example":"agent","default":"agent","enum":["customer","agent"]}}}}},"description":"The live session's information."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30101` <br>\n The next page token is invalid or expired. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Invalid token. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":[],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[]}}},"/cobrowsesdk/sessions/{sessionId}":{"get":{"tags":["Sessions"],"summary":"Get session details","description":"Get a information about live or past Cobrowse sessions.:\n**Prerequisites:**\n* Cobrowse SDK.\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Getasession","parameters":[{"name":"sessionId","in":"path","description":"The Cobrowse session's ID.","required":true,"schema":{"type":"string","example":"GDDykmpQQU6MWL3GqLNUkw"}},{"name":"session_type","in":"query","description":"The session's type.\n`live` - A live session.\n`past` - A past session.","required":false,"schema":{"type":"string","example":"live","default":"live","enum":["live","past"]}}],"responses":{"200":{"description":"Cobrowse session information.","content":{"application/json":{"schema":{"oneOf":[{"title":"Live session details.","required":["session_id","start_time"],"type":"object","properties":{"session_id":{"type":"string","description":"The Cobrowse session's ID.","example":"GDDykmpQQU6MWL3GqLNUkw"},"start_time":{"type":"string","description":"The Cobrowse session's start time.","format":"date-time","example":"2025-02-14T19:09:01Z"},"session_pin":{"type":"string","description":"The Cobrowse session's pin code that can be used to join the session.","example":"987536"},"user_count":{"type":"integer","description":"The Cobrowse session's user count.","example":2}}},{"title":"Past session details.","required":["duration","end_time","session_id","start_time"],"type":"object","properties":{"session_id":{"type":"string","description":"The Cobrowse session's ID.","example":"GDDykmpQQU6MWL3GqLNUkw"},"start_time":{"type":"string","description":"The Cobrowse session's start time.","format":"date-time","example":"2025-02-14T19:09:01Z"},"end_time":{"type":"string","description":"The Cobrowse session's end time.","format":"date-time","example":"2025-02-14T19:15:01Z"},"duration":{"type":"string","description":"The Cobrowse session's duration, in 'hh:mm:ss' format.","example":"00:03:19"},"session_pin":{"type":"string","description":"The Cobrowse session's pin code that can be used to join the session.","example":"987536"},"user_count":{"type":"integer","description":"The Cobrowse session's user count.","example":2}}}]}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Invalid token. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30300` <br>\n Session does not exist: $sessionId <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":[],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[]}}},"/cobrowsesdk/sessions/{sessionId}/users":{"get":{"tags":["Sessions"],"summary":"List session users","description":"List the users from live or past sessions.\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Listsessionusers","parameters":[{"name":"sessionId","in":"path","description":"The Cobrowse session's ID.","required":true,"schema":{"type":"string","example":"GDDykmpQQU6MWL3GqLNUkw"}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"maximum":300,"minimum":30,"type":"integer","example":30}},{"name":"next_page_token","in":"query","description":"Used to paginate through large result sets. Zoom returns a `next_page_token` whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"Tva2CuIdTgsv8wAnhyAdUrm06Y2HuLQtlh3"}}],"responses":{"200":{"description":"List session users.","content":{"application/json":{"schema":{"type":"object","properties":{"page_size":{"type":"integer","description":"The number of records returned within a single API call.","example":30},"next_page_token":{"type":"string","description":"Used to paginate through large result sets. Zoom returns a `next_page_token` whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"Tva2CuIdTgsv8wAnhyAdUrm0tY2HuLQtlh4"},"users":{"type":"array","description":"Session users.\n\nNote:\n\nIf a user left a session and rejoined the same session, their information will appear multiple times (for each time the user joined the session).","items":{"required":["role_type","user_connection_id","user_id","user_name"],"type":"object","properties":{"user_connection_id":{"type":"string","description":"The connection's ID for each time the user joined the session.","example":"Nlg8wgA0TFe3jT87CjQZqg"},"user_id":{"type":"string","description":"The user's ID. This is a unique ID assigned to the user joining a session and is valid for only that session.","example":"YZ8uRj9zRf2yY5cshmzrTA"},"user_name":{"type":"string","description":"The user's display name.","example":"exampleuser"},"role_type":{"type":"string","description":"The joining user's role type.","example":"agent","default":"agent","enum":["customer","agent"]},"ip_address":{"type":"string","description":"The user's IP address.","example":"127.0.0.1"},"data_center":{"type":"string","description":"The data center where user's session data is stored. \n`US` - United States\n`AU` - Australia\n`BR` - Brazil\n`CA` - Canada\n`DE` - Germany\n`HK` - Hong Kong SAR\n`IN` - India\n`JP` - Japan\n`CN` - Mainland China\n`MX` - Mexico\n`NL` - Netherlands\n`SG` - Singapore\n`TW` - Taiwan\n","example":"US","default":"US","enum":["US","AU","BR","CA","DE","HK","IN","JP","CN","MX","NL","SG","TW"]},"join_time":{"type":"string","description":"The time at which user joined the session.","format":"date-time","example":"2025-03-18T05:07:13Z"},"leave_time":{"type":"string","description":"The time at which a user left the session.\n\nFor live sessions, this field is only returned if a user has left the ongoing session.","format":"date-time","example":"2025-03-18T05:09:13Z"},"duration":{"type":"string","description":"The duration for each time the user in a same session, in 'hh:mm:ss' format.","example":"00:03:19"}},"description":"The session user's information.\n"}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30101` <br>\n The next page token is invalid or expired. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Invalid token. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30300` <br>\n Session does not exist: $sessionId <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":[],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{}}}}}}}