{"openapi":"3.0.0","info":{"title":"Commerce","description":"[Zoom Commerce](https://developers.zoom.us/docs/commerce/) APIs allows partners to manage subscriptions, enable intergrations, and more.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/commerce/account":{"post":{"tags":["Account Management"],"summary":"Create an end customer account","description":"Creates an end customer account. \n**Note** Please check the base URL for sandbox and production environments under Zoom Commerce section [here](/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:write:sub_account:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ","operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"required":["account_name","billing_address","contacts","currency","employee_count","ownerDetails","website"],"type":"object","properties":{"account_name":{"type":"string","description":"The account's name.","example":"John Galt"},"employee_count":{"type":"string","description":"The company's employee count.","example":"251-500","enum":["Just Me","2-10","11-50","51-250","251-500","501-1000","1001-5000","5001-10000","10001+"]},"website":{"type":"string","description":"The company's website. It should not be any social media handle or Facebook, Google, and eBay shopping front.","example":"www.example.com"},"sub_reseller_crm_account_number":{"type":"string","description":"The sub-reseller's CRM account number.","example":"A-45733"},"contacts":{"maxItems":10,"type":"array","description":"The account's contact details. Provide at least one contact.","items":{"required":["business_phone","company_email","first_name","job_title","last_name"],"type":"object","properties":{"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"job_title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"company_email":{"type":"string","description":"The contact's company email ID. The email domain should be the same as the account domain.","example":"tsmith@somecompany.com"},"business_phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"},"primary_role":{"type":"string","description":"The contact's primary role.","example":"Decision Maker","enum":["Admin","Decision Maker","Economic Buyer","Executive Sponsor","Zoom Champion","Zoom Coach"]}},"description":"The new contact details."}},"currency":{"maxLength":3,"type":"string","description":"The ISO currency code.","example":"US"},"billing_address":{"required":["city","country","line_1","postal_code","state"],"type":"object","properties":{"line_1":{"maxLength":255,"type":"string","description":"The street address.","example":"55 Almaden Blvd"},"city":{"maxLength":50,"type":"string","description":"The city name.","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"The postal or ZIP code.","example":"95114"},"state":{"maxLength":20,"type":"string","description":"The state or province.","example":"PA"},"country":{"maxLength":3,"type":"string","description":"The ISO country code.","example":"US"}},"description":"The address details."}},"description":"The account details."}}}},"responses":{"201":{"description":"The account creation request was submitted successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracking the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"create_reference_id":{"type":"string","description":"The unique reference ID for this account creation process. Please use this ID for checking the status.","example":"ACC-2333"},"crm_account_number":{"type":"string","description":"The unique CRM account number.","example":"A-0012"},"status":{"type":"string","description":"The supported status.","example":"submitted","enum":["submitted","success","partial success","failure"]},"status_detail":{"type":"string","description":"The details in case of partial success or failure.","example":"one or more contact creation failed."}},"description":"The account update details."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. Please try again later. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:write:admin","zoom_commerce:write:sub_account:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:write:admin"],"x-granular-scopes":["zoom_commerce:write:sub_account:admin"]}}},"/commerce/account/{accountKey}/contacts":{"post":{"tags":["Account Management"],"summary":"Add contacts to an existing end customer or your own account.","description":"Add contacts to an existing end customer or your own account. <br><b>Note:</b> Check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:update:account:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"addAccountContact","parameters":[{"name":"accountKey","in":"path","description":"A unique account key. It can be either the CRM account number or the account create reference ID or the Zoom account number.","required":true,"schema":{"maxLength":10,"type":"string","example":"4435343789"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"contacts":{"maxItems":10,"minItems":1,"type":"array","description":"The contact details for the account. At least one contact should be provided.","items":{"required":["business_phone","company_email","first_name","job_title","last_name"],"type":"object","properties":{"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"job_title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"company_email":{"type":"string","description":"The contact's company email ID. The email domain should be same as the account domain.","example":"tsmith@somecompany.com"},"business_phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"},"primary_role":{"type":"string","description":"The contact's primary role.","example":"Decision Maker","enum":["Admin","Decision Maker","Economic Buyer","Exec Sponsor","Zoom Champion","Zoom Coach"]}},"description":"The new contact details."}}},"description":"The account contact details."}}}},"responses":{"200":{"description":"Account contact request submitted successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"create_reference_id":{"type":"string","description":"The unique reference ID for this account creation process. Use this Id for checking the status.","example":"ACC-2333"},"crm_account_number":{"type":"string","description":"The unique CRM account number.","example":"A-0012"},"status":{"type":"string","description":"The supported status: submitted, success, partial success, or error.","example":"submitted","enum":["submitted","success","partial success","failure"]},"status_detail":{"type":"string","description":"The details in case of partial success or error.","example":"one or more contact creation failed."}},"description":"The account update details."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n\n **Error Code:** `5105` <br>\n First name must be at most 40 characters <br>\n**Error Code:** `5106` <br>\n First name cannot be blank. <br>\n**Error Code:** `5107` <br>\n Last name must be at most 80 characters. <br>\n**Error Code:** `5108` <br>\n Last name cannot be blank. <br>\n**Error Code:** `5109` <br>\n Job title must be at most 128 characters. <br>\n**Error Code:** `5110` <br>\n Invalid company email. <br>\n**Error Code:** `5111` <br>\n Company email must be at most 80 characters. <br>\n**Error Code:** `5112` <br>\n Business phone must be at most 15 characters. <br>\n**Error Code:** `5121` <br>\n Account create or update already in progress. <br>\n**Error Code:** `5130` <br>\n Company email cannot be blank. <br>\n**Error Code:** `5139` <br>\n At least 1 account contact is required, and company emails must be unique and have the same domain. <br>\n**Error Code:** `5138` <br>\n Invalid contact primary role. <br>\n**Error Code:** `5120` <br>\n No account found. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  No account found. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. Please try again later. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:write:admin","zoom_commerce:update:account:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:write:admin"],"x-granular-scopes":["zoom_commerce:update:account:admin"]}}},"/commerce/accounts":{"get":{"tags":["Account Management"],"summary":"Get the list of all accounts associated with a Zoom Partner/Sub-Reseller, by the account type","description":"Returns the list of all accounts associated with a Zoom Partner and Sub-Reseller, by the account type - endCustomer, subReseller, and relatedPartner. <br><b>Note:</b> Please check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:account:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"getAllAccounts","parameters":[{"name":"relationship_type","in":"query","description":"The relationship type by which to filter the results.","required":false,"schema":{"type":"string","example":"endCustomer","enum":["endCustomer","subReseller","relatedPartner","siblings","certifiedPartner"]}},{"name":"account_name","in":"query","description":"The full or partial name of the account. It has a minimum of three characters.","required":false,"schema":{"type":"string","example":"Joe"}},{"name":"currency","in":"query","description":"The ISO code for the account currency.","required":false,"schema":{"type":"string","example":"USD"}},{"name":"partner_type","in":"query","description":"Comma-separated partner types to filter on if the relationship_type is subReseller, relatedPartner, or siblings.","required":false,"schema":{"type":"string","example":"Subreseller, Reseller","enum":["Distributor","Subreseller","Reseller","Carrier"]}},{"name":"crm_account_number","in":"query","description":"The full or partial CRM account number. It has a minimum of three characters.","required":false,"schema":{"type":"string","example":"A-23432"}},{"name":"zoom_account_number","in":"query","description":"The full or partial Zoom account number. It has a minimum of three characters.","required":false,"schema":{"maxLength":10,"type":"string","example":"4435343789"}},{"name":"create_reference_id","in":"query","description":"The create reference ID for the account.","required":false,"schema":{"type":"string","example":"ACC-12"}},{"name":"sub_reseller_crm_account_number","in":"query","description":"The full CRM account number for the sub-reseller. If this is provided and account_type is endCustomer, only end customers related to this sub-reseller will be returned in the response.","required":false,"schema":{"type":"string","example":"A-2343245"}},{"name":"sibling_crm_account_number","in":"query","description":"The full CRM account number of a sibling account. If this filter is used, all the end customer, sub-reseller, sibling, or related partner accounts returned by the API will be in context of this account.","required":false,"schema":{"type":"string","example":"A-23432"}},{"name":"page_size","in":"query","description":"The number of records returned per page in the response. Maximum 100.","required":false,"schema":{"maximum":100,"minimum":20,"type":"integer","example":50,"default":20}},{"name":"page_number","in":"query","description":"The page number for fetching the next page of the result set.","required":false,"schema":{"type":"integer","example":2}}],"responses":{"200":{"description":"This endpoint returns the end customer account list.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"required":["accountList"],"type":"object","properties":{"page_count":{"type":"integer","description":"The total number of pages in the result set.","example":20},"account_list":{"maxItems":100,"type":"array","description":"The list of accounts.","items":{"type":"object","properties":{"create_reference_id":{"type":"string","description":"The unique reference ID for the account created by the Zoom commerce API.","example":"Cust-00123343242"},"crm_account_number":{"type":"string","description":"The unique CRM account number.","example":"A0012"},"account_name":{"type":"string","description":"The account name.","example":"John Galt"},"zoom_account_number":{"maxLength":10,"type":"string","description":"The Zoom account number (ZAN).","example":"3842618277"},"account_type":{"type":"string","description":"The account type: Partner or Customer.","example":"Customer","enum":["Partner","Customer"]},"partner_type":{"type":"string","description":"The partner type.","example":"Subreseller","enum":["Distributor","Subreseller","Reseller","Carrier"]},"country":{"maxLength":3,"type":"string","description":"The ISO code for the account country.","example":"US"},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the account currency.","example":"USD"},"website":{"type":"string","description":"The account's website.","example":"www.abc.com"},"status":{"type":"string","description":"The current status of an account. ","example":"submitted","enum":["submitted","success","partial success","failure","in review"]}},"description":"The account list."}}},"description":"The account summary."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:account:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:account:admin"]}}},"/commerce/accounts/{accountKey}":{"get":{"tags":["Account Management"],"summary":"Get the account details for a Zoom Partner/Subreseller/End Customer","description":"Returns the account details for a Zoom Partner, Subreseller, and End Customer. <br><b>Note:</b> Please check the base URL for sandbox and production environments under Zoom Commerce section [here](/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:account:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ","operationId":"getAccountDetails","parameters":[{"name":"accountKey","in":"path","description":"A unique account key - can be the CRM account number or the account `create_reference_id`.","required":true,"schema":{"type":"string","example":"A-2121"}}],"responses":{"200":{"description":"The account details.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"crm_account_number":{"type":"string","description":"The unique ID for the account in Zoom CRM system.","example":"A-0012"},"create_reference_id":{"type":"string","description":"The unique reference ID for this account. Please use this ID for getting the account details if the account doesn't has an account number.","example":"ACC-2333"},"status":{"type":"string","description":"The current status of an account. ","example":"submitted","enum":["submitted","success","partial success","failure","in review"]},"zoom_account_number":{"maxLength":10,"type":"string","description":"The unique Zoom account number. This is the identifier which end customer should refer to in any communication with Zoom.","example":"1223837102"},"account_name":{"type":"string","description":"The name for the account.","example":"ABC Pvt Ltd."},"account_type":{"type":"string","description":"The account types can be either partner or customer.","example":"Customer","enum":["Partner","Customer"]},"created_on_date":{"type":"string","description":"The creation date.","format":"YYYY-MM-DD","example":"2022-10-18"},"employee_count":{"type":"string","description":"The company's employee count. Supported values are - Just Me, 2-10, 11-50, 51-250, 251-500, 501-1000, 1001-5000, 5001-10000, and 10000+.","example":"51-250","enum":["Just Me","2-10","11-50","51-250","251-500","501-1000","1001-5000","5001-10000","10000+"]},"website":{"type":"string","description":"The company's website. It should not be any social media handle or Facebook, Google, and EBay shopping front.","example":"www.example.com"},"currency":{"maxLength":3,"type":"string","description":"The ISO currency code for account currency.","example":"US"},"partner_type":{"type":"string","description":"The partner type","example":"Subreseller","enum":["Distributor","Subreseller","Reseller","Carrier"]},"contacts":{"maxItems":10,"type":"array","description":"The contacts.","items":{"required":["business_phone","company_email","first_name","job_title","last_name"],"type":"object","properties":{"contact_crm_number":{"type":"string","description":"The contact's unique CRM number.","example":"A-12428"},"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"job_title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"company_email":{"type":"string","description":"The contact's company email ID. The email domain should be same as the account domain.","example":"tsmith@somecompany.com"},"business_phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"},"primary_role":{"type":"string","description":"The contact's primary role.","example":"Decision Maker","enum":["Admin","Decision Maker","Economic Buyer","Executive Sponsor","Zoom Champion","Zoom Coach"]}},"description":"The new contact details."}},"billing_address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"line_1":{"maxLength":200,"type":"string","description":"The street address.","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"The street address.","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"The street address.","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"The city name.","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"The Postal or ZIP code number.","example":"95114"},"state":{"maxLength":20,"type":"string","description":"The state or province.","example":"PA"},"country":{"maxLength":3,"type":"string","description":"The ISO code for the country.","example":"US"}},"description":"The address details."}},"description":"The account details."}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `5009` <br>\n No records found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. Please try again later. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:account:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:account:admin"]}}},"/commerce/billing_documents":{"get":{"tags":["Billing"],"summary":"Gets all billing documents for a distributor or a reseller","description":"Returns all billing documents for a distributor or a reseller. \n\nBilling Documents represent the end customer's invoices, credit memos and debit memos. The response can be filtered by status, document date etc. By default, the list of unpaid invoices in the last 1 month are retrieved. \n\n<br><b>Note:</b> Check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:billing_documents:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"getAllBillingDocs","parameters":[{"name":"document_type","in":"query","description":"The invoice, credit_memo, and debit_memo. The default is invoice.","required":false,"schema":{"type":"string","example":"invoice","enum":["invoice","credit_memo","debit_memo"]}},{"name":"payment_status","in":"query","description":"This field filters the list of documents by payment status. Accepted values: paid, unpaid, and all. By default all documents are returned.","required":false,"schema":{"type":"string","example":"Unpaid","enum":["Paid","Unpaid","All"]}},{"name":"document_date_start","in":"query","description":"This field filters the list of documents where document date is on or after the date provided in YYYY-MM-DD format. The default is one month.","required":false,"schema":{"type":"string","format":"YYYY-MM-DD","example":"2023-10-25"}},{"name":"document_date_end","in":"query","description":"This field filters the list of documents where document date is on or before the date provided in YYYY-MM-DD format.","required":false,"schema":{"type":"string","format":"YYYY-MM-DD","example":"2023-10-25"}},{"name":"due_date","in":"query","description":"This field filters the list of documents where document due on date is on the date provided in YYYY-MM-DD format.","required":false,"schema":{"type":"string","format":"YYYY-MM-DD","example":"2023-10-25"}},{"name":"document_number","in":"query","description":"This filed filters the list of documents by the document number, like invoice number, credit memo number and so on. Any document number which contains the parameter value will be returned.","required":false,"schema":{"type":"string","example":"INV-12121"}},{"name":"currency","in":"query","description":"The ISO currency code. The default shows documents in all currencies.","required":false,"schema":{"maxLength":3,"type":"string","example":"USD"}},{"name":"end_customer_name","in":"query","description":"This field filters the list of documents by the end customer account name. The minimum three characters should be provided.","required":false,"schema":{"type":"string","example":"Jon"}},{"name":"exclude_zero_balance_invoices","in":"query","description":"This field filters the list of documents by the invoice balance. All zero dollar invoices will be filtered out from the response if the value is true. By default it is false.","required":false,"schema":{"type":"boolean","example":true,"default":false}},{"name":"invoice_owner_crm_account_number","in":"query","description":"This field filters invoices by the CRM account number for the Invoice Owner.","required":false,"schema":{"type":"string","example":"A-3454374"}},{"name":"page_size","in":"query","description":"The maximum number of results returned in a page. The minimum value is one and the maximum is 99. Default is 10.","required":false,"schema":{"maximum":99,"minimum":1,"type":"integer","example":20}},{"name":"next_page_token","in":"query","description":"The token for the next page in the record set if results have more records than the number specified by the page size. The next page token paginates through a large set of result. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"feur38rhjr10"}},{"name":"sort","in":"query","description":"This field specifies the sort order of the list. Sorting can be ascending (asc) or descending (desc). The fields on which this list can be sorted are document number, document date, due date, and balance. By default the list is sorted by document date. ascending.","required":false,"schema":{"type":"string","example":"documentDate.asc","enum":["documentNumber.asc","documentDate.asc","dueDate.asc","balance.asc","documentNumber.desc","documentDate.desc","dueDate.desc","balance.desc"]}}],"responses":{"200":{"description":"Billing documents retrieved successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"document_count":{"type":"integer","description":"The total number of documents.","example":100},"billing_documents":{"maxItems":100,"type":"array","description":"The billing document list.","items":{"type":"object","properties":{"document_number":{"type":"string","description":"The document number.","example":"INVC10235997"},"document_date":{"type":"string","description":"The document date.","example":"2023-10-25T00:00:00.000Z"},"document_type":{"type":"string","description":"The type of the billing document: invoice, credit memo, or debit memo.","example":"invoice","enum":["invoice","credit_memo","debit_memo"]},"customer_name":{"type":"array","description":"The end customer account name.","items":{"type":"string","example":"ABC Pvt. Ltd."}},"sub_reseller_name":{"type":"string","description":"The sub-reseller name if the subscription was created by a distributor on their behalf.","example":"Subreseller One"},"invoice_owner_name":{"type":"string","description":"The invoice owner's name.","example":"Subreseller One"},"due_date":{"type":"string","description":"The document due date.","example":"2023-11-25T00:00:00.000Z"},"payment_status":{"type":"string","description":"The status of the document: paid or unpaid.","example":"Paid","enum":["Paid","Unpaid"]},"balance":{"type":"object","properties":{"amount":{"type":"number","description":"The monetary value.","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents the sale price, list price, net amount, or gross amount."},"net_amount":{"type":"object","properties":{"amount":{"type":"number","description":"money value","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents sale price, list price, net amount, or gross amount."},"po_number":{"type":"string","description":"Purchase order number","example":"PO-10021-A"},"billing_description":{"type":"string","description":"The description or any other detail about the document.","example":"Correcting invoice error"},"posted_date":{"type":"string","description":"The posted date for the document.","example":"2023-10-26"},"reason_detail":{"type":"string","description":"The reason description or detail for which this document has been generated.","example":"Correcting invoice error"},"reference_billing_document_id":{"type":"string","description":"Any other billing document associated with this invoice or credit memo or debit memo.","example":"8a8aa183907cc66e01907d722e232bcd"}},"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. \n\n "}},"next_page_token":{"type":"string","description":"The token for the next page in the record set if result has more records than the number specified by the page size. The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"gfrnkgrgfe4583492"}},"description":"Billing documents list."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n\n **Error Code:** `5504` <br>\n Payment Status valid values are : paid, unpaid, and all. <br>\n**Error Code:** `5505` <br>\n Date range cannot be more than 3 years. <br>\n**Error Code:** `5002` <br>\n Invalid date format. Expected format: YYYY-MM-DD. <br>\n**Error Code:** `5008` <br>\n Invalid page size. It must be between 1 and 99. <br>\n**Error Code:** `5506` <br>\n 5506 - Invalid sort values. It must be one of: documentNumber.asc,  documentDate.asc, dueDate.asc,  balance.asc,  documentNumber.desc, documentDate.desc, dueDate.desc, and balance.desc. <br>\n**Error Code:** `5507` <br>\n Multiples fields not supported in sorting. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:billing_documents:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:billing_documents:admin"]}}},"/commerce/billing_documents/{documentNumber}/document":{"get":{"tags":["Billing"],"summary":"Gets the PDF document for the billing document ID","description":"Returns the PDF document for the billing document ID. \n\n<br><b>Note:</b> Check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api). \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:billing_documents:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ","operationId":"downloadBillingDoc","parameters":[{"name":"documentNumber","in":"path","description":"The document number.","required":true,"schema":{"type":"string","example":"IN-32432"}}],"responses":{"200":{"description":"The billing document PDF retrieved successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `5501` <br>\n No document found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition, which prevented it from fulfilling the request. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:billing_documents:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:billing_documents:admin"]}}},"/commerce/invoices/{invoiceNumber}":{"get":{"tags":["Billing"],"summary":"Get detailed information about a specific invoice for a distributor or a reseller","description":"Returns detailed information about a specific invoice for a distributor or a reseller. \n\nTo filter the details for a particular end customer provide the end customer Zoom account number or CRM account number. \n<br><b>Note:</b> Check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:billing_documents:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ","operationId":"getInvoiceDetail","parameters":[{"name":"invoiceNumber","in":"path","description":"The invoice number.","required":true,"schema":{"type":"string","example":"INV-5485323"}},{"name":"zoom_account_number","in":"query","description":"The Zoom account number (ZAN) for the end customer.","required":false,"schema":{"maxLength":10,"type":"string","example":"3344353452"}},{"name":"crm_account_number","in":"query","description":"The CRM account number for the end customer.","required":false,"schema":{"type":"string","example":"A-435345"}}],"responses":{"200":{"description":"The invoice details retrieved successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"invoice_number":{"type":"string","description":"The document number.","example":"INVC10235997"},"invoice_date":{"type":"string","description":"The document date.","example":"2023-10-25T00:00:00.000Z"},"customer_name":{"type":"array","description":"The end customer account name.","items":{"type":"string","example":"ABC Pvt. Ltd."}},"invoice_owner_account":{"type":"object","properties":{"zoom_account_number":{"maxLength":10,"type":"string","description":"Unique Zoom Account Number for the customer or partner/reseller.","example":"3421746588"},"crm_account_number":{"type":"string","description":"Unique CRM Account Number for the customer or partner/reseller.","example":"A-1234"},"account_name":{"type":"string","description":"The account name","example":"John Doe LLC"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"Type of address - billTo, shipTo, soldTo.","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":200,"type":"string","description":"Street address","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"Street address","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"Street address","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"city name","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"postal or zip code/number","example":"95114"},"state":{"maxLength":20,"type":"string","description":"state or province","example":"PA"},"country":{"maxLength":3,"type":"string","description":"ISO code for the country","example":"US"}},"description":"Address details."}},"description":"Account details."},"sub_reseller":{"type":"object","properties":{"zoom_account_number":{"maxLength":10,"type":"string","description":"Unique Zoom Account Number for the customer or partner/reseller.","example":"3421746588"},"crm_account_number":{"type":"string","description":"Unique CRM Account Number for the customer or partner/reseller.","example":"A-1232"},"account_name":{"type":"string","description":"The account name","example":"John Doe LLC"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"Type of address - billTo, shipTo, soldTo","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":200,"type":"string","description":"Street address","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"Street address","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"Street address","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"city name","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"postal or zip code/number","example":"95114"},"state":{"maxLength":20,"type":"string","description":"state or province","example":"PA"},"country":{"maxLength":3,"type":"string","description":"ISO code for the country","example":"US"}},"description":"Address details"}},"description":"Account details."},"sold_to_contact":{"type":"object","properties":{"crm_contact_number":{"type":"string","description":"Unique CRM Number for the contact.","example":"A-1232"},"first_name":{"type":"string","description":"The first name of the sold to contact.","example":"John"},"last_name":{"type":"string","description":"The last name of the sold to contact.","example":"Doe"},"email":{"type":"string","description":"The contact's email ID.","example":"abc@test.com"}},"description":"Sold to contact details"},"bill_to_contact":{"type":"object","properties":{"crm_contact_number":{"type":"string","description":"Unique CRM Number for the contact","example":"A-1232"},"first_name":{"type":"string","description":"The first name of the bill to contact.","example":"John"},"last_name":{"type":"string","description":"The last name of the bill to contact.","example":"Doe"},"email":{"type":"string","description":"The contact's email ID.","example":"abc@test.com"}},"description":"Bill to contact details."},"due_date":{"type":"string","description":"The document due date.","example":"2023-11-25T00:00:00.000Z"},"payment_status":{"type":"string","description":"The status of the document: paid or unpaid.","example":"Paid","enum":["Paid","Unpaid"]},"balance":{"type":"object","properties":{"amount":{"type":"number","description":"The monetary value.","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents the sale price, list price, net amount, or gross amount."},"net_amount":{"type":"object","properties":{"amount":{"type":"number","description":"The monetary value.","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents sale price, list price, net amount, or gross amount."},"po_numbers":{"type":"string","description":"All purchase order numbers associated with this invoice.","example":"PO-10021-A, PO-10021-A1"},"billing_description":{"type":"string","description":"The description or any other detail about the document.","example":"Correcting invoice error"},"posted_date":{"type":"string","description":"The posted date for the document.","format":"YYYY-MM-DD","example":"2024-10-25"},"reason_detail":{"type":"string","description":"The reason description or detail for which this document has been generated.","example":"Correcting invoice error"},"reference_billing_document_id":{"type":"string","description":"Any other billing document associated with this invoice.","example":"8a8aa183907cc66e01907d722e307bre"},"total_tax_amount":{"type":"object","properties":{"amount":{"type":"number","description":"The monetary value.","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents the total tax amount for the invoice."},"target_date":{"type":"object","description":"This date determines which charges are to be billed. All charges that are to be billed on this date or prior will be included in the invoice.","format":"YYYY-MM-DD","example":"2024-10-25"},"invoice_items":{"maxItems":100,"type":"array","description":"The invoice items.","items":{"type":"object","properties":{"end_customer_account":{"type":"object","properties":{"zoom_account_number":{"maxLength":10,"type":"string","description":"Unique Zoom Account Number for the customer or partner/reseller.","example":"3421746588"},"crm_account_number":{"type":"string","description":"Unique CRM Account Number for the customer or partner/reseller.","example":"A-1234"},"account_name":{"type":"string","description":"The account name","example":"John Doe LLC"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"Type of address - billTo, shipTo, soldTo","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":200,"type":"string","description":"Street address","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"Street address","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"Street address","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"City name","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"Postal or Zip Code/number","example":"95114"},"state":{"maxLength":20,"type":"string","description":"State or Province","example":"PA"},"country":{"maxLength":3,"type":"string","description":"ISO code for the country","example":"US"}},"description":"Address details"}},"description":"Account details."},"charge_name":{"type":"string","description":"The name of the charge.","example":"monthly recurring charge"},"charge_type":{"type":"string","description":"The type of the charge","example":"recurring"},"description":{"type":"string","description":"The description of the invoice item","example":"Invoice for ABC Pvt. Ltd."},"offer_name":{"type":"string","description":"The name of the offer associated with this invoice item","example":"Zoom Workplace Pro"},"offer_price_list_name":{"type":"string","description":"The offer price list name","example":"Zoom Workplace Pro Annual"},"offer_price_list_id":{"type":"string","description":"The offer price list unique identifier","example":"PRL-342923"},"start_date":{"type":"string","description":"The start date of the service period for this item. For a one-time fee item, the date of the charge.","format":"YYYY-MM-DD","example":"2022-10-25"},"end_date":{"type":"string","description":"The end date of the service period for this item, i.e., the last day of the service period","format":"YYYY-MM-DD","example":"2022-10-25"},"subscription_number":{"type":"string","description":"The subscription number associated with this invoice item","example":"A-31231322"},"partner_sku_code":{"type":"string","description":"The unique SKU for partners.","example":"PAR1-PRO-BASE-NH1Y"},"po_number":{"type":"string","description":"The purchase order number associated with the invoice item.","example":"PO-10021-A"},"quantity":{"type":"integer","description":"The quantity of this item, in the configured unit of measure for the charge.","example":100},"tax_amount":{"type":"object","properties":{"amount":{"type":"number","description":"The monetary value.","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents the sale price, list price, net amount, or gross amount."},"total_amount":{"type":"object","properties":{"amount":{"type":"number","description":"The monetary value.","example":99.99},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the currency.","example":"USD"}},"description":"This field represents sale price, list price, net amount, or gross amount."}},"description":"The invoice details."}}},"description":"The invoice details."}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Unauthorized access. Authorization information is missing or invalid. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `5009` <br>\n No records found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:billing_documents:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:billing_documents:admin"]}}},"/commerce/campaigns":{"get":{"tags":["Deal Registration"],"summary":"Retrieves all valid Zoom Campaigns which a deal registration can be associated with.","description":"Retrieves all valid Zoom Campaigns which a deal registration can be associated with. <br><b>Note:</b> Please check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:deal_registration:admin`\n\n**Not supported in Gov cluster** ","operationId":"getCampaigns","parameters":[{"name":"end_customer_crm_account_number","in":"query","description":"The CRM account number for the end customer.","required":true,"schema":{"type":"string","example":"A-3454334"}},{"name":"sub_reseller_crm_account_number","in":"query","description":"The full CRM account number for the Sub Reseller. If this is provided, campaigns related to this Sub Reseller will be returned in response.","required":false,"schema":{"type":"string","example":"A-2343245"}},{"name":"campaign_member_crm_contact_number","in":"query","description":"The full CRM contact number for the Campaign Member.","required":true,"schema":{"type":"string","example":"C-2343245"}},{"name":"product_groups","in":"query","description":"The comma separated product groups associated with a campaign. Only relevant campaigns will be returned in the response. Supported values are \"Zoom Meetings\", \"Zoom Rooms\", \"Zoom Webinars\", \"Zoom Phone\", \"Zoom for Developers\", \"Premier Support\", \"Zoom Events\", \"Global Services\", \"Zoom Apps\", \"UCaaS\", \"Event Services\", \"Zoom Revenue Accelerator\", \"Zoom One\", \"Workvivo\", \"Zoom Mesh\", \"Zoom Virtual Agent\", \"Zoom Sessions\", \"Zoom Spaces\", \"Zoom Contact Center\", \"Non-Product Specific\", \"Zoom for ISV\", \"Zoom Scheduler\", \"Zoom Platform\", \"Zoom Team Chat\", \"Zoom Workplace\", \"Zoom Doc\"","required":true,"schema":{"type":"string","example":"Zoom Workplace, Zoom Phone"}}],"responses":{"200":{"description":"Campaign detail returned successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"campaigns":{"maxItems":100,"type":"array","description":"List of campaigns.","items":{"required":["campaign_number","end_date","name","start_date"],"type":"object","properties":{"campaign_number":{"type":"number","description":"Unique campaign number.","example":3423423},"campaign_name":{"type":"string","description":"Campaign name.","example":"Zoom campaign for Education"},"campaign_description":{"type":"string","description":"Campaign description.","example":"Zoom Workplace for Education focus campaign"},"campaign_start_date":{"type":"string","description":"Campaign start date in YYYY-MM-DD format.","format":"YYYY-MM-DD","example":"2023-10-03"},"campaign_end_date":{"type":"string","description":"Campaign end date in YYYY-MM-DD format.","format":"YYYY-MM-DD","example":"2024-10-03"}},"description":"Zoom campaign details."}}},"description":"Zoom Campaigns details."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:deal_registration:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:deal_registration:admin"]}}},"/commerce/deal_registration":{"post":{"tags":["Deal Registration"],"summary":"Creates a new deal registration for a partner","description":"Creates a new Deal Registration for a partner. <br><b>Note:</b> Check the base URL for sandbox and production environments under Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:write:deal_registration:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ","operationId":"createDealReg","parameters":[{"name":"invoice-owner-crm-account-number","in":"header","description":"The CRM account number for the Invoice Owner if it is one of the sibling accounts.","required":false,"schema":{"type":"string","example":"A-3454374"}}],"requestBody":{"description":"Creates a new deal registration for a partner.","content":{"application/json":{"schema":{"required":["currency","end_customer_contact_crm_number","end_customer_crm_account_number","end_customer_industry","estimated_close_date","estimated_mrr","met_decision_maker","opportunity_name","opportunity_type","product_groups","requires_professional_services","sales_activities","sales_rep_contact_crm_number"],"type":"object","properties":{"opportunity_type":{"type":"string","description":"The type of opportunity being registered.","example":"TSD Agent Registration","enum":["Indirect Reseller Registration","Direct Reseller Registration"]},"sub_reseller_crm_account_number":{"type":"string","description":"The sub-reseller CRM account number on whose behalf this deal is being submitted.","example":"A-3243"},"sales_rep_contact_crm_number":{"type":"string","description":"Unique identifier for the partner contact who will be the primary sales representative.","example":"C-3332"},"partner_contacts":{"maxItems":10,"type":"array","description":"Additional partner contacts who will be associated with this deal registration.","items":{"type":"object","properties":{"contact_crm_number":{"type":"string","description":"Contact's unique CRM number.","example":"C-12428"}}}},"end_customer_crm_account_number":{"type":"string","description":"CRM account number for the end customer.","example":"A-343"},"end_customer_contact_crm_number":{"type":"string","description":"Contact CRM number of the primary contact for the end customer.","example":"C-132"},"end_customer_contacts":{"maxItems":10,"type":"array","description":"Additional end customer contacts who will be associated with this deal registration.","items":{"type":"object","properties":{"contact_crm_number":{"type":"string","description":"Contact's unique CRM number.","example":"A-12428"}},"description":"Deal registration end customer contact details."}},"end_customer_department":{"maxItems":3,"type":"array","description":"End customer division or department.","items":{"type":"string","example":"Engineering","enum":["Engineering","Executives","Finance","HR","IT","Marketing","Sales","Site-Wide","Other"]}},"met_decision_maker":{"type":"boolean","description":"Set to true if the partner has met the end customer's decision maker. Defaults to false.","example":false},"decision_maker_crm_number":{"type":"string","description":"End customer decision maker contact's CRM number.","example":"C-3487284"},"budget_identified":{"type":"boolean","description":"Set to true if the partner has identified the budget with the end customer's decision maker. Defaults to false.","example":false},"is_public_sector":{"type":"boolean","description":"Set to true if the end customer is a Public Sector Customer. Defaults to false. Public Sector Customer means any United States of America Federal customer (legislative branch, executive branch, judicial branch, and military services), State and Local customer (all legislative, executive, administrative, and judicial agencies within a State, County, City, or Town), Federal System Integrator customer (government contractors doing work on behalf of or selling to Federal Agencies), Public Higher Education School or Institution customers, or Public K-12 School customers.","example":false},"buy_gov_skus":{"type":"boolean","description":"Set to true if the end customer is a public sector company and will buy Zoom for Government (ZfG) SKUs.","example":false},"end_customer_industry":{"type":"string","description":"Industry category that best describes the end customer's products/services. Supported values are Commercial, FED, SLED, Education, Federal, State & Local.","example":"Commercial","enum":["Commercial","FED","SLED","Education","Federal","State & Local"]},"opportunity_name":{"type":"string","description":"Name for the opportunity.","example":"New sales opportunity"},"opportunity_desc":{"type":"string","description":"Detailed description for the opportunity.","example":"New sales opportunity"},"estimated_close_date":{"type":"string","description":"Estimated close date for the opportunity. Should be today or a future date.","format":"YYYY-MM-DD","example":"2024-10-01"},"estimated_mrr":{"type":"integer","description":"Estimated size of the opportunity in Monthly Recurring Revenue.","example":200000},"currency":{"maxLength":3,"type":"string","description":"ISO currency code for the deal.","example":"USD"},"requires_professional_services":{"type":"boolean","description":"Set to true if any professional or managed services will be provided as part of this opportunity.","example":false},"professional_services_description":{"type":"string","description":"A description of the partner-led professional or managed services. Recommended if \"requires_professional_services\" is true.","example":"false"},"professional_services_delivered_by":{"type":"string","description":"Comma-separated list of PSO services delivery agents.","example":"Zoom, Partner","enum":["Zoom","Partner","Third Party"]},"phone_carrier":{"type":"string","description":"Does the customer have an existing phone carrier agreement. Supported values are \"Yes, and they want to maintain it\", \"Yes, but they are willing to switch\", \"There is no existing agreement\", \"I don’t know\".","example":"Yes, and they want to maintain it","enum":["Yes, and they want to maintain it","Yes, but they are willing to switch","There is no existing agreement","I don’t know"]},"product_groups":{"maxItems":5,"type":"array","description":"Zoom product types for which this deal will be eligible.","items":{"required":["name","quantity"],"type":"object","properties":{"name":{"type":"string","description":"Deal registration product group name.","example":"Zoom Workplace (Pro or Biz)","enum":["Zoom Workplace (Pro or Biz)","Zoom Workplace (Biz+)","Zoom Workplace (Ent Essentials)","Zoom Workplace (Ent+/Premier)","Zoom Workplace Add-Ons","Zoom Phone (standalone)","Zoom Revenue Accelerator","Zoom Contact Center","Zoom Spaces","Zoom Build Platform","Workvivo","Professional Services","Support Services"]},"quantity":{"type":"integer","description":"Expected license quantity.","example":1000}}}},"campaign_number":{"type":"string","description":"Valid Zoom campaign number which influenced this deal.","example":"3245"},"sales_activities":{"maxItems":10,"type":"array","description":"Sales activities associated with this deal.","items":{"required":["date","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of sales activity. Supported values are Zoom Meeting with Customer, Onsite Meeting with Customer, Zoom Demonstration, Partner SE is Engaged.","enum":["Zoom Meeting with Customer","Onsite Meeting with Customer","Zoom Demonstration","Partner SE is Engaged"]},"date":{"type":"string","description":"Date of activity in YYYY-MM-DD format.","format":"YYYY-MM-DD","example":"2023-10-25"}},"description":"Sales activities associated with the Deal Registration."}},"rfp_details":{"required":["is_rfp"],"type":"object","properties":{"is_rfp":{"type":"boolean","description":"Set to true if the opportunity is part of an existing RFP/public tender.","example":false},"rfp_link":{"type":"string","description":"The link to the RFP if publicly posted.","example":"https://www.rfplink.abc.com"},"issue_date":{"type":"string","description":"Date when the RFP was issued, in YYYY-MM-DD format. Required if is_rfp is true.","format":"YYYY-MM-DD","example":"2024-07-02"},"due_date":{"type":"string","description":"Date when the RFP is due, in YYYY-MM-DD format. Required if is_rfp is true.","format":"YYYY-MM-DD","example":"2024-09-02"}},"description":"RFP details for the deal registration."},"submitter_contact_crm_number":{"type":"string","description":"Deal submitter contact CRM number.","example":"C-3332"},"migration_type":{"type":"string","description":"Migration type if deal is being registered for an end customer through some special initiative.","example":"PBX/Zoom Hybrid Integration (HI)","enum":["Straight migration","Hybrid migration","PBX/Zoom Hybrid Integration (HI)","PBX/Zoom HI + some Zoom Phone Migration","Some PBX to Zoom Phone Migration, No HI","None of these"]},"additional_comments":{"type":"string","description":"Additional comments or special considerations for the deal.","example":"customer retention deal"},"documents":{"maxItems":10,"type":"array","description":"Array of document or attachment IDs uploaded for the deal.","items":{"type":"object","properties":{"document_reference_id":{"type":"string","description":"Unique document number.","example":"D-1212"},"document_type":{"type":"string","description":"Type of document.","example":"Deal Registration","enum":["Deal Registration","Other"]}}}}},"description":"Deal registration details."}}}},"responses":{"201":{"description":"Deal Registration created successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string","example":"fhejfhew98ru89er3kn3oi"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"create_reference_id":{"type":"string","description":"The unique reference ID for this deal registration if created using the Deal Registration API. Use this ID for checking the status.","example":"DRR-4834729"},"deal_reg_number":{"type":"string","description":"The unique deal registration number.","example":"DL-0012"},"status":{"type":"string","description":"Status of this deal registration request.","example":"submitted","enum":["submitted","success","failure"]},"errors":{"maxItems":20,"type":"array","description":"Array of messages in case of validation or processing errors.","items":{"required":["error_code","error_description"],"type":"object","properties":{"error_code":{"type":"string","description":"Error code.","example":"5801"},"error_description":{"type":"string","description":"Error description.","example":"Invalid end customer contact CRM number."}},"description":"Error code and message."}}},"description":"Deal registration update details."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n**Error Code:** `5810` Estimated close date should be in future. \n**Error Code:** `5811` This opportunity type submission is not allowed. Please reach out to partner support. \n**Error Code:** `5812` At least one sales activity is required. \n**Error Code:** `5813` At least one product is required for deal registration. \n**Error Code:** `5814` If you have met the decision maker, please provide the decision maker contact. \n**Error Code:** `5815` If opportunity is part of an RFP (is_rfp=true), rfp_due_date and rfp_issue_date cannot be blank.  \n**Error Code:** `5816` If opportunity is part of an RFP (is_rfp=true), rfp_issue_date cannot be in the past..  \n**Error Code:** `5817` End customer industry should be from the allowed list of values. \n**Error Code:** `5818` End customer department should be from the allowed list of values.  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authentication credentials are missing or invalid. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  The requested resource could not be found. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected error which prevented it from fulfilling the request. Try again later. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:write:admin","zoom_commerce:write:deal_registration:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:write:admin"],"x-granular-scopes":["zoom_commerce:write:deal_registration:admin"]}}},"/commerce/deal_registrations":{"get":{"tags":["Deal Registration"],"summary":"Gets all valid Deal Registrations for a partner","description":"Retrieves all valid deal registrations for a partner. <br><b>Note:</b> Please check the base URL for sandbox and production environments under the Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:deal_registration:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"getAllDealRegs","parameters":[{"name":"deal_reg_number","in":"query","description":"The full or partial deal registration number. Minimum of three characters required.","required":false,"schema":{"type":"string","example":"DR-2363812"}},{"name":"create_reference_id","in":"query","description":"The full or partial reference ID for this deal registration. Minimum of three characters required.","required":false,"schema":{"type":"string","example":"DRR-4834729"}},{"name":"end_customer_name","in":"query","description":"Filters results based on the end customer name. Minimum of three characters required.","required":false,"schema":{"type":"string","example":"John"}},{"name":"end_customer_crm_account_number","in":"query","description":"Filters results based on the end customer CRM account number. Minimum of three characters required.","required":false,"schema":{"type":"string","example":"A-3454334"}},{"name":"end_customer_zoom_account_number","in":"query","description":"Filters results based on the end customer Zoom account number. Minimum of three characters required.","required":false,"schema":{"maxLength":10,"minLength":3,"type":"string","example":"4435343789"}},{"name":"sub_reseller_name","in":"query","description":"Filters results based on the sub-reseller name. Minimum of three characters required.","required":false,"schema":{"type":"string","example":"John"}},{"name":"sub_reseller_crm_account_number","in":"query","description":"Filters results based on the sub-reseller CRM account number. Minimum of three characters required.","required":false,"schema":{"type":"string","example":"A-348742"}},{"name":"invoice_owner_crm_account_number","in":"query","description":"The full CRM account number of a sibling account. If this filter is used, only this account's deal registrations will be retrieved.","required":false,"schema":{"type":"string","example":"A-23432"}},{"name":"status","in":"query","description":"Multiple status values (except 'submit failed') can be passed in this filter, separated by comma. Maximum of 10 status values can be included in one request. By default, deal registrations with all status values except 'submit failed' are returned.","required":false,"schema":{"type":"string","example":"submitted, approved, returned","enum":["submitted","pending review","denied","returned","pending sales review","approved","expired","revoked","closed-lost","closed-won","draft","qualification","solution","proof","agreement","finalize","submit failed"]}},{"name":"date_filter_option","in":"query","description":"Filter by the expected or actual close date for the opportunity.","required":false,"schema":{"type":"string","enum":["closeDate"]}},{"name":"date_from","in":"query","description":"The start date for filtering results.","required":false,"schema":{"type":"string","format":"YYYY-MM-DD","example":"2024-10-25"}},{"name":"date_to","in":"query","description":"The end date for filtering results.","required":false,"schema":{"type":"string","format":"YYYY-MM-DD","example":"2025-10-25"}},{"name":"page_size","in":"query","description":"The number of records returned per page in the response.","required":false,"schema":{"maximum":100,"minimum":20,"type":"integer","example":50,"default":20}},{"name":"page_number","in":"query","description":"The page number for retrieving the next page of the result set.","required":false,"schema":{"type":"string","example":"2"}}],"responses":{"200":{"description":"Deal registration for a partner returned successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"required":["dealReg"],"type":"object","properties":{"page_count":{"type":"integer","description":"The total number of pages in the result set.","example":20},"deal_registrations":{"maxItems":100,"type":"array","description":"The list of deal registrations.","items":{"type":"object","properties":{"deal_reg_number":{"maxLength":15,"type":"string","description":"The deal registration number for the corresponding deal registration.","example":"DL-135621"},"create_reference_id":{"type":"string","description":"The unique reference ID for this deal registration. Use this ID for checking the status.","example":"DRR-4834729"},"deal_name":{"type":"string","description":"The name for the deal.","example":"New deal for Zoom Phone"},"invoice_owner_crm_account_number":{"type":"string","description":"The CRM account number for the invoice owner.","example":"A-4567"},"opportunity_stage":{"type":"string","description":"The current stage for this deal registration.","example":"Closed-Won","enum":["submitted","pending review","denied","returned","pending sales review","approved","expired","revoked","closed-lost","closed-won","draft","qualification","solution","proof","agreement","finalize"]},"submitted_date":{"type":"string","description":"The date this deal registration was submitted.","format":"YYYY-MM-DD","example":"2023-10-25"},"expected_closed_date":{"type":"string","description":"The expected close date for the opportunity. Must be today or a future date.","format":"YYYY-MM-DD","example":"2024-10-25"},"estimated_mrr":{"type":"integer","description":"The estimated size of the opportunity in monthly recurring revenue.","example":1000000},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the deal currency.","example":"USD"},"program_name":{"type":"string","description":"The program under which the deal is being registered.","example":"Direct Reseller Registration","enum":["Direct Reseller Registration","Indirect Reseller Registration","TSD Agent Registration","Bill on Behalf Registration","Direct Referral Registration","Standard Referral Registration","Zoom X Registration"]},"original_expiry_date":{"type":"string","description":"The original expiration date for the deal.","format":"YYYY-MM-DD","example":"2023-10-25"},"extended_expiry_date":{"type":"string","description":"The extended expiration date for the deal.","format":"YYYY-MM-DD","example":"2023-10-25"},"partner_sales_rep":{"type":"string","description":"The partner sales representative name.","example":"John Doe"},"zoom_account_executive":{"type":"string","description":"The Zoom Account Executive associated with this deal registration.","example":"John Doe"},"zoom_cam":{"type":"string","description":"The Zoom Channel Account Manager associated with this deal registration.","example":"John Doe"},"status":{"type":"string","description":"The deal registration status.","example":"submitted","enum":["submitted","pending review","denied","returned","pending sales review","approved","expired","revoked","closed-lost","closed-won","draft","qualification","solution","proof","agreement","finalize","submit failed"]},"end_customer":{"type":"object","properties":{"crm_account_number":{"type":"string","description":"The end customer's CRM account number.","example":"A-1232"},"account_name":{"type":"string","description":"The end customer's name.","example":"ABC Pvt Ltd"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"The type of address: `billTo`, `shipTo`, and `soldTo`.","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":200,"type":"string","description":"The street address.","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"The street address.","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"The street address.","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"The city's name.","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"The postal number or zip code.","example":"95114"},"state":{"maxLength":20,"type":"string","description":"The state or province.","example":"PA"},"country":{"maxLength":3,"type":"string","description":"The ISO code for the country.","example":"US"}},"description":"The details of the address."},"department":{"type":"string","description":"The end customer's division or department.","example":"Engineering","enum":["Engineering","Executives","Finance","HR","IT","Marketing","Sales","Site-Wide"," Other"]},"industry":{"type":"string","description":"The industry category that best describes the end customer's products or services. Supported values are Commercial, FED, SLED, Education, Federal, and State & Local.","example":"Commercial","enum":["Commercial","FED","SLED","Education","Federal","State & Local"]},"account_local_name":{"type":"string","description":"The account name in local language.","example":"ABC Pvt Ltd"},"employee_count":{"type":"string","description":"The company's employee count. Supported values are 'Just Me', '2-10', '11-50', '51-250', '251-500', '501-1000', '1001-5000', '5001-10000', and '10000+'.","example":"2-10","enum":["Just Me","2-10","11-50","51-250","251-500","501-1000","1001-5000","5001-10000","10000+"]},"website":{"type":"string","description":"The company's website. Must not be any social media handle or Facebook, Google, and eBay shopping front.","example":"www.zoom.com"}},"description":"The end customer associated with the deal registration."},"opportunity":{"type":"object","properties":{"opportunity_id":{"type":"string","description":"The opportunity ID for the corresponding opportunity associated with the deal registration.","example":"a56b89"},"opportunity_name":{"type":"string","description":"The corresponding opportunity's name.","example":"New sales opportunity"},"opportunity_type":{"type":"string","description":"The corresponding opportunity type.","example":"Sales Channel"},"expected_close_date":{"type":"string","description":"The expected or actual close date for this deal.","format":"YYYY-MM-DD","example":"2023-10-25"},"partner_role":{"type":"string","description":"The role the partner has in this opportunity: Deal Registration, Partner Assist, Incumbent Partner, Fulfilment, and so on.","example":"Deal Registration","enum":["Deal Registration","Partner Assist","Incumbent Partner","Fulfilment","Standard Transaction"]},"channel_sales_motion":{"type":"string","description":"The channel sales motion associated with the opportunity: Direct Reseller, Indirect Reseller, Referral, and so on.","example":"Direct Reseller","enum":["Direct Reseller","Indirect Reseller"]}},"description":"The opportunity's details."}},"description":"The deal registration's summary."}}},"description":"The deal registration's details."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  See details. \n\n **Error Code:** `5201` <br>\n The deal registration number should be at least three characters. <br>\n**Error Code:** `5202` <br>\n The deal registration create reference ID should be at least three characters. <br>\n**Error Code:** `5203` <br>\n The end customer account name should be at least three characters. <br>\n**Error Code:** `5204` <br>\n The CRM account number should be at least three characters. <br>\n**Error Code:** `5205` <br>\n The Zoom account number should be at least three characters. <br>\n**Error Code:** `5247` <br>\n 'submit failed' status filter cannot be included with other status values <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Authorization information is missing or invalid. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  The server encountered an unexpected condition which prevented it from fulfilling the request. \n\n "}},"security":[{"openapi_oauth":["zoom_commerce:read:admin","zoom_commerce:read:deal_registration:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_commerce:read:admin"],"x-granular-scopes":["zoom_commerce:read:deal_registration:admin"]}}},"/commerce/deal_registrations/{dealRegKey}":{"get":{"tags":["Deal Registration"],"summary":"Gets details of a deal registration by the deal registration","description":"Gets details for a deal registration by the deal registration number. <br><b>Note:</b> Check the base URL for sandbox and production environments under the Zoom Commerce section [here](https://developers.zoom.us/docs/api).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_commerce:read:deal_registration:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ","operationId":"getDealRegDetails","parameters":[{"name":"dealRegKey","in":"path","description":"A unique deal registration key. It can be either the deal registration number or deal registration reference ID.","required":true,"schema":{"type":"string","example":"DRR-42432"}}],"responses":{"200":{"description":"Deal registration details returned successfully.","headers":{"x-zm-trackingid":{"description":"A Zoom custom identifier for tracing the API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"deal_reg_number":{"maxLength":15,"type":"string","description":"The deal registration number for the corresponding deal registration.","example":"DL-135621"},"create_reference_id":{"type":"string","description":"The unique reference ID for this deal registration if created using the Deal Registration API. Use this ID for checking the status.","example":"DRR-4834729"},"deal_name":{"type":"string","description":"The name for the deal.","example":"New deal for Zoom Phone"},"deal_description":{"type":"string","description":"The description for the deal.","example":"New deal for Zoom Phone"},"currency":{"maxLength":3,"type":"string","description":"The ISO code for the deal currency.","example":"USD"},"program_name":{"type":"string","description":"The type of opportunity being registered. Supported values: Direct Reseller Registration, Indirect Reseller Registration, TSD Agent Registration, Bill on Behalf Registration, Direct Referral Registration, Standard Referral Registration, and Zoom X Registration.","example":"TSD Agent Registration","enum":["Direct Reseller Registration","Indirect Reseller Registration","TSD Agent Registration","Bill on Behalf Registration","Direct Referral Registration","Standard Referral Registration","Zoom X Registration"]},"opportunity_stage":{"type":"string","description":"The current stage for this deal registration.","example":"closed-won","enum":["submitted","pending review","denied","returned","pending sales review","approved","expired","revoked","closed-lost","closed-won","draft","qualification","solution","proof","agreement","finalize","discovery","review","submitted"]},"submitted_date":{"type":"string","description":"The date this deal registration was submitted.","format":"YYYY-MM-DD","example":"2023-10-25"},"approved_date":{"type":"string","description":"The date this deal registration was approved.","format":"YYYY-MM-DD","example":"2023-10-25"},"denied_date":{"type":"string","description":"The date this deal registration was denied.","format":"YYYY-MM-DD","example":"2023-10-25"},"expected_close_date":{"type":"string","description":"The expected close date for the deal.","format":"YYYY-MM-DD","example":"2023-10-25"},"partner_role":{"type":"string","description":"The role the partner has in this deal: Deal Registration, Partner Assist, Incumbent Partner, Fulfilment, etc.","example":"Deal Registration","enum":["Deal Registration","Partner Assist","Incumbent Partner","Fulfilment","Standard Transaction"]},"original_expiry_date":{"type":"string","description":"The original expiration date for the deal.","format":"YYYY-MM-DD","example":"2023-10-25"},"extended_expiry_date":{"type":"string","description":"The extended expiration date for the deal.","format":"YYYY-MM-DD","example":"2023-10-25"},"sales_representative":{"type":"object","properties":{"self_sales_representative":{"type":"boolean","description":"True if the partner is the sales representative for this deal.","example":true},"sales_rep_contact":{"required":["contact_crm_number"],"type":"object","properties":{"contact_crm_number":{"type":"string","description":"The contact's unique CRM number.","example":"A-12428"},"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"email":{"type":"string","description":"The contact's company email ID. The email domain should be the same as the account domain.","example":"tsmith@somecompany.com"},"title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"}},"description":"The deal registration's contact details."}},"description":"The deal registration's sales representative."},"submitter":{"required":["contact_crm_number"],"type":"object","properties":{"contact_crm_number":{"type":"string","description":"The contact's unique CRM number.","example":"A-12428"},"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"email":{"type":"string","description":"The contact's company email ID. The email domain should be the same as the account domain.","example":"tsmith@somecompany.com"},"title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"}},"description":"The deal registration's contact details."},"related_partner":{"type":"string","description":"Any other partner account related to this deal.","example":"A-1232"},"partner_contacts":{"type":"array","description":"The additional partner contacts who are associated with this deal registration.","items":{"required":["contact_crm_number"],"type":"object","properties":{"contact_crm_number":{"type":"string","description":"The contact's unique CRM number.","example":"A-12428"},"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"email":{"type":"string","description":"The contact's company email ID. The email domain should be the same as the account domain.","example":"tsmith@somecompany.com"},"title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"}},"description":"The deal registration's contact details."}},"is_existing_customer":{"type":"boolean","description":"True if the deal registration is for an existing end customer. False if this is a new customer.","example":false},"sub_reseller":{"type":"object","properties":{"crm_account_number":{"type":"string","description":"The sub reseller's CRM account number.","example":"A-1232"},"account_name":{"type":"string","description":"The sub reseller's name.","example":"ABC Pvt Ltd"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"The type of address: billTo, shipTo, and soldTo.","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":255,"type":"string","description":"The street address.","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"The street address.","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"The street address.","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"The city's name.","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"The postal number or zip code.","example":"95114"},"state":{"maxLength":20,"type":"string","description":"The state or province.","example":"PA"},"country":{"maxLength":3,"type":"string","description":"The ISO code for the country.","example":"US"}},"description":"The details of the address."}},"description":"The sub reseller associated with the deal registration."},"invoice_owner":{"type":"object","properties":{"crm_account_number":{"type":"string","description":"The distributor's CRM account number.","example":"A-1232"},"account_name":{"type":"string","description":"The distributor's name.","example":"ABC Distributors Inc"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"The type of address: billTo, shipTo, and soldTo.","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":255,"type":"string","description":"The street address.","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"The street address.","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"The street address.","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"The city's name.","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"The postal number or zip code.","example":"95114"},"state":{"maxLength":20,"type":"string","description":"The state or province.","example":"PA"},"country":{"maxLength":3,"type":"string","description":"The ISO code for the country.","example":"US"}},"description":"The details of the address."}},"description":"The distributor associated with the deal registration."},"end_customer":{"type":"object","properties":{"crm_account_number":{"type":"string","description":"The end customer's CRM account number.","example":"A-1232"},"account_name":{"type":"string","description":"The end customer's name.","example":"ABC Pvt Ltd"},"address":{"required":["address_type","city","country","line_1","state"],"type":"object","properties":{"address_type":{"type":"string","description":"The type of address: billTo, shipTo, and soldTo.","example":"billTo","enum":["billTo","shipTo","soldTo"]},"line_1":{"maxLength":255,"type":"string","description":"The street address.","example":"55 Almaden Blvd"},"line_2":{"maxLength":200,"type":"string","description":"The street address.","example":"Suite 10"},"line_3":{"maxLength":200,"type":"string","description":"The street address.","example":"Tower A"},"city":{"maxLength":50,"type":"string","description":"The city's name.","example":"San Jose"},"postal_code":{"maxLength":10,"type":"string","description":"The postal number or zip code.","example":"95114"},"state":{"maxLength":20,"type":"string","description":"The state or province.","example":"PA"},"country":{"maxLength":3,"type":"string","description":"The ISO code for the country.","example":"US"}},"description":"The details of the address."},"department":{"type":"string","description":"The end user's customer division or department.","example":"Engineering","enum":["Engineering","Executives","Finance","HR","IT","Marketing","Sales","Site-Wide"," Other"]},"industry":{"type":"string","description":"The industry category that best describes the end customer's products/services. Supported values are Commercial, FED, SLED, Education, Federal, or State & Local.","example":"Commercial","enum":["Commercial","FED","SLED","Education","Federal","State & Local"]},"account_local_name":{"type":"string","description":"The account name in local language.","example":"ABC Pvt Ltd"},"employee_count":{"type":"string","description":"The company's employee count. Supported values are 'Just Me', '2-10', '11-50', '51-250', '251-500', '501-1000', '1001-5000', '5001-10000', or '10000+'.","example":"2-10","enum":["Just Me","2-10","11-50","51-250","251-500","501-1000","1001-5000","5001-10000","10000+"]},"website":{"type":"string","description":"The company's website.","example":"www.zoom.com"}},"description":"The end customer associated with the deal registration."},"end_customer_primary_contact":{"required":["contact_crm_number"],"type":"object","properties":{"contact_crm_number":{"type":"string","description":"The contact's unique CRM number.","example":"A-12428"},"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"email":{"type":"string","description":"The contact's company email ID. The email domain should be the same as the account domain.","example":"tsmith@somecompany.com"},"title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"},"end_customer_contact_domain_reason":{"type":"string","description":"The reason or justification for public domain for the end customer's contact email.","example":"To be provided by customer later"}},"description":"The deal registration's contact details."},"end_customer_other_contacts":{"type":"array","description":"The additional end customer contacts who will be associated with this deal registration.","items":{"required":["contact_crm_number"],"type":"object","properties":{"contact_crm_number":{"type":"string","description":"The contact's unique CRM number.","example":"A-12428"},"first_name":{"type":"string","description":"The contact's first name.","example":"Tracy"},"last_name":{"type":"string","description":"The contact's last name.","example":"Smith"},"email":{"type":"string","description":"The contact's company email ID. The email domain should be the same as the account domain.","example":"tsmith@somecompany.com"},"title":{"type":"string","description":"The contact's job title.","example":"Account Executive"},"phone":{"type":"string","description":"The contact's business phone number.","example":"192837489342"},"end_customer_contact_domain_reason":{"type":"string","description":"The reason or justification for public domain for the end customer's contact email.","example":"To be provided by customer later"}},"description":"The deal registration's contact details."}},"end_customer_website_details":{"type":"object","properties":{"empty_website":{"type":"boolean","description":"True if the end customer doesn't have a website. Default is false.","example":false,"default":false},"empty_website_reason":{"type":"string","description":"The reason why the website is blank. This field is mandatory if empty website is true.","example":"To be provided by customer"},"public_website_reason":{"type":"string","description":"The justification if the website is a public domain.","example":"To be provided by customer"}},"description":"The account website's details."},"is_public_sector":{"type":"boolean","description":"True if the end customer is a public sector customer. Public sector customer means any United States of America federal customer (legislative branch, executive branch, judicial branch, and military services), State and Local customer (all legislative, executive, administrative, and judicial agencies within a State, County, City, or Town), Federal System Integrator customer (government contractors doing work on behalf of (sell-through) or selling to Federal Agencies), Public Higher Education School or Institution customers, or Public K-12 School customers.","example":false},"budget_identified":{"type":"boolean","description":"True if the partner has identified the budget with the end customer's decision maker.","example":false},"buy_gov_skus":{"type":"boolean","description":"True if the end customer is a public sector company and will buy Zoom for Government (ZfG) SKUs.","example":false},"met_decision_maker":{"type":"boolean","description":"True if the partner has met the end customer's decision maker.","example":false},"decision_maker_email":{"type":"string","description":"The email ID for the end customer decision maker.","example":"abc@test.com"},"decision_maker_name":{"type":"string","description":"The name of the decision maker.","example":"John Doe"},"estimated_mrr":{"type":"integer","description":"The estimated size of the opportunity in monthly recurring revenue.","example":100000},"requires_professional_services":{"type":"boolean","description":"True if any professional or managed services are provided as part of this opportunity.","example":false},"professional_services_description":{"type":"string","description":"A description of the partner-led professional or managed services if \"requires_professional_services\" is true.","example":"false"},"professional_services_delivered_by":{"type":"string","description":"Comma-separated list of PSO services delivery agents.","example":"Zoom, Partner","enum":["Zoom","Partner","Third Party"]},"phone_carrier":{"type":"string","description":"Whether the customer has an existing phone carrier agreement. Supported values are \"Yes, and they want to maintain it\", \"Yes, but they are willing to switch\", \"There is no existing agreement\", and \"I don't know\".","example":"There is no existing agreement","enum":["Yes, and they want to maintain it","Yes, but they are willing to switch","There is no existing agreement","I don't know"]},"product_groups":{"type":"array","description":"The Zoom product types for which this deal is eligible.","items":{"required":["name","quantity"],"type":"object","properties":{"name":{"type":"string","description":"Deal registration product group name.","example":"Zoom Workplace (Pro or Biz)","enum":["Zoom Workplace (Pro or Biz)","Zoom Workplace (Biz+)","Zoom Workplace (Ent Essentials)","Zoom Workplace (Ent+/Premier)","Zoom Workplace Add-Ons","Zoom Phone (standalone)","Zoom Revenue Accelerator","Zoom Contact Center","Zoom Spaces","Zoom Build Platform","Workvivo","Professional Services","Support Services"]},"quantity":{"type":"integer","description":"The license quantity.","example":1000}}}},"campaign":{"type":"string","description":"The Zoom campaign that influenced this deal.","example":"Global Zoom Phone Launch"},"sales_activities":{"type":"array","description":"The sales activities associated with this deal.","items":{"required":["date","type"],"type":"object","properties":{"sales_activity_number":{"type":"string","description":"Unique identifier for the sales activity.","example":"ZDRA00011"},"type":{"type":"string","description":"The type of sales activity. Supported values are Zoom Meeting with Customer, Onsite Meeting with Customer, Zoom Demonstration, and Partner SE is Engaged.","example":"Zoom Meeting with Customer","enum":["Zoom Meeting with Customer","Onsite Meeting with Customer","Zoom Demonstration","Partner SE is Engaged"]},"date":{"type":"string","description":"The date of activity in YYYY-MM-DD format.","format":"YYYY-MM-DD","example":"2023-10-25"}},"description":"The sales activities associated with the deal registration."}},"rfp_details":{"type":"object","properties":{"is_rfp":{"type":"boolean","description":"True if the opportunity is part of existing RFP or public tender.","example":false},"rfp_link":{"type":"string","description":"The link to the RFP if publicly posted.","example":"https://www.rfplink.abc.com"},"issue_date":{"type":"string","description":"The date when the RFP was issued, in YYYY-MM-DD format.","format":"YYYY-MM-DD","example":"2023-10-25"},"due_date":{"type":"string","description":"The date when the RFP is due, in YYYY-MM-DD format.","format":"YYYY-MM-DD","example":"2023-10-25"}},"description":"The RFP details for the deal registration."},"zoom_cams":{"type":"object","properties":{"zoom_territory_cam":{"type":"string","description":"The Zoom territory channel account manager.","example":"John Doe"},"zoom_named_cam":{"type":"string","description":"The account manager for the Zoom named channel.","example":"John Doe"},"zoom_distribution_cam":{"type":"string","description":"The account manager for the Zoom distribution channel.","example":"John Doe"}},"description":"The Zoom channel account managers."},"additional_comments":{"type":"string","description":"The additional comments or special considerations for the deal.","example":"customer retention"},"opportunity":{"type":"object","properties":{"opportunity_number":{"type":"string","description":"The opportunity number for the corresponding opportunity associated with the deal registration.","example":"a56b89"},"opportunity_name":{"type":"string","description":"The corresponding opportunity name.","example":"New sales opportunity"},"opportunity_type":{"type":"string","description":"The corresponding opportunity type.","example":"Sales Channel"},"partner_role":{"type":"string","description":"The role partner has in this opportunity: Deal Registration, Partner Assist, Incumbent Partner, Fulfilment, and so on.","example":"Deal Registration","enum":["Deal Registration","Partner Assist","Incumbent Partner","Fulfilment"]},"channel_sales_motion":{"type":"string","description":"The channel sales motion associated with the opportunity: Direct Reseller, Indirect Reseller, Referral, and so on.","example":"Direct Reseller","enum":["Direct Reseller","Indirect Reseller"]},"expected_close_date":{"type":"string","description":"The expected close date for the opportunity.","format":"YYYY-MM-DD","example":"2023-10-25"}},"description":"The opportunity's details."},"status":{"type":"string","description":"The deal registration's status.","example":"submitted","enum":["submitted","pending review","denied","returned","pending sales review","approved","expired","revoked","closed-lost","closed-won","draft","qualification","solution","proof","agreement","finalize","failure"]},"status_detail":{"type":"object","properties":{"return_reason":{"type":"string","description":"The reason why the deal registration request was returned.","example":"RFP link is invalid."},"revoke_reason":{"type":"string","des
[...]
