{"openapi":"3.0.0","info":{"title":"Contact Center","description":"The Contact Center APIs allow developers to interface with [Contact Center](https://developers.zoom.us/docs/contact-center/) features programmatically.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/contact_center/address_books":{"get":{"tags":["Address Books"],"summary":"List address books","description":"Return a list of all address books. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:list_address_books:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listAddressBooks","parameters":[{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"The number of items returned per page.","required":false,"schema":{"maximum":300,"type":"integer","format":"int32","example":30,"default":30}},{"name":"unit_id","in":"query","description":"The address book unit's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Address books list returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":1},"address_books":{"type":"array","description":"Information about the address books.","items":{"type":"object","properties":{"address_book_id":{"type":"string","description":"The address book's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"address_book_name":{"type":"string","description":"The address book's name.","example":"Address Book"},"address_book_description":{"type":"string","description":"The address book's description.","example":"This is an address book."},"total_contacts":{"type":"integer","description":"The address book's total number of contacts.","example":30},"unit_id":{"type":"string","description":"The address book unit's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"unit_name":{"type":"string","description":"The address book unit's name.","example":"Unit"}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1902` <br>\n The `unit_id` field cannot be an empty value. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1901` <br>\n Unit does not exist: $unitId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:list_address_books:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:list_address_books:admin"]}},"post":{"tags":["Address Books"],"summary":"Create an address book","description":"Create an [address book](https://support.zoom.us/hc/en-us/articles/4471544949389). An address book is a collection of consumer information like display names, phone numbers, and locations. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:write:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"createAddressBook","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"unit_id":{"type":"string","description":"The address book's unit ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"address_book_name":{"maxLength":100,"type":"string","description":"The address book's name.","example":"Address Book"},"address_book_description":{"maxLength":256,"type":"string","description":"The address book's description.","example":"This is an address book."}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`   \n \n Address book created.","content":{"application/json":{"schema":{"type":"object","properties":{"address_book_id":{"type":"string","description":"The address book's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"address_book_name":{"maxLength":100,"type":"string","description":"The address book's name.","example":"Address Book"},"address_book_description":{"maxLength":256,"type":"string","description":"The address book's description.","example":"This is an address book."},"unit_id":{"type":"string","description":"The address book unit's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"unit_name":{"type":"string","description":"The address book unit's name.","example":"Unit"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1902` <br>\n The `unit_id` field cannot be an empty value. <br>\n**Error Code:** `1903` <br>\n The `address_book_name` field cannot be an empty value. <br>\n**Error Code:** `2003` <br>\n The address book name is not supported. <br>\n**Error Code:** `2002` <br>\n Address book already exists. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1901` <br>\n Unit does not exist: $unitId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:write:address_book:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:write:address_book:admin"]}}},"/contact_center/address_books/contacts/{contactId}/custom_fields":{"get":{"tags":["Address Books"],"summary":"List a contact's custom fields","description":"List all custom fields on a contact.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:address_book_custom_field:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"ListContactCustomFields","parameters":[{"name":"contactId","in":"path","description":"The contact's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"The number of items returned per page.","required":false,"schema":{"maximum":300,"type":"integer","format":"int32","example":30,"default":30}}],"responses":{"200":{"description":"HTTP Status Code: 200 Contact custom fields are returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"maxLength":100,"type":"string","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"maximum":300,"minimum":1,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"custom_fields":{"type":"array","description":"Array of custom field list.","items":{"required":["custom_field_id","custom_field_name","data_type"],"type":"object","properties":{"custom_field_id":{"maxLength":36,"type":"string","description":"The custom field's ID.","example":"7381d210-360e-4fbd-86e4-33eb7109b084"},"custom_field_name":{"maxLength":30,"type":"string","description":"The custom field's name.","example":"Preferred Contact Method"},"data_type":{"type":"string","description":"The custom field's data type.\n\n* string\n* number\n* boolean\n* email\n* phone - E.164 format\n* percent\n* currency\n* dateTime - unix timestamp\n* pick_list","example":"pick_list","enum":["string","number","boolean","email","phone","percent","currency","dateTime","pick_list"]},"custom_field_value":{"maxLength":512,"type":"string","description":"The contact's custom field value.","example":"phone"},"outdated":{"type":"boolean","description":"Whether the `custom_field_value` is outdated.","example":false}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2101` <br>\n Contact does not exist: $contactId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:address_book_custom_field:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:address_book_custom_field:admin"]}}},"/contact_center/address_books/custom_fields":{"get":{"tags":["Address Books"],"summary":"List an address book's custom fields","description":"Return all address book custom fields.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:address_book_custom_field:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"Listaddressbookcustomfields","parameters":[{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"The number of items returned per page.","required":false,"schema":{"type":"integer","example":30}}],"responses":{"200":{"description":"The address book's custom fields list is returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"type":"number","description":"The number of records returned within a single API call.","example":30},"total_records":{"type":"number","description":"The total number of all the records available across pages.","example":1},"custom_fields":{"type":"array","description":"Information about the address book custom fields.","items":{"required":["custom_field_id","custom_field_name","data_type"],"type":"object","properties":{"custom_field_id":{"maxLength":36,"type":"string","description":"The custom field's ID.","example":"7381d210 Contact Method"},"custom_field_name":{"maxLength":30,"type":"string","description":"The custom field's name.","example":"Preferred Contact Method"},"custom_field_description":{"maxLength":200,"type":"string","description":"The custom field's description.","example":"Custom field for contact method"},"data_type":{"type":"string","description":"The custom field's data type.\n\nstring\nnumber\nboolean\nemail\nphone - E.164 format\npercent\ncurrency\ndateTime - unix timestamp\npick_list","example":"pick_list","enum":["string","number","boolean","email","phone","percent","currency","dateTime","pick_list"]},"default_value":{"maxLength":512,"type":"string","description":"The custom field's default value.","example":"phone"},"pick_list_values":{"maxItems":250,"type":"array","description":"Specify the list of supported values for the picklist. This is only valid when data_type is pick_list.","items":{"maxLength":512,"type":"string","example":"phone"}},"address_books":{"maxItems":50,"type":"array","description":"The address books associated with the custom field.","items":{"type":"object","properties":{"address_book_id":{"maxLength":36,"type":"string","description":"The address book's ID.","example":"X2e_jsLNRkCjI0sQg2kRQQ"},"address_book_name":{"maxLength":100,"type":"string","description":"The address book's name.","example":"Jill's address book"}}}},"use_as_routing_profile_parameter":{"type":"boolean","description":"Whether or not to use the custom fields in the consumer routing profile.","example":true},"use_as_external_url_parameter":{"type":"boolean","description":"Whether or not to use the `custom_field_name` in defining external URLs launched for each engagement.\nWhen set to `true`, the `custom_field_name` should not contain any spaces.","example":false},"show_in_transferred_calls":{"type":"boolean","description":"Whether or not to show the custom fields in calls transferred to Zoom Phone.","example":true},"show_in_inbound_notification":{"type":"boolean","description":"Whether or not to show the custom fields on the inbound engagement notification in the Zoom client.","example":true},"show_in_profile_tab":{"type":"boolean","description":"Whether or not to show the custom fields on the profile tab in the Zoom client.","example":false}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:address_book_custom_field:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:address_book_custom_field:admin"]}},"post":{"tags":["Address Books"],"summary":"Create an address book custom field","description":"Create an address book custom field.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:write:address_book_custom_field:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Createacustomfield","requestBody":{"content":{"application/json":{"schema":{"required":["custom_field_name","data_type"],"type":"object","properties":{"custom_field_name":{"maxLength":30,"type":"string","description":"The custom field's name.","example":"Preferred Contact Method"},"custom_field_description":{"maxLength":200,"type":"string","description":"The custom field's description.","example":"The custom field for contact method"},"data_type":{"type":"string","description":"The custom field's data type.\n\nstring\nnumber\nboolean\nemail\nphone - E.164 format\npercent\ncurrency\ndateTime - unix timestamp\npick_list","example":"pick_list","enum":["string","number","boolean","email","phone","percent","currency","dateTime","pick_list"]},"default_value":{"maxLength":512,"type":"string","description":"The custom field's default value.","example":"phone"},"pick_list_values":{"maxItems":250,"type":"array","description":"Specify the list of supported values for the picklist. This is only valid when `data_type` is `pick_list`.","items":{"maxLength":512,"type":"string","example":"phone"}},"address_book_ids":{"maxItems":50,"type":"array","description":"The address book IDs that should be associated with the custom field.","items":{"maxLength":36,"type":"string","description":"The address book's ID.","example":"X2e_jsLNRkCjI0sQg2kRQQ"}},"use_as_routing_profile_parameter":{"type":"boolean","description":"Controls whether or not to use the custom fields in the consumer routing profile.","example":true},"use_as_external_url_parameter":{"type":"boolean","description":"Controls whether or not to use the `custom_field_name` in defining external URLs launched for each engagement.\nWhen set to `true`, the `custom_field_name` should not contain any spaces.","example":false},"show_in_transferred_calls":{"type":"boolean","description":"Controls whether or not to show the custom fields in calls transferred to Zoom Phone.","example":true},"show_in_inbound_notification":{"type":"boolean","description":"Controls whether or not to show the custom fields on the inbound engagement notification in the Zoom client.","example":true},"show_in_profile_tab":{"type":"boolean","description":"Controls whether or not to show the custom fields on the profile tab in the Zoom client.","example":false}}}}}},"responses":{"201":{"description":"Custom field created.","content":{"application/json":{"schema":{"required":["custom_field_id","custom_field_name","data_type"],"type":"object","properties":{"custom_field_id":{"maxLength":36,"type":"string","description":"The custom field's ID.","example":"7381d210-360e-4fbd-86e4-33eb7109b084"},"custom_field_name":{"maxLength":30,"type":"string","description":"The custom field's name.","example":"Preferred Contact Method"},"custom_field_description":{"maxLength":200,"type":"string","description":"The custom field's description.","example":"The custom field for contact method"},"data_type":{"type":"string","description":"The custom field's data type.\n\nstring\nnumber\nboolean\nemail\nphone - E.164 format\npercent\ncurrency\ndateTime - unix timestamp\npick_list","example":"pick_list","enum":["string","number","boolean","email","phone","percent","currency","dateTime","pick_list"]},"default_value":{"maxLength":512,"type":"string","description":"The custom field's default value.","example":"phone"},"pick_list_values":{"maxItems":250,"type":"array","description":"Specify the list of supported values for the picklist. This is only valid when `data_type` is `pick_list`.","items":{"maxLength":512,"type":"string","example":"phone"}},"address_books":{"maxItems":50,"type":"array","description":"The address books associated with the custom field.","items":{"type":"object","properties":{"address_book_id":{"maxLength":36,"type":"string","description":"The address book's ID.","example":"X2e_jsLNRkCjI0sQg2kRQQ"},"address_book_name":{"maxLength":100,"type":"string","description":"The address book's name.","example":"Jill's address book"}}}},"use_as_routing_profile_parameter":{"type":"boolean","description":"Controls whether or not to use the custom fields in the consumer routing profile.","example":true},"use_as_external_url_parameter":{"type":"boolean","description":"Controls whether or not to use the `custom_field_name` in defining external URLs launched for each engagement.\nWhen set to true, the `custom_field_name` should not contain any spaces.","example":false},"show_in_transferred_calls":{"type":"boolean","description":"Controls whether or not to show the custom fields in calls transferred to Zoom Phone.","example":true},"show_in_inbound_notification":{"type":"boolean","description":"Controls whether or not to show the custom fields on the inbound engagement notification in the Zoom client.","example":true},"show_in_profile_tab":{"type":"boolean","description":"Controls whether or not to show the custom fields on the profile tab in the Zoom client.","example":false}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid field. <br>\n**Error Code:** `2107` <br>\n A custom field with this name already exists: $custom_field_name <br>\n**Error Code:** `2108` <br>\n The data type provided for the custom field is not supported. <br>\n**Error Code:** `2109` <br>\n The default value format does not match the data type. <br>\n**Error Code:** `2110` <br>\n Maximum limit of 4096 custom fields has been exceeded. <br>\n**Error Code:** `2111` <br>\n Custom field name cannot contain spaces when use_as_external_url_parameter is true. <br>\n**Error Code:** `2115` <br>\n Invalid default value. The provided value is not in the list of supported picklist values. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2006` <br>\n Address books does not exist: $addressBookIds. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:write:address_book_custom_field:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:write:address_book_custom_field:admin"]}}},"/contact_center/address_books/custom_fields/{customFieldId}":{"get":{"tags":["Address Books"],"summary":"Get an address book's custom field","description":"Get information about an address book's custom field.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:address_book_custom_field:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Getaaddressbookcustomfield","parameters":[{"name":"customFieldId","in":"path","description":"The custom field's ID.","required":true,"schema":{"maxLength":36,"type":"string","example":"7381d210-360e-4fbd-86e4-33eb7109b084"}}],"responses":{"200":{"description":"The address book's custom field is returned.","content":{"application/json":{"schema":{"required":["custom_field_id","custom_field_name","data_type"],"type":"object","properties":{"custom_field_id":{"maxLength":36,"type":"string","description":"The custom field's ID.","example":"7381d210-360e-4fbd-86e4-33eb7109b084"},"custom_field_name":{"maxLength":30,"type":"string","description":"The custom field's name.","example":"Preferred Contact Method"},"custom_field_description":{"maxLength":200,"type":"string","description":"The custom field's description.","example":"Custom field for contact method"},"data_type":{"type":"string","description":"The custom field's data type.\n\nstring\nnumber\nboolean\nemail\nphone - E.164 format\npercent\ncurrency\ndateTime - unix timestamp\npick_list","example":"pick_list","enum":["string","number","boolean","email","phone","percent","currency","dateTime","pick_list"]},"default_value":{"maxLength":512,"type":"string","description":"The custom field's default value.","example":"phone"},"pick_list_values":{"maxItems":250,"type":"array","description":"Specify the list of supported values for the picklist. This is only valid when data_type is pick_list.","items":{"maxLength":512,"type":"string","example":"phone"}},"address_books":{"maxItems":50,"type":"array","description":"The address books associated with the custom field.","items":{"type":"object","properties":{"address_book_id":{"maxLength":36,"type":"string","description":"The address book's ID.","example":"X2e_jsLNRkCjI0sQg2kRQQ"},"address_book_name":{"maxLength":100,"type":"string","description":"The address book's name.","example":"Jill's address book"}}}},"use_as_routing_profile_parameter":{"type":"boolean","description":"Whether or not to use the custom fields in the consumer routing profile.","example":true},"use_as_external_url_parameter":{"type":"boolean","description":"Whether or not to use the `custom_field_name` in defining external URLs launched for each engagement.\nWhen set to `true`, the `custom_field_name` should not contain any spaces.","example":false},"show_in_transferred_calls":{"type":"boolean","description":"Whether or not to show the custom fields in calls transferred to Zoom Phone.","example":true},"show_in_inbound_notification":{"type":"boolean","description":"Whether or not to show the custom fields on the inbound engagement notification in the Zoom client.","example":true},"show_in_profile_tab":{"type":"boolean","description":"Whether or not to show the custom fields on the profile tab in the Zoom client.","example":false}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2112` <br>\n Custom field does not exist: $customFieldId <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:address_book_custom_field:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:address_book_custom_field:admin"]}},"delete":{"tags":["Address Books"],"summary":"Delete an address book custom field","description":"Delete an address book custom field.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:delete:address_book_custom_field:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Deleteancustomfield","parameters":[{"name":"customFieldId","in":"path","description":"The custom field's ID.","required":true,"schema":{"maxLength":36,"type":"string","example":"7381d210-360e-4fbd-86e4-33eb7109b084"}}],"responses":{"204":{"description":"Custom field deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2112` <br>\n Custom field does not exist: $customFieldId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:delete:address_book_custom_field:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:delete:address_book_custom_field:admin"]}},"patch":{"tags":["Address Books"],"summary":"Update an address book custom field","description":"Update an address book custom field.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:update:address_book_custom_field:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Updateacustomfield","parameters":[{"name":"customFieldId","in":"path","description":"The custom field's ID.","required":true,"schema":{"maxLength":36,"type":"string","example":"7381d210-360e-4fbd-86e4-33eb7109b084"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["custom_field_name","data_type"],"type":"object","properties":{"custom_field_name":{"maxLength":30,"type":"string","description":"The custom field's name.","example":"Preferred Contact Method"},"custom_field_description":{"maxLength":200,"type":"string","description":"The custom field's description.","example":"The custom field for contact method"},"data_type":{"type":"string","description":"The custom field's data type.\n\nstring\nnumber\nboolean\nemail\nphone - E.164 format\npercent\ncurrency\ndateTime - unix timestamp\npick_list","example":"pick_list","enum":["string","number","boolean","email","phone","percent","currency","dateTime","pick_list"]},"default_value":{"maxLength":512,"type":"string","description":"The custom field's default value.","example":"phone"},"pick_list_values":{"maxItems":250,"type":"array","description":"Specify the list of supported values for the picklist. This is only valid when data_type is pick_list.","items":{"maxLength":512,"type":"string","example":"phone"}},"address_book_ids":{"maxItems":50,"type":"array","description":"The address book IDs that should be associated with the custom field.","items":{"maxLength":36,"type":"string","description":"The address book's ID.","example":"X2e_jsLNRkCjI0sQg2kRQQ"}},"use_as_routing_profile_parameter":{"type":"boolean","description":"Whether or not to use the custom fields in the consumer routing profile.","example":true},"use_as_external_url_parameter":{"type":"boolean","description":"Whether or not to use the `custom_field_name` in defining external URLs launched for each engagement.\nWhen set to true, the `custom_field_name` should not contain any spaces.","example":false},"show_in_transferred_calls":{"type":"boolean","description":"Whether or not to show the custom fields in calls transferred to Aoom Pnone.","example":true},"show_in_inbound_notification":{"type":"boolean","description":"Whether or not to show the custom fields on the inbound engagement notification in the Zoom client.","example":true},"show_in_profile_tab":{"type":"boolean","description":"Whether or not to show the custom fields on the profile tab in the Zoom client.","example":false}}}}}},"responses":{"204":{"description":"Custom field updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid field. <br>\n**Error Code:** `2107` <br>\n A custom field with this name already exists: $custom_field_name. <br>\n**Error Code:** `2108` <br>\n The data type provided for the custom field is not supported. <br>\n**Error Code:** `2109` <br>\n The default value format does not match the data type. <br>\n**Error Code:** `2111` <br>\n Custom field name cannot contain spaces when `use_as_external_url_parameter` is `true`. <br>\n**Error Code:** `2115` <br>\n Invalid default value. The provided value is not in the list of supported picklist values. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2112` <br>\n Custom field does not exist: $customFieldId. <br>\n**Error Code:** `2006` <br>\n Address books does not exist: $addressBookIds. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:update:address_book_custom_field:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:update:address_book_custom_field:admin"]}}},"/contact_center/address_books/units":{"get":{"tags":["Address Books"],"summary":"List address book units","description":"Return all address book units. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:list_address_book_units:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listUnits","parameters":[{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"The number of items returned per page.","required":false,"schema":{"maximum":300,"type":"integer","format":"int32","example":30,"default":30}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Units list returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":1},"units":{"type":"array","description":"Information about the address book units.","items":{"type":"object","properties":{"unit_id":{"type":"string","description":"The address book unit's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"unit_name":{"type":"string","description":"The address book unit's name.","example":"Example"},"unit_description":{"type":"string","description":"The address book unit's description.","example":"This is a unit description."}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:list_address_book_units:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:list_address_book_units:admin"]}},"post":{"tags":["Address Books"],"summary":"Create an address book unit","description":"Create an [address book unit](https://support.zoom.us/hc/en-us/articles/4471495629837-Managing-address-book-units). Admins can use address book units to organize several [address books](https://support.zoom.us/hc/en-us/articles/4471544949389#:~:text=An%20address%20book%20is%20a%20collection%20of%20consumer%20information%20like%20display%20names%2C%20phone%20numbers%2C%20and%20locations.). \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:write:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"createUnit","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"unit_name":{"maxLength":255,"type":"string","description":"The address book unit's name.","example":"Example"},"unit_description":{"maxLength":256,"type":"string","description":"The address book unit's description.","example":"This is a unit."}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`   \n \n Unit created.","content":{"application/json":{"schema":{"type":"object","properties":{"unit_id":{"type":"string","description":"The address book unit's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"unit_name":{"maxLength":255,"type":"string","description":"The address book unit's name.","example":"Example"},"unit_description":{"maxLength":256,"type":"string","description":"The address book unit's description.","example":"This is a unit."}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1904` <br>\n Unit already exists. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:write:address_book_unit:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:write:address_book_unit:admin"]}}},"/contact_center/address_books/units/{unitId}":{"get":{"tags":["Address Books"],"summary":"Get an address book unit","description":"Get information about an address book unit. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getUnit","parameters":[{"name":"unitId","in":"path","description":"The address book unit's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Unit returned.","content":{"application/json":{"schema":{"type":"object","properties":{"unit_id":{"type":"string","description":"The address book unit's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"unit_name":{"type":"string","description":"The address book unit's name.","example":"Example"},"unit_description":{"type":"string","description":"The address book unit's description.","example":"This is a unit description."}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1901` <br>\n Unit does not exist: $unitId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:address_book_unit:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:address_book_unit:admin"]}},"delete":{"tags":["Address Books"],"summary":"Delete an address book unit","description":"Delete an address book unit. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:delete:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"deleteUnit","parameters":[{"name":"unitId","in":"path","description":"The address book unit's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n Unit deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1905` <br>\n Salesforce integration unit cannot be updated and deleted. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1901` <br>\n Unit does not exist: $unitId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:delete:address_book_unit:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:delete:address_book_unit:admin"]}},"patch":{"tags":["Address Books"],"summary":"Update an address book unit","description":"Update an address book unit. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:update:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateUnit","parameters":[{"name":"unitId","in":"path","description":"The address book unit's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"unit_name":{"maxLength":255,"type":"string","description":"The address book unit's name.","example":"example"},"unit_description":{"maxLength":256,"type":"string","description":"The address book unit's description.","example":"This is a Demo Unit."}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n Unit updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1905` <br>\n Salesforce integration unit cannot be updated or deleted. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1901` <br>\n Unit does not exist: $unitId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:update:address_book_unit:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:update:address_book_unit:admin"]}}},"/contact_center/address_books/{addressBookId}":{"get":{"tags":["Address Books"],"summary":"Get an address book","description":"Get information about an address book. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getAddressBook","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Address book list returned.","content":{"application/json":{"schema":{"type":"object","properties":{"address_book_id":{"type":"string","description":"The address book's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"address_book_name":{"type":"string","description":"The address book's name.","example":"Address Book"},"address_book_description":{"type":"string","description":"The address book's description.","example":"This is an address book."},"total_contacts":{"type":"integer","description":"The address book's total number of contacts.","example":30},"unit_id":{"type":"string","description":"The address book unit's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"unit_name":{"type":"string","description":"The address book unit's name.","example":"Unit"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:address_book:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:address_book:admin"]}},"delete":{"tags":["Address Books"],"summary":"Delete an address book","description":"Delete an address book. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:delete:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"deleteAddressBook","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n Address Book deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1201` <br>\n Address book does not exist: $addressBookId <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:delete:address_book:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:delete:address_book:admin"]}},"patch":{"tags":["Address Books"],"summary":"Update an address book","description":"Update an address book's information. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:update:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateAddressBook","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"address_book_name":{"maxLength":100,"type":"string","description":"The address book's name.","example":"example"},"address_book_description":{"maxLength":256,"type":"string","description":"The address book's description.","example":"This is a Demo Address Book."}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n Address book updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2004` <br>\n Salesforce integration address book cannot be updated or deleted. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:update:address_book:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:update:address_book:admin"]}}},"/contact_center/address_books/{addressBookId}/contacts":{"get":{"tags":["Address Books"],"summary":"List address book contacts","description":"When the `emails` or `phone_numbers` query parameter is included, the address book returns a maximum of 10,000 contacts.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:list_address_book_contacts:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listContacts","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"The number of items returned per page.","required":false,"schema":{"maximum":300,"type":"integer","format":"int32","example":30,"default":30}},{"name":"emails","in":"query","description":"The contact's email address. Multiple emails can be searched. Only an exact match is supported. Accomodates a maximum of 10 emails.","required":false,"schema":{"maxItems":10,"type":"array","example":["user@example.com"],"items":{"type":"string"}}},{"name":"phone_numbers","in":"query","description":"The contact's phone number. Multiple phone numbers can be searched, Only an exact match is supported. Accomodates a maximum of 10 phone numbers.","required":false,"schema":{"maxItems":10,"type":"array","example":["+12048002447"],"items":{"type":"string"}}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Contacts list returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":1},"contacts":{"type":"array","description":"Information about the contacts.","items":{"required":["contact_id","display_name","phones"],"type":"object","properties":{"contact_id":{"type":"string","description":"The contact's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"display_name":{"maxLength":125,"type":"string","description":"The contact's name.","example":"Jill Chill"},"first_name":{"maxLength":36,"type":"string","description":"The contact's first name.","example":"Jill"},"last_name":{"maxLength":36,"type":"string","description":"The contact's last name.","example":"Chill"},"phone_numbers":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","deprecated":true,"items":{"type":"string","example":"+12048002447"}},"phones":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","items":{"type":"object","properties":{"phone_number":{"type":"string","description":"The phone number.","example":"+12048002447"},"phone_type":{"type":"string","description":"The phone number type.","example":"main","enum":["main","work","home","mobile","other"]}},"description":"Supports up to 5 phone numbers. Only one main phone number is supported."}},"emails":{"maxItems":4,"type":"array","description":"The contact's email addresses.","items":{"type":"string","format":"email","example":"user@example.com"}},"location":{"maxLength":256,"type":"string","description":"The contact's location.","example":"San Jose"},"timezone":{"maxLength":100,"type":"string","description":"The contact's time zone. Refer to this list for supported [timezones](/docs/api/references/abbreviations/#timezones).","example":"America/Los_Angeles"},"account_number":{"maxLength":256,"type":"string","description":"The contact's account number.","example":"112233445566"},"company":{"maxLength":256,"type":"string","description":"The contact's company.","example":"Example"},"role":{"maxLength":256,"type":"string","description":"The contact's role.","example":"Agent"},"address_book_id":{"type":"string","description":"The address book's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"address_book_name":{"type":"string","description":"The address book's name.","example":"Address Book"},"variables":{"type":"array","description":"Information about address book variables.","items":{"type":"object","properties":{"variable_group_id":{"type":"string","description":"The variable group's ID.","example":"afececcd-0c9f-48de-9d19-0c84e8bdfeca"},"variable_id":{"type":"string","description":"The variable's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"variable_name":{"type":"string","description":"The variable's name.","example":"variable demo name"},"data_type":{"type":"string","description":"The variable's data type.","example":"string","enum":["string","boolean"]},"variable_value":{"type":"string","description":"The variable's value.","example":"variable value demo"}}}},"consumer_ids":{"maxItems":10,"type":"array","description":"The consumer IDs associated with the contact.","items":{"type":"string","description":"The consumer's unique ID.","example":"cvC2JxWkToWZsJUenBvNnw"}},"custom_fields_url":{"type":"string","description":"The URL to retrieve contact's custom field list, if the contact custom fields exists. \\r\\nFor security purposes, you must provide an OAuth access token in the authorization header to to retrieve contact's custom field list using this URL. Example:\\r\\ncurl --request GET \\r\\n --url {custom_fields_url} \\r\\n --header 'authorization: Bearer {access_token}' \\r\\n --header 'content-type: application/json'\\r\\n","example":"https://api.zoom.us/v2/contact_center/address_books/custom_fields/contacts/zeYjXoDOS_eV1QmTpj63PQ"}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Number of phone numbers exceeds max limit of 10 <br>\n**Error Code:** `300` <br>\n Number of emails exceeds max limit of 10 <br>\n**Error Code:** `300` <br>\n Invalid phone number <br>\n**Error Code:** `300` <br>\n Invalid email <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:list_address_book_contacts:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:list_address_book_contacts:admin"]}},"post":{"tags":["Address Books"],"summary":"Create an address book contact","description":"Create a new contact in an [address book](https://support.zoom.us/hc/en-us/articles/4471544949389). During an active engagement, the Zoom desktop client will display information from the address book if that customer is a contact in the address book. If the consumer is not in the address book, agents can add a new contact and choose which address book the contact belongs to. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:write:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"createContact","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"jweQeTYDOS_eV1QmTpj63PQ"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["display_name","email","phone_numbers","phones"],"type":"object","properties":{"display_name":{"type":"string","description":"The contact's display name.","example":"Jill Chill"},"first_name":{"type":"string","description":"The contact's first name.","example":"Jill"},"last_name":{"type":"string","description":"The contact's last name.","example":"Chill"},"phone_numbers":{"type":"array","description":"The contact's phone numbers. You must provide this field and/or the `email` field when you create a contact.","deprecated":true,"items":{"type":"string","example":"+12048002447"}},"phones":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","items":{"type":"object","properties":{"phone_number":{"type":"string","description":"The phone number.","example":"+12048002447"},"phone_type":{"type":"string","description":"The phone number type.","example":"main","enum":["main","work","home","mobile","other"]}},"description":"Supports up to 5 phone numbers. Only one main phone number is supported."}},"emails":{"maxItems":4,"type":"array","description":"The contact's email addresses. You must provide either this field or the `phone_numbers` field, or both, when you create a contact.","items":{"type":"string","format":"email","example":"user@example.com"}},"location":{"type":"string","description":"The contact's location.","example":"San Jose"},"timezone":{"maxLength":100,"type":"string","description":"The contact's time zone. Refer to this list for supported [timezones](/docs/api/references/abbreviations/#timezones).","example":"America/Los_Angeles"},"account_number":{"type":"string","description":"The contact's account number.","example":"112233445566"},"company":{"type":"string","description":"The contact's company.","example":"Example"},"role":{"type":"string","description":"The contact's role.","example":"Agent"},"variables":{"type":"array","description":"Information about address book variables.","items":{"type":"object","properties":{"variable_id":{"type":"string","description":"The variable's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"variable_value":{"type":"string","description":"The variable's value.","example":"variable value demo"}}}},"consumer_ids":{"maxItems":10,"type":"array","description":"The consumer IDs to be associated with the contact.","items":{"type":"string","description":"The consumer's unique ID.","example":"cvC2JxWkToWZsJUenBvNnw"}},"custom_fields":{"type":"array","description":"Information about address book's custom fields.","items":{"required":["custom_field_id"],"type":"object","properties":{"custom_field_id":{"maxLength":36,"type":"string","description":"The custom field's ID.","example":"7381d210-360e-4fbd-86e4-33eb7109b084"},"custom_field_value":{"maxLength":512,"type":"string","description":"The custom field's value.","example":"phone"}}}}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`   \n \n Contact created.","content":{"application/json":{"schema":{"required":["display_name","phone_numbers","phones"],"type":"object","properties":{"contact_id":{"type":"string","description":"The contact's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"display_name":{"type":"string","description":"The contact's name.","example":"Jill Chill"},"first_name":{"type":"string","description":"The contact's first name.","example":"Jill"},"last_name":{"type":"string","description":"The contact's last name.","example":"Chill"},"phone_numbers":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","deprecated":true,"items":{"type":"string","example":"+12048002447"}},"phones":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","items":{"type":"object","properties":{"phone_number":{"type":"string","description":"The phone number.","example":"+12048002447"},"phone_type":{"type":"string","description":"The phone number type.","example":"main","enum":["main","work","home","mobile","other"]}},"description":"Supports up to 5 phone numbers. Only one main phone number is supported."}},"emails":{"maxItems":4,"type":"array","description":"The contact's email addresses.","items":{"type":"string","format":"email","example":"user@example.com"}},"location":{"type":"string","description":"The contact's location.","example":"San Jose"},"timezone":{"maxLength":100,"type":"string","description":"The contact's time zone. Refer to this list for supported [timezones](/docs/api/references/abbreviations/#timezones).","example":"America/Los_Angeles"},"account_number":{"type":"string","description":"The contact's account number.","example":"112233445566"},"company":{"type":"string","description":"The contact's company.","example":"Example"},"role":{"type":"string","description":"The contact's role.","example":"Agent"},"address_book_id":{"type":"string","description":"The address book's ID.","example":"jweQeTYDOS_eV1QmTpj63PQ"},"address_book_name":{"type":"string","description":"The address book's name.","example":"Address Book"},"variables":{"type":"array","description":"Information about address book variables.","items":{"type":"object","properties":{"variable_group_id":{"type":"string","description":"The variable group's ID.","example":"afececcd-0c9f-48de-9d19-0c84e8bdfeca"},"variable_id":{"type":"string","description":"The variable's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"variable_name":{"type":"string","description":"The variable's name.","example":"variable demo name"},"data_type":{"type":"string","description":"The variable's data type.","example":"string","enum":["string","boolean"]},"variable_value":{"type":"string","description":"The variable's value.","example":"variable value demo"}}}},"consumer_ids":{"maxItems":10,"type":"array","description":"The consumer IDs associated with the contact.","items":{"type":"string","description":"The consumer's unique ID.","example":"cvC2JxWkToWZsJUenBvNnw"}},"custom_fields_url":{"type":"string","description":"The URL to retrieve contact's custom field list, if the contact custom fields exists. \\r\\nFor security purposes, you must provide an OAuth access token in the authorization header to to retrieve contact's custom field list using this URL. Example:\\r\\ncurl --request GET \\r\\n --url {custom_fields_url} \\r\\n --header 'authorization: Bearer {access_token}' \\r\\n --header 'content-type: application/json'\\r\\n","example":"https://api.zoom.us/v2/contact_center/address_books/custom_fields/contacts/zeYjXoDOS_eV1QmTpj63PQ"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2102` <br>\n At least one of email's or phone's fields should be not empty. <br>\n**Error Code:** `2104` <br>\n The `display_name` field cannot be an empty value. <br>\n**Error Code:** `2005` <br>\n Salesforce integration contact can not be added, updated, or deleted. <br>\n**Error Code:** `2106` <br>\n Invalid consumer IDs: $consumerIds. <br>\n**Error Code:** `2113` <br>\n Contact custom field value `custom_field_value` format does not match the data type. <br>\n**Error Code:** `2114` <br>\n Custom field is invalid: $customFieldId <br>\n**Error Code:** `2116` <br>\n Invalid custom field value `custom_field_value`. The provided value is not in the list of supported picklist values. <br>\n**Error Code:** `2117` <br>\n Invalid time zone: $timezone. <br>\n**Error Code:** `300` <br>\n Invalid phone type. <br>\n**Error Code:** `300` <br>\n Only one main phone number is allowed. <br>\n**Error Code:** `300` <br>\n The maximum number of phones allowed is 5. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:write:address_book_contact:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:write:address_book_contact:admin"]}}},"/contact_center/address_books/{addressBookId}/contacts/{contactId}":{"get":{"tags":["Address Books"],"summary":"Get an address book contact","description":"Use this API to get information about an address book's contact. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getContact","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"jweQeTYDOS_eV1QmTpj63PQ"}},{"name":"contactId","in":"path","description":"The contact's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Contact returned.","content":{"application/json":{"schema":{"required":["contact_id","display_name","phones"],"type":"object","properties":{"contact_id":{"type":"string","description":"The contact's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"display_name":{"type":"string","description":"The contact's name.","example":"Jill Chill"},"first_name":{"type":"string","description":"The contact's first name.","example":"Jill"},"last_name":{"type":"string","description":"The contact's last name.","example":"Chill"},"phone_numbers":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","deprecated":true,"items":{"type":"string","example":"+12048002447"}},"phones":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","items":{"type":"object","properties":{"phone_number":{"type":"string","description":"The phone number.","example":"+12048002447"},"phone_type":{"type":"string","description":"The phone number type.","example":"main","enum":["main","work","home","mobile","other"]}},"description":"Supports up to 5 phone numbers. Only one main phone number is supported."}},"emails":{"maxItems":4,"type":"array","description":"The contact's email addresses.","items":{"type":"string","format":"email","example":"user@example.com"}},"location":{"type":"string","description":"The contact's location.","example":"San Jose"},"timezone":{"maxLength":100,"type":"string","description":"The contact's time zone. Refer to this list for supported [timezones](/docs/api/references/abbreviations/#timezones).","example":"America/Los_Angeles"},"account_number":{"type":"string","description":"The contact's account number.","example":"112233445566"},"company":{"type":"string","description":"The contact's company.","example":"Example"},"role":{"type":"string","description":"The contact's role.","example":"Agent"},"address_book_id":{"type":"string","description":"The address book's ID.","example":"jweQeTYDOS_eV1QmTpj63PQ"},"address_book_name":{"type":"string","description":"The address book's name.","example":"Address Book"},"variables":{"type":"array","description":"Information about address book variables.","items":{"type":"object","properties":{"variable_group_id":{"type":"string","description":"The variable group's ID.","example":"afececcd-0c9f-48de-9d19-0c84e8bdfeca"},"variable_id":{"type":"string","description":"The variable's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"variable_name":{"type":"string","description":"The variable's name.","example":"variable demo name"},"data_type":{"type":"string","description":"The variable's data type.","example":"string","enum":["string","boolean"]},"variable_value":{"type":"string","description":"The variable's value.","example":"variable value demo"}}}},"consumer_ids":{"maxItems":10,"type":"array","description":"The consumer IDs associated with the contact.","items":{"type":"string","description":"The consumer's unique ID.","example":"cvC2JxWkToWZsJUenBvNnw"}},"custom_fields_url":{"type":"string","description":"The URL to retrieve contact's custom field list, if the contact custom fields exists. \\r\\nFor security purposes, you must provide an OAuth access token in the authorization header to to retrieve contact's custom field list using this URL. Example:\\r\\ncurl --request GET \\r\\n --url {custom_fields_url} \\r\\n --header 'authorization: Bearer {access_token}' \\r\\n --header 'content-type: application/json'\\r\\n","example":"https://api.zoom.us/v2/contact_center/address_books/custom_fields/contacts/zeYjXoDOS_eV1QmTpj63PQ"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2101` <br>\n Contact does not exist: $contactId. <br>\n**Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:read:admin","contact_center:read:address_book_contact:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:read:admin"],"x-granular-scopes":["contact_center:read:address_book_contact:admin"]}},"delete":{"tags":["Address Books"],"summary":"Delete an address book contact","description":"Delete an contact from an address book. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:delete:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"contactDelete","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}},{"name":"contactId","in":"path","description":"The contact's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n Contact deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2005` <br>\n Salesforce integration contact can not be added, updated, or deleted. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2101` <br>\n Contact does not exist: $contactId. <br>\n**Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:delete:address_book_contact:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:delete:address_book_contact:admin"]}},"patch":{"tags":["Address Books"],"summary":"Update an address book contact","description":"Use this API to update an address book's contact. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_contact:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:update:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateContact","parameters":[{"name":"addressBookId","in":"path","description":"The address book's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}},{"name":"contactId","in":"path","description":"The contact's ID.","required":true,"schema":{"type":"string","example":"zeYjXoDOS_eV1QmTpj63PQ"}}],"requestBody":{"description":"AddressBook","content":{"application/json":{"schema":{"required":["email","phone_numbers","phones"],"type":"object","properties":{"display_name":{"type":"string","description":"The contact's display name.","example":"Jill Chill"},"first_name":{"type":"string","description":"The contact's first name.","example":"Jill"},"last_name":{"type":"string","description":"The contact's last name.","example":"Chill"},"phone_numbers":{"maxItems":5,"type":"array","description":"The contact's phone numbers. You must provide this field and/or the `email` field when you create a contact.","deprecated":true,"items":{"type":"string","example":"+12048002447"}},"phones":{"maxItems":5,"type":"array","description":"The contact's phone numbers.","items":{"type":"object","properties":{"phone_number":{"type":"string","description":"The phone number.","example":"+12048002447"},"phone_type":{"type":"string","description":"The phone number type.","example":"main","enum":["main","work","home","mobile","other"]}},"description":"Supports up to 5 phone numbers. Only one main phone number is supported."}},"emails":{"maxItems":4,"type":"array","description":"The contact's email addresses. You must provide this field and/or the `phone_numbers` field when you create a contact.","items":{"type":"string","format":"email","example":"user@example.com"}},"location":{"type":"string","description":"The contact's location.","example":"San Jose"},"timezone":{"maxLength":100,"type":"string","description":"The contact's time zone. Refer to this list for supported [timezones](/docs/api/references/abbreviations/#timezones).","example":"America/Los_Angeles"},"account_number":{"type":"string","description":"The contact's account number.","example":"112233445566"},"company":{"type":"string","description":"The contact's company.","example":"Example"},"role":{"type":"string","description":"The contact's role.","example":"Agent"},"variables":{"type":"array","description":"Information about address book variables.","items":{"type":"object","properties":{"variable_id":{"type":"string","description":"The variable's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"variable_value":{"type":"string","description":"The variable's value.","example":"variable value demo"}}}},"consumer_ids":{"maxItems":10,"type":"array","description":"The consumer IDs to be associated with the contact.","items":{"type":"string","description":"The consumer's unique ID.","example":"cvC2JxWkToWZsJUenBvNnw"}},"custom_fields":{"type":"array","description":"Information about address book custom fields.","items":{"type":"object","properties":{"custom_field_id":{"maxLength":36,"type":"string","description":"The custom field's ID.","example":"7381d210-360e-4fbd-86e4-33eb7109b084"},"custom_field_value":{"maxLength":512,"type":"string","description":"The custom field's value.","example":"chat"}}}}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n Contact updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2005` <br>\n Salesforce integration contact cannot be added, updated, or deleted. <br>\n**Error Code:** `2106` <br>\n Invalid consumer Ids: $consumerIds. <br>\n**Error Code:** `2113` <br>\n Contact custom field value `custom_field_value` format does not match the data type. <br>\n**Error Code:** `2114` <br>\n Custom field is invalid: $customFieldId <br>\n**Error Code:** `2116` <br>\n Invalid custom field value `custom_field_value`. The provided value is not in the list of supported picklist values. <br>\n**Error Code:** `2117` <br>\n Invalid time zone: $timezone <br>\n**Error Code:** `300` <br>\n Invalid phone type. <br>\n**Error Code:** `300` <br>\n Only one main phone number is allowed. <br>\n**Error Code:** `300` <br>\n The maximum number of phones allowed is 5. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2101` <br>\n Contact does not exist: $contactId. <br>\n**Error Code:** `2001` <br>\n Address book does not exist: $addressBookId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_contact:write:admin","contact_center:update:address_book_contact:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_contact:write:admin"],"x-granular-scopes":["contact_center:update:address_book_contact:admin"]}}},"/contact_center/system_statuses":{"get":{"tags":["Agent Statuses"],"summary":"List system statuses","description":"Get a list of system statuses. Administrators can create system statuses, such as **Maintenance**.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_preference:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:list_system_statues:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listSystemStatus","parameters":[{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"The number of items returned per page.","required":false,"schema":{"maximum":300,"type":"integer","format":"int32","example":30,"default":30}},{"name":"status_category","in":"query","description":"The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the Users APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).","required":false,"schema":{"type":"string","example":"agent_status","enum":["agent_status","queue_opt_out_and_not_ready_status"]}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \nSystem statuses returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":1},"statuses":{"type":"array","description":"Information about the statuses.","items":{"type":"object","properties":{"status_id":{"type":"string","description":"The status ID.","example":"1"},"status_name":{"type":"string","description":"The user's [availability status](https://support.zoom.us/hc/en-us/articles/4470584918541-Setting-availability-status). \n* Offline. \n* Ready. \n* Not Ready. \n* Occupied. \n* A custom user status, like **Lunch**.","example":"Lunch","enum":["Offline","Ready","Not Ready","Occupied","string"]},"status_type":{"type":"string","description":"The status's type, used to determine default or custom status.","example":"default","enum":["default","custom"]},"status_category":{"type":"string","description":"The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the Users APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).","example":"agent_status","enum":["agent_status","queue_opt_out_and_not_ready_status"]},"enable":{"type":"boolean","description":"Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.","example":true},"status_assigned_queues":{"type":"array","description":"Information about the queues that are using the 'Not Ready' or opt out of queue status.","items":{"type":"object","properties":{"id":{"type":"string","description":"Queue ID.","example":"123"},"value":{"type":"string","description":"Queue name.","example":"customer queue"}}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_preference:read:admin","contact_center:read:list_system_statues:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_preference:read:admin"],"x-granular-scopes":["contact_center:read:list_system_statues:admin"]}},"post":{"tags":["Agent Statuses"],"summary":"Create a system status","description":"Create custom statuses for the `agent_status` and `queue_opt_out_and_not_ready_status` categories. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_preference:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:write:system_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"createSystemStatus","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status_name":{"type":"string","description":"The status's name.","example":"Lunch"},"status_category":{"type":"string","description":"The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the **Users** APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).","example":"agent_status","enum":["agent_status","queue_opt_out_and_not_ready_status"]},"enable":{"type":"boolean","description":"Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set a status as a sub-status for **Not Ready** or **Queue Opt Out**.","example":true,"default":true},"status_assigned_queues":{"type":"array","description":"Queues that the 'Not Ready' or opt out of queue status will be assigned to.","items":{"type":"object","properties":{"id":{"type":"string","description":"Queue ID.","example":"123"}}}}}}}}},"responses":{"201":{"description":"System status successfully created.","content":{"application/json":{"schema":{"type":"object","properties":{"status_id":{"type":"string","description":"The status ID.","example":"1"},"status_name":{"type":"string","description":"The user's [availability status](https://support.zoom.us/hc/en-us/articles/4470584918541-Setting-availability-status). \n* Offline \n* Ready \n* Not Ready \n* Occupied \n* A custom user status, like **Lunch**.","example":"Lunch","enum":["Offline","Ready","Not Ready","Occupied"]},"status_type":{"type":"string","description":"The status's type, used to determine default or custom status.","example":"default","enum":["default","custom"]},"status_category":{"type":"string","description":"The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the **Users** APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).","example":"agent_status","enum":["agent_status","queue_opt_out_and_not_ready_status"]},"enable":{"type":"boolean","description":"Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.","example":true}},"description":"Information about the user's status."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1105` <br>\n Can't create more custom `agent_status` because there's a maximum of 15. <br>\n**Error Code:** `1106` <br>\n Can't create more custom `queue_opt_out_and_not_ready_status` because there's a maximum of 15. <br>\n**Error Code:** `1107` <br>\n Creating the status. Please wait a moment. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1104` <br>\n Status category does not exist: $status_category. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_preference:write:admin","contact_center:write:system_status:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_preference:write:admin"],"x-granular-scopes":["contact_center:write:system_status:admin"]}}},"/contact_center/system_statuses/{statusId}":{"get":{"tags":["Agent Statuses"],"summary":"Get a system status","description":"Get information about a system status. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_preference:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:system_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getAStatus","parameters":[{"name":"statusId","in":"path","description":"The status ID.","required":true,"schema":{"type":"string","example":"1"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \nSystem status returned.","content":{"application/json":{"schema":{"type":"object","properties":{"status_id":{"type":"string","description":"The status ID.","example":"1"},"status_name":{"type":"string","description":"The user's [availability status](https://support.zoom.us/hc/en-us/articles/4470584918541-Setting-availability-status). \n* Offline. \n* Ready. \n* Not Ready. \n* Occupied. \n* A custom user status, like **Lunch**.","example":"Lunch","enum":["Offline","Ready","Not Ready","Occupied"]},"status_type":{"type":"string","description":"The status's type, used to determine default or custom status.","example":"default","enum":["default","custom"]},"status_category":{"type":"string","description":"The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the Users APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).","example":"agent_status","enum":["agent_status","queue_opt_out_and_not_ready_status"]},"enable":{"type":"boolean","description":"Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.","example":true},"status_assigned_queues":{"type":"array","description":"Information about the queues that are using the 'Not Ready' or opt out of queue status.","items":{"type":"object","properties":{"id":{"type":"string","description":"Queue ID.","example":"123"},"value":{"type":"string","description":"Queue name.","example":"customer queue"}}}}},"description":"Information about the user's status."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1101` <br>\n Status does not exist: $statusId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_preference:read:admin","contact_center:read:system_status:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_preference:read:admin"],"x-granular-scopes":["contact_center:read:system_status:admin"]}},"delete":{"tags":["Agent Statuses"],"summary":"Delete a system status","description":"Delete a custom status for the `agent_status` and `queue_opt_out_and_not_ready_status categories`.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_preference:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:delete:system_status:admin`","operationId":"deleteSystemStatus","parameters":[{"name":"statusId","in":"path","description":"The status ID.","required":true,"schema":{"type":"string","example":"1"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`  \n \nSystem status deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1108` <br>\n Status is default. Only custom statuses can be modified. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1101` <br>\n Status does not exist: $statusId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_preference:write:admin","contact_center:delete:system_status:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_preference:write:admin"],"x-granular-scopes":["contact_center:delete:system_status:admin"]}},"patch":{"tags":["Agent Statuses"],"summary":"Update a system status","description":"Update a custom status for the `agent_status` and `queue_opt_out_and_not_ready_status` categories. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_preference:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:update:system_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateSystemStatus","parameters":[{"name":"statusId","in":"path","description":"The status ID.","required":true,"schema":{"type":"string","example":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status_name":{"type":"string","description":"The status's name.","example":"Lunch"},"enable":{"type":"boolean","description":"Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.","example":true,"default":true},"status_assigned_queues":{"type":"array","description":"Queues that the 'Not Ready' or opt out of queue status will be assigned to.","items":{"type":"object","properties":{"id":{"type":"string","description":"Queue ID.","example":"123"}}}}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \nSystem status updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Parameter `status_name` is required. <br>\n**Error Code:** `1103` <br>\n The system status already exists. <br>\n**Error Code:** `1107` <br>\n Updating status. Please wait a moment. <br>\n**Error Code:** `1108` <br>\n Status is default. Only custom statuses can be modified. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1101` <br>\n Status does not exist: $statusId. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_preference:write:admin","contact_center:update:system_status:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_preference:write:admin"],"x-granular-scopes":["contact_center:update:system_status:admin"]}}},"/contact_center/asset_library/assets":{"get":{"tags":["Asset Library"],"summary":"List assets","description":"List Contact Center assets.\n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_asset_library:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center:read:asset_library:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listAssets","parameters":[{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"asset_type","in":"query","description":"The asset's type. \nIf you want to query based on multiple types, concatenate the types with commas.","required":false,"schema":{"maxLength":100,"type":"string","example":"audio,image","enum":["audio","image","script","slides","text","video","saved_reply"]}},{"name":"asset_language_code","in":"query","description":"The asset's language code enum.\nTo query based on multiple langauges, comma-separate the langauges.","required":false,"schema":{"maxLength":200,"type":"string","example":"en-US,ja-JP","enum":["zh-CN","zh-TW","yue-CN","cmn-CN","da-DK","nl-NL","en-AU","en-NZ","en-GB","en-US","fr-CA","fr-FR","de-DE","it-IT","ja-JP","ko-KR","pl-PL","pt-BR","pt-PT","ro-RO","ru-RU","es-ES","es-MX","es-US","sv-SE","tr-TR"]}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"maximum":300,"minimum":1,"type":"integer","format":"int32","example":30,"default":30}},{"name":"asset_item_name","in":"query","description":"The asset item's name.","required":false,"schema":{"maxLength":150,"type":"string","example":"asset item name"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \nAssets returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"maxLength":100,"type":"string","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"},"page_size":{"maximum":300,"minimum":1,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"minimum":0,"type":"integer","description":"The total number of all the records available across pages.","example":10},"assets":{"type":"array","description":"Array of assets.","items":{"type":"object","properties":{"asset_id":{"type":"string","description":"The asset's ID.","example":"zeYjXoDOS_eV1QmTpj63PQ"},"asset_name":{"type":"string","description":"The asset's name.","example":"My asset name."},"asset_description":{"type":"string","description":"The asset's description.","example":"My asset description."},"asset_type":{"type":"string","description":"The asset's type.","example":"image","enum":["audio","image","script","slides","text","video","saved_reply"]},"asset_category_id":{"type":"string","description":"The asset's category ID.","example":"8ONs9XW4S9a2Lco9O0GdCw"},"asset_category_name":{"type":"string","description":"The asset's category name.","example":"Sales Category"},"asset_language_code":{"type":"string","description":"The asset's language code.","example":"zh-CN","enum":["zh-CN","zh-TW","yue-CN","cmn-CN","da-DK","nl-NL","en-AU","en-NZ","en-GB","en-US","fr-CA","fr-FR","de-DE","it-IT","ja-JP","ko-KR","pl-PL","pt-BR","pt-PT","ro-RO","ru-RU","es-ES","es-MX","es-US","sv-SE","tr-TR"]},"modified_by":{"type":"string","description":"The ID of the user that last modified the asset.","example":"IGTRVt3gQ2i-WjoUIjeZxw"},"last_modified_time":{"type":"string","description":"The date and time when the asset was last modified.","format":"date-time","example":"2022-02-15T09:27:15Z"},"asset_items_url":{"type":"string","description":"If the query parameters include `asset_item_name`, this parameter returns the access URL of the matching asset item; otherwise, this field will return empty.","example":"https://api.zoom.us/v2/contact_center/asset_library/assets/zeYjXoDOS_eV1QmTpj63PQ?asset_item_name=english%20audio"}},"description":"Information about the asset."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation failed. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["contact_center_asset_library:read:admin","contact_center:read:asset_library:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["contact_center_asset_library:read:admin"],"x-granular-scopes":["contact_center:read:asset_library:admin"]}},"post":{"tags":["Asset Library"],"summary":"Create an asset","description":"Create a asset.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_center_asset_library:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `con
[...]
