{"openapi":"3.0.0","info":{"title":"Events","description":" The Webinars Plus & Events APIs let developers integrate [Zoom Webinars Plus & Events](https://developers.zoom.us/docs/events/) to create, manage, and customize virtual event experiences in their apps and services.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/zoom_events/events/{eventId}/attendee_action":{"get":{"tags":["Attendee Actions"],"summary":"List event attendee actions","description":"Retrieves the attendee actions performed by the host for an event.\n \n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_attendee_actions:read`,`zoom_events_attendee_actions:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_attendee_actions`,`zoom_events:read:list_attendee_actions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"ListEventAttendeeActions","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"email","in":"query","description":"The email of attendee.\n","required":false,"schema":{"type":"string","example":"test@example.com"}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a set of large results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}},{"name":"page_size","in":"query","description":"The number of records returned in a single API call. Max 300.","required":false,"schema":{"maximum":300,"type":"integer","example":30,"default":30}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Attendee check-in Information.","content":{"application/json":{"schema":{"title":"Attendee checkins pagination result","type":"object","properties":{"total_records":{"type":"number","description":"The total number of records in the response.","example":1},"next_page_token":{"type":"string","description":"The next page token.","example":"yqT59YnBSHqvDdNnkeHQsA"},"attendees":{"maxItems":300,"type":"array","description":"The list of event attendee actions.","items":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the checked-in attendee.","example":"email@zoom.us"},"source":{"type":"string","description":"The source of the action. Any information that can be used for tracking the source of this action.","example":"Console-1"},"action":{"type":"string","description":"The action name.","example":"Check-in","enum":["check-in"]}},"description":"The attendee and the action performed."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_attendee_actions:read","zoom_events_attendee_actions:read:admin","zoom_events:read:list_attendee_actions","zoom_events:read:list_attendee_actions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_attendee_actions:read","zoom_events_attendee_actions:read:admin"],"x-granular-scopes":["zoom_events:read:list_attendee_actions","zoom_events:read:list_attendee_actions:admin"]}},"patch":{"tags":["Attendee Actions"],"summary":"Update event attendee actions","description":"Retrieves attendee onsite action for an event. You can perform actions such as onsite check-in for a single attendee or up to 300 attendees in a batch operation. In the case of a batch operation, the API response can be a partial success.  Any errors are returned in the **errors** object.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_attendee_actions:write`,`zoom_events_attendee_actions:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:update:batch_attendee_actions`,`zoom_events:update:batch_attendee_actions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateEventAttendeeActions","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"attendees":{"maxItems":300,"type":"array","items":{"required":["action","email"],"type":"object","properties":{"email":{"type":"string","description":"The email address of the attendee.","example":"email@zoom.us"},"action":{"type":"string","description":"The action name.","example":"check-in","enum":["check-in"]}},"description":"The attendee and the action performed."}},"source":{"type":"string","description":"The source of the action. Any information that can be used for tracking the source of this action.","example":"console-1"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`    Attendee check-in Information.","content":{"application/json":{"schema":{"title":"Attendee checkins result","type":"object","properties":{"errors":{"maxItems":300,"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the failed checked-in attendee.","example":"email@zoom.us"},"message":{"type":"string","description":"Error message.","example":"User doesn't have an on-site ticket"}},"description":"The list of check-in failures."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid Request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2003` <br>\n Event Not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_attendee_actions:write","zoom_events_attendee_actions:write:admin","zoom_events:update:batch_attendee_actions","zoom_events:update:batch_attendee_actions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_attendee_actions:write","zoom_events_attendee_actions:write:admin"],"x-granular-scopes":["zoom_events:update:batch_attendee_actions","zoom_events:update:batch_attendee_actions:admin"]}}},"/zoom_events/events/{eventId}/sessions/{sessionId}/attendee_action":{"get":{"tags":["Attendee Actions"],"summary":"List session attendee actions","description":"Retrieves the attendee actions performed by the host for an event session.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_attendee_actions:read`,`zoom_events_attendee_actions:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_session_attendee_actions`,`zoom_events:read:list_session_attendee_actions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"ListSessionAttendeeActions","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"sessionId","in":"path","description":"The ID of the session.","required":true,"schema":{"type":"string","example":"4uzfv3JwTeyR5QpC3PXwMg"}},{"name":"email","in":"query","description":"The email of attendee.\n","required":false,"schema":{"type":"string","example":"test@example.com"}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a set of large results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}},{"name":"page_size","in":"query","description":"The number of records returned in a single API call. Max 300.","required":false,"schema":{"maximum":300,"type":"integer","example":30,"default":30}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Attendee check-in Information.","content":{"application/json":{"schema":{"title":"Attendee checkins pagination result","type":"object","properties":{"total_records":{"type":"number","description":"The total number of records in the response.","example":1},"next_page_token":{"type":"string","description":"The next page token.","example":"yqT59YnBSHqvDdNnkeHQsA"},"attendees":{"maxItems":300,"type":"array","description":"The list of session attendee actions.","items":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the checked-in attendee.","example":"email@zoom.us"},"source":{"type":"string","description":"The source of the action. Any information that can be used for tracking the source of this action.","example":"Console-1"},"action":{"type":"string","description":"The action name.","example":"Check-in","enum":["check-in"]}},"description":"The attendee and the action performed."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid Request.  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_attendee_actions:read","zoom_events_attendee_actions:read:admin","zoom_events:read:list_session_attendee_actions","zoom_events:read:list_session_attendee_actions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_attendee_actions:read","zoom_events_attendee_actions:read:admin"],"x-granular-scopes":["zoom_events:read:list_session_attendee_actions","zoom_events:read:list_session_attendee_actions:admin"]}},"patch":{"tags":["Attendee Actions"],"summary":"Update session attendee actions","description":"Performs attendee onsite action for an event session. You can perform actions such as onsite check-in for a single attendee or up to 300 attendees in a batch operation. In the case of a batch operation, the API response can be a partial success.  Any errors are returned in the **errors** object.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_attendee_actions:write`,`zoom_events_attendee_actions:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:update:batch_session_attendee_actions`,`zoom_events:update:batch_session_attendee_actions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateSessionAttendeeActions","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"sessionId","in":"path","description":"The ID of the session.","required":true,"schema":{"type":"string","example":"4uzfv3JwTeyR5QpC3PXwMg"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"attendees":{"maxItems":300,"type":"array","items":{"required":["action","email"],"type":"object","properties":{"email":{"type":"string","description":"The email address of the attendee.","example":"email@zoom.us"},"action":{"type":"string","description":"The action name.","example":"Check-in","enum":["check-in"]}},"description":"The attendee and the action performed."}},"source":{"type":"string","description":"The source of the action. Any information that can be used for tracking the source of this action.","example":"Console-1"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`    Attendee check-in Information.","content":{"application/json":{"schema":{"title":"Attendee checkins result","type":"object","properties":{"errors":{"maxItems":300,"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the failed checked-in attendee.","example":"email@zoom.us"},"message":{"type":"string","description":"The error message.","example":"User doesn't have an on-site ticket."}},"description":"The list of check-in failures."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2003` <br>\n Event not found. <br>\n**Error Code:** `2005` <br>\n Session not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_attendee_actions:write","zoom_events_attendee_actions:write:admin","zoom_events:update:batch_session_attendee_actions","zoom_events:update:batch_session_attendee_actions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_attendee_actions:write","zoom_events_attendee_actions:write:admin"],"x-granular-scopes":["zoom_events:update:batch_session_attendee_actions","zoom_events:update:batch_session_attendee_actions:admin"]}}},"/zoom_events/events/{eventId}/coeditors":{"get":{"tags":["Co Editors"],"summary":"  List coeditors","description":"Retrieves the list of co-editors and their edit permissions for an event.   Co-editors can make changes to the event details. Co-editors have view permission to all sections of the event.\n\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_coeditors:read`,`zoom_events_coeditors:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_coeditors`,`zoom_events:read:list_coeditors:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getCoEditors","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \n List of co-editors returned.","content":{"application/json":{"schema":{"title":"List of co-editors","type":"object","properties":{"total_records":{"type":"number","description":"The total number of records in the response.","example":1},"coeditors":{"maxItems":3,"type":"array","description":"Co-editors","items":{"title":"Co-editor","type":"object","properties":{"email":{"type":"string","description":"The co-editor's email address.","example":"coeditor@example.com"},"permission_groups":{"maxItems":12,"type":"array","description":"Permission Groups","items":{"type":"string","description":"The permissions given for the co-editor to edit particular sections of the event: \n * `Publish` Event publish access \n * `EventConfiguration` Event Configuration page \n * `EventBranding` Event Branding page \n * `Registration & Join` Registration & Join page \n * `Venue` Event Experience page \n * `EventExperience` Event Experience page \n * `EventPlanning` Event Content page \n * `SpecialRole` Special Roles page \n * `PostEvent` Post Event page \n * `Analytics` Analytics page \n * `Email` Communications page \n * `Integrations` Integrations page","example":"EventConfiguration","enum":["Publish","EventConfiguration","EventBranding","Registration & Join","Venue","EventExperience","EventPlanning","SpecialRole","PostEvent","Analytics","Email","Integrations"]}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_coeditors:read","zoom_events_coeditors:read:admin","zoom_events:read:list_coeditors","zoom_events:read:list_coeditors:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_coeditors:read","zoom_events_coeditors:read:admin"],"x-granular-scopes":["zoom_events:read:list_coeditors","zoom_events:read:list_coeditors:admin"]}},"patch":{"tags":["Co Editors"],"summary":" Add or remove event co-editors","description":"Adds or removes event co-editor actions.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_coeditor:write`,`zoom_events_coeditor:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:write:coeditor`,`zoom_events:write:coeditor:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"coeditoractions","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"operation":{"type":"string","description":"The co-editor actions for the event\n. *`add` &mdash; add co-editor the event. \\n *`update` Update event co-editor permissions \n\n *`delete` delete co-editors from the event.","example":"add","enum":["add","update","delete"]},"coeditors":{"maxItems":3,"type":"array","description":"Co-Editor information.","items":{"title":"co-editor","type":"object","properties":{"email":{"type":"string","description":"The co-editor's email address.","example":"coeditor@example.com"},"permission_groups":{"maxItems":12,"type":"array","description":"Permission Groups.","items":{"type":"string","description":"The permissions given for the co-editor to edit particular sections of the event: \n * `Publish` Event publish access \n * `EventConfiguration` Event Configuration page \n * `EventBranding` Event Branding page \n * `Registration & Join` Registration & Join page \n * `Venue` Event Experience page \n * `EventExperience` Event Experience page \n * `EventPlanning` Event Content page \n * `SpecialRole` Special Roles page \n * `PostEvent` Post Event page \n * `Analytics` Analytics page \n * `Email` Communications page \n * `Integrations` Integrations page","example":"EventConfiguration","enum":["Publish","EventConfiguration","EventBranding","Registration & Join","Venue","EventExperience","EventPlanning","SpecialRole","PostEvent","Analytics","Email","Integrations"]}}}}}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`  \n \n Updates event co-editors.","content":{"application/json":{"schema":{"title":"coeditor action result","type":"object","properties":{"errors":{"maxItems":3,"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":"The email address of the failed co-editor.","example":"email@zoom.us"},"message":{"type":"string","description":"Error message.","example":"User not elgible for co-editor."}},"description":"The list of co-editor failures."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_coeditor:write","zoom_events_coeditor:write:admin","zoom_events:write:coeditor","zoom_events:write:coeditor:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_coeditor:write","zoom_events_coeditor:write:admin"],"x-granular-scopes":["zoom_events:write:coeditor","zoom_events:write:coeditor:admin"]}}},"/zoom_events/events/{eventId}/email_types":{"get":{"tags":["Emails"],"summary":"List event email types","description":"Get the list of email types defined for an event.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_email:read`,`zoom_events_email:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_email_types`,`zoom_events:read:list_email_types:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"listEmailTypes","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"status","in":"query","description":"The email delivery status. \n * `scheduled - Scheduled`  \n *  `ongoing - ongoing`  \n *  `sent - sent - done`  \n * `deactivated - this email is deactivated`","required":false,"schema":{"type":"string","example":"scheduled","enum":["scheduled","ongoing","sent","deactivated"]}},{"name":"page_size","in":"query","description":"The number of records returned in a single API call. Max 300","required":false,"schema":{"maximum":300,"type":"integer","example":30,"default":30}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}}],"responses":{"200":{"description":"Email types","content":{"application/json":{"schema":{"title":"List of email types","type":"object","properties":{"total_records":{"type":"number","description":"The total number of records.","example":15},"next_page_token":{"type":"string","description":"The next page token paginates through a large set results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"oLVRGBTZXI6Kt7zv0gb8Qy4h8cLNbzK1ig2"},"email_types":{"maxItems":300,"type":"array","description":"Email types array.","items":{"title":"Email types","type":"object","properties":{"email_type":{"type":"string","description":"The email type name.","example":"Free ticket confirmation"},"email_type_id":{"type":"string","description":"The email type ID.","example":"SLar6n5ATsWSqZ_EZv_9jw"},"trigger_overview":{"type":"string","description":"The email trigger information.","example":"Sent when user is registered"},"trigger_date":{"type":"string","description":"The trigger date-time of the email.","format":"date-time","example":"2025-08-24T22:30:00Z"},"status":{"type":"string","description":"The email delivery status. \n * `scheduled - Scheduled`  \n *  `ongoing - ongoing`  \n *  `sent - sent - done`  \n * `deactivated - this email is deactivated`","example":"scheduled","enum":["scheduled","ongoing","sent","deactivated"]}},"description":"The event email types."}}}}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_email:read","zoom_events_email:read:admin","zoom_events:read:list_email_types","zoom_events:read:list_email_types:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_email:read","zoom_events_email:read:admin"],"x-granular-scopes":["zoom_events:read:list_email_types","zoom_events:read:list_email_types:admin"]}}},"/zoom_events/events/{eventId}/email_types/{emailTypeId}/send_status":{"get":{"tags":["Emails"],"summary":"List event emails sent status","description":"Get the list of email sent status for an event email type.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_email:read`,`zoom_events_email:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_emails_status`,`zoom_events:read:list_emails_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"listEmailSentStatuses","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"emailTypeId","in":"path","description":"The email type ID. Get this value from the list event email types API.","required":true,"schema":{"type":"string","example":"jNqLPC6hSFiZ9NpgjA549w"}},{"name":"status","in":"query","description":"The email delivery status.\n* `scheduled` - Scheduled to send\n* `pending` - Pending or ready to send\n* `delivered` - Email sent successfully\n* `failed` - Email delivery failed\n* `missed_schedule` - Missed the original schedule date-time","required":false,"schema":{"type":"string","example":"pending","enum":["scheduled","pending","delivered","failed","missed_schedule"]}},{"name":"search_text","in":"query","description":"The search word for searching the emails.","required":false,"schema":{"type":"string","example":"John"}},{"name":"page_size","in":"query","description":"The number of records returned in a single API call. Max 300.","required":false,"schema":{"maximum":300,"type":"integer","example":30,"default":30}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. It is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}}],"responses":{"200":{"description":"Email send details.","content":{"application/json":{"schema":{"title":"List of emails","type":"object","properties":{"total_records":{"type":"number","description":"The total number of records.","example":1},"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. The next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"oLVRGBTZXI6Kt7zv0gb8Qy4h8cLNbzK1ig2"},"emails":{"maxItems":300,"type":"array","description":"Array of emails.","items":{"title":"Emails","type":"object","properties":{"name":{"type":"string","description":"The recipient name.","example":"John Doe"},"email":{"type":"string","description":"The email address of the recipient.","example":"john.doe@test.com"},"status":{"type":"string","description":"The email delivery status.\n* `scheduled` - Scheduled to send\n* `pending` - Pending or ready to send\n* `delivered` - Email sent successfully\n* `failed` - Email delivery failed\n* `missed_schedule` - Missed the original schedule date-time","example":"delivered","enum":["scheduled","pending","delivered","failed","missed_schedule"]},"failure_reason":{"type":"string","description":"The email failure reason.\n* `bounced` - The email was bounced\n* `system_error` - Network error - Please try sending again\n* `blocked` - This email was blocked and hence not sent\n* `rate_limited` - Daily email limit met\n* `unsubscribed` - This email was unsubscribed from email communications","example":"bounced","enum":["bounced","system_error","blocked","rate_limited","unsubscribed"]},"sent_date":{"type":"string","description":"The actual sent date-time of the email.","format":"date-time","example":"2025-08-24T22:30:00Z"}},"description":"The event email delivery status."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_email:read","zoom_events_email:read:admin","zoom_events:read:list_emails_status","zoom_events:read:list_emails_status:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_email:read","zoom_events_email:read:admin"],"x-granular-scopes":["zoom_events:read:list_emails_status","zoom_events:read:list_emails_status:admin"]}}},"/zoom_events/events/{eventId}/access_links":{"get":{"tags":["Event Access"],"summary":"List event access links","description":"Retrieves a list of all the event's access links associated with the event.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus or Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_access_links:read:admin`,`zoom_events_access_links:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_access_links`,`zoom_events:read:list_access_links:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getEventAccessLinks","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \n List of events access links.","content":{"application/json":{"schema":{"title":"Event's Access","type":"object","properties":{"access_links":{"maxItems":300,"type":"array","description":"The list of event's access links.","items":{"title":"Access Link information","type":"object","properties":{"access_link_id":{"type":"string","description":"The event access link ID.","example":"234kjhg23kl4jhlaksjdh3"},"name":{"type":"string","description":"The name of the access link.","example":"Event Access Link 1"},"type":{"type":"string","description":"The type of access link of the event. \n * `registration` - Attendees will be required to authenticate with the email that was used at registration when joining. \n * `group-join` - The attendee group specified by the chosen authentication will join without registration.","example":"registration","enum":["registration","group-join"]},"is_default":{"type":"boolean","description":"The default link ensures compatibility with the event links that are used throughout the attendee experience. These existing event links will operate as a registration link or group join link based upon the default setting.. It will be set to false by default.","example":true},"url":{"type":"string","description":"The event access link.","example":"https://gobranding.zipow.com/ev/Ar7HuZc3rtKwaVqLz0QdBYN-2jTOMeGGgLe-G7JzOUQZTIBOpBaH~Aq9NeHNgGwwg2eyFH7eEtP4bXRXiiYCM8pDiTuTbrigbqJ1uK2K6Ga-Ghg"},"authentication_method":{"type":"string","description":"The event authentication method during registration or during join, depending on the access link type: \n * `zoom_account` Zoom account holder  * `zoom_account_otp` Sign in with Zoom account or with an email OTP  * `corporate_idp` Sign in to external Single Sign-On (SSO)  * `bypass_auth` Bypass authentication * `accelerated_auth` Authentication through vanity url","example":"bypass_auth","enum":["zoom_account","zoom_account_otp","corporate_idp","bypass_auth","accelerated_auth"]},"allow_domain_list":{"maxItems":20000,"type":"array","description":"The registration restricted to these specific domains. This array returns a maximum of 50 domains.","items":{"type":"string","example":"zoom.us"}},"email_restrict_list":{"maxItems":50000,"uniqueItems":true,"type":"array","description":"The registration restricted to users by email addresses. Only these users are allowed to register and these email addresses will receive an email invitation.","items":{"type":"string","example":"example1@email.com"}},"security_at_join":{"type":"object","properties":{"email_authentication":{"type":"boolean","description":"Attendees will be required to authenticate with the email that was used at registration when joining.","example":true},"security_code_verification":{"type":"boolean","description":"Require additional authentication through a security code.","example":true}}},"ticket_type_id":{"type":"string","description":"Ticket Type ID. This establishes the access permissions of the user within the event.","example":"234kjhg23kl4jhlaksjdh3"},"recurring_registration_option":{"type":"string","description":"The recurring event registration type. This is applicable only for recurring events. \n * `all_sessions` One registration for all the sessions. \n * `single_session` Registration only for one session at a time. \n * `multiple_sessions` Registration allowed one or more sessions. ","example":"all_sessions","enum":["all_sessions","single_session","multiple_sessions"]}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n  Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_access_links:read:admin","zoom_events_access_links:read","zoom_events:read:list_access_links","zoom_events:read:list_access_links:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_access_links:read:admin","zoom_events_access_links:read"],"x-granular-scopes":["zoom_events:read:list_access_links","zoom_events:read:list_access_links:admin"]}},"post":{"tags":["Event Access"],"summary":"Create event access link","description":"Creates an access link for an event.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_access_links:write`,`zoom_events_access_links:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:write:access_links`,`zoom_events:write:access_links:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"createEventAccessLink","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Event Access","required":["authentication_method","name","type"],"type":"object","properties":{"name":{"type":"string","description":"The access link's name.","example":"Event Access Link 1"},"type":{"type":"string","description":"The type of access link of the event. \n * `registration` - Attendees will be required to authenticate with the email that was used at registration when joining. \n * `group-join` - The attendee group specified by the chosen authentication will join without registration.","example":"registration","enum":["registration","group-join"]},"is_default":{"type":"boolean","description":"The default link ensures compatibility with the event links that are used throughout the attendee experience. These existing event links will operate as a registration link or group join link based upon the default setting. It will be set to false by default. Only one link is set to default, at any time.","example":false},"authentication_method":{"type":"string","description":"The event authentication method during registration or during join, depending on the access link type. \n * `zoom_account` - Zoom account holder.  * `zoom_account_otp` - Sign in with Zoom account or with an email OTP.  * `corporate_idp` - Sign in to external single sign-on (SSO).  * `bypass_auth` - Bypass authentication. * `accelerated_auth` - Authentication through vanity URL.","example":"bypass_auth","enum":["zoom_account","zoom_account_otp","corporate_idp","bypass_auth","accelerated_auth"]},"allow_domain_list":{"maxItems":20000,"type":"array","description":"The registration restricted to these specific domains. This array returns a maximum of 50 domains.","items":{"type":"string","example":"zoom.us"}},"email_restrict_list":{"maxItems":50000,"uniqueItems":true,"type":"array","description":"The registration restricted to users by email addresses. Only these users are allowed to register and these email addresses will receive an email invitation.","items":{"type":"string","example":"example1@email.com"}},"security_at_join":{"type":"object","properties":{"email_authentication":{"type":"boolean","description":"This field applies only to registration link type. Attendees will be required to authenticate with the email that was used at registration when joining.","example":true},"security_code_verification":{"type":"boolean","description":"Require additional authentication through a security code.","example":true}},"description":"security at the time of joining."},"ticket_type_id":{"type":"string","description":"The ticket type ID. This field applies only to group-join link type. This establishes the access permissions of the user within the event.","example":"PTYwAknYQXaDStOP7O3ExA"},"recurring_registration_option":{"type":"string","description":"The recurring event registration type. This is applicable only for recurring events. \n * `all_sessions` One registration for all the sessions. \n * `single_session` Registration only for one session at a time. \n * `multiple_sessions` Registration allowed one or more sessions. ","example":"all_sessions","enum":["all_sessions","single_session","multiple_sessions"]}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`  \n \n Event access link created successfully.","content":{"application/json":{"schema":{"title":"Event Access Link","type":"object","properties":{"access_link_id":{"type":"string","description":"The event access link ID.","example":"234kjhg23kl4jhlaksjdh3"},"name":{"type":"string","description":"The name of the access link.","example":"Event Access Link 1"},"type":{"type":"string","description":"The type of access link of the event. \n *`registration` - Attendees will be required to authenticate with the email that was used at registration when joining. \n *`group-join` - The attendee group specified by the chosen authentication will join without registration.","example":"registration","enum":["registration","group-join"]},"is_default":{"type":"boolean","description":"The default link ensures compatibility with the event links that are used throughout the attendee experience. These existing event links will operate as a registration link or group join link based upon the default setting. It will be set to false by default.","example":true},"authentication_method":{"type":"string","description":"The event authentication method during registration or during join, depending on the access link type. \n * `zoom_account` Zoom account holder.  * `zoom_account_otp` Sign in with Zoom account or with an email OTP. * `corporate_idp` - Sign in to external single sign-on (SSO).  * `bypass_auth` - Bypass authentication. * `accelerated_auth` - Authentication through vanity URL.","example":"bypass_auth","enum":["zoom_account","zoom_account_otp","corporate_idp","bypass_auth","accelerated_auth"]},"allow_domain_list":{"maxItems":20000,"type":"array","description":"The registration restricted to these specific domains. This array returns a maximum of 50 domains.","items":{"type":"string","example":"zoom.us"}},"email_restrict_list":{"maxItems":50000,"uniqueItems":true,"type":"array","description":"The registration restricted to users by email addresses. Only these users are allowed to register and these email addresses will receive an email invitation.","items":{"type":"string","example":"example1@example.com"}},"security_at_join":{"type":"object","properties":{"email_authentication":{"type":"boolean","description":"This field applies only to registration link type. Attendees will be required to authenticate with the email that was used at registration when joining.","example":true},"security_code_verification":{"type":"boolean","description":"Require additional authentication through a security code.","example":true}},"description":"Security at the time of joining."},"ticket_type_id":{"type":"string","description":"The ticket type ID. This field applies only to group-join link type. This establishes the access permissions of the user within the event.","example":"PTYwAknYQXaDStOP7O3ExA"},"recurring_registration_option":{"type":"string","description":"The recurring event registration type. This is applicable only for recurring events. \n * `all_sessions` One registration for all the sessions. \n * `single_session` Registration only for one session at a time. \n * `multiple_sessions` Registration allowed one or more sessions.","example":"all_sessions","enum":["all_sessions","single_session","multiple_sessions"]}},"description":"Information about the event access link."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `261202` <br>\n The ticket type could not be found. <br>\n**Error Code:** `261203` <br>\n Please ensure that each join link has a unique name.. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_access_links:write","zoom_events_access_links:write:admin","zoom_events:write:access_links","zoom_events:write:access_links:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_access_links:write","zoom_events_access_links:write:admin"],"x-granular-scopes":["zoom_events:write:access_links","zoom_events:write:access_links:admin"]}}},"/zoom_events/events/{eventId}/access_links/{accessLinkId}":{"get":{"tags":["Event Access"],"summary":"Get event access link","description":"Retrieves event access link information.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_access_links:read`,`zoom_events_access_links:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:access_links`,`zoom_events:read:access_links:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetEventAccessLink","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"accessLinkId","in":"path","description":"The event access link ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \n Requested session details.","content":{"application/json":{"schema":{"title":"Event access link","type":"object","properties":{"access_link_id":{"type":"string","description":"The event access link ID.","example":"234kjhg23kl4jhlaksjdh3"},"name":{"type":"string","description":"The name of the access link.","example":"Event Access Link 1"},"type":{"type":"string","description":"The type of access link of the event. \n *`registration` - Attendees will be required to authenticate with the email that was used at registration when joining. \n *`group-join` - The attendee group specified by the chosen authentication will join without registration.","example":"registration","enum":["registration","group-join"]},"is_default":{"type":"boolean","description":"The default link ensures compatibility with the event links that are used throughout the attendee experience. These existing event links will operate as a registration link or group join link based upon the default setting. It will be set to false by default.","example":true},"authentication_method":{"type":"string","description":"The event authentication method during registration or during join, depending on the access link type. \n * `zoom_account` - Zoom account holder.  * `zoom_account_otp` - Sign in with Zoom account or with an email OTP.  * `corporate_idp` - Sign in to external single sign-on (SSO).  * `bypass_auth` - Bypass authentication. * `accelerated_auth` - Authentication through vanity URL.","example":"bypass_auth","enum":["zoom_account","zoom_account_otp","corporate_idp","bypass_auth","accelerated_auth"]},"allow_domain_list":{"maxItems":20000,"type":"array","description":"The registration restricted to these specific domains. This array returns a maximum of 50 domains.","items":{"type":"string","example":"zoom.us"}},"email_restrict_list":{"maxItems":50000,"uniqueItems":true,"type":"array","description":"The registration restricted to users by email addresses. Only these users are allowed to register and these email addresses will receive an email invitation.","items":{"type":"string","example":"example1@example.com"}},"security_at_join":{"type":"object","properties":{"email_authentication":{"type":"boolean","description":"This field applies only to registration link type. Attendees will be required to authenticate with the email that was used at registration when joining.","example":true},"security_code_verification":{"type":"boolean","description":"Require additional authentication through a security code.","example":true}},"description":"Security at the time of joining."},"ticket_type_id":{"type":"string","description":"The ticket type ID. This field applies only to group-join link type. This establishes the access permissions of the user within the event.","example":"PTYwAknYQXaDStOP7O3ExA"},"recurring_registration_option":{"type":"string","description":"The recurring event registration type. This is applicable only for recurring events. \n * `all_sessions` One registration for all the sessions. \n * `single_session` Registration only for one session at a time. \n * `multiple_sessions` Registration allowed one or more sessions. ","example":"all_sessions","enum":["all_sessions","single_session","multiple_sessions"]}},"description":"The information about the event access link."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n**Error Code:** `261201` <br>\n Event access link not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_access_links:read","zoom_events_access_links:read:admin","zoom_events:read:access_links","zoom_events:read:access_links:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_access_links:read","zoom_events_access_links:read:admin"],"x-granular-scopes":["zoom_events:read:access_links","zoom_events:read:access_links:admin"]}},"delete":{"tags":["Event Access"],"summary":"Delete event access link","description":"Deletes an event access link.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus or Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_access_links:write`,`zoom_events_access_links:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:delete:access_links`,`zoom_events:delete:access_links:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"deleteEventAccessLink","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"accessLinkId","in":"path","description":"The event access link ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`   Event access deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n**Error Code:** `261201` <br>\n Event access link not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_access_links:write","zoom_events_access_links:write:admin","zoom_events:delete:access_links","zoom_events:delete:access_links:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_access_links:write","zoom_events_access_links:write:admin"],"x-granular-scopes":["zoom_events:delete:access_links","zoom_events:delete:access_links:admin"]}},"patch":{"tags":["Event Access"],"summary":"Update event access","description":"Updates the event access for an event ID.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_access_links:write`,`zoom_events_access_links:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:update:access_links`,`zoom_events:update:access_links:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateEventAccess","parameters":[{"name":"eventId","in":"path","description":"The event ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}},{"name":"accessLinkId","in":"path","description":"The event access link ID.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Event Access information","type":"object","properties":{"name":{"type":"string","description":"The name of the access link.","example":"Event Access Link 1"},"is_default":{"type":"boolean","description":"The default link ensures compatibility with the event links that are used throughout the attendee experience. These existing event links will operate as a registration link or group join link based upon the default setting. It will be set to false by default. Only one link is set to default, at any time. On;y `true` is considered for update.","example":true},"authentication_method":{"type":"string","description":"The event authentication method during registration or during join, depending on the access link type: \n * `zoom_account` Zoom account holder  * `zoom_account_otp` Sign in with Zoom account or with an email OTP  * `corporate_idp` Sign in to external Single Sign-On (SSO)  * `bypass_auth` Bypass authentication * `accelerated_auth` Authentication through vanity url","example":"bypass_auth","enum":["zoom_account","zoom_account_otp","corporate_idp","bypass_auth","accelerated_auth"]},"allow_domain_list":{"maxItems":20000,"type":"array","description":"The registration restricted to these specific domains. This array returns a maximum of 50 domains.","items":{"type":"string","example":"zoom.us"}},"email_restrict_list":{"maxItems":50000,"uniqueItems":true,"type":"array","description":"The registration restricted to users by email addresses. Only these users are allowed to register and these email addresses will receive an email invitation.","items":{"type":"string","example":"example1@email.com"}},"security_at_join":{"type":"object","properties":{"email_authentication":{"type":"boolean","description":"This field applies only to registration link type. Attendees will be required to authenticate with the email that was used at registration when joining.","example":true},"security_code_verification":{"type":"boolean","description":"Require additional authentication through a security code.","example":true}},"description":"security at the time of joining."},"ticket_type_id":{"type":"string","description":"The ticket type ID. This field applies only to group-join link type. This establishes the access permissions of the user within the event.","example":"PTYwAknYQXaDStOP7O3ExA"},"recurring_registration_option":{"type":"string","description":"The recurring event registration type. This is applicable only for recurring events. \n * `all_sessions` One registration for all the sessions. \n * `single_session` Registration only for one session at a time. \n * `multiple_sessions` Registration allowed one or more sessions. ","example":"all_sessions","enum":["all_sessions","single_session","multiple_sessions"]}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`  \n \n Event access link updated successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `261202` <br>\n The ticket type could not be found. <br>\n**Error Code:** `261203` <br>\n Please ensure that each join link has a unique name.. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n**Error Code:** `261201` <br>\n Event access link not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_access_links:write","zoom_events_access_links:write:admin","zoom_events:update:access_links","zoom_events:update:access_links:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_access_links:write","zoom_events_access_links:write:admin"],"x-granular-scopes":["zoom_events:update:access_links","zoom_events:update:access_links:admin"]}}},"/zoom_events/events":{"get":{"tags":["Events"],"summary":"List events","description":"Retrieves all events associated with the user.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus or Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_basic:read`,`zoom_events_basic:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:list_events`,`zoom_events:read:list_events:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getEvents","parameters":[{"name":"role_type","in":"query","description":"The user role type:\n*`Host` - All hosted events.\n*`Attendee` - All non-hosted ticketed events.","required":false,"schema":{"type":"string","example":"host","default":"attendee","enum":["host","attendee"]}},{"name":"event_status_type","in":"query","description":"The type of event status:\n* `Upcoming` - All upcoming events.\n* `Past` - All past events.\n* `Draft` - All events marked as draft.\n* `Cancelled` - All cancelled events.\n\nFor the `ATTENDEE` role type, only `upcoming` and `past` are valid status types. As a `HOST`, all status types are valid.","required":false,"schema":{"type":"string","example":"upcoming","default":"upcoming","enum":["upcoming","past","draft","cancelled"]}},{"name":"page_size","in":"query","description":"The number of records returned in a single API call. The maximum is 300.","required":false,"schema":{"maximum":300,"type":"integer","example":30,"default":30}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a set of large results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nList of requested events.","content":{"application/json":{"schema":{"title":"Events pagination","type":"object","properties":{"total_records":{"type":"number","description":"The total number of records.","example":1},"next_page_token":{"type":"string","description":"The next page token paginates through a large set results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"oLVRGBTZXI6Kt7zv0gb8Qy4h8cLNbzK1ig2"},"events":{"maxItems":300,"type":"array","items":{"title":"Event information","type":"object","properties":{"event_id":{"type":"string","description":"The ID of the event.","example":"234kj2h34kljgh23lkhj3"},"name":{"type":"string","description":"The name of the event.","example":"OpenAPI Conference Name"},"description":{"type":"string","description":"The description of the event.","example":"This event was created with the OpenAPI"},"timezone":{"type":"string","description":"The timezone of the event.","example":"America/Indianapolis"},"event_type":{"type":"string","description":"The event types as enum:\n * `CONFERENCE` - Multi session event\n * `SIMPLE_EVENT` - Single session event\n * `RECURRING` - Recurring session event","example":"CONFERENCE"},"recurrence":{"type":"object","properties":{"type":{"type":"integer","description":"The type of recurring session: \n* `1` — Daily. \n* `2` — Weekly. \n* `3` — Monthly.","enum":[1,2,3]},"repeat_interval":{"type":"integer","description":"The session's repeat interval: \n* For daily intervals, a max of `90` days. \n* For a weekly interval, a max of `12` weeks. \n* For monthly intervals, a max of `3` months."},"weekly_days":{"type":"string","description":"A comma-separated list of the days of the week on which the recurring weekly session occurs: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday"},"monthly_days":{"maximum":31,"minimum":1,"type":"integer","description":"The day of the month on which the recurring monthly session occurs. The value ranges from 1 to 31."},"monthly_week_day":{"type":"integer","description":"The day of the week on which the recurring monthly session is scheduled: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","enum":[1,2,3,4,5,6,7]},"end_times":{"type":"integer","description":"The number of times the recurring session will occur before it is canceled."},"end_date_time":{"type":"string","description":"The recurring session's final ending date and time before it is canceled, in UTC format.","format":"date-time"},"monthly_week":{"type":"integer","description":"The week of the month on which a recurring session occurs: \n* `-1` — The last week of the month. \n* `1` — The first week. \n* `2` — The second week. \n* `3` — The third week. \n* `4` — The fourth week.","enum":[-1,1,2,3,4]},"duration":{"type":"integer","description":"Session duration in minutes."}},"description":"Information about [recurring sessions](https://marketplace.zoom.us/docs/api-reference/other-references/recurrence-object-definitions)."},"access_level":{"type":"string","description":" The type of [access level](https://support.zoom.us/hc/en-us/articles/13471207223437-Managing-the-Event-Access-tab): * `PUBLIC` - Public events\n* `PRIVATE_UNRESTRICTED` - Private and unrestricted.\n* `PRIVATE_RESTRICTED` - Private and restricted.\n","example":"PRIVATE_RESTRICTED"},"meeting_type":{"type":"string","description":"The type of meeting (for single session and recurring session events): * `MEETING` - Meeting\n * `WEBINAR` - Webinar.","example":"MEETING"},"categories":{"maxItems":20,"type":"array","description":"The category of the event.\n\n**Example:**\n* Education and Family.\n* Business and Networking.\n* Entertainment and Visual Arts.\n* Food and Drinks.\n","items":{"type":"string","example":"Food and Drinks"}},"tags":{"maxItems":200,"type":"array","description":"The tags for the event.","items":{"type":"string","example":"Event tag1"}},"calendar":{"maxItems":6,"type":"array","description":"The start and end time of the calendar invitations in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ","items":{"type":"object","properties":{"start_time":{"type":"string","format":"date-time","example":"2022-06-03T20:51:00Z"},"end_time":{"type":"string","format":"date-time","example":"2022-06-03T20:51:00Z"}}}},"status":{"type":"string","description":"The event status: \nOptions:\n * `PUBLISHED` - Published event\n * `DRAFT` - Draft event","example":"PUBLISHED"},"hub_id":{"type":"string","description":"The ID of the event hub.","example":"23asdfasdf3asdf"},"start_time":{"type":"string","description":"The start time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ","format":"date-time","example":"2022-06-03T20:51:00Z"},"end_time":{"type":"string","description":"The end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ","format":"date-time","example":"2022-06-03T20:51:00Z"},"contact_name":{"type":"string","description":"The contact person's name for the event.","example":"user contact name"},"contact_email":{"type":"string","description":"The contact person's email address for the event.","example":"user@zoom.us"},"lobby_start_time":{"type":"string","description":"The start time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ","format":"date-time","example":"2022-06-03T20:51:00Z"},"lobby_end_time":{"type":"string","description":"The end time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ","format":"date-time","example":"2022-06-03T20:51:00Z"},"event_url":{"type":"string","description":"The defaul event access link.","example":"www.example.com/zoomEvents"},"blocked_countries":{"maxItems":200,"type":"array","items":{"type":"string","description":"The [country's code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#countries).","example":"US"}},"attendance_type":{"type":"string","description":"The type of attendee experience for the event. \n * `virtual`  virtual attendees only \n * `in-person` in-person attendees only \n * `hybrid`  both in-person and virtual attendees","example":"hybrid","enum":["virtual","in-person","hybrid"]},"physical_location":{"type":"string","description":"The physical location of the event. This field is applicable for Hybrid and in-person events only.","example":"801 Mt Vernon Pl NW, Washington, DC 20001"},"tagline":{"type":"string","description":"This field displays under the event detail page image.","example":"Unlocking Innovation: Join Us for the Day of Insipiration and Insight!"}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_basic:read","zoom_events_basic:read:admin","zoom_events:read:list_events","zoom_events:read:list_events:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_basic:read","zoom_events_basic:read:admin"],"x-granular-scopes":["zoom_events:read:list_events","zoom_events:read:list_events:admin"]}},"post":{"tags":["Events"],"summary":"Create an event","description":"Creates an event.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus or Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_basic:write`,`zoom_events_basic:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:write:event`,`zoom_events:write:event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"title":"Event information","required":["access_level","attendance_type","description","event_type","hub_id","name","timezone"],"type":"object","properties":{"name":{"type":"string","description":"The name of the event.","example":"OpenAPI Conference Name"},"description":{"type":"string","description":"The description of the event.","example":"This event was created with the OpenAPI."},"timezone":{"type":"string","description":"The timezone of the event.   For a list of supported timezones and their formats, see our [timezone list](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#timezones).","example":"America/Indianapolis"},"event_type":{"type":"string","description":"The event types as enum:\n *`CONFERENCE` - Multi session events.\n *`SIMPLE_EVENT` - Single session event.\n *`RECURRING` - Recurring sessions event.\n","example":"CONFERENCE","enum":["SIMPLE_EVENT","CONFERENCE","RECURRING"]},"recurrence":{"type":"object","properties":{"type":{"type":"integer","description":"The type of recurring session: \n* `1` — Daily. \n* `2` — Weekly. \n* `3` — Monthly.","example":1,"enum":[1,2,3]},"repeat_interval":{"type":"integer","description":"The session's repeat interval: \n* For daily intervals, a max of `90` days. \n* For a weekly interval, a max of `12` weeks. \n* For monthly intervals, a max of `3` months.","example":1},"weekly_days":{"type":"array","items":{"type":"integer","description":"A list of the days of the week on which the recurring weekly session occurs: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","example":1,"enum":[1,2,3,4,5,6,7]}},"monthly_days":{"type":"array","items":{"maximum":31,"minimum":1,"type":"integer","description":"The day of the month on which the recurring monthly session occurs. The value ranges from 1 to 31.","example":1}},"monthly_week_day":{"type":"integer","description":"The day of the week on which the recurring monthly session is scheduled: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","example":1,"enum":[1,2,3,4,5,6,7]},"end_times":{"type":"integer","description":"The number of times the recurring session will occur before it is canceled.","example":7},"end_date_time":{"type":"string","description":"The recurring session's final ending date and time before it is canceled, in UTC format.","format":"date-time","example":"2022-04-02T15:59:00Z"},"monthly_week":{"type":"integer","description":"The week of the month on which a recurring session occurs: \n* `-1` — The last week of the month. \n* `1` — The first week. \n* `2` — The second week. \n* `3` — The third week. \n* `4` — The fourth week.","example":1,"enum":[-1,1,2,3,4]},"duration":{"type":"integer","description":"Session duration in minutes.","example":15}},"description":"Information about [recurring sessions](https://marketplace.zoom.us/docs/api-reference/other-references/recurrence-object-definitions)."},"access_level":{"type":"string","description":" *`PRIVATE_UNRESTRICTED` - Private and unrestricted.\n *`PRIVATE_RESTRICTED` - Private and restricted.\n","example":"PRIVATE_RESTRICTED"},"meeting_type":{"type":"string","description":"This value is required only for a single session event. \n *`MEETING` - Meeting.\n *`WEBINAR` - Webinar. \n","example":"MEETING"},"categories":{"maxItems":20,"type":"array","description":"The category of the event.\n* Education & Family.\n* Business & Networking.\n* Entertainment & Visual Arts.\n* Food & Drinks. \n* Fitness & Health. \n* Home & Lifestyle \n* Community & Spirituality. \n* Other","items":{"type":"string","example":"Food & Drink"},"enum":["Education & Family","Business & Networking","Entertainment & Visual Arts","Food & Drink","Fitness & Health","Home & Lifestyle","Community & Spirituality","Other"]},"tags":{"maxItems":200,"type":"array","description":"The tags for the event.","items":{"type":"string","example":"Event tag1"}},"calendar":{"maxItems":6,"type":"array","description":"The start and end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","items":{"required":["end_time","start_time"],"type":"object","properties":{"start_time":{"type":"string","description":"The start time of the event in UTC.","format":"date-time","example":"2024-07-28T13:00:00Z"},"end_time":{"type":"string","description":"The start time of the event in UTC.","format":"date-time","example":"2024-07-30T13:00:00Z"}},"description":"Event's start and end time."}},"hub_id":{"type":"string","description":"The ID of the event hub.","example":"23asdfasdf3asdf"},"start_time":{"type":"string","description":"The start time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ` this is read only field.","format":"date-time","example":"2022-06-03T20:51:00Z","deprecated":true},"end_time":{"type":"string","description":"The end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ` this is a read only field.","format":"date-time","example":"2022-06-03T20:51:00Z","deprecated":true},"contact_name":{"type":"string","description":"The contact person's name for the event.","example":"user contact name"},"lobby_start_time":{"type":"string","description":"The start time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"lobby_end_time":{"type":"string","description":"The end time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"blocked_countries":{"maxItems":200,"type":"array","description":"Attendees from the countries listed here will not be allowed to register to the event.","items":{"type":"string","description":"The [country's code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#countries).","example":"US"}},"attendance_type":{"type":"string","description":"The type of attendee experience for the event. \n * `VIRTUAL` - virtual attendees only. \n * `IN-PERSON` - in-person attendees only.\n * `HYBRID` - both in-person and virtual attendees.","example":"hybrid","enum":["virtual","in-person","hybrid"]},"physical_location":{"type":"string","description":"The physical location of the event. This field is applicable for hybrid and in-person events only.","example":"801 Mt Vernon Pl NW, Washington, DC 20001","deprecated":true},"tagline":{"type":"string","description":"This field displays under the event detail page image.","example":"Unlocking Innovation: Join Us for the Day of Insipiration and Insight!"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`  \n \nSuccessfully created an event.","content":{"application/json":{"schema":{"title":"Event information","type":"object","properties":{"event_id":{"type":"string","description":"The ID of the event.","example":"234kj2h34kljgh23lkhj3"},"name":{"type":"string","description":"The name of the event.","example":"OpenAPI Conference Name"},"description":{"type":"string","description":"The description of the event.","example":"This event was created with the OpenAPI"},"timezone":{"type":"string","description":"The timezone of the event.","example":"America/Indianapolis"},"event_type":{"type":"string","description":"The event types as enum:\n *`CONFERENCE` - Multi session event.\n *`SIMPLE_EVENT` - Single session event.\n","example":"CONFERENCE"},"recurrence":{"type":"object","properties":{"type":{"type":"integer","description":"The type of recurring session: \n* `1` — Daily. \n* `2` — Weekly. \n* `3` — Monthly.","enum":[1,2,3]},"repeat_interval":{"type":"integer","description":"The session's repeat interval: \n* For daily intervals, a max of `90` days. \n* For a weekly interval, a max of `12` weeks. \n* For monthly intervals, a max of `3` months."},"weekly_days":{"type":"array","items":{"type":"integer","description":"A list of the days of the week on which the recurring weekly session occurs: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","example":1,"enum":[1,2,3,4,5,6,7]}},"monthly_days":{"type":"array","items":{"maximum":31,"minimum":1,"type":"integer","description":"The day of the month on which the recurring monthly session occurs. The value ranges from 1 to 31.","example":1}},"monthly_week_day":{"type":"integer","description":"The day of the week on which the recurring monthly session is scheduled: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","enum":[1,2,3,4,5,6,7]},"end_times":{"type":"integer","description":"The number of times the recurring session will occur before it is canceled."},"end_date_time":{"type":"string","description":"The recurring session's final ending date and time before it is canceled, in UTC format.","format":"date-time"},"monthly_week":{"type":"integer","description":"The week of the month on which a recurring session occurs: \n* `-1` — The last week of the month. \n* `1` — The first week. \n* `2` — The second week. \n* `3` — The third week. \n* `4` — The fourth week.","enum":[-1,1,2,3,4]},"duration":{"type":"integer","description":"Session duration in minutes."}},"description":"Information about [recurring sessions](https://marketplace.zoom.us/docs/api-reference/other-references/recurrence-object-definitions)."},"access_level":{"type":"string","description":"* `PRIVATE_UNRESTRICTED` - Private and unrestricted.\n* `PRIVATE_RESTRICTED` - Private and restricted.\n","example":"PRIVATE_RESTRICTED"},"meeting_type":{"type":"string","description":"*This value is required only for single session Event `MEETING` - Meeting.\n* `WEBINAR` - Webinar. \n","example":"MEETING"},"categories":{"maxItems":20,"type":"array","description":"The category of the event.\n\n**Example:**\n* Education and Family.\n* Business and Networking.\n* Entertainment and Visual Arts.\n* Food and Drinks.\n","items":{"type":"string","example":"Food and Drinks"}},"tags":{"maxItems":200,"type":"array","description":"The tags for the event.","items":{"type":"string","example":"Event tag1"}},"calendar":{"maxItems":6,"type":"array","description":"The start and end time of the calendar invitations in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","items":{"type":"object","properties":{"start_time":{"type":"string","format":"date-time","example":"2024-07-28T13:00:00Z"},"end_time":{"type":"string","format":"date-time","example":"2024-07-30T13:00:00Z"}}}},"status":{"type":"string","description":"The event status options:\n * `PUBLISHED` - Published event.\n * `DRAFT` - Draft event.","example":"PUBLISHED"},"hub_id":{"type":"string","description":"The ID of the event hub.","example":"23asdfasdf3asdf"},"start_time":{"type":"string","description":"The start time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"end_time":{"type":"string","description":"The end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"contact_name":{"type":"string","description":"The contact person's name for the event.","example":"user contact name"},"lobby_start_time":{"type":"string","description":"The start time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"lobby_end_time":{"type":"string","description":"The end time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"event_url":{"type":"string","description":"The default event access link.","example":"www.example.com/zoomEvents"},"blocked_countries":{"maxItems":200,"type":"array","items":{"type":"string","description":"The [country's code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#countries).","example":"US"}},"attendance_type":{"type":"string","description":"The type of attendee experience for the event. \n *`VIRTUAL` - virtual attendees only. \n *`IN-PERSON` - in-person attendees only. \n *`HYBRID` - both in-person and virtual attendees.","example":"hybrid","enum":["virtual","in-person","hybrid"]},"physical_location":{"type":"string","description":"The physical location of the event. This field is applicable for hybrid and in-person events only.","example":"801 Mt Vernon Pl NW, Washington, DC 20001","deprecated":true},"tagline":{"type":"string","description":"This field displays under the event detail page image.","example":"Unlocking Innovation: Join Us for the Day of Insipiration and Insight!"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `26202` <br>\n Event schedule cannot be more than 6 days. <br>\n**Error Code:** `26203` <br>\n Event end_time must be after event start_time. <br>\n**Error Code:** `26204` <br>\n Calender must contains start_time and end_time. <br>\n**Error Code:** `260207` <br>\n Hub is not supported for conference type events. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `26201` <br>\n No permission to create the event under the hub ID. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_basic:write","zoom_events_basic:write:admin","zoom_events:write:event","zoom_events:write:event:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_basic:write","zoom_events_basic:write:admin"],"x-granular-scopes":["zoom_events:write:event","zoom_events:write:event:admin"]}}},"/zoom_events/events/{eventId}":{"get":{"tags":["Events"],"summary":"Get an event","description":"Returns information on a specified event.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus or Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_basic:read`,`zoom_events_basic:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:read:event`,`zoom_events:read:event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"getEventInfo","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`  \n \nEvent returned.","content":{"application/json":{"schema":{"title":"Event information","type":"object","properties":{"event_id":{"type":"string","description":"The ID of the event.","example":"234kj2h34kljgh23lkhj3"},"name":{"type":"string","description":"The name of the event.","example":"OpenAPI Conference Name"},"description":{"type":"string","description":"The description of the event.","example":"This event was created with the OpenAPI."},"timezone":{"type":"string","description":"The timezone of the event.","example":"America/Indianapolis"},"event_type":{"type":"string","description":"The event types as enum:\n * `CONFERENCE` - Multi session event.\n * `SIMPLE_EVENT` - Single session event. \n * `RECURRING` - Recurring session event.","example":"CONFERENCE"},"recurrence":{"type":"object","properties":{"type":{"type":"integer","description":"The type of recurring session: \n* `1` — Daily. \n* `2` — Weekly. \n* `3` — Monthly.","enum":[1,2,3]},"repeat_interval":{"type":"integer","description":"The session's repeat interval: \n* For daily intervals, a max of `90` days. \n* For a weekly interval, a max of `12` weeks. \n* For monthly intervals, a max of `3` months."},"weekly_days":{"type":"string","description":"A comma-separated list of the days of the week on which the recurring weekly session occurs: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday"},"monthly_days":{"maximum":31,"minimum":1,"type":"integer","description":"The day of the month on which the recurring monthly session occurs. The value ranges from 1 to 31."},"monthly_week_day":{"type":"integer","description":"The day of the week on which the recurring monthly session is scheduled: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","enum":[1,2,3,4,5,6,7]},"end_times":{"type":"integer","description":"The number of times the recurring session will occur before it is canceled."},"end_date_time":{"type":"string","description":"The recurring session's final ending date and time before it is canceled, in UTC format.","format":"date-time"},"monthly_week":{"type":"integer","description":"The week of the month on which a recurring session occurs: \n* `-1` — The last week of the month. \n* `1` — The first week. \n* `2` — The second week. \n* `3` — The third week. \n* `4` — The fourth week.","enum":[-1,1,2,3,4]},"duration":{"type":"integer","description":"Session duration in minutes."}},"description":"Information about [recurring sessions](https://marketplace.zoom.us/docs/api-reference/other-references/recurrence-object-definitions)."},"access_level":{"type":"string","description":"The type of [access level](https://support.zoom.us/hc/en-us/articles/13471207223437-Managing-the-Event-Access-tab):\n* `PUBLIC` - Public events.\n* `PRIVATE_UNRESTRICTED` - Private and unrestricted.\n* `PRIVATE_RESTRICTED` - Private and restricted.\n","example":"PRIVATE_RESTRICTED"},"meeting_type":{"type":"string","description":" The type of meeting (for single session and recurring session events):\n * `MEETING` - Meeting.\n * `WEBINAR` - Webinar.","example":"MEETING"},"categories":{"maxItems":20,"type":"array","description":"The category of the event.\n\n**Example:**\n* Education and Family.\n* Business and Networking.\n* Entertainment and Visual Arts.\n* Food and Drinks.\n","items":{"type":"string","example":"Food and Drinks"}},"tags":{"maxItems":200,"type":"array","description":"The tags for the event.","items":{"type":"string","example":"Event tag1"}},"calendar":{"maxItems":6,"type":"array","description":"The start and end time of the calendar invitations in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","items":{"type":"object","properties":{"start_time":{"type":"string","format":"date-time","example":"2022-06-03T20:51:00Z"},"end_time":{"type":"string","format":"date-time","example":"2022-06-03T20:51:00Z"}}}},"status":{"type":"string","description":"The event status options:\n * `PUBLISHED` - Published event.\n * `DRAFT` - Draft event.","example":"PUBLISHED"},"hub_id":{"type":"string","description":"The ID of the event hub.","example":"23asdfasdf3asdf"},"host_id":{"type":"string","description":"The event host(creator)'s user ID.","example":"XMgGb1i6Qlah8mn3e5GYMX"},"start_time":{"type":"string","description":"The start time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"end_time":{"type":"string","description":"The end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"contact_name":{"type":"string","description":"The contact person's name for the event.","example":"user contact name"},"contact_email":{"type":"string","description":"The contact person's email address for the event.","example":"user@zoom.us"},"lobby_start_time":{"type":"string","description":"The start time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"lobby_end_time":{"type":"string","description":"The end time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"event_url":{"type":"string","description":"The default event access link.","example":"www.example.com/zoomEvents"},"blocked_countries":{"maxItems":200,"type":"array","items":{"type":"string","description":"The [country's code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#countries).","example":"US"}},"attendance_type":{"type":"string","description":"The type of attendee experience for the event. \n * `VIRTUAL` - virtual attendees only. \n * `IN-PERSON` - in-person attendees only. \n * `HYBRID` - both in-person and virtual attendees.","example":"hybrid","enum":["virtual","in-person","hybrid"]},"physical_location":{"type":"string","description":"The physical location of the event. This field is applicable for hybrid and in-person events only.","example":"801 Mt Vernon Pl NW, Washington, DC 20001","deprecated":true},"tagline":{"type":"string","description":"This field displays under the event detail page image.","example":"Unlocking Innovation: Join Us for the Day of Insipiration and Insight!"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid Request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_basic:read","zoom_events_basic:read:admin","zoom_events:read:event","zoom_events:read:event:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_basic:read","zoom_events_basic:read:admin"],"x-granular-scopes":["zoom_events:read:event","zoom_events:read:event:admin"]}},"delete":{"tags":["Events"],"summary":"Delete an event","description":"Delete a draft event.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus or Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_basic:write`,`zoom_events_basic:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:delete:event`,`zoom_events:delete:event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"deleteEvent","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`  \n \nEvent deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid Request. \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zoom_events_basic:write","zoom_events_basic:write:admin","zoom_events:delete:event","zoom_events:delete:event:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zoom_events_basic:write","zoom_events_basic:write:admin"],"x-granular-scopes":["zoom_events:delete:event","zoom_events:delete:event:admin"]}},"patch":{"tags":["Events"],"summary":"Update an event","description":"Updates an event.\n\n**Prerequisites**\n* A Pro or higher account plan\n* A Zoom Webinars Plus / Events license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events_basic:write`,`zoom_events_basic:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_events:update:event`,`zoom_events:update:event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateEvent","parameters":[{"name":"eventId","in":"path","description":"The ID of the event.","required":true,"schema":{"type":"string","example":"kNqLPC6hSFiZ9NpgjA549w"}}],"requestBody":{"content":{"application/json":{"schema":{"title":"Event information","type":"object","properties":{"name":{"type":"string","description":"The name of the event.","example":"OpenAPI Conference Name"},"description":{"type":"string","description":"The description of the event.","example":"This event was created with the OpenAPI"},"timezone":{"type":"string","description":"The timezone of the event.  \n For a list of supported timezones and their formats, see our [timezone list](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#timezones).","example":"America/Indianapolis"},"event_type":{"type":"string","description":"The event types as enum:\n * `CONFERENCE` &mdash; Multi session events.\n * `SIMPLE_EVENT` &mdash; Single session event.\n * `RECURRING` &mdash; Recurring Sessions event.\n","example":"CONFERENCE","enum":["SIMPLE_EVENT","CONFERENCE","RECURRING"]},"recurrence":{"type":"object","properties":{"type":{"type":"integer","description":"The type of recurring session: \n* `1` — Daily. \n* `2` — Weekly. \n* `3` — Monthly.","example":3,"enum":[1,2,3]},"repeat_interval":{"type":"integer","description":"The session's repeat interval: \n* For daily intervals, a max of `90` days. \n* For a weekly interval, a max of `12` weeks. \n* For monthly intervals, a max of `3` months.","example":2},"weekly_days":{"type":"string","description":"A comma-separated list of the days of the week on which the recurring weekly session occurs: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","example":"2"},"monthly_days":{"maximum":31,"minimum":1,"type":"integer","description":"The day of the month on which the recurring monthly session occurs. The value ranges from 1 to 31.","example":3},"monthly_week_day":{"type":"integer","description":"The day of the week on which the recurring monthly session is scheduled: \n* `1` — Sunday \n* `2` — Monday \n* `3` — Tuesday \n* `4` — Wednesday \n* `5` — Thursday \n* `6` — Friday \n* `7` — Saturday","enum":[1,2,3,4,5,6,7]},"end_times":{"type":"integer","description":"The number of times the recurring session will occur before it is canceled.","example":3},"end_date_time":{"type":"string","description":"The recurring session's final ending date and time before it is canceled, in UTC format.","format":"date-time","example":"2022-06-03T20:51:00Z"},"monthly_week":{"type":"integer","description":"The week of the month on which a recurring session occurs: \n* `-1` — The last week of the month. \n* `1` — The first week. \n* `2` — The second week. \n* `3` — The third week. \n* `4` — The fourth week.","example":3,"enum":[-1,1,2,3,4]},"duration":{"type":"integer","description":"Session duration in minutes.","example":30}},"description":"The information about [recurring sessions](https://marketplace.zoom.us/docs/api-reference/other-references/recurrence-object-definitions)."},"access_level":{"type":"string","description":"The type of access level:\n* `PRIVATE_UNRESTRICTED` &mdash; Private and unrestricted.\n* `PRIVATE_RESTRICTED` &mdash; Private and restricted.\n","example":"PRIVATE_RESTRICTED"},"meeting_type":{"type":"string","description":"*This value is required only for single session event: `MEETING`.\n* `WEBINAR` - Webinar. \n  Use session API to update the meeting type.","example":"MEETING","deprecated":true},"categories":{"maxItems":20,"type":"array","description":"The category of the event.\n\n**Example:**\n* Education and Family.\n* Business and Networking.\n* Entertainment and Visual Arts.\n* Food and Drinks.\n","items":{"type":"string","example":"Food and Drinks"}},"tags":{"maxItems":200,"type":"array","description":"The tags for the event.","items":{"type":"string","example":"Event tag1"}},"calendar":{"maxItems":6,"type":"array","description":"The start and end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","items":{"type":"object","properties":{"start_time":{"type":"string","description":"The start time of the event in UTC.","format":"date-time","example":"2022-06-28T20:00:00Z"},"end_time":{"type":"string","description":"The start time of the event in UTC.","format":"date-time","example":"2022-06-30T20:00:00Z"}}}},"hub_id":{"type":"string","description":"The ID of the Event Hub.","example":"23asdfasdf3asdf"},"start_time":{"type":"string","description":"The start time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ` this is a read only field.","format":"date-time","example":"2022-06-03T20:51:00Z","deprecated":true},"end_time":{"type":"string","description":"The end time of the event in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ` this is a read only field.","format":"date-time","example":"2022-06-03T20:51:00Z","deprecated":true},"contact_name":{"type":"string","description":"The contact name for the event.","example":"user contact name"},"lobby_start_time":{"type":"string","description":"The start time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"lobby_end_time":{"type":"string","description":"The end time of the lobby in UTC. The format should be `yyyy-MM-dd`T`HH:mm:ssZ`.","format":"date-time","example":"2022-06-03T20:51:00Z"},"blocked_countries":{"maxItems":200,"type":"array","items":{"type":"string","description":"The blocked countries for the event. [country's code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#countries).","example":"US"}},"attendance_type":{"type":"string","description":"The type of attendee experience for the event:\n * `VIRTUAL` &mdash; virtual attendees only. \n * `IN-PERSON` &mdash; in-person attendees only. \n * `HYBRID` &mdash; both in-person and virtual attendees.","example":"hybrid","enum":["virtual","in-person","hybrid"]},"physical_location":{"type":"string","description":"The physical location of the event. This field is applicable for hybrid and in-person events only.","example":"801 Mt Vernon Pl NW, Washington, DC 20001","deprecated":true},"tagline":{"type":"string","description":"This field displays under the event detail page image.","example":"Unlocking Innovation: Join Us for the Day of Insipiration and Insight!"}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`  \n \nEvent updated successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request. \n\n **Error Code:** `260210` <br>\n Past and cancelled events not editable. <br>\n**Error Code:** `260210` <br>\n Past and cancelled events not editable. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `260200` <br>\n Event access denied. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2002` <br>\n Event not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/ap
[...]
