{"openapi":"3.0.0","info":{"title":"Healthcare","description":"The Zoom Integration Healthcare APIs allow developers to get, list, and update [clinical notes](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0080373) programmatically.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/clinical_notes/notes":{"get":{"tags":["clinicalnotes"],"summary":"List clinical notes","description":"Retrieves a list of clinical notes. The data returned depends on the parameters you provide. If you provide:\n\n- Only `note_owner_user_id` - returns all clinical notes owned by that user.\n- Only `meeting_id` - returns all clinical notes associated with that meeting.\n- Both `note_owner_user_id` and `meeting_id` - returns only the clinical notes from the specified meeting owned by the specified user.\n- Neither `note_owner_user_id` nor `meeting_id` - returns all clinical notes available to the requesting user within the account.\n\nPrerequisites:\n- Host user type must have a Pro or higher plan.\n- Enable the Clinical Notes feature in the host's account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `clinical_note:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `healthcare:read:list_clinical_notes:admin`,`healthcare:read:list_clinical_notes:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetClinicalNote","parameters":[{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"maximum":300,"type":"number","example":30,"default":30}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through a large set of results. The API returns a next page token whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"woW1QTisphyn1b-3dnq55wPG54KwP_nHNE_QjT6xd1-QtLUp-bhm5Lw2VDAcev5zHHLVFg.Nl4f1kFQq5xf6wV2.MA"}},{"name":"from","in":"query","description":"The start date in `yyyy-MM-dd'T'HH:mm:ss'Z'` UTC format used to retrieve the creation date range of the meeting clinical notes.","required":false,"schema":{"type":"string","example":"2025-01-01T00:00:00Z"}},{"name":"to","in":"query","description":"The end date in `yyyy-MM-dd'T'HH:mm:ss'Z'` UTC format used to retrieve the creation date range of the meeting clinical notes.","required":false,"schema":{"type":"string","example":"2025-01-01T23:59:59Z"}},{"name":"meeting_id","in":"query","description":"The meeting's universally unique ID (UUID). When you provide a meeting UUID that begins with a / character or contains the // characters, you must double-encode the meeting UUID before making an API request. This optional parameter helps to list clinical notes generated for this meeting ID.","required":false,"schema":{"type":"string","example":"I3pHE/RnRbmm+ex2g07sxw=="}},{"name":"note_owner_user_id","in":"query","description":"The user ID of the user that started the clinical notes session in the meeting and owns the note document. This optional parameter helps to list notes that were owned by this user ID.","required":false,"schema":{"type":"string","example":"dqV7XEpnS5G3rGsvqylmjQ"}},{"name":"include_note_content","in":"query","description":"This optional parameter controls whether the note content is included in the response.\n\nSet to true to include the full note content. Note that enabling this may increase response time, especially when a large number of records are returned. For optimal performance, we recommend setting this to false when expecting a high volume of results.","required":false,"schema":{"type":"boolean","example":false,"default":false}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`Successfully listed clinical notes of an account.","content":{"application/json":{"schema":{"type":"object","properties":{"page_size":{"type":"number","description":"The number of records returned within a single API call.","example":30},"next_page_token":{"type":"string","description":"Use the next page token to paginate through a large set of results. The API returns a next page token whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"ff9d4fb9-8b64-4d6d-93ff-8bc86b18f5c4"},"from":{"type":"string","description":"The start date in `yyyy-MM-dd'T'HH:mm:ss'Z'` UTC format used to retrieve the creation date range of the meeting clinical notes.","example":"2025-01-01T00:00:00Z"},"to":{"type":"string","description":"The end date in yyyy-MM-dd'T'HH:mm:ss'Z' UTC format used to retrieve the creation date range of the meeting clinical notes.","example":"2025-01-01T23:59:59Z"},"clinical_notes":{"maxItems":300,"type":"array","description":"List of clinical note objects.","items":{"type":"object","properties":{"meeting_id":{"type":"string","description":"The unique meeting ID.\n\nEach meeting instance generates its own meeting UUID. After a meeting ends, Zoom generats a new UUID for the next instance of the meeting.\n\nUse the List past meeting instances API to retrieve a list of UUIDs from past meeting instances. Double encode your UUID when using it for API calls if the UUID begins with a / or contains //.","example":"I3pHE/RnRbmm+ex2g07sxw=="},"meeting_number":{"type":"integer","description":"The meeting's unique identifier in long format, represented as an int64 data type in JSON.","format":"int64","example":97763643885},"note_id":{"type":"string","description":"The note's unique identifier.","example":"ArfRXokSTiGTCSYFVtxNa"},"note_owner_user_id":{"type":"string","description":"The user ID of the user that started the clinical notes session and owns the note document.","example":"dqV7XEpnS5G3rGsvqylmjQ"},"note_start_time":{"type":"string","description":"The clinical note's start date and time.","example":"2025-05-15T03:01:08.608Z"},"note_end_time":{"type":"string","description":"The clinical note's end date and time.","example":"2025-05-15T03:25:59.608Z"},"note_created_time":{"type":"string","description":"The date and time when the clinical note was created.","example":"2025-05-15T03:26:08.608Z"},"note_last_modified_time":{"type":"string","description":"The date and time when the clinical note was last modified.","example":"2025-05-15T03:26:08.608Z"},"note_last_modified_user_id":{"type":"string","description":"The user ID of the user who last modified the clinical notes.","example":"dqV7XEpnS5G3rGsvqylmjQ"},"note_title":{"type":"string","description":"The clinical note title.","example":"lingbo test.cn's Zoom Meeting - Version A"},"note_content":{"type":"string","description":"The clinical note content in markdown format.","example":"Chief Complaint\nThe patient presents with severe stomach pain near the lower abdomen since morning.\\nHistory of Present Illness\\n- The patient is an adult presenting with severe stomach pain.\\n- Pain is located near the lower abdomen, starting this morning.\\n- Attended a dinner party at a restaurant last night.\\n- Denies additional gastrointestinal symptoms.\\nReview of Systems\\n- Gastrointestinal: Reports severe lower abdominal pain. Denies any other gastrointestinal symptoms.\\nSocial History\\n- Recent dining at a restaurant with friends.\\nAssessment and Plan\\n1. Acute Abdominal Pain\\n- Suspected relation to recent meal at a restaurant.\\n- Medication prescribed for pain management.\\n- Advised to avoid eating from outside.\\nPatient Recommendations\\n- Take the prescribed medicines regularly.\\n- Avoid eating from outside.\\n- Return to the clinic if the pain worsens or new symptoms develop."},"is_note_completed":{"type":"boolean","description":"Whether or not the clinical note has been marked as completed.","example":true},"note_completed_time":{"type":"string","description":"The date and time when the clinical note was marked completed.","example":"2025-05-15T03:26:48.372Z"},"ehr_context":{"type":"object","properties":{"appointment_id":{"type":"string","description":"The unique identifier for the specific appointment during which the clinical note was created.","example":"6600001"},"patient_id":{"type":"string","description":"The unique identifier for the patient associated with the clinical note.","example":"Patient/75909597"},"provider_id":{"type":"string","description":"The unique identifier for the main healthcare provider responsible for the patient's care during the visit.","example":"Practitioner/34373111"}},"description":"EHR Context contains identifiers and metadata that link the clinical note to its corresponding entities in the EHR system, like appointment, patient, or provider."}},"description":"The clinical note object."}}},"description":"List of clinical notes."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n **Error Code:** `30008` <br>\n Query user does not exist. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  Forbidden \n\n **Error Code:** `30007` <br>\n Resource access denied. Please contact your admin. <br>\n**Error Code:** `30001` <br>\n Clinical note feature not enabled for this user. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["clinical_note:read:admin","healthcare:read:list_clinical_notes:admin","healthcare:read:list_clinical_notes:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["clinical_note:read:admin"],"x-granular-scopes":["healthcare:read:list_clinical_notes:admin","healthcare:read:list_clinical_notes:master"]}}},"/clinical_notes/notes/{noteId}":{"get":{"tags":["clinicalnotes"],"summary":"Get a Clinical Note","description":"Gets a single clinical note identified by `noteId`.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `clinical_note:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `healthcare:read:clinical_notes:admin`,`healthcare:read:clinical_notes:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetaClinicalNote","parameters":[{"name":"noteId","in":"path","description":"The clinical note's unique identifier.","required":true,"schema":{"type":"string","example":"ArfRXokSTiGTCSYFVtxNa"}}],"responses":{"200":{"description":"The requested clinical note.","content":{"application/json":{"schema":{"type":"object","properties":{"meeting_id":{"type":"string","description":"The meeting's universally unique identifier (UUID).\n\nEach meeting instance generates its own meeting UUID. After a meeting ends, Zoom generats a new UUID for the next instance of the meeting.\n\nUse the List past meeting instances API to retrieve a list of UUIDs from past meeting instances. [Double encode](/docs/api/using-zoom-apis/#double-encoding) the UUID if it contains any forward slashes (`/`).","example":"I3pHE/RnRbmm+ex2g07sxw=="},"meeting_number":{"type":"integer","description":"The meeting's unique identifier in long format, represented as an int64 data type in JSON.","format":"int64","example":97763643885},"note_id":{"type":"string","description":"The note's unique identifier.","example":"ArfRXokSTiGTCSYFVtxNa"},"note_owner_user_id":{"type":"string","description":"The user ID who started the clinical notes session and owns the note document.","example":"dqV7XEpnS5G3rGsvqylmjQ"},"note_start_time":{"type":"string","description":"The clinical note's start date and time.","example":"2025-05-15T03:01:08.608Z"},"note_end_time":{"type":"string","description":"The clinical note's end date and time.","example":"2025-05-15T03:25:59.608Z"},"note_created_time":{"type":"string","description":"The date and time when the clinical note was created.","example":"2025-05-15T03:26:08.608Z"},"note_last_modified_time":{"type":"string","description":"The date and time when the clinical note was last modified.","example":"2025-05-15T03:26:08.608Z"},"note_last_modified_user_id":{"type":"string","description":"The user ID who last modified the clinical notes.","example":"dqV7XEpnS5G3rGsvqylmjQ"},"note_title":{"type":"string","description":"The clinical note title.","example":"lingbo test.cn's Zoom Meeting - Version A"},"note_content":{"type":"string","description":"The clinical note content in markdown format.","example":"Chief Complaint\nThe patient presents with severe stomach pain near the lower abdomen since morning.\\nHistory of Present Illness\\n- The patient is an adult presenting with severe stomach pain.\\n- Pain is located near the lower abdomen, starting this morning.\\n- Attended a dinner party at a restaurant last night.\\n- Denies additional gastrointestinal symptoms.\\nReview of Systems\\n- Gastrointestinal: Reports severe lower abdominal pain. Denies any other gastrointestinal symptoms.\\nSocial History\\n- Recent dining at a restaurant with friends.\\nAssessment and Plan\\n1. Acute Abdominal Pain\\n- Suspected relation to recent meal at a restaurant.\\n- Medication prescribed for pain management.\\n- Advised to avoid eating from outside.\\nPatient Recommendations\\n- Take the prescribed medicines regularly.\\n- Avoid eating from outside.\\n- Return to the clinic if the pain worsens or new symptoms develop."},"is_note_completed":{"type":"boolean","description":"Whether or not the clinical note has been marked as completed.","example":false},"note_completed_time":{"type":"string","description":"The date and time when the clinical note was marked completed.","example":"2025-05-15T03:26:48.372Z"},"ehr_context":{"type":"object","properties":{"appointment_id":{"type":"string","description":"The unique identifier of the appointment in which the clinical note was created.","example":"6600001"},"patient_id":{"type":"string","description":"The unique identifier of the patient associated with the clinical note.","example":"Patient/75909597"},"provider_id":{"type":"string","description":"The unique identifier of the main healthcare provider responsible for the patient's care during the visit.","example":"Practitioner/34373111"}},"description":"The electronic health records (EHR) context contains identifiers and metadata that link the clinical note to its corresponding entities in the EHR system, like appointment, patient, or provider."}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n **Error Code:** `30001` <br>\n Clinical note feature not enabled for this user. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  Forbidden \n\n **Error Code:** `30007` <br>\n Resource access denied. Contact your administrator. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not Found \n\n **Error Code:** `30009` <br>\n Clinical note does not exist. <br>\n"}},"security":[{"openapi_oauth":["clinical_note:read:admin","healthcare:read:clinical_notes:admin","healthcare:read:clinical_notes:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["clinical_note:read:admin"],"x-granular-scopes":["healthcare:read:clinical_notes:admin","healthcare:read:clinical_notes:master"]}},"patch":{"tags":["clinicalnotes"],"summary":"Update a Clinical Note","description":"Updates a clinical note associated with the `noteId`.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `clinical_note:update:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `healthcare:update:clinical_notes:admin`,`healthcare:update:clinical_notes:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateClinicalNote","parameters":[{"name":"noteId","in":"path","description":"The clinical note's unique identifier.","required":true,"schema":{"type":"string","example":"x6hRvr5OTvSiMUxJb_vEXA"}}],"requestBody":{"description":"Fields to update for the clinical note.","content":{"application/json":{"schema":{"required":["is_note_completed"],"type":"object","properties":{"is_note_completed":{"type":"boolean","description":"Indicates whether the clinical note is marked as completed.","example":true}},"description":"Request body for updating a clinical note."}}}},"responses":{"204":{"description":"Status of the update request."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n **Error Code:** `30001` <br>\n Clinical note feature not enabled for this user. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  Forbidden \n\n **Error Code:** `30007` <br>\n Resource access denied. Contact your administrator. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not Found \n\n **Error Code:** `30009` <br>\n Clinical note does not exist. <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  Internal Server Error \n\n **Error Code:** `30011` <br>\n Failed to update note. Try again later. <br>\n"}},"security":[{"openapi_oauth":["clinical_note:update:admin","healthcare:update:clinical_notes:admin","healthcare:update:clinical_notes:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["clinical_note:update:admin"],"x-granular-scopes":["healthcare:update:clinical_notes:admin","healthcare:update:clinical_notes:master"]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{"clinical_note:read:admin":"clinical_note:read:admin","healthcare:read:list_clinical_notes:admin":"healthcare:read:list_clinical_notes:admin","healthcare:read:list_clinical_notes:master":"healthcare:read:list_clinical_notes:master","clinical_note:update:admin":"clinical_note:update:admin","healthcare:update:clinical_notes:admin":"healthcare:update:clinical_notes:admin","healthcare:update:clinical_notes:master":"healthcare:update:clinical_notes:master","healthcare:read:clinical_notes:admin":"healthcare:read:clinical_notes:admin","healthcare:read:clinical_notes:master":"healthcare:read:clinical_notes:master"}}}}}}}