{"openapi":"3.0.0","info":{"title":"Quality Management","description":"Zoom Quality Management is designed to help contact centers track and analyze customer interactions, measure agent performance, provide actionable insights, and proactively identify areas for improvement while maintaining organizational compliance. ","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/qm/automated_evaluations":{"get":{"tags":["Evaluations"],"summary":"List automated evaluations","description":"List automated evaluations.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `qm_evaluations:read:admin`,`qm_evaluations:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_quality_management:read:evaluations:admin`,`zoom_quality_management:read:evaluations`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"ListAutomatedEvaluations","parameters":[{"name":"status","in":"query","description":"The automated evaluation's current status.","required":false,"schema":{"type":"string","example":"COMPLETED","enum":["COMPLETED","PROCESSING","FAILED"]}},{"name":"agent_id","in":"query","description":"The scored agent's user ID.","required":false,"schema":{"type":"string","example":"httgPnTgTxq0d65-alfYVw"}},{"name":"interaction_id","in":"query","description":"The interaction ID.","required":false,"schema":{"type":"string","example":"X51n17BZQTqKtxwF4mmTIw"}},{"name":"page_size","in":"query","description":"Default - 30\nMaximum - 100","required":false,"schema":{"type":"integer","example":30}},{"name":"from","in":"query","description":"The start date, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","required":false,"schema":{"type":"string","example":"2025-02-01T19:13:02Z"}},{"name":"to","in":"query","description":"The end date, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","required":false,"schema":{"type":"string","example":"2025-02-02T19:13:05Z"}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully listed user's automated evaluations.","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"type":"number","description":"The total number of all the records available across pages.","example":51},"page_size":{"type":"number","description":"The number of records returned within a single API call.","example":20},"data":{"maxItems":100,"minItems":0,"type":"array","description":"Information about the automated evaluations.","items":{"type":"object","properties":{"id":{"type":"string","description":"The automated evaluation task ID.","example":"0e73a69f8f104d24a589fa0c615abca8"},"account_id":{"type":"string","description":"The account ID.","example":"SY-AEWW6Ruqgt89_T2zqBg"},"modify_time":{"type":"string","description":"The date when the automated evaluation was modified, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"create_time":{"type":"string","description":"The date when the automated evaluation was created, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"interaction_id":{"type":"string","description":"The interaction ID.","example":"q9DyYF8iSXa3PVAhb6nekQ"},"scorecard_id":{"type":"string","description":"The automated evaluation scorecard ID.","example":"2uJ4u83yQ_qbyyFDmxsMcQ"},"agent_info":{"type":"object","properties":{"user_id":{"type":"string","description":"The evaluation's agent user ID.","example":"httgPnTgTxq0d65-alfYVw"},"display_name":{"type":"string","description":"The evaluation's agent user display name.","example":"Ashlee York"}},"description":"The agent information."},"scorecard_name":{"type":"string","description":"The automated scorecard name.","example":"Customer Care"},"scoring_format":{"type":"string","description":"The scorecard's scoring format .","example":"percentage","enum":["points","percentage"]},"total_score":{"type":"number","description":"The total score on the scorecard.","example":50},"evaluation_score":{"type":"number","description":"The overall score of the automated evaluation, calculated based on the scorecard and answers.","example":10},"interaction_deleted":{"type":"boolean","description":"Whether the interactions was deleted.","example":false},"status":{"type":"string","description":"The evaluation's current status.","example":"COMPLETED","enum":["COMPLETED","PROCESSING","FAILED"]}},"description":"Information about the automated evaluations."}},"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of the available result list exceeds the page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}}}}}}},"security":[{"openapi_oauth":["qm_evaluations:read:admin","qm_evaluations:read","zoom_quality_management:read:evaluations:admin","zoom_quality_management:read:evaluations"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["InteractionPerformanceMgt:Read","AssignEvaluations:Edit","AllInteractions:Read"],"x-macro-scopes":["qm_evaluations:read:admin","qm_evaluations:read"],"x-granular-scopes":["zoom_quality_management:read:evaluations:admin","zoom_quality_management:read:evaluations"]}}},"/qm/evaluation":{"get":{"tags":["Evaluations"],"summary":"List evaluations","description":"List manually completed evaluations.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `qm_evaluations:read:admin`,`qm_evaluations:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_quality_management:read:evaluations`,`zoom_quality_management:read:evaluations:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Listevaluations","parameters":[{"name":"status","in":"query","description":"The evaluation's current status.","required":false,"schema":{"type":"string","example":"Active","enum":["Active","Completed","Pending","Expired","Canceled"]}},{"name":"agent_ids","in":"query","description":"The scored agents' user IDs.","required":false,"schema":{"type":"string","example":"httgPnTgTxq0d65-alfYVw,b0_yDuNGSq65EF8i1f0PcQ"}},{"name":"evaluator_id","in":"query","description":"The evaluators' user IDs.","required":false,"schema":{"type":"string","example":"b0_yDuNGSq65EF8i1f0PcQ"}},{"name":"acknowledgement_status","in":"query","description":"The acknowledgement status.","required":false,"schema":{"type":"string","example":"Pending","enum":["Pending","Complete","Auto complete","None"]}},{"name":"interaction_id","in":"query","description":"The interaction ID.","required":false,"schema":{"type":"string","example":"X51n17BZQTqKtxwF4mmTIw"}},{"name":"page_size","in":"query","description":"Default - 30\nMaximum - 100","required":false,"schema":{"type":"integer","example":30}},{"name":"from","in":"query","description":"The start date in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","required":false,"schema":{"type":"string","example":"2025-02-01T19:13:02Z"}},{"name":"to","in":"query","description":"The end date in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","required":false,"schema":{"type":"string","example":"2025-02-02T19:13:05Z"}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully listed user's evaluations.","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"type":"number","description":"The total number of all the records available across pages.","example":51},"page_size":{"type":"number","description":"The number of records returned within a single API call.","example":20},"data":{"maxItems":100,"minItems":0,"type":"array","description":"Information about the evaluations.","items":{"type":"object","properties":{"id":{"type":"string","description":"The evaluation task ID.","example":"0e73a69f8f104d24a589fa0c615abca8"},"account_id":{"type":"string","description":"The account ID.","example":"SY-AEWW6Ruqgt89_T2zqBg"},"user_id":{"type":"string","description":"The Zoom user ID.","example":"httgPnTgTxq0d65-alfYVw"},"creator_id":{"type":"string","description":"The evaluation's creator Zoom user ID.","example":"b0_yDuNGSq65EF8i1f0PcQ"},"modify_time":{"type":"string","description":"The date when the evaluation was modified, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"create_time":{"type":"string","description":"The date when the evaluation was created, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"channel_type":{"type":"string","description":"The interaction's channel type.","example":"VOICE","enum":["VIDEO","AUDIO","MANUAL","MESSAGE"]},"task_name":{"type":"string","description":"The evaluation task name.","example":"evaluation_q9DyYF8iSXa3PVAhb6nekQ"},"interaction_id":{"type":"string","description":"The interaction ID.","example":"q9DyYF8iSXa3PVAhb6nekQ"},"scorecard_id":{"type":"string","description":"The evaluation scorecard ID.","example":"2uJ4u83yQ_qbyyFDmxsMcQ"},"creator_info":{"type":"object","properties":{"user_id":{"type":"string","description":"The evaluation's creator Zoom user ID.","example":"b0_yDuNGSq65EF8i1f0PcQ"},"display_name":{"type":"string","description":"The evaluation's creator user display name.","example":"Rick Arps"}},"description":"The evaluation creator information."},"agent_info":{"type":"object","properties":{"user_id":{"type":"string","description":"The evaluation's agent user ID.","example":"httgPnTgTxq0d65-alfYVw"},"display_name":{"type":"string","description":"The evaluation's agent user display name.","example":"Ashlee York"}},"description":"The agent information."},"evaluators_info":{"type":"array","description":"The evaluators' information.","items":{"type":"object","properties":{"user_id":{"type":"string","description":"The evaluation's evaluator user ID.","example":"b0_yDuNGSq65EF8i1f0PcQ"},"display_name":{"type":"string","description":"The evaluation's evaluator user display name.","example":"Rick Arps"}}}},"scorecard_name":{"type":"string","description":"The evaluation scorecard name.","example":"Customer Care"},"scoring_format":{"type":"string","description":"The scorecard's scoring format .","example":"percentage","enum":["points","percentage"]},"total_score":{"type":"number","description":"The total score on the scorecard.","example":50},"evaluation_score":{"type":"number","description":"The overall score of the evaluation, calculated based on the scorecard and answers.","example":10},"interaction_deleted":{"type":"boolean","description":"Whether the interactions was deleted.","example":false},"status":{"type":"string","description":"The evaluation's current status.","example":"Active","enum":["Active","Completed","Pending","Expired","Cancled"]},"acknowledgement_status":{"type":"string","description":"The acknowledgement status.","example":"Pending","enum":["Pending","Complete","Auto Complete","None"]}},"description":"Information about the evaluations."}},"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of the available result list exceeds the page size. This token's expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Unauthorized \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["qm_evaluations:read:admin","qm_evaluations:read","zoom_quality_management:read:evaluations","zoom_quality_management:read:evaluations:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["InteractionPerformanceMgt:Read","AssignEvaluations:Edit","AllInteractions:Read"],"x-macro-scopes":["qm_evaluations:read:admin","qm_evaluations:read"],"x-granular-scopes":["zoom_quality_management:read:evaluations","zoom_quality_management:read:evaluations:admin"]}}},"/qm/evaluation/{evaluationId}":{"get":{"tags":["Evaluations"],"summary":"View evaluation detail","description":"View a specific interaction's evaluation detail.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `qm_evaluations:read`,`qm_evaluations:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_quality_management:read:evaluations`,`zoom_quality_management:read:evaluations:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"EvaluationDetail","parameters":[{"name":"evaluationId","in":"path","description":"The evaluation's ID.","required":true,"schema":{"type":"string","example":"aI9HM3ZsEScAa"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully view the evaluation detail.","content":{"application/json":{"schema":{"type":"object","properties":{"scorecard":{"type":"object","properties":{"scorecard_id":{"type":"string","description":"The scorecard's ID.","example":"CaBoBGvDSCmYt5GDDxP4-Q"},"scorecard_name":{"type":"string","description":"The name of the scorecard used for evaluation.","example":"AAAAAAAA Automated DEMO test 1212 TEST 111"},"sections":{"maxItems":20,"minItems":1,"type":"array","description":"The scorecard section infomation.","items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the section within the scorecard.","example":"Service Attitude"},"weight":{"type":"number","description":"The weight of the section in the overall score calculation.","example":34},"order":{"type":"number","description":"The order of this section in the scorecard.","example":1},"questions":{"maxItems":100,"minItems":1,"type":"array","description":"The questions.","items":{"type":"object","properties":{"question_id":{"type":"string","description":"The question's ID.","example":"7jNGHA0QSRGdsi-R03d8tQ"},"type":{"type":"string","description":"The question's type.","example":"Rating Scale","enum":["Yes/No","Single Choice","Rating Scale"]},"title":{"type":"string","description":"The question's title or main text.","example":"Did the customer service representative demonstrate patience and friendliness?"},"description":{"type":"string","description":"A detailed description or additional information about the question.","example":"Evaluate the agent's service attitude."},"options":{"maxItems":20,"minItems":1,"type":"array","description":"The options.","items":{"type":"object","properties":{"option_id":{"type":"string","description":"The option's ID.","example":"m_DJVk5BS7yqoR2ayN16kw"},"label":{"type":"string","description":"The option's display text.","example":"Yes"},"value":{"type":"string","description":"The option's value.","example":"Yes"},"auto_fail":{"type":"boolean","description":"Indicates whether selecting this option causes an automatic failure,  `true` or `false`.","example":false},"points":{"type":"number","description":"The option's points.","example":10}},"description":"The option."}},"answer_id":{"type":"string","description":"The ID of the selected answer for this question.","example":"m_DJVk5BS7yqoR2ayN16kw"},"answer_label":{"type":"string","description":"The label of the selected answer for this question.","example":"Yes"},"score":{"type":"number","description":"The achieved score for this question.","example":10},"scale":{"type":"object","properties":{"has_na_option":{"type":"boolean","description":"Indicates whether there is an `N/A` option.","example":true},"high_label":{"type":"string","description":"The high score label.","example":"Excellent"},"low_label":{"type":"string","description":"The low score label.","example":"Poor"},"scale_max":{"type":"integer","description":"Maximum score.","example":10},"scale_min":{"type":"integer","description":"Minimum score.","example":1}},"description":"The information about rating scale type question."}},"description":"The questions."}}}}},"score":{"type":"number","description":"The overall score of the evaluation, calculated based on the scorecard and answers.","example":90},"total_score":{"type":"number","description":"Total score on the scorecard.","example":100},"evaluator":{"type":"object","properties":{"name":{"type":"string","description":"The name of the person who conducted the evaluation.","example":"Admin3"},"user_id":{"type":"string","description":"The evaluator's Zoom user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"}},"description":"The evaluator information."},"create_time":{"type":"string","description":"The date when the evaluation was created, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"modify_time":{"type":"string","description":"The date when the evaluation was modified, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"acknowledgment_status":{"type":"string","description":"The evaluation's acknowledgment status.","example":"Complete","enum":["Pending","Complete","Auto complete","None"]},"dispute_status":{"type":"string","description":"The evaluation's dispute status.","example":"None","enum":["None","Pending","Complete"]},"interaction_id":{"type":"string","description":"The ID of the interaction being evaluated.","example":"yBe0fI6kTFG5IyThF8eRXg"},"engagement_id":{"type":"string","description":"The ID of the engagement associated with the interaction.","example":"e59gNVtjTuS--NjwquFKQA"},"agent_name":{"type":"string","description":"The name of the agent involved in the interaction being evaluated.","example":"The agent's name."},"agent_user_id":{"type":"string","description":"The user ID of the agent involved in the interaction.","example":"The agent's ID."}},"description":"The scorecard's detail."}}}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Unauthorized \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  Forbidden \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not Found \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["qm_evaluations:read","qm_evaluations:read:admin","zoom_quality_management:read:evaluations","zoom_quality_management:read:evaluations:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["InteractionPerformanceMgt:Read","AssignEvaluations:Edit","AllInteractions:Read"],"x-macro-scopes":["qm_evaluations:read","qm_evaluations:read:admin"],"x-granular-scopes":["zoom_quality_management:read:evaluations","zoom_quality_management:read:evaluations:admin"]}}},"/qm/interactions":{"get":{"tags":["Interactions"],"summary":"List interactions","description":"List interactions.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `qm_interactions:read`,`qm_interactions:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_quality_management:read:interactions`,`zoom_quality_management:read:interactions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"ListInteractions","parameters":[{"name":"from","in":"query","description":"The start date in y`yyy-MM-dd'T'HH:mm:ss'Z'` format.","required":false,"schema":{"type":"string","example":"2020-05-01T19:13:02Z"}},{"name":"to","in":"query","description":"The end date in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","required":false,"schema":{"type":"string","example":"2020-05-02T19:13:05Z"}},{"name":"indicator_id","in":"query","description":"The indicator ID to query.","required":false,"schema":{"type":"string","example":"aI9HM3ZsEScAa"}},{"name":"topic","in":"query","description":"The topic words to query.","required":false,"schema":{"type":"string","example":"thanks"}},{"name":"engagement_id","in":"query","description":"The engagement's ID to query.","required":false,"schema":{"type":"string","example":"aI9HM3ZsEScAa"}},{"name":"scored","in":"query","description":"If interactions are scored.","required":false,"schema":{"type":"boolean","example":true}},{"name":"user_ids","in":"query","description":"The agent IDs, separated by commas.","required":false,"schema":{"type":"string","example":"ycEUjKmDSnuPwF33KLTxJg,vBKuLsR2QeK_mMo0KQsEew"}},{"name":"channels","in":"query","description":"The channel types, separated by commas.","required":false,"schema":{"type":"string","example":"VIDEO, AUDIO"}},{"name":"direction","in":"query","description":"The direction of the call.\n* `inbound` \n* `outbound`..","required":false,"schema":{"type":"string","example":"inbound"}},{"name":"dispositions","in":"query","description":"The disposition names, separated by commas.","required":false,"schema":{"type":"string","example":"aaa,Ping Test"}},{"name":"language","in":"query","description":"The primary language.","required":false,"schema":{"type":"string","example":"en,ja"}},{"name":"queues","in":"query","description":"The queue IDs, separated by commas.","required":false,"schema":{"type":"string","example":"Je4zLPZ-SBiLCiebE35ALQ,SC3x7iqnRm6QVeIuxSnzuA"}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},{"name":"page_size","in":"query","description":"**Default**:30\n**Maximum**:100","required":false,"schema":{"maximum":100,"exclusiveMaximum":true,"type":"integer","example":30,"default":30}},{"name":"time_zone","in":"query","description":"The user's time zone.","required":false,"schema":{"type":"string","example":"America/Los_Angeles"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully listed user's interactions.","content":{"application/json":{"schema":{"type":"object","properties":{"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":50},"page_size":{"type":"number","description":"The number of records returned within a single API call.","example":30},"interactions":{"maxItems":300,"type":"array","description":" Information about the interaction.","items":{"required":["interaction_info","start_time"],"type":"object","properties":{"start_time":{"type":"string","description":"The start date in yyyy-MM-dd'T'HH:mm:ss'Z' format.","example":"2020-05-01T19:13:02Z"},"duration":{"type":"number","description":"The interaction duration in minutes.","example":5},"queue_id":{"type":"string","description":"The call queue id.","example":"Je4zLPZ-SBiLCiebE35ALQ"},"queue_name":{"type":"string","description":"The call queue name.","example":"Demo"},"interaction_info":{"required":["interaction_id"],"type":"object","properties":{"from":{"type":"string","description":"The caller's phone number in E.164 format.","example":"+16692520210"},"to":{"type":"string","description":"The recipient's phone number in E.164 format.","example":"+12364352078"},"interaction_id":{"type":"string","description":"The interaction id.","example":"X51n17BZQTqKtxwF4mmTIw"},"agent_name":{"type":"string","description":"The agent name.","example":"Admin3"},"consumer_name":{"type":"string","description":"The consumer name.","example":"+16692520210"},"channel_type":{"type":"string","description":"The channel type, includes VIDEO, MANUAL, SMS, AUDIO and WEB_CHAT.","example":"AUDIO","enum":["VIDEO","MANUAL","SMS","AUDIO","WEB_CHAT"]},"associated_ids":{"maxItems":100,"type":"array","description":"The associated interaction ids.","items":{"type":"string","description":"The associated interaction id.","example":"xxxx"}},"evaluations":{"maxItems":10,"minItems":0,"type":"array","description":"The associated evaluations.","items":{"type":"object","properties":{"evaluation_id":{"type":"string","description":"The evaluation ID.","example":"2c8704b1bc374bb981dd66428ca3eb7b"},"evaluation_type":{"type":"string","description":"The evaluation type.","example":"Manual scoring","enum":["Manual","Automated"]}}}}},"description":"The interaction infomation."},"engagement_id":{"type":"string","description":"The engagement id.","example":"PH6wferlTACAfBzYGAVOYg"},"direction":{"type":"string","description":"The direction.","example":"inbound"},"disposition":{"type":"string","description":"The disposition","example":"dev-disponsition"},"silence_event_count":{"type":"integer","description":"The count of silence event.","example":2},"crosstalk_event_count":{"type":"integer","description":"The count of crosstalk event.","example":2},"hold_event_count":{"type":"integer","description":"The count of hold event.","example":3},"scorecard_name":{"type":"string","description":"The scorecard name.","example":"test Kraig 1227"},"summary":{"type":"object","properties":{"evaluation_score":{"type":"number","description":"The evaluation score.","example":58.63},"sentiment_score":{"type":"number","description":"The sentiment score.","example":58.63},"engagement_score":{"type":"number","description":"The engagement score.","example":58.63}},"description":"The summary."},"primary_language":{"type":"string","description":"The primary language.","example":"en"},"screen_recording_status":{"type":"string","description":"The status of the interaction screen recording. \n**UNAVAILABLE, AVAILABLE, DELETED**","example":"AVAILABLE","enum":["UNAVAILABLE","AVAILABLE","DELETED"]}},"description":" Information about the interaction.\n"}},"next_page_token":{"type":"string","description":" The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of the available result list exceeds the page size. The expiration period is 15 minutes.","example":"R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"}},"description":"response"}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n **Error Code:** `1001` <br>\n The from or to time is invalid. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Unauthorized \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not Found \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["qm_interactions:read","qm_interactions:read:admin","zoom_quality_management:read:interactions","zoom_quality_management:read:interactions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["AllInteractions:Read"],"x-macro-scopes":["qm_interactions:read","qm_interactions:read:admin"],"x-granular-scopes":["zoom_quality_management:read:interactions","zoom_quality_management:read:interactions:admin"]}},"post":{"tags":["Interactions"],"summary":"Add an interaction","description":"Add an interaction by a third party download URL.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `qm_interactions:write:admin`,`qm_interactions:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_quality_management:write:interactions`,`zoom_quality_management:write:interactions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `1`","operationId":"Addinteraction","requestBody":{"description":"Add an interaction by a third party download URL.","content":{"application/json":{"schema":{"required":["download_url"],"type":"object","properties":{"download_url":{"type":"string","description":"The third party download URL.","example":"https://www.example.com/uploads/InboundSampleRecording.mp3"},"interaction_info":{"required":["channel_type"],"type":"object","properties":{"from":{"type":"string","description":"The caller's phone number in E.164 format.","example":"+12053546173"},"to":{"type":"string","description":"The recipient's phone number in E.164 format.","example":"+12095422197"},"consumer_name":{"type":"string","description":"The consumer's name.","example":"Jill Chill"},"channel_type":{"type":"string","description":"The interaction's channel.","example":"video","enum":["video","voice"]},"agent_id":{"type":"string","description":"The agent's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"agent_email":{"type":"string","description":"The agent's email.","example":"example_admin@example.com"}},"description":"The interaction infomation."},"start_time":{"type":"string","description":"The interaction start time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2025-09-01T19:13:02Z"},"direction":{"type":"string","description":"The call's direction.\n* `inbound` \n* `outbound`","example":"inbound","enum":["inbound","outbound"]},"queue_id":{"type":"string","description":"The Contact Center queue's ID.","example":"zxcv12m"},"disposition":{"type":"string","description":"The disposition's name.","example":"dispostion_a"},"primary_language":{"type":"string","description":"The primary language. \nIf left empty, the system automatically detects the language. If specified, the system transcribes using the given language.\n[**Supported language codes**](https://developers.zoom.us/docs/api/references/abbreviations/#languages)","example":"en-US","enum":["en-GB","en-US","ar","da-DK","de-DE","es-ES","es-MX","fr-CA","fr-FR","it-IT","ja","ko-KR","nl-NL","pt-BR","pt-PT","ru","zh-CN","zh-HK"]}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`    Successfully added the user's interaction.","content":{"application/json":{"schema":{"type":"object","properties":{"interaction_id":{"type":"string","description":"The added interaction ID.","example":"QMp3e6_WShCVuifNbrQd4w"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n **Error Code:** `1001` <br>\n The interaction start time is invalid. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Unauthorized \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not Found \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["qm_interactions:write:admin","qm_interactions:write","zoom_quality_management:write:interactions","zoom_quality_management:write:interactions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["AllInteractions:Edit"],"x-macro-scopes":["qm_interactions:write:admin","qm_interactions:write"],"x-granular-scopes":["zoom_quality_management:write:interactions","zoom_quality_management:write:interactions:admin"]}}},"/qm/interactions/{interactionId}":{"get":{"tags":["Interactions"],"summary":"View interaction detail","description":"View the details of a specific interaction.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `qm_interactions:read:admin`,`qm_interactions:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_quality_management:read:interactions`,`zoom_quality_management:read:interactions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"InteractionDetail","parameters":[{"name":"interactionId","in":"path","description":"The interaction ID.","required":true,"schema":{"type":"string","example":"VgKcwkLoTPy80OyNcUo2Yg"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Successfully view the interaction detail.","content":{"application/json":{"schema":{"required":["interaction_info"],"type":"object","properties":{"summary":{"type":"object","properties":{"evaluation_score":{"type":"number","description":"The evaluation score.","example":1},"sentiment_score":{"type":"number","description":"The sentiment score.","example":61.19},"engagement_score":{"type":"number","description":"The engagement score.","example":5.546720115175143}},"description":"The summary infomation."},"metrics":{"type":"object","properties":{"talk_to_listen_ratio":{"maxItems":100,"type":"array","description":"The speaker's talk-listen ratio.\n","items":{"type":"object","properties":{"speaker_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"value":{"type":"number","description":"The speaker's talk-listen ratio.","example":0.4311976503861636}}}},"longest_monolog":{"maxItems":100,"type":"array","description":"The speaker's longest monologue.","items":{"type":"object","properties":{"speaker_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"value":{"type":"number","description":"The speaker's longest monologue duration, in **seconds**.","example":8.430000000000007}}}},"talk_speed":{"maxItems":100,"type":"array","description":"The speaker's talk speed.","items":{"type":"object","properties":{"speaker_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"value":{"type":"number","description":"The speaker's talk speed, in words per minute.","example":121.0898082744702}}}},"filler_words":{"maxItems":100,"type":"array","description":"The speaker's filler words.","items":{"type":"object","properties":{"speaker_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"value":{"type":"number","description":"The speaker's filler words count per minute.","example":0}}}},"patience":{"maxItems":100,"type":"array","description":"The speaker's patience.","items":{"type":"object","properties":{"speaker_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"value":{"type":"number","description":"The speaker's patience duration, in seconds.","example":1.24}}}}},"description":"The metrics infomation."},"start_time":{"type":"string","description":"The start date, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"duration":{"type":"number","description":"The interaction duration in minutes.","example":8},"queue_id":{"type":"string","description":"The queue ID to query.","example":"d5qAagKnQ7-UO_VsdiPdQA"},"queue_name":{"type":"string","description":"The queue name to query.","example":"Demo"},"recording_url":{"type":"string","description":"The recording URL.","example":"https://example.com/file/YZ75Jmq8TICELRiufFmTrg?filename=GMT20240528-095222_VgKcwkLoTPy80OyNcUo2Yg_VoiceRecording.mp3&jwt=eyJrIjoiMVI2cVdsWGIiLCJhbGciOiJFUzI1NiJ9.eyJhdWQiOiJ6ZnMiLCJkaWciOiJhN2E5MzE1ZWI2YTU5Yzk0MDgwM2VjNGE4MGNkMzk3YWRmYWVhODUwOWI5MThiMTNkOGVlOTgxMzQ1NjhiYmRkIiwiaGRpZyI6ZmFsc2UsImlpYyI6ImRldiIsImV4cCI6MTcyNTYxNzYwNywiaWF0IjoxNzI1MDEyODA3LCJvcmkiOiJ6b29tX2lxIiwiaXNzIjoiZmlsZSJ9.zjyJVGX9N3_hdu8zvytae5JvsFLgff17-39PpbMgpyh6RC7zJCRiHjBnbsV1J3ac4bgtDUGiG_4-M1G8YY0PuQ&mode=play"},"screen_recording_urls":{"maxItems":20,"type":"array","description":"The screen recording URLs.","items":{"type":"string","description":"The screen recording URL.","example":"https://example.com/file/6GmXHipBT_CC3ncyX6d76w?filename=GMT20240812-103352_Recording_3840x2160.mp4&jwt=eyJrIjoiMVI2cVdsWGIiLCJhbGciOiJFUzI1NiJ9.eyJoZGlnIjpmYWxzZSwiaWljIjoiZGV2IiwiZGlnIjoiM2UxOGVjYzQyZmE5Yjk0OTcyOTlhYTlhZWMxNzg2YjgxNmJkMWRlNzQ5ZmZmNGQ1ODZiZDNhY2ViNGFkZjlmYSIsImV4cCI6MTczMTAzMDU1Nywib3JpIjoiem9vbV9pcSIsImF1ZCI6InpmcyIsImlhdCI6MTcyOTczNDU1NywiaXNzIjoiZmlsZSJ9.J7dpq3w9T6qI8US6Xy74ewUvl521tOORsmejM_Yq8eqgJ_KA65p8tYwViSPvu4BygZWZLBiEHsKyPCgChFRj6w&mode=play"}},"transcript_body":{"type":"object","properties":{"meeting_id":{"type":"string","description":"The meeting ID.","example":"VgKcwkLoTPy80OyNcUo2Yg"},"account_id":{"type":"string","description":"The account ID.","example":"VgryoPBNR6uWYfyJqu4JFQ"},"host_id":{"type":"string","description":"The host ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"recording_start":{"type":"string","description":"The recording start date, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T09:52:22Z"},"recording_end":{"type":"string","description":"The recording end date, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.","example":"2024-05-28T10:00:47Z"},"language":{"type":"string","description":"The primary language.","example":"en"},"speakers":{"maxItems":100,"type":"array","description":"The speaker's infomation.","items":{"required":["email_address","role","speaker_id","username","zoom_user_id"],"type":"object","properties":{"speaker_id":{"type":"string","description":"The speaker's sequence ID generated from Transcript Service.","example":"0"},"zoom_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"email_address":{"type":"string","description":"The speaker's email address, this value is null for external users.","example":"cci_dev_admin@example.com"},"username":{"type":"string","description":"The speaker's username.","example":"Admin3"},"role":{"type":"string","description":"The speaker's role.","example":"rep","enum":["rep","customer"]}},"description":"The speaker's infomation."}},"items":{"maxItems":2000,"type":"array","description":"The text items.","items":{"type":"object","properties":{"comments":{"type":"string","description":"The comments.","example":"abc"},"item_id":{"type":"string","description":"The item's sequence ID, starting from 0.","example":"0"},"speaker_id":{"type":"string","description":"The speaker's sequence ID generated from Transcript Service.","example":"0"},"zoom_user_id":{"type":"string","description":"The speaker's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"start_time":{"type":"string","description":"The speak start time.","example":"00:00:22.790"},"end_time":{"type":"string","description":"The speak end time.","example":"00:00:25.680"},"text":{"type":"string","description":"The speech content.","example":"A halo, Kanji, this"},"email":{"type":"string","description":"The speaker's email address, this value is null for external users.","example":"cci_dev_admin@example.com"}}}}},"description":"The transcript content."},"language":{"type":"string","description":"The primary language.","example":"en"},"interaction_summary":{"type":"string","description":"The interaction's overall summary.","example":"The meeting involved a diverse range of unrelated exchanges among participants including Admin3 and an unnamed person identified as +12053546173. Topics touched upon, albeit discontinuously, revolved around a possible analytical recording concept, a potential interest in women, and a reference to monthly recording. Nevertheless, the specifics and the central objective of these discussions remained unclear from the provided transcript."},"interaction_info":{"required":["interaction_id"],"type":"object","properties":{"from":{"type":"string","description":"The caller's phone number in E.164 format.","example":"+12053546173"},"to":{"type":"string","description":"The recipient's phone number in E.164 format.","example":"+12095422197"},"interaction_id":{"type":"string","description":"The interaction ID.","example":"VgKcwkLoTPy80OyNcUo2Yg"},"agent_name":{"type":"string","description":"The agent's name.","example":"Admin3"},"consumer_name":{"type":"string","description":"The consumer's name.","example":"+12053546173"},"channel_type":{"type":"string","description":"The channel type, including `VIDEO`, `MANUAL`, `SMS`, `AUDIO` and `WEB_CHAT`.","example":"VIDEO","enum":["VIDEO","MANUAL","SMS","AUDIO","WEB_CHAT"]},"evaluator_name":{"type":"string","description":"The evaluator's name.","example":"Admin3"},"scorecard_name":{"type":"string","description":"The scorecard name.","example":"123"},"scorecard_id":{"type":"string","description":"The scorecard ID.","example":"C1SWkGmQSZG37RVL12vrsg"},"evaluator_user_id":{"type":"string","description":"The evaluator's user ID.","example":"ycEUjKmDSnuPwF33KLTxJg"},"evaluation_score":{"type":"number","description":"The evaluation score.","example":20},"evaluations":{"type":"array","description":"The associated evaluations.","items":{"type":"object","properties":{"evaluation_id":{"type":"string","description":"The evaluation ID.","example":"aI9HM3ZsEScAa"},"evaluation_type":{"type":"string","description":"The evaluation type.","example":"Automated","enum":["Manual","Automated"]}}}},"associated_ids":{"maxItems":100,"type":"array","description":"The associated interaction IDs.\n","items":{"type":"string","description":"The associated interaction ID.","example":"VgKcwkLoTPy80OyNcUo2Yg"}}},"description":"The interaction infomation."},"screen_recording_status":{"type":"string","description":"The status of the interaction screen recording.","example":"UNAVAILABLE","enum":["UNAVAILABLE","AVAILABLE","DELETED"]},"engagement_id":{"type":"string","description":"The engagement ID.","example":"2R1t8QtiTsKIOIAV0-a7FQ"},"silence_events":{"maxItems":100,"type":"array","description":"The silence event infomation.","items":{"type":"object","properties":{"start_time":{"type":"string","description":"The silence event start time.","example":"00:01:07.580"},"end_time":{"type":"string","description":"The silence event end time.","example":"00:01:10.960"}}}},"crosstalk_events":{"maxItems":100,"type":"array","description":"The crosstalk event infomation.","items":{"type":"object","properties":{"start_time":{"type":"string","description":"The crosstalk event start time.","example":"00:01:07.580"},"end_time":{"type":"string","description":"The crosstalk event end time.","example":"00:01:10.960"}}}},"hold_events":{"maxItems":100,"type":"array","description":"The crosstalk event infomation.","items":{"type":"object","properties":{"start_time":{"type":"string","description":"The hold event start time.","example":"00:01:07.580"},"end_time":{"type":"string","description":"The hold event end time.","example":"00:01:10.960"}}}},"direction":{"type":"string","description":"The direction.","example":"inbound"},"analysis":{"type":"object","properties":{"topics":{"maxItems":20,"type":"array","description":"Array of topics identified in the interaction content.","items":{"type":"object","properties":{"topic_name":{"type":"string","description":"The topic name.","example":"Customer Complaint"}},"description":"A specific topic in the interaction."}},"indicators":{"maxItems":250,"type":"array","description":"Array of indicators detected in the interaction.","items":{"type":"object","properties":{"indicator_name":{"type":"string","description":"The indicator name.","example":"Hello"}},"description":"A specific indicator in the interaction."}},"next_steps":{"maxItems":20,"type":"array","description":"Array of recommended actions or follow-up steps based on the analysis of the interaction content.","items":{"type":"object","properties":{"next_step":{"type":"string","description":"The next step or action.","example":"Jasper: Contact the billing department to pay malpractice premium without policy number"}},"description":"A specific recommended action or next step."}},"good_questions":{"maxItems":20,"type":"array","description":"Array of effective questions that were asked during the interaction.","items":{"type":"object","properties":{"good_question":{"type":"string","description":"The good question.","example":"I'm really sorry to hear that. Could you please describe the issue you’re experiencing? We’d like to help resolve it as soon as possible."}},"description":"A specific good question in the interaction."}}},"description":"AI-powered analysis of the interaction content."}},"description":"The response"}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Unauthorized. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not found. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["qm_interactions:read:admin","qm_interactions:read","zoom_quality_management:read:interactions","zoom_quality_management:read:interactions:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["AllInteractions:Read"],"x-macro-scopes":["qm_interactions:read:admin","qm_interactions:read"],"x-granular-scopes":["zoom_quality_management:read:interactions","zoom_quality_management:read:interactions:admin"]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{"qm_evaluations:read:admin":"qm_evaluations:read:admin","qm_evaluations:read":"qm_evaluations:read","zoom_quality_management:read:evaluations:admin":"zoom_quality_management:read:evaluations:admin","zoom_quality_management:read:evaluations":"zoom_quality_management:read:evaluations","qm_interactions:read":"qm_interactions:read","qm_interactions:read:admin":"qm_interactions:read:admin","zoom_quality_management:read:interactions":"zoom_quality_management:read:interactions","zoom_quality_management:read:interactions:admin":"zoom_quality_management:read:interactions:admin","qm_interactions:write:admin":"qm_interactions:write:admin","qm_interactions:write":"qm_interactions:write","zoom_quality_management:write:interactions":"zoom_quality_management:write:interactions","zoom_quality_management:write:interactions:admin":"zoom_quality_management:write:interactions:admin"}}}}}}}