{"openapi":"3.0.0","info":{"title":"Rooms","description":"The Zoom Rooms REST APIs allow you to manage your Zoom Rooms.  For example, you can create new Zoom Rooms, read their current configuration, or make configuration changes.  The Zoom Rooms REST API for [Zoom Room Controls](https://developers.zoom.us/docs/zoom-rooms/)in particular allows you to perform limited active control of a Zoom Room, such as starting or leaving a meeting, changing the mute state, or restarting the Zoom Room, among other capabilities.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/rooms/controller/apps/config":{"post":{"tags":["Room Apps"],"summary":"Config Zoom Room Controller Apps","description":"Use this API to configure Zoom Room Controller installed Zoom Apps.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `room:write:admin`,`room:master`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_rooms:write:zoom_apps:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"ConfigZoomRoomControllerApps","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"string","description":"Unique Identifier of the Zoom Apps. This can be retrieved from the response of Get Zoom Room Controller Apps API.","example":"hOAlFWpxTr6XQNNFj-gWKw"},"room_id":{"type":"string","description":"Unique Identifier of the Zoom Room. This can be retrieved from the response of List Zoom Rooms API.","example":"qMOLddnySIGGVycz8aX_JQ"},"configuration_type":{"maximum":1,"type":"integer","description":"Enum of configuration type, 0 means config username and password, 1 means config token","format":"int32","example":0,"enum":[0,1]},"username":{"type":"string","description":"Your ZRC apps connect url user name mutually exclusive with token field","example":"Dylan.Wang"},"password":{"type":"string","description":"Your ZRC apps connect url password mutually exclusive with token field","example":"Test123"},"token":{"type":"string","description":"Your ZRC apps connect token mutually exclusive with username/password","example":"Test-Token"},"url":{"type":"string","description":"Your ZRC apps connected url","example":"https://zoom.us/"},"support_unverified_url":{"type":"boolean","description":"Does the url field not support certificate verification,true will not verify the connection certificate. Default is false","example":false,"default":true},"allow_list_domains":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string","description":"Your ZRC apps allowed domains","example":"apple.com"},"support_unverified":{"type":"boolean","description":"Does the domain field not support certificate verification,true will not verify the connection certificate. Default is false","example":false,"default":true}},"description":"Your ZRC apps allowed domain list"}}},"description":"Zoom Room Controller Apps Config Item."}}}}},"responses":{"200":{"description":"**HTTP Status Code:** `200` **OK**\nZoom room controller apps configured successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer","description":"0 means success","example":0,"enum":[0]}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051005` <br>\n Parameter verification failed. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30054003` <br>\n Zoom App ${app_id} or Zoom Room ${room_id} not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["room:write:admin","room:master","zoom_rooms:write:zoom_apps:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomRooms:Edit","SubAccount:Read","SubAccount:Edit"],"x-macro-scopes":["room:write:admin","room:master"],"x-granular-scopes":["zoom_rooms:write:zoom_apps:admin"]}}},"/visitor/invitation":{"get":{"tags":["Visitor Management"],"summary":"Get a list of visitors by location ","description":"List the invitations under a Zoom user account. Visitor management is a software system used to manage the lifecycle of visitors.\n  \n \n**Prerequisite:**  \n \n* Users need to be assigned a visitor management license. \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:read:list_invitations`,`visitor_management:read:list_invitations:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"invitationList","parameters":[{"name":"invite_location_id","in":"query","description":"The location ID where the visitor is invited to.","required":false,"schema":{"type":"string","example":"wnFFoWRwTLeww81UuAeW4g"}},{"name":"from","in":"query","description":"The start time for visit time filtering.","required":false,"schema":{"type":"string","example":"2021-03-18T05:41:36Z"}},{"name":"to","in":"query","description":"The end time for visit time filtering.","required":false,"schema":{"type":"string","example":"2021-03-18T05:41:36Z"}},{"name":"data_scope","in":"query","description":"user: Only display the invitation records of this user.\naccount: When having admin privileges, display the invitation records only for the locations under this account where the admin has permissions.","required":false,"schema":{"type":"string","example":"user","default":"user","enum":["user","account"]}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"type":"integer","example":30}}],"responses":{"200":{"description":"Get invitation list successful.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"number","description":"Total records count.","example":200},"invitations":{"type":"array","description":"Invitation list.","items":{"type":"object","properties":{"invitation_id":{"type":"string","description":"Invitation ID.","example":"feYLmdxtQsqX3kx08ZqxOQ"},"address":{"type":"string","description":"Invitation address.","example":"New York"},"details":{"type":"string","description":"Invitation host details.","example":"Notice items"},"start_time":{"type":"string","description":"The visit's start time.","example":"2021-04-18T05:41:36Z"},"host_email":{"type":"string","description":"Host email.","example":"example@mail.com"},"host_name":{"type":"string","description":"Host name.","example":"Example host name"},"invite_location_id":{"type":"string","description":"Invitation location ID.","example":"FCTDHSgLTDGbeUY0VOXq0A"},"office_name":{"type":"string","description":"Office name.","example":"Example office"},"visitor_photo_url":{"type":"string","description":"The photo uploaded by visitor.","example":"https://file.zoom.us/file/example-url"},"check_in_time":{"type":"string","description":"Visitor check in time.","example":"2021-04-18T05:41:36Z"},"status":{"type":"string","description":"The invitation's status. \n* `WAITING_FOR_REGISTRATION` \n* `REGISTERED` \n* `SIGNED_IN` \n* `CANCELED` \n* `CHECK_OUT` \n* `NO_SHOW`","example":"WAITING_FOR_REGISTRATION","enum":["WAITING_FOR_REGISTRATION","REGISTERED","SIGNED_IN","CANCELED","CHECK_OUT","NO_SHOW"]},"time_zone":{"type":"string","description":"Invitation location time zone.","example":"Asia/Shanghai"},"visitor_email":{"type":"string","description":"Visitor email.","example":"jchill@example.com"},"visitor_name":{"type":"string","description":"Visitor name.","example":"Jill Chill"},"visitor_organization":{"type":"string","description":"Visitor organization name.","example":"Zoom"}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051005` <br>\n Invalid `next_page_token` or `page_size`. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["visitor_management:read","visitor_management:read:list_invitations","visitor_management:read:list_invitations:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["visitor_management:read"],"x-granular-scopes":["visitor_management:read:list_invitations","visitor_management:read:list_invitations:admin"]}},"post":{"tags":["Visitor Management"],"summary":"Send an invitation","description":"Send a invitation to a visitor. Visitor management is a software system used to manage the visitors' lifecycle. \n  \n \n**Prerequisite:**  \n \n* Users need to be assigned a visitor management license. \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:write:invitation`,`visitor_management:write:invitation:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"createInvitation","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"visitor_email":{"type":"string","description":"The invited visitor's email address.","example":"visitor@example.com"},"visitor_name":{"type":"string","description":"The invited visitor's name.","example":"visitor.li"},"start_time":{"type":"string","description":"The start time of the visit.","example":"2021-03-18T05:41:36Z"},"invite_location_id":{"type":"string","description":"The location ID of the location that the visitor is invited to.","example":"wnFFoWRwTLeww81UuAeW4g"},"host_id":{"type":"string","description":"The user ID of the invitation host.","example":"I7zp-pYbTl22Z29H796Ixg"},"visitor_organization":{"type":"string","description":"The invited visitor's organization name.","example":"zoom"}}}}}},"responses":{"204":{"description":"Send invitation successful."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30059712` <br>\n Visitor has been blocked. <br>\n**Error Code:** `30059710` <br>\n The account or location is not enabled for Visitor Management. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"408":{"description":"**HTTP Status Code:** `408` <br>\n Request Timeout  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["visitor_management:write:admin","visitor_management:write:invitation","visitor_management:write:invitation:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["visitor_management:write:admin"],"x-granular-scopes":["visitor_management:write:invitation","visitor_management:write:invitation:admin"]}}},"/visitor/invitation/{invitationId}":{"get":{"tags":["Visitor Management"],"summary":"Invitation details by invitationID","description":"Visitor management is a software system used to manage the lifecycle of visitors. Inviter use this API to get the invitation details. \n  \n \n**Prerequisite:**  \n \n* Users need to be assigned a visitor management license. \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:read:invitation_details`,`visitor_management:read:invitation_details:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"getInvitation","parameters":[{"name":"invitationId","in":"path","description":"The invitation ID.","required":true,"schema":{"type":"string","example":"qV4G5fBGTCqImT5yQg0Kg"}}],"responses":{"200":{"description":"Get invitation details by invitation ID.","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"invitation_id":{"type":"string","description":"Invitation id","example":"feYLmdxtQsqX3kx08ZqxOQ"},"address":{"type":"string","description":"Invitation address","example":"New York"},"details":{"type":"string","description":"Invitation host details","example":"Notice items"},"start_time":{"type":"string","description":"The start time of the visit","example":"2021-03-18T05:41:36Z"},"host_email":{"type":"string","description":"Host email","example":"kim.luo@zoom.us"},"host_name":{"type":"string","description":"Host name","example":"Kim Luo"},"invite_location_id":{"type":"string","description":"Invitation location id","example":"FCTDHSgLTDGbeUY0VOXq0A"},"office_name":{"type":"string","description":"Office name","example":"test-carl-JA01"},"visitor_photo_url":{"type":"string","description":"The photo uploaded by visitor","example":"https://file.zoomdev.us/file/cFRTpF9IRICHDQZpi5wGcg?business=zr&jwt=eyJ6bV9za20iOiJ6bV9vMm0iLCJ0eXAiOiJKV1QiLCJrIjoiS3F3RGs4UHIiLCJhbGciOiJFUzI1NiJ9.eyJhdWQiOiJ6ZnMiLCJ0b2tlbklkIjoiYTBqUS1ROTVUTm1DLWEzOE5ialduQSIsImFwcE5hbWUiOiJ6ciIsImlzcyI6InpyIiwicGVybWlzc2lvbiI6IntcImFjdGlvblwiOlwicmVhZFwiLFwiZW50aXR5XCI6e1wiY291bnRcIjowLFwiZmlsZUlkXCI6XCJjRlJUcEY5SVJJQ0hEUVpwaTV3R2NnXCIsXCJtYXhTaXplXCI6MH19IiwiZXhwIjoxNzIzNTE3MTk2LCJ0b2tlblR5cGUiOiJwcmVzaWduVG9rZW4iLCJpYXQiOjE3MjM0MzA3OTZ9.0Uq4fZzTlaKAOL6UDF86N-dOVOAaetlAtwZMHWFenwbHEK5Ps436C4Zy-zGmX9LbaGGkFMyV2P9mbP4oWPXZhg"},"check_in_time":{"type":"string","description":"Visitor check in time","example":"2021-03-18T05:41:36Z"},"status":{"type":"string","description":"The invitation's status: \n* `WAITING_FOR_REGISTRATION` \n* `REGISTERED` \n* `SIGNED_IN` \n* `CANCELED` \n* `CHECK_OUT` \n* `NO_SHOW`","example":"WAITING_FOR_REGISTRATION","enum":["WAITING_FOR_REGISTRATION","REGISTERED","SIGNED_IN","CANCELED","CHECK_OUT","NO_SHOW"]},"time_zone":{"type":"string","description":"Invitation location time zone","example":"Asia/Shanghai"},"visitor_email":{"type":"string","description":"Visitor email","example":"carl.li@zoom.us"},"visitor_name":{"type":"string","description":"Visitor name","example":"Carl Li"},"visitor_organization":{"type":"string","description":"Visitor orgnization name","example":"Zoom"}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30059702` <br>\n Can not find the invitation. <br>\n"},"408":{"description":"**HTTP Status Code:** `408` <br>\n Request Timeout  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["visitor_management:read","visitor_management:read:invitation_details","visitor_management:read:invitation_details:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["visitor_management:read"],"x-granular-scopes":["visitor_management:read:invitation_details","visitor_management:read:invitation_details:admin"]}},"delete":{"tags":["Visitor Management"],"summary":"Delete an Invitation ","description":"Visitor management is a software system used to manage the lifecycle of visitors. Inviter use this API to cancel or delete an invitation. \n  \n \n**Prerequisite:**  \n \n* Users need to be assigned a visitor management license. \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:delete:invitation`,`visitor_management:delete:invitation:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"deleteInvitation","parameters":[{"name":"invitationId","in":"path","description":"The invitation ID.","required":true,"schema":{"type":"string","example":"qV4G5fBGTCqImT5yQg0Kg"}},{"name":"cancel","in":"query","description":"True: cancel invitation; false: delete invitation.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"204":{"description":"Delete/Cancel invitation successful."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30059708` <br>\n Can not find the invitation. <br>\n"},"408":{"description":"**HTTP Status Code:** `408` <br>\n Request Timeout  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["visitor_management:write","visitor_management:delete:invitation","visitor_management:delete:invitation:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["visitor_management:write"],"x-granular-scopes":["visitor_management:delete:invitation","visitor_management:delete:invitation:admin"]}},"patch":{"tags":["Visitor Management"],"summary":"Update an invitation","description":"Update a invitation. Visitor management is a software system used to manage the visitors' lifecycle.\n  \n \n**Prerequisite:**  \n \n* Users need to be assigned a visitor management license. \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:update:invitation`,`visitor_management:update:invitation:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"updateInvitation","parameters":[{"name":"invitationId","in":"path","description":"The invitation ID.","required":true,"schema":{"type":"string","example":"qV4G5fBGTCqImT5yQg0Kg"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"visitor_name":{"type":"string","description":"The invited visitor's name.","example":"visitor.li"},"start_time":{"type":"string","description":"The visit's start time.","example":"2021-03-18T05:41:36Z"},"invite_location_id":{"type":"string","description":"The location ID of the location that the visitor is invited to.","example":"wnFFoWRwTLeww81UuAeW4g"},"host_id":{"type":"string","description":"The invitation host's user ID.","example":"I7zp-pYbTl22Z29H796Ixg"},"visitor_organization":{"type":"string","description":"The invited visitor's organization name.","example":"zoom"},"visitor_email":{"type":"string","description":"The visitor email.","example":"carl.li@zom.us"}}}}}},"responses":{"204":{"description":"Update invitation successful."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30059712` <br>\n Visitor has been blocked. <br>\n**Error Code:** `30059710` <br>\n The account or location is not enabled for Visitor Management. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30059707` <br>\n Can not find the invitation. <br>\n"},"408":{"description":"**HTTP Status Code:** `408` <br>\n Request Timeout  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["visitor_management:write","visitor_management:update:invitation","visitor_management:update:invitation:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["visitor_management:write"],"x-granular-scopes":["visitor_management:update:invitation","visitor_management:update:invitation:admin"]}}},"/visitor/invitation/{invitationId}/checkin":{"post":{"tags":["Visitor Management"],"summary":"Check in a visitor","description":"Check in an invitation. \n  \n \n**Prerequisite:**  \n \n* Users need to be assigned a visitor management license. \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `visitor_management:write:check_in`,`visitor_management:write:check_in:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"checkinVisitor","parameters":[{"name":"invitationId","in":"path","description":"The invitation ID.","required":true,"schema":{"type":"string","example":"qV4G5fBGTCqImT5yQg0Kg"}}],"responses":{"204":{"description":"Invitation check in successful."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30059712` <br>\n The visitor has been blocked. <br>\n**Error Code:** `30059710` <br>\n The account or location is not enabled for Visitor Management. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30059713` <br>\n Can not find the invitation. <br>\n"},"408":{"description":"**HTTP Status Code:** `408` <br>\n Request Timeout  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["visitor_management:write","visitor_management:write:check_in","visitor_management:write:check_in:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["visitor_management:write"],"x-granular-scopes":["visitor_management:write:check_in","visitor_management:write:check_in:admin"]}}},"/workspaces":{"get":{"tags":["Workspaces"],"summary":"List workspaces","description":"List a location's workspaces. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read`,`workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:list_workspaces`,`workspace:read:list_workspaces:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listWorkspaces","parameters":[{"name":"location_id","in":"query","description":"The location's ID.","required":true,"schema":{"type":"string","example":"49D7a0xPQvGQ2DCMZgSe7w"}},{"name":"workspace_name","in":"query","description":"The name of the desk.","required":false,"schema":{"type":"string","example":"Test Desk"}},{"name":"workspace_type","in":"query","description":"The type of workspace. Default will return desk and room if it is empty.","required":false,"schema":{"type":"string","example":"commonWorkspace","enum":["commonWorkspace","desk","room"]}},{"name":"reserve_user","in":"query","description":"The user who wants to reserve workspace, default will be the user who request.","required":false,"schema":{"type":"string","example":"zwKiV80hQ7CwRg9BEm0Bvw"}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"type":"integer","example":30}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Workspace list returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":20},"workspaces":{"maxItems":1000,"type":"array","description":"Information about the workspace.","items":{"type":"object","properties":{"id":{"type":"string","description":"The workspace's ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"workspace_name":{"maxLength":64,"type":"string","description":"The workspace's name.","example":"My Room"},"workspace_type":{"type":"string","description":"The workspace's type: \n* `Desk`\n* `Room`\n* `CommonWorkspace`.","example":"desk","enum":["desk","room","commonWorkspace"]},"location_id":{"type":"string","description":"Location ID of the place where the Zoom Room was added.","example":"49D7a0xPQvGQ2DCMZgSe7w"},"capacity":{"type":"string","description":"The capacity of the workspace.","example":"30"},"construction_status":{"type":"boolean","description":"The construction status.","example":true},"room_images":{"maxItems":6,"type":"array","description":"The room images","items":{"type":"string","description":"Room image URL.","example":"https://image.url"}},"requires_approval":{"type":"boolean","description":"The workspace requires admin approval or not.","example":true},"asset_ids":{"type":"array","description":"Workspace asset IDs","items":{"type":"string","description":"Workspace asset ID.","example":"acf7a8844f35426bb993b3db2c0501dd"}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read","workspace:read:admin","workspace:read:list_workspaces","workspace:read:list_workspaces:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read","workspace:read:admin"],"x-granular-scopes":["workspace:read:list_workspaces","workspace:read:list_workspaces:admin"]}},"post":{"tags":["Workspaces"],"summary":"Create a workspace","description":"Creates workspaces.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:workspace:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"createWorkspace","requestBody":{"content":{"application/json":{"schema":{"required":["location_id","workspace_name","workspace_type"],"type":"object","properties":{"location_id":{"type":"string","description":"The location's ID.","example":"49D7a0xPQvGQ2DCMZgSe7w"},"workspace_name":{"maxLength":64,"type":"string","description":"The workspace's name.","example":"My Room"},"workspace_type":{"type":"string","description":"The workspace's type: \n* `desk` \n* `room`","example":"desk","enum":["desk","room"]},"calendar_resource_id":{"type":"string","description":"The calendar resource's ID.","example":"rNQUpdDXySFGhVycz7aR-SR"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`   \n \n Created.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The workspace's ID.","example":"qMOLddnySIGGVycz8aX_JQ"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:workspace:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:workspace:admin"]}}},"/workspaces/additional_informations":{"get":{"tags":["Workspaces"],"summary":"List workspace additional information with time range","description":"List a location workspaces' additional informations with time range.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`,`workspace:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:list_workspaces`,`workspace:read:list_workspaces:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"Getaworkspaceadditionalenhancements","parameters":[{"name":"from","in":"query","description":"The start date of the query.","required":true,"schema":{"type":"string","format":"date-time","example":"2021-03-18T05:41:36Z"}},{"name":"to","in":"query","description":"The end date of the query. Can be up to 14 days in the future.","required":true,"schema":{"type":"string","format":"date-time","example":"2021-03-18T05:41:36Z"}},{"name":"reserve_user","in":"query","description":"The user who wants to reserve workspace, default will be the user who request","required":false,"schema":{"type":"string","example":"zwKiV80hQ7CwRg9BEm0Bvw"}},{"name":"location_id","in":"query","description":"The location's ID.","required":true,"schema":{"type":"string","example":"49D7a0xPQvGQ2DCMZgSe7w"}},{"name":"workspace_type","in":"query","description":"The type of workspace. Default will return desk and room if it is empty.","required":false,"schema":{"type":"string","example":"desk","enum":["desk","room"]}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"type":"integer","example":30}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Workspace list with additional information returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"workspaces":{"maxItems":1000,"type":"array","description":"Information about the workspace.","items":{"type":"object","properties":{"id":{"type":"string","description":"The workspace's ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"workspace_status":{"type":"string","description":"Status of the workspace.","example":"free"},"workspace_name":{"maxLength":64,"type":"string","description":"The workspace's name.","example":"My Room"},"workspace_type":{"type":"string","description":"The workspace's type: \n* `Desk`\n* `Room`\n* `CommonWorkspace`.","example":"desk","enum":["desk","room"]},"location_id":{"type":"string","description":"Location ID of the place where the Zoom Room was added.","example":"49D7a0xPQvGQ2DCMZgSe7w"},"capacity":{"type":"string","description":"The capacity of the workspace","example":"30"},"construction_status":{"type":"boolean","description":"The construction status","example":true},"room_images":{"type":"array","description":"The room images","items":{"type":"string","description":"Room image url","example":"https://image.url"}},"requires_approval":{"type":"boolean","description":"The workspace requires admin approval or not.","example":true},"available":{"type":"boolean","description":"The workspace is available for reserve user during time range or not.","example":true},"reserve_permission":{"type":"boolean","description":"The workspace that reserve user has permission or not.","example":true},"asset_ids":{"type":"array","description":"Workspace asset IDs","items":{"type":"string","description":"Workspace asset ID","example":"acf7a8844f35426bb993b3db2c0501dd"}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read","workspace:read:list_workspaces","workspace:read:list_workspaces:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin","workspace:read"],"x-granular-scopes":["workspace:read:list_workspaces","workspace:read:list_workspaces:admin"]}}},"/workspaces/assets":{"get":{"tags":["Workspaces"],"summary":"Get all workspace assets","description":"List all workspace assets.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:asset:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"Getallworkspaceassets","parameters":[{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size.","required":false,"schema":{"type":"string","example":"n28bw3MswE5HKRqwrmxuR2aAoAcXZflOw72"}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"type":"integer","example":10}}],"responses":{"200":{"description":"Workspace assets successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"assets":{"maxItems":1000,"type":"array","description":"The list of assets being returned.","items":{"required":["asset_id","name"],"type":"object","properties":{"name":{"type":"string","description":"The asset's name.","example":"TV223"},"asset_id":{"type":"string","description":"Workspace asset ID.","example":"ab31d714b3644dc79681041709aeb4ab"}}}},"next_page_token":{"type":"string","description":"Token to retrieve the next page.","example":"n28bw3MswE5HKRqwrmxuR2aAoAcXZflOw72"},"page_size":{"type":"number","description":"The number of records returned within a single API call.","example":15}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30054002` <br>\n User does not exist. <br>\n**Error Code:** `300520001` <br>\n Unknown error. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read:asset:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin"],"x-granular-scopes":["workspace:read:asset:admin"]}},"post":{"tags":["Workspaces"],"summary":"Create a workspace asset","description":"Create a new workspace asset.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:asset:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"AddaWorkspaceasset","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the asset that needs to be added.","example":"monitor"}}}}}},"responses":{"201":{"description":"Workspace asset created successfully. ","content":{"application/json":{"schema":{"type":"object","properties":{"asset_id":{"type":"string","description":"The ID of the newly created workspace asset.","example":"evnadfhayt23bakfhak12"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300520001` <br>\n Input validation error. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:asset:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:asset:admin"]}}},"/workspaces/assets/{assetId}":{"get":{"tags":["Workspaces"],"summary":"Get a workspace asset","description":"Create a workspace asset based on the asset ID. \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:asset:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"get_workspace_asset","parameters":[{"name":"assetId","in":"path","description":"Unique ID that represents the workspace asset.","required":true,"schema":{"type":"string","example":"ab31d714b3644dc79681041709aeb4ab"}}],"responses":{"200":{"description":"Workspace asset returned successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Workspace asset name.","example":"Monitor"},"asset_id":{"type":"string","description":"Workspace asset ID.","example":"acf7a8844f35426bb993b3db2c0501dd"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051005` <br>\n Missing required input : assetId. <br>\n**Error Code:** `300520001` <br>\n Unknown error. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read:asset:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:read:admin"],"x-granular-scopes":["workspace:read:asset:admin"]}},"delete":{"tags":["Workspaces"],"summary":"Delete a workspace asset","description":"Delete a workspace asset by asset ID.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:delete:asset:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"DeleteaWorkspaceasset","parameters":[{"name":"assetId","in":"path","description":"A unique ID that represents the workspace asset. ","required":true,"schema":{"type":"string","example":"ab31d714b3644dc79681041709aeb4ab"}}],"responses":{"204":{"description":"Workspace asset deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051005` <br>\n Missing required input : assetId. <br>\n**Error Code:** `300520001` <br>\n Unknown error. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:delete:asset:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:delete:asset:admin"]}},"patch":{"tags":["Workspaces"],"summary":"Edit a workspace asset","description":"Edit the workspace's asset based on asset ID. \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:update:asset:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"PatchWorkspaceasset","parameters":[{"name":"assetId","in":"path","description":"The unique ID of an asset that needs to be edited.","required":true,"schema":{"type":"string","example":"ab31d714b3644dc79681041709aeb4ab"}}],"requestBody":{"description":"Edit the workspace asset. ","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The asset's name.","example":"ultra wide gaming monitor"}}}}}},"responses":{"204":{"description":"Workspace asset edited successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051005` <br>\n Missing required input : Name. <br>\n**Error Code:** `300520001` <br>\n Unknown error. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:update:asset:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:update:asset:admin"]}}},"/workspaces/events":{"post":{"tags":["Workspaces"],"summary":"Check in/out of a reservation","description":"Use this API to check in to or out of a reservation. This API does not support Zoom Room Desk and Common Area Phone Desk. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:events`,`workspace:write:events:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"reservationEvent","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"method":{"type":"string","description":"The method that you would like to control.","example":"check_in","enum":["check_in","check_out"]},"params":{"type":"object","properties":{"workspace_id":{"type":"string","description":"The workspace's ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"user_id":{"type":"string","description":"The user's ID.","example":"_0ctZtY0REqWalTmwvrdIw"},"reservation_id":{"type":"string","description":"The reservation's ID.","example":"ebrg2b87a6uu9c678qhvsiahsc"}},"description":"Use **workspace_id** &amp; **user_id** or just **reservation_id** to define which reservation to check in or check out."}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n No Content."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:events","workspace:write:events:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:events","workspace:write:events:admin"]}}},"/workspaces/floormap/files":{"post":{"tags":["Workspaces"],"summary":"Add or Update a Workspace floor map","description":"Use this API to Add or Update a Workspace floor map.  \n\n**Prerequisite:**   The caller must be a Zoom Workspace licensed user\n**Note:**   Base URL: `https://fileapi.zoom.us/v2/`\n* Rate limit: 20 requests per second per user or 2000 requests per second per IP address\n* The caller must support HTTP 30x redirects\n* The caller must retain the Authorization header when redirected to a different hostname\n* JPG/JPEG, 24-bit PNG, PDF\n* Recommended dimensions - 1920 x 1080 (landscape) for 16:9 aspect ratio displays\n* Maximum dimensions - 6000 x 4000 (landscape)\n* Your object size should no more than 10M\n\n  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:location`,`workspace:write:location:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"AddOrUpdateAWorkspaceFloorMap","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file","location_id"],"type":"object","properties":{"file":{"type":"string","description":"Upload image.\n* JPG/JPEG, 24-bit PNG, PDF.\n* Recommended dimensions - 1920 x 1080 (landscape) for 16:9 aspect ratio displays.\n* Maximum dimensions - 6000 x 4000 (landscape).","format":"binary","example":""},"location_id":{"type":"string","description":"Location ID of the place where the Zoom Room was added.","example":"ry6d7lrSR4qqxC11HQ30lc"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201` **OK**  \n \nWorkspace floor map added or updated successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"file_id":{"type":"string","description":"The file ID.","example":"L38yKqXzT7SKinGI0jyFHA"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  1. Floor map check failed\n2. Floor map exceed the pixel limit \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Location not found. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:location","workspace:write:location:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:location","workspace:write:location:admin"]}}},"/workspaces/released_workspaces_by_timeout":{"get":{"tags":["Workspaces"],"summary":"List released workspaces by timeout","description":"Lists workspaces that were released due to missing check-in or checkout information. The maximum query time interval is one month.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`,`room:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zoom_rooms:read:list_release_infos:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"getWorksapceReservationReleaseInof","parameters":[{"name":"from","in":"query","description":"The start time of the query corresponding to the room reservation start time. The timezone is UTC.","required":true,"schema":{"type":"string","example":"2025-05-31"}},{"name":"to","in":"query","description":"The end time of the query corresponding to the room reservation end time. The timezone is UTC.","required":true,"schema":{"type":"string","example":"2025-06-02"}},{"name":"location_id","in":"query","description":"The location ID for the queried location.","required":true,"schema":{"type":"string","example":"RWpLdGEAQeiXQ6JAwLCO1g"}},{"name":"workspace_type","in":"query","description":"Workspace type.\n\n`all` - Query rooms and desks.\n`desk` - Query desks.\n`room` - Query rooms.","required":true,"schema":{"type":"string","example":"all","enum":["all","desk","room"]}},{"name":"snapshot_date","in":"query","description":"Location snapshot time. Uses UTC time. The `snapshot_date` must be between the `start_date` and `end_date`.","required":true,"schema":{"type":"string","example":"2025-06-02"}},{"name":"page_size","in":"query","description":"The number of records returned within a single API call.","required":false,"schema":{"type":"integer","example":30}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.","required":false,"schema":{"type":"string","example":"IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"}}],"responses":{"200":{"description":"Successfully retrieved the release information list.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token used to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2"},"page_size":{"maximum":300,"type":"integer","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"integer","description":"The total number of all records available across pages.","example":20},"release_events":{"maxItems":300,"minItems":0,"type":"array","description":"Release information for workspace reservations.","items":{"required":["event_id","recurring_meeting","reservation_end_time","reservation_start_time","timezone","workspace_id","workspace_name","workspace_type"],"type":"object","properties":{"event_id":{"type":"string","description":"The event ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"workspace_id":{"type":"string","description":"The workspace ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"location_id":{"type":"string","description":"The location ID for the queried location.","example":"6wXGGQvwQb2hpnHekQxMsw"},"workspace_name":{"type":"string","description":"The workspace name.","example":"My Room"},"workspace_type":{"type":"string","description":"The workspace type.","example":"all","enum":["all","desk","room"]},"user_name":{"type":"string","description":"The Zoom username for the workspace reservation.","example":"san zhang"},"user_email":{"type":"string","description":"The user email for the workspace reservation.","example":"jchill@example.com"},"timezone":{"type":"string","description":"The reservation timezone.","example":"Asia/Shanghai"},"reservation_start_time":{"type":"string","description":"The reservation start time in UTC.","example":"2021-03-18T05:00:36Z"},"reservation_end_time":{"type":"string","description":"The reservation end time in UTC.","example":"2021-03-18T05:30:36Z"},"recurring_meeting":{"type":"boolean","description":"Whether this is a recurring meeting.","example":true},"checkin_time":{"type":"string","description":"The check-in time in UTC, or 'No check-in' if no check-in occurred.","example":"2021-03-18T05:00:36Z"},"checkout_time":{"type":"string","description":"The checkout time in UTC, or 'Auto-released' if automatically released.","example":"2021-03-18 T05:30:36Z"},"release_flag":{"type":"boolean","description":"Whether this meeting was released before the reservation end time.","example":true},"release_time":{"type":"string","description":"The time when the meeting was released in UTC.","example":"2021-03-18T05:30:36Z"},"release_reason":{"type":"string","description":"The reason why the room was released.\n\n* `Cancellation` - This event was deleted.\n* `No check in/auto release` - The event was automatically released due to no check-in within the specified time.\n* `User check out` - The user checked out.","example":"Cancellation","enum":["Cancellation","No check in/auto release","User check out"]},"release_location":{"type":"string","description":"If released, how or where the meeting was released.","example":"Scheduling Display","enum":["Zoom Rooms","Zoom Rooms Controller","Scheduling Display","Open Rest API","Zoom Rooms Whiteboard","Scheduling Displays On ZR","Workspace Portal","Desk","Personal Room Rooms","Scan QR Code","Chatbot","Auto Action","AIC","Mobile Client","Zoom Client","Zoom Apps","Plugin","Visitor"]},"cons_times_no_check_in":{"type":"integer","description":"The number of consecutive times with no check-in for recurring meetings.","example":2},"room_email":{"type":"string","description":"The email address bound to the room.","example":"jchill@example.com"}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","room:read:admin","zoom_rooms:read:list_release_infos:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:read:admin","room:read:admin"],"x-granular-scopes":["zoom_rooms:read:list_release_infos:admin"]}}},"/workspaces/settings":{"patch":{"tags":["Workspaces"],"summary":"Update workspace settings","description":"Updates workspace settings.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write`,`workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:update:setting:admin`,`workspace:update:setting:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"updateWorkspaceSettings","requestBody":{"content":{"application/json":{"schema":{"maxItems":20,"type":"array","items":{"required":["setting_level","setting_level_id","settings"],"type":"object","properties":{"setting_level":{"type":"string","description":"The workspace's setting level.","example":"account","enum":["account","location","desk"]},"setting_level_id":{"type":"string","description":"The workspace's setting level ID.","example":"49D7a0xPQvGQ2DCMZgSe7w"},"settings":{"maxItems":20,"type":"array","description":"Settings to change","items":{"required":["setting_type","setting_value"],"type":"object","properties":{"setting_type":{"type":"string","description":"The workspace's setting type","example":"enable_auto_check_in","enum":["add_asset","remove_asset","reserve_for_visitors","restrict_reservation_in_person_only","time_zone","under_construction","display_occupancy_status","required_approve","enable_workspace_check_in_and_out","allow_pre_check_in_time","no_check_in_auto_release_time","enable_auto_release"]},"setting_value":{"type":"string","description":"The workspace's setting's value. Could be true, false, number or id","example":"true"}}}}},"description":"Setting levels to change"}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n No Content."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write","workspace:write:admin","workspace:update:setting:admin","workspace:update:setting:master"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write","workspace:write:admin"],"x-granular-scopes":["workspace:update:setting:admin","workspace:update:setting:master"]}}},"/workspaces/usage":{"get":{"tags":["Workspaces"],"summary":"Get a location's hot desk usage","description":"Creates a location's [hot desk](https://en.wikipedia.org/wiki/Hot_desking) usage information.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`,`workspace:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:usage`,`workspace:read:usage:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"getHotDeskUsage","parameters":[{"name":"location_id","in":"query","description":"The location's ID.","required":true,"schema":{"type":"string","example":"49D7a0xPQvGQ2DCMZgSe7w"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Hot desk usage information returned.","content":{"application/json":{"schema":{"type":"object","properties":{"desk_usage":{"type":"object","properties":{"in_use":{"type":"integer","description":"The number of desks in use.","example":2},"not_in_use":{"type":"integer","description":"The number of desks not in use.","example":1}},"description":"Information about the workspace desk usage."},"room_usage":{"type":"object","properties":{"in_use":{"type":"integer","description":"The number of workspaces in use.","example":1},"not_in_use":{"type":"integer","description":"The number of workspaces not in use.","example":1}},"description":"Information about the workspace room usage."},"total_usage":{"type":"object","properties":{"in_use":{"type":"integer","description":"The total number in use.","example":1},"not_in_use":{"type":"integer","description":"The total number not in use.","example":1}},"description":"Information about the total workspace usage."}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read","workspace:read:usage","workspace:read:usage:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:read:admin","workspace:read"],"x-granular-scopes":["workspace:read:usage","workspace:read:usage:admin"]}}},"/workspaces/users/{userId}/calendar/settings":{"get":{"tags":["Workspaces"],"summary":"Get  Workspace Calendar Free/Busy Event","description":"List workspace calendar free or busy event settings.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:workspace:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"GetWorkspaceCalendarFree/BusyEvent","parameters":[{"name":"userId","in":"path","description":"The user ID of the user whose setting needs to be retrieved.","required":false,"schema":{"type":"string","example":"rZXNXVlVSTaSZDTJvLcBew"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Workspace calendar settings returned.","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"room_status":{"type":"string","example":"free"},"desk_status":{"type":"string","example":"free"}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300510002` <br>\n User not found. <br>\n**Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. * ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription.<br><br> <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30051014` <br>\n Missing User ID. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read:workspace:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin"],"x-granular-scopes":["workspace:read:workspace:admin"]}},"post":{"tags":["Workspaces"],"summary":"Set Workspace Calendar Free/Busy Event","description":"Set calendar free or busy event.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:workspace:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"SetCalendarFree/BusyEvent","parameters":[{"name":"userId","in":"path","description":"The unique identifier for a user whose workspace calendar settings needs to be updated. ","required":false,"schema":{"type":"string","example":"akdjfarjejewjUfskd"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"room_status":{"type":"string","description":"This represents the users calendar status for room reservation. ","example":"free","enum":["free","busy"]},"desk_status":{"type":"string","description":"This represents the users calendar status for desk reservation. ","example":"busy","enum":["free","busy"]}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204` **"},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300510003` <br>\n Invalid input for field room_status. <br>\n**Error Code:** `300510002` <br>\n User Not Found. <br>\n**Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. * ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription.<br><br> <br>\n**Error Code:** `300510004` <br>\n Invalid input for field desk_status. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30051014` <br>\n Missing User ID. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:workspace:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:workspace:admin"]}}},"/workspaces/users/{userId}/reservations":{"get":{"tags":["Workspaces"],"summary":"Get a user's workspace's reservations","description":"Retrieves a user's workspace's reservations. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:list_reservations:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"userListReservations","parameters":[{"name":"userId","in":"path","description":"The user ID.","required":true,"schema":{"type":"string","example":"KDcuGIm1QgePTO8WbOqwIQ"}},{"name":"from","in":"query","description":"The start date of the query.","required":true,"schema":{"type":"string","format":"date-time","example":"2021-03-18T05:41:36Z"}},{"name":"to","in":"query","description":"The end date of the query. Can be up to 14 days.","required":true,"schema":{"type":"string","format":"date-time","example":"2021-03-18T05:41:36Z"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \nReservations returned.","content":{"application/json":{"schema":{"type":"object","properties":{"reservations":{"maxItems":1000,"type":"array","description":"List of reservations.","items":{"type":"object","properties":{"end_time":{"type":"string","description":"End time of the reservation.","format":"date-time","example":"2021-03-18T05:41:36Z"},"id":{"type":"string","description":"The reservation's ID.","example":"ebrg2b87a6uu9c678qhvsiahsc"},"start_time":{"type":"string","description":"Start time of the reservation.","format":"date-time","example":"2021-03-18T05:41:36Z"},"timezone":{"type":"string","description":"Timezone of the reserved workspace.","example":"Asia/Shanghai"},"topic":{"type":"string","description":"The reservation's topic.","example":"My Personal Meeting Room"},"user_id":{"type":"string","description":"User who reserved the workspace.","example":"KDcuGIm1QgePTO8WbOqwIQ"},"status":{"type":"string","description":"Status of the workspace.","example":"reserved","enum":["reserved","checked_in","checked_out"]},"workspace_id":{"type":"string","description":"The workspace's ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"location_id":{"type":"string","description":"The location's ID.","example":"49D7a0xPQvGQ2DCMZgSe7w"}},"description":"Information about the reservation."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read:list_reservations:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin"],"x-granular-scopes":["workspace:read:list_reservations:admin"]}}},"/workspaces/{locationId}/background":{"delete":{"tags":["Workspaces"],"summary":"Delete Workspace floor map","description":"Use this API to delete a workspace floor map.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:location`,`workspace:write:location:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"DeleteWorkspaceFloorMap","parameters":[{"name":"locationId","in":"path","description":"Location ID of the place where the Zoom Room was added.","required":true,"schema":{"type":"string","example":"ry6d7lrSR4qqxC11HQ30lc"}},{"name":"remove_child","in":"query","description":"Whether workspace shapes and wayfinding need to be removed, false by default.","required":false,"schema":{"type":"boolean","example":false}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` **OK**  \n\nWorkspace floor map deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  1. Floor map check failed\n2. Floor map exceed the pixel limit \n\n **Error Code:** `30051005` <br>\n Illegal Access. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Location not found. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:location","workspace:write:location:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:location","workspace:write:location:admin"]}}},"/workspaces/{workspaceId}":{"get":{"tags":["Workspaces"],"summary":"Get a workspace","description":"Creates workspace detail.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:list_workspaces`,`workspace:read:list_workspaces:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"getWorkspace","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Workspace returned.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The workspace's ID.","example":"qMOLddnySIGGVycz8aX_JQ"},"workspace_name":{"maxLength":64,"type":"string","description":"The workspace's name.","example":"My Room"},"workspace_display_name":{"maxLength":64,"type":"string","description":"The workspace's display name.","example":"My Room"},"workspace_type":{"type":"string","description":"The workspace's type: \n* `desk` \n* `room`","example":"desk","enum":["desk","room"]},"workspace_passcode":{"type":"string","description":"The workspace's passcode.","example":"123xyz"},"activation_code":{"type":"string","description":"The workspace's activation code.","example":"3009-7012-8956-5005"},"calendar_resource_id":{"type":"string","description":"The calendar resource's ID.","example":"rNQUpdDXySFGhVycz7aR-SR"},"location_id":{"type":"string","description":"Location ID of the place where the Zoom Room was added.","example":"49D7a0xPQvGQ2DCMZgSe7w"},"supportAssignment":{"type":"boolean","description":"Whether the workspace support assignment","example":false}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `8204` <br>\n * Workspace not found. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read:list_workspaces","workspace:read:list_workspaces:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin"],"x-granular-scopes":["workspace:read:list_workspaces","workspace:read:list_workspaces:admin"]}},"delete":{"tags":["Workspaces"],"summary":"Delete a workspace","description":"Deletes workspace detail.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:delete:workspace:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"deleteWorkspace","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n No Content."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `8204` <br>\n * Workspace not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:delete:workspace:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:delete:workspace:admin"]}},"patch":{"tags":["Workspaces"],"summary":"Update a workspace","description":"Updates workspace detail.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:update:workspace:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"updateWorkspace","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"workspace_name":{"maxLength":64,"type":"string","description":"The workspace's name.","example":"My Room"},"workspace_display_name":{"maxLength":64,"type":"string","description":"The workspace's display name.","example":"My Room"},"workspace_passcode":{"type":"string","description":"The workspace's passcode","example":"123xyz"},"calendar_resource_id":{"type":"string","description":"The calendar resource's ID.","example":"rNQUpdDXySFGhVycz7aR-SR"}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`   \n \n No Content."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `8204` <br>\n * Workspace not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:update:workspace:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:update:workspace:admin"]}}},"/workspaces/{workspaceId}/assignment":{"get":{"tags":["Workspaces"],"summary":"Get a desk assignment","description":"Get a desk assignment.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`,`workspace:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:assignment`,`workspace:read:assignment:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"Getadeskassignment","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}}],"responses":{"200":{"description":"Desk assignment returned.","content":{"application/json":{"schema":{"type":"object","properties":{"assign_type":{"type":"string","description":"Assign type:\n* permanent\n\nNote: More assign type support in future release.","example":"permanent","enum":["permanent"]},"permanent_assignment":{"type":"object","properties":{"account_id":{"type":"string","description":"The belong's account ID of assigned user.","example":"bhmIXpdYRcCK6BB3VhMq6w"},"user_id":{"type":"string","description":"The ID of assigned user.","example":"oyLyxW48QeC3uBBFY2CF3A"},"user_email":{"type":"string","description":"The email of assigned user.","example":"example@zoom.us"}},"description":"Permanent assignment information. Only use for `assign_type` = `permanent`"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300520006` <br>\n The workspace not support assignment. <br>\n**Error Code:** `300520007` <br>\n Unsupported assign type. <br>\n**Error Code:** `300520008` <br>\n Workspace assignment feature is turned off. <br>\n**Error Code:** `300520009` <br>\n Access restricted. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `300520005` <br>\n Workspace not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read","workspace:read:assignment","workspace:read:assignment:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin","workspace:read"],"x-granular-scopes":["workspace:read:assignment","workspace:read:assignment:admin"]}},"put":{"tags":["Workspaces"],"summary":"Set a desk assignment","description":"Set a desk assignment.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:assignment:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"setADeskAssignment","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["assign_type"],"type":"object","properties":{"assign_type":{"type":"string","description":"Assign type:\n* permanent\n\nNote: More assign type support in future release.","example":"permanent","enum":["permanent"]},"permanent_assignment":{"type":"object","properties":{"account_id":{"type":"string","example":"bhmIXpdYRcCK6BB3VhMq6w"},"user_id":{"type":"string","example":"oyLyxW48QeC3uBBFY2CF3A"}},"description":"Permanent assignment information. Only use for `assign_type` = `permanent`"}}}}}},"responses":{"204":{"description":"Desk assignment successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300520001` <br>\n Missing required input. <br>\n**Error Code:** `300520006` <br>\n The workspace not support assignment. <br>\n**Error Code:** `300520007` <br>\n Unsupported assign type. <br>\n**Error Code:** `300520008` <br>\n Workspace assignment feature is turned off. <br>\n**Error Code:** `300520009` <br>\n Access restricted. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `300520005` <br>\n Workspace not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:write:assignment:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:write:assignment:admin"]}},"delete":{"tags":["Workspaces"],"summary":"Delete a desk assignment","description":"Deletes a desk assignment.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:delete:assignment:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"Deleteadeskassignment","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}}],"responses":{"204":{"description":"Desk assignment deleted successfully."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300520006` <br>\n The workspace not support assignment. <br>\n**Error Code:** `300520007` <br>\n Unsupported assign type. <br>\n**Error Code:** `300520008` <br>\n Workspace assignment feature is turned off. <br>\n**Error Code:** `300520009` <br>\n Access restricted. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `300520005` <br>\n Workspace not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write:admin","workspace:delete:assignment:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write:admin"],"x-granular-scopes":["workspace:delete:assignment:admin"]}}},"/workspaces/{workspaceId}/qr_code":{"get":{"tags":["Workspaces"],"summary":"Get a workspace QR code","description":"Use this API to get the workspace QR code. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:qr:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"getWorkspaceQRCode","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}},{"name":"type","in":"query","description":"The type of URL of QR code that you would like to retrieve.\n\n`check_in`: Check-in QR code URL.\n\n`unified`: Unified QR code URL.","required":false,"schema":{"type":"string","example":"check_in","default":"check_in","enum":["check_in","unified"]}},{"name":"ttl","in":"query","description":"The expiry time of the URL in seconds.","required":false,"schema":{"type":"integer","example":3600,"default":2592000}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \nQR code returned.","content":{"application/json":{"schema":{"type":"object","properties":{"qr_code":{"type":"string","description":"The URL to the workspace QR code.","format":"uri","example":"https://example.com/qr_code"},"expire_in":{"type":"integer","description":"The number of seconds the QR code is valid for before it expires.","format":"int64","example":10}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `200` <br>\n Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription.<br><br> <br>\n**Error Code:** `300` <br>\n Invalid TTL value for QR code URL.<br><br> <br>\n**Error Code:** `8205` <br>\n Workspace is not configured onto a map.<br><br> <br>\n**Error Code:** `8206` <br>\n Workspace does not support unified QR code.<br><br> <br>\n**Error Code:** `8207` <br>\n Workspace does not support checkin QR code.  <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `8204` <br>\n Workspace does not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read:qr:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin"],"x-granular-scopes":["workspace:read:qr:admin"]}}},"/workspaces/{workspaceId}/reservations":{"get":{"tags":["Workspaces"],"summary":"Get a workspace's reservations","description":"Retrieves a workspace's reservations. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:admin`,`workspace:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:list_reservations`,`workspace:read:list_reservations:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listReservations","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}},{"name":"from","in":"query","description":"The start date of the query.","required":false,"schema":{"type":"string","format":"date-time","example":"2021-03-18T05:41:36Z"}},{"name":"to","in":"query","description":"The end date of the query. Can be up to 14 days in the future.","required":false,"schema":{"type":"string","format":"date-time","example":"2021-03-18T05:41:36Z"}},{"name":"user_id","in":"query","description":"The ID of the user for whom to create a workspace reservation.","required":false,"schema":{"type":"string","example":"KDcuGIm1QgePTO8WbOqwIQ"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \nReservations returned.","content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string","description":"The queried start date and time.","format":"date-time","example":"2021-03-18T05:41:36Z"},"reservations":{"type":"array","description":"List of reservations.","items":{"type":"object","properties":{"end_time":{"type":"string","description":"The reservation's end time.","format":"date-time","example":"2021-03-18T05:41:36Z"},"id":{"type":"string","description":"The reservation's ID.","example":"ebrg2b87a6uu9c678qhvsiahsc"},"start_time":{"type":"string","description":"The reservation's start time.","format":"date-time","example":"2021-03-18T05:41:36Z"},"timezone":{"type":"string","description":"The reservation's timezone.","example":"Asia/Shanghai"},"topic":{"type":"string","description":"The reservation's topic.","example":"My Personal Meeting Room"},"user_id":{"type":"string","description":"Zoom user ID of the workspace reservation.","example":"KDcuGIm1QgePTO8WbOqwIQ"},"status":{"type":"string","description":"The workspace reservation's status.","example":"reserved","enum":["reserved","checked_in","checked_out"]}},"description":"Information about the reservation."}},"to":{"type":"string","description":"The queried end date and time.","format":"date-time","example":"2021-03-18T05:41:36Z"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `1001` <br>\n User does not exist: {userId} <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read:admin","workspace:read","workspace:read:list_reservations","workspace:read:list_reservations:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Read"],"x-macro-scopes":["workspace:read:admin","workspace:read"],"x-granular-scopes":["workspace:read:list_reservations","workspace:read:list_reservations:admin"]}},"post":{"tags":["Workspaces"],"summary":"Create a reservation","description":"Creates a workspace reservation.  \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write`,`workspace:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:write:reservation`,`workspace:write:reservation:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"createReservation","parameters":[{"name":"workspaceId","in":"path","description":"The workspace's ID.","required":true,"schema":{"type":"string","example":"qMOLddnySIGGVycz8aX_JQ"}},{"name":"check_in","in":"query","description":"Check in this reservation after successful creation.","required":false,"schema":{"type":"boolean","example":false,"default":false}}],"requestBody":{"content":{"application/json":{"schema":{"required":["end_time","start_time","topic"],"type":"object","properties":{"end_time":{"type":"string","description":"The reservation's end time.","format":"date-time","example":"2021-03-18T05:41:36Z"},"meeting":{"type":"object","properties":{"end_to_end_encrypted":{"type":"boolean","description":"Whether to enable end-to-end encryption (E2EE). When enabled, the encryption key is stored on the local device and cannot be obtained by anyone else. Enabling E2EE also [disables certain features](https://support.zoom.us/hc/en-us/articles/360048660871), such as cloud recording, live streaming, and allowing participants to join before the host.","example":true},"password":{"maxLength":10,"type":"string","description":"The meeting's passcode, up to a maximum of 10 characters. This value can only contain the following characters: \n\n `a`-`z` `A`-`Z` `0`-`9` `@` `-` `_` `*` \n\n **Note:** If the account owner or administrator has configured a [minimum passcode requirement setting](https://support.zoom.us/hc/en-us/articles/360033559832-Meeting-and-webinar-passwords#h_a427384b-e383-4f80-864d-794bf0a37604), this value must meet those requirements. You can view password requirements by calling the [**Get user settings**](/docs/api-reference/zoom-api/methods#operation/userSettings) API or the [**Get account settings**](/docs/api-reference/zoom-api/ma#operation/accountSettings) API.","example":"9832583261"},"waiting_room":{"type":"boolean","description":"Whether participants are placed in the [**Waiting Room**](https://support.zoom.us/hc/en-us/articles/115000332726-Waiting-Room) when they join a meeting.","example":true},"meeting_uuid":{"type":"string","description":" Unique meeting ID. Double encode your UUID when using it for API calls if the UUID begins with a / or contains // in it. If you provide meeting uuid, reservation will create with this meeting.","example":"aDYlohsHRtCd4ii1uC2+hA=="}},"description":"The reservation's meeting settings. You must provide this information if the requested workspace's `type` is the `room` value."},"start_time":{"type":"string","description":"The reservation's start time.","format":"date-time","example":"2021-03-18T05:41:36Z"},"topic":{"type":"string","description":"The reservation's topic.","example":"My Personal Meeting Room"},"reserve_for":{"type":"string","description":"The ID of the user for whom to create a workspace reservation.","example":"KDcuGIm1QgePTO8WbOqwIQ"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`     Reservation created.","content":{"application/json":{"schema":{"type":"object","properties":{"reservation_id ":{"type":"string","description":"The reservation's ID.","example":"ebrg2b87a6uu9c678qhvsiahsc"},"status":{"type":"string","description":"The workspace reservation's status.","example":"checked_in","enum":["reserved","checked_in","checked_out"]}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. \n* ZR core system error. Try again later. <br>\n**Error Code:** `300` <br>\n Invalid date and time range. <br>\n**Error Code:** `8201` <br>\n Failed to reserve workspace. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n * User does not exist: {userId}. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:write","workspace:write:admin","workspace:write:reservation","workspace:write:reservation:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkspacesManagement:Edit"],"x-macro-scopes":["workspace:write","workspace:write:admin"],"x-granular-scopes":["workspace:write:reservation","workspace:write:reservation:admin"]}}},"/workspaces/{workspaceId}/reservations/{reservationId}":{"get":{"tags":["Workspaces"],"summary":"Get a workspace reservation by reservationId","description":"Retrieves a workspace reservation ID.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read`,`workspace:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workspace:read:reservation`,`workspace:read:reservation:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"GETGetaworkspacereservationbyreservationID","parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID.","required":true,"schema":{"type":"string","example":"12344"}},{"name":"reservationId","in":"path","description":"Reservation ID.","required":true,"schema":{"type":"string","example":"1223443"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`    Reservations returned.","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"topic":{"type":"string","description":"Topic of the reservation.","example":"Yuki-devintt{{8*8}}'s Reservation"},"timezone":{"type":"string","description":"Timezone of the reserved workspace.","example":"UTC"},"id":{"type":"string","description":"The Reservation's ID","example":"dh1fjff72ffe7v139kn3hlfvl0"},"user_id":{"type":"string","description":"User who reserved the workspace.","example":"rZXNXVlVSTaSZDTJvLcBew"},"start_time":{"type":"string","description":"Start time of the reservation.","example":"2023-10-16T19:30:00Z"},"end_time":{"type":"string","description":"End time of the reservation.","example":"2023-10-17T00:00:00Z"},"status":{"type":"string","description":"Status of the workspace.","example":"reserved","enum":["reserved","checked_in","checked_out"]}},"description":"Data returned. "}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2` <br>\n * ZR core service is disabled. Try again later. * ZR core system error. Try again later. <br>\n**Error Code:** `200` <br>\n * Zoom Workspace Reservation subscription was not found. Try again after purchasing a Zoom Workspace Reservation subscription. <br>\n**Error Code:** `30093007` <br>\n Calendar event does not exist. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User does not exist: {userId} <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workspace:read","workspace:read:admin","workspace:read:reservation","workspace:read:reservation:admin"],"openapi_authorization":[]}],"
[...]
