{"openapi":"3.0.0","info":{"title":"SCIM2","description":"SCIM2 (System for Cross-domain Identity Management) is a specification designed to automate the provisioning of user and group identities across various cloud-based applications and services using SSO services and Identity Providers. The Zoom SCIM2 API provides support for user and group provisioning through the **User** and **Group** resources.\n\n SCIM uses HTTP methods compatible with the REST architecture style. The payloads require schema definitions, attributes, and values for requests. With the SCIM API, you can use additional features such as attribute filters and search criteria. \n\n While using the SCIM APIs, set the value of the Accept header as `application/scim+json`. \n\n **Prerequisites** \n* Zoom Owner or Admin privileges. \n* Business or Education account with approved [Vanity URL](https://support.zoom.us/hc/en-us/articles/215062646-Guidelines-for-Vanity-URL-Requests). \n* [Single Sign-On](https://support.zoom.us/hc/en-us/articles/201363003-Getting-Started-with-SSO) enabled. \n\n ## Authentication \n\n The SCIM2 API supports OAuth authentication. To use Oauth 2.0, create an [OAuth app](https://developers.zoom.us/docs/integrations/create/) or a [server-to-server OAuth app](https://developers.zoom.us/docs/internal-apps/create/) on the Zoom App Marketplace and select `SCIM2` as the scope for your app. Next, [generate an OAuth token](https://developers.zoom.us/docs/integrations/oauth/) for your app and start making SCIM2 API calls.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us"},"version":"1.0"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us"}],"paths":{"/scim2/Groups":{"get":{"tags":["Group"],"summary":"List groups","description":"List all groups. Use additional query parameters to filter specific groups.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"groupSCIM2List","parameters":[{"name":"startIndex","in":"query","description":"The start index of the records to be returned.","required":false,"schema":{"type":"integer","example":1,"default":1}},{"name":"count","in":"query","description":"The number of records returned in a single API call.","required":false,"schema":{"maximum":100,"minimum":0,"type":"integer","example":1,"default":1}},{"name":"filter","in":"query","description":"The type of query: \n* `displayName eq {groupName}` — Provide the group's name to filter the response to a specific group.","required":false,"schema":{"type":"string","example":"displayName eq G1"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br>\nGroup information returned.","content":{"application/json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas.","example":["urn:ietf:params:scim:api:messages:2.0:ListResponse"],"items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"totalResults":{"type":"integer","description":"The total number of all records across pages.","example":20},"startIndex":{"type":"integer","description":"The start index for the records.","example":1},"itemsPerPage":{"type":"integer","description":"The number of records returned with a single API call.","example":10},"Resources":{"type":"array","description":"The group resource's information.","items":{"type":"object","properties":{"id":{"type":"string","description":"The group's ID.","example":"kuWhUCrrT4q9Xy17rSR8js"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `Group` for the Group resource type.","example":"Group"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"location":{"type":"string","description":"The resource's URI in the `https://api.zoom.us/scim2/Groups/{groupId}` format.","example":"https://api.zoom.us/scim2/Groups/k&KdKr6TLWuxdDtk0hjSzL"},"created":{"type":"string","description":"The group's creation time.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The group's last modification time.","example":"2023-11-27T11:36:20Z"}},"description":"The group resource's metadata."},"schemas":{"type":"array","description":"A list of schemas.","example":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:ietf:params:scim:schemas:extension:zoom:2.0:Group"],"items":{"type":"string","example":"urn:ietf:params:scim:schemas:core:2.0:Group"}},"displayName":{"type":"string","description":"A human-readable name for the group.","example":"SCIM group"},"urn:ietf:params:scim:schemas:extension:zoom:2.0:Group":{"type":"object","properties":{"emailAlias":{"type":"string","description":"The group's email address (optional).","example":"test@example.com"}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n The current filter does not support the filter name: {filter} <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"Group:Read\". <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["Group:Read"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}},"post":{"tags":["Group"],"summary":"Create a group","description":"Create a new group.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"groupScim2Create","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas.","example":["urn:ietf:params:scim:schemas:core:2.0:Group"],"items":{"type":"string","example":"urn:ietf:params:scim:schemas:core:2.0:Group"}},"displayName":{"type":"string","description":"A human-readable name for the group.","example":"SCIM group"},"urn:ietf:params:scim:schemas:extension:zoom:2.0:Group":{"type":"object","properties":{"emailAlias":{"type":"string","description":"The group's email address (optional).","example":"test@example.com"}}}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201` <br>\nGroup created.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The group's ID.","example":"kuWhUCrrT4q9Xy17rSR8js"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `Group` for the group resource type.","example":"Group"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"location":{"type":"string","description":"The resource's URI in `https://api.zoom.us/scim2/Groups/{groupId}` format.","example":"https://api.zoom.us/scim2/Groups/k&KdKr6TLWuxdDtk0hjSzL"},"created":{"type":"string","description":"The group's creation time.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The group's last modification time.","example":"2023-11-24T05:13:15Z"}},"description":"The group resource's metadata."},"schemas":{"type":"array","description":"A list of schemas.","example":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:ietf:params:scim:schemas:extension:zoom:2.0:Group"],"items":{"type":"string","example":"urn:ietf:params:scim:schemas:core:2.0:Group"}},"displayName":{"type":"string","description":"A human-readable name for the group.","example":"SCIM Group"},"urn:ietf:params:scim:schemas:extension:zoom:2.0:Group":{"type":"object","properties":{"emailAlias":{"type":"string","description":"The group's email address (optional).","example":"test@example.com"}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n The request body must be in JSON format. <br>\n**Error Code:** `400` <br>\n The request JSON must not be empty. <br>\n**Error Code:** `400` <br>\n The \"DisplayName\" of the request is invalid. <br>\n**Error Code:** `400` <br>\n Create group failed. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"Group:Edit\". <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n Group {groupName} exists. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["Group:Edit"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}}},"/scim2/Groups/{groupId}":{"get":{"tags":["Group"],"summary":"Get a group","description":"Get the specific group's information.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"groupSCIM2Get","parameters":[{"name":"groupId","in":"path","description":"The group's ID.","required":true,"schema":{"type":"string","example":"kuWhUCrrT4q9Xy17rSR8js"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br>\n Group object returned.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The group's ID.","example":"kuWhUCrrT4q9Xy17rSR8js"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `Group` for the Group resource type.","example":"Group"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"location":{"type":"string","description":"The resource's URI in `https://api.zoom.us/scim2/Groups/{groupId}` format.","example":"https://api.zoom.us/scim2/Groups/k&KdKr6TLWuxdDtk0hjSzL"},"created":{"type":"string","description":"The group's creation time.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The group's last modification time.","example":"2023-11-27T11:36:20Z"}},"description":"The group resource's metadata."},"schemas":{"type":"array","description":"A list of schemas.","example":["urn:ietf:params:scim:schemas:core:2.0:Group","urn:ietf:params:scim:schemas:extension:zoom:2.0:Group"],"items":{"type":"string","example":"urn:ietf:params:scim:schemas:core:2.0:Group"}},"displayName":{"type":"string","description":"A human-readable name for the group.","example":"SCIM group"},"urn:ietf:params:scim:schemas:extension:zoom:2.0:Group":{"type":"object","properties":{"emailAlias":{"type":"string","description":"The group's email address (optional).","example":"test@example.com"}}}}}}}},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"Group:Read\". <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Group does not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["Group:Read"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}},"delete":{"tags":["Group"],"summary":"Delete a group","description":"Delete a group.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"groupSCIM2Delete","parameters":[{"name":"groupId","in":"path","description":"The group's ID.","required":true,"schema":{"type":"string","example":"kuWhUCrrT4q9Xy17rSR8js"}}],"responses":{"204":{"description":"**HTTP Status Code:** `204` <br>\nGroup deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Cannot delete account default group. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"Group:Edit\". <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Group does not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["Group:Edit"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}},"patch":{"tags":["Group"],"summary":"Update a group","description":"Update a group's information.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"groupSCIM2Update","parameters":[{"name":"groupId","in":"path","description":"The group's ID.","required":true,"schema":{"type":"string","example":"kuWhUCrrT4q9Xy17rSR8js"}}],"requestBody":{"description":"The following schema displays a list of properties that you can update. When you make an update request, include **only** the parameters that you want to update and the `schemas` parameter in the `RequestBody`.","content":{"application/json":{"schema":{"oneOf":[{"title":"Update Group [Non-member attributes]","type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas, in `urn:ietf:params:scim:api:messages:2.0:{operation}` format.","example":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:PatchOp"}},"Operations":{"type":"array","description":"Operations information.","items":{"anyOf":[{"title":"Update Group Name ","type":"object","properties":{"op":{"type":"string","description":"The operation name.","example":"replace"},"value":{"type":"object","properties":{"displayName":{"type":"string","description":"A human-readable name for the group.","example":"SCIM group"}},"description":"The operation's value information."}}},{"title":"Update Group Email","type":"object","properties":{"op":{"type":"string","description":"The operation name.","example":"replace"},"value":{"type":"object","properties":{"urn:ietf:params:scim:schemas:extension:zoom:2.0:Group:emailAlias":{"type":"string","description":"The group's email address (optional).","example":"group@example.com"}},"description":"The operation's value information."}}}]}}},"description":"Update Group."},{"title":"Update Group [Add Members]","type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas, in `urn:ietf:params:scim:api:messages:2.0:{operation}` format.","example":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:PatchOp"}},"Operations":{"type":"array","description":"Operations information.","items":{"type":"object","properties":{"op":{"type":"string","description":"The operation name.","example":"add"},"path":{"type":"string","description":"A string containing an attribute path describing the target of the operation.","example":"members"},"value":{"type":"array","description":"The operation's value information.","items":{"type":"object","properties":{"value":{"type":"string","description":"The user's ID","example":"exZxfwvaQXOJxUyRV-YslA"}}}}}}}},"description":"Add members."},{"title":"Update Group [Remove Members]","type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas, in `urn:ietf:params:scim:api:messages:2.0:{operation}` format.","example":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:PatchOp"}},"Operations":{"type":"array","description":"Operations information.","items":{"type":"object","properties":{"op":{"type":"string","description":"The operation name.","example":"remove"},"path":{"type":"string","description":"A string containing an attribute path describing the target of the operation.","example":"members[value eq \"k&KdKr6TLWuxdDtk0hjSzL\"]"}}}}},"description":"Remove members."},{"title":"Update Group [Replace Members]","type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas, in `urn:ietf:params:scim:api:messages:2.0:{operation}` format.","example":["urn:ietf:params:scim:api:messages:2.0:PatchOp"],"items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:PatchOp"}},"Operations":{"type":"array","description":"Operations information.","items":{"type":"object","properties":{"op":{"type":"string","description":"The operation name.","example":"replace"},"path":{"type":"string","description":"A string containing an attribute path describing the target of the operation.","example":"members"},"value":{"type":"array","description":"The operation's value information.","items":{"type":"object","properties":{"value":{"type":"string","description":"The user's ID","example":"exZxfwvaQXOJxUyRV-YslA"}}}}}}}},"description":"Replace members."}]}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204` <br>\nGroup updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n The request body must be in JSON format. <br>\n**Error Code:** `400` <br>\n The request JSON must not be empty. <br>\n**Error Code:** `400` <br>\n The \"Operations\" of the request is invalid. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"Group:Edit\". <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Group does not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["Group:Edit"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}}},"/scim2/Users":{"get":{"tags":["User"],"summary":"List users","description":"Lists all users. You can use additional query parameters to filter specific users.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"userSCIM2List","parameters":[{"name":"startIndex","in":"query","description":"The start index of records to be returned.","required":false,"schema":{"type":"integer","example":1,"default":1}},{"name":"count","in":"query","description":"The number of records returned in a single API call.","required":false,"schema":{"maximum":100,"minimum":0,"type":"integer","example":1,"default":1}},{"name":"filter","in":"query","description":"The query type: \n* `userName eq {userEmail}` — Provide the user's email address to filter the response to a specific user. \n* `externalId eq {userId}` — Filter the response by the user's ID (`userId`).","required":false,"schema":{"type":"string","example":"externalId eq ABCD1345"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br>\nUser information returned.","content":{"application/json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"totalResults":{"type":"integer","description":"The total number of all records across pages.","example":20},"startIndex":{"type":"integer","description":"The start index for the records.","example":1},"itemsPerPage":{"type":"integer","description":"The number of records returned with a single API call.","example":10},"Resources":{"type":"array","description":"The user's resource information.","items":{"type":"object","properties":{"id":{"type":"string","description":"The user's ID.","example":"k&KdKr6TLWuxdDtk0hjSzL"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `User` for the User resource type.","example":"User"},"location":{"type":"string","description":"The resource's URI in `https://api.zoom.us/scim2/Users/{userId}` format.","example":"https://api.zoom.us/scim2/Users/k&KdKr6TLWuxdDtk0hjSzL"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"created":{"type":"string","description":"The user'screation time.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The user's last modification time.","example":"2023-11-25T06:23:17Z"}},"description":"The user's resource metadata."},"schemas":{"type":"array","description":"A list of schemas.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"name":{"type":"object","properties":{"givenName":{"type":"string","description":"The user's first name.","example":"Jill"},"familyName":{"type":"string","description":"The user's last name.","example":"Chill"}},"description":"The information about the user's name."},"emails":{"type":"array","description":"The user's email information.","items":{"type":"object","properties":{"type":{"type":"string","description":"The email address label. For example `work`.","example":"work"},"value":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"primary":{"type":"boolean","description":"Whether the email address is the user's primary email address.","example":true}}}},"displayName":{"type":"string","description":"The user's display name.","example":"Jill Chill"},"userName":{"type":"string","description":"The user's username.","format":"email","example":"jchill@example.com"},"active":{"type":"boolean","description":"Whether the user is active.","example":true},"userType":{"type":"string","description":"The user type: \n* `Collaboration` \n* `Basic` \n* `Licensed` \n* `On-Prem`","example":"On-Prem","deprecated":true,"enum":["Collaboration","Basic","Licensed","On-Prem"]},"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User":{"type":"object","properties":{"department":{"type":"string","description":"The user's department.","example":"Development"}}},"urn:us:zoom:scim:schemas:extension:1.0:ZoomUser":{"type":"object","properties":{"loginType":{"type":"object","properties":{"workEmail":{"type":"boolean","description":"Whether the ability to log in with an work email address is enabled.","example":true},"sso":{"type":"boolean","description":"Whether Single Sign On (SSO) login is enabled.","example":true}},"description":"The user's login method information."}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Account has not enabled Single Sign-On.  <br>\n**Error Code:** `400` <br>\n The current filter is not supported, the filter name: {filter} <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The current login user does not have the \"User:Read\" permission. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["User:Read"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}},"post":{"tags":["User"],"summary":"Create a user","description":"Creates a new user.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"userScim2Create","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas in `urn:ietf:params:scim:api:messages:2.0:{operation}` format.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"userName":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"userType":{"type":"string","description":"The user type:\n* `Collaboration`\n* `Basic`\n* `Licensed`\n* `On-Prem`","example":"On-Prem","deprecated":true,"enum":["Collaboration","Basic","Licensed","On-Prem"]},"name":{"type":"object","properties":{"givenName":{"type":"string","description":"The user's first name.","example":"Jill"},"familyName":{"type":"string","description":"The user's last name.","example":"Chill"}},"description":"Information about the user's name."},"displayName":{"type":"string","description":"The user's display name.\nNote: If you do not add a display name, Zoom generates one by concatenating the first name and last name provided.","example":"Jill Chill"},"title":{"type":"string","description":"The user's job title.","example":"Developer"},"locale":{"type":"string","description":"The user's location.","example":"San Jose"},"phoneNumbers":{"type":"array","description":"A list of the user's assigned phone numbers.","items":{"type":"object","properties":{"type":{"type":"string","description":"The phone number's label:\n* `mobile`\n* `office`\n* `home`\n* `fax`\n* `work`\n\nThis value defaults to `work`.","example":"work","default":"work","enum":["mobile","office","home","fax","work"]},"value":{"type":"string","description":"The phone number.","example":"+015550100"}}}},"roles":{"type":"array","description":"The user's assigned [roles](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0064983) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The role's display name.","example":"Developer"},"value":{"type":"string","description":"The role name.","example":"Developer"},"primary":{"type":"boolean","description":"Whether the role is the user's primary role.","example":true}}}},"groups":{"type":"array","description":"The user's assigned [groups](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062584) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The group's display name.","example":"Developers"},"type":{"type":"string","description":"The group type. This value defaults to `direct`.","example":"direct","default":"direct"},"value":{"type":"string","description":"The group name.","example":"Developers"},"primary":{"type":"boolean","description":"Whether the group is the user's primary group.","example":true,"deprecated":true}}}},"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User":{"type":"object","properties":{"department":{"type":"string","description":"The user's department.","example":"Development"},"organization":{"type":"string","description":"The user's organization.","example":"Example"},"costCenter":{"type":"string","description":"The user's cost center.","example":"US01"},"employeeNumber":{"type":"string","description":"The user's employee ID.","example":"123"},"manager":{"type":"string","description":"The email address of the user's manager.","format":"email","example":"thill@example.com"}}},"urn:ietf:params:scim:schemas:extension:zoom:1.0:User":{"type":"object","properties":{"zoomPhoneExtNumber":{"type":"string","description":"The user's Zoom Phone extension number. To automatically assign an extension number, set this field's value to `0`.","example":"0"},"zoomPhoneNumber":{"type":"string","description":"The user's assigned Zoom Phone number. This value must be an unassigned number in the Zoom account.","example":"5550100"},"zoomPhoneSite":{"type":"string","description":"The Zoom Phone site to assign the user to. If you do not provide this value, the user will be assigned to the main site.","example":"main"},"zoomPhoneCallingPlan":{"type":"string","description":"The user's assigned [Zoom Phone calling plan number](https://developers.zoom.us/docs/api/rest/other-references/plans/#zoom-phone-calling-plans).","example":"phone_calling_usca_monthly_unlimited"},"{customAttribute}":{"maxItems":5,"type":"string","description":"A custom attribute and its value. This field returns as the custom attribute's name. For example, `currentState` and the `California` value.","example":"\"Custom attribute name\" : \"custom attribute value\""},"personalLinkName":{"type":"string","description":"The user's customized [personal link](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0068443#h_08f381ef-1e88-417c-b014-a2b9ad4abbda).","example":"user001"},"transferee":{"type":"string","description":"The transferee is another user within the same account designated to receive the original user's data when that user is deactivated or deleted.","example":"transferee@example.com"},"pronouns":{"type":"string","description":"The user's pronouns.","example":"They/Them/Their"},"zoomUnited":{"type":"string","description":"The user's number of [Zoom United licenses](https://zoom.us/pricing/zoom-bundles). The license options:\n* `1` — Zoom United Pro-United with US/CA Unlimited.\n* `2` — Zoom United Pro-United with UK/IR Unlimited.\n* `4` — Zoom United Pro-United with AU/NZ Unlimited.\n* `8` — Zoom United Pro-United with Global Select.\n* `16` — Zoom United Pro-United with Zoom Phone Pro.\n* `32` — Zoom United Biz-United with US/CA Unlimited.\n* `64` — Zoom United Biz-United with UK/IR Unlimited.\n* `128` — Zoom United Biz-United with AU/NZ Unlimited.\n* `256` — Zoom United Biz-United with Global Select.\n* `512` — Zoom United Biz-United with Zoom Phone Pro.\n* `1024` — Zoom United Ent-United with US/CA Unlimited.\n* `2048` — Zoom United Ent-United with UK/IR Unlimited.\n* `4096` — Zoom United Ent-United with AU/NZ Unlimited.\n* `8192` — Zoom United Ent-United with Global Select.\n* `16384` — Zoom United Ent-United with Zoom Phone Pro.\n* `32768` — Zoom United Pro-United with JP Unlimited.\n* `65536` — Zoom United Biz-United with JP Unlimited.\n* `131072` — Zoom United Ent-United with JP Unlimited.","example":"16","enum":["1","2","4","8","16","32","64","128","256","512","1024","2048","4096","8192","16384","32768","65536","131072"]},"zoomOneBizPlus":{"type":"string","description":"The Zoom Workplace plan option:\n`16` - Zoom Workplace Business Plus with US/CA Unlimited.\n`32` - Zoom Workplace Business Plus with UK/IR Unlimited.\n`64` - Zoom Workplace Business Plus with AU/NZ Unlimited.\n`128` - Zoom Workplace Business Plus with Japan Unlimited.\n`33554432` - Zoom Workplace Business Plus with Global Select.\nThe Zoom One plan option for Gov accounts:\n`16` - Zoom One Business Plus.","example":"16","enum":["16","32","64","128","33554432"]},"zoomOneEdu":{"type":"string","description":"Zoom One for Education Enterprise Student.\n`576460752303423488` - Zoom One for Education Enterprise Student.","example":"576460752303423488"},"zoomOneSchoolCampusPlus":{"type":"string","description":"The Zoom One plan option:\n`137438953472` - Zoom One for Education School and Campus Plus with US/CA Unlimited.\n`274877906944` - Zoom One for Education School and Campus Plus with Japan Unlimited.\n`549755813888` - Zoom One for Education School and Campus Plus with UK/Ireland Unlimited.\n`1099511627776` - Zoom One for Education School and Campus Plus with AU/NZ Unlimited.\n`2199023255552` - Zoom One for Education School and Campus Plus with Global Select.","example":"137438953472","enum":["137438953472","274877906944","549755813888","1099511627776","2199023255552"]},"zoomOneEntPremier":{"type":"string","description":"The Zoom One plan option:\n`134217728` - Zoom One Enterprise Premier with US/CA Unlimited.\n`268435456` - Zoom One Enterprise Premier with Japan Unlimited.\n`536870912` - Zoom One Enterprise Premier with UK/Ireland Unlimited.\n`1073741824` - Zoom One Enterprise Premier with AU/NZ Unlimited.\n`2147483648` - Zoom One Enterprise Premier with Global Select.","example":"134217728","enum":["134217728","268435456","536870912","1073741824","2147483648"]},"zoomOneEduEntPremier":{"type":"string","description":"The Zoom One plan option:\n`4294967296` - Zoom One for Education Enterprise Premier with US/CA Unlimited.\n`8589934592` - Zoom One for Education Enterprise Premier with Japan Unlimited.\n`17179869184` - Zoom One for Education Enterprise Premier with UK/Ireland Unlimited.\n`34359738368` - Zoom One for Education Enterprise Premier with AU/NZ Unlimited.\n`68719476736` - Zoom One for Education Enterprise Premier with Global Select.","example":"4294967296","enum":["4294967296","8589934592","17179869184","34359738368","68719476736"]},"zoomIQ":{"type":"boolean","description":"Zoom IQ Plan.","example":true,"deprecated":true},"zoomRevenueAccelerator":{"type":"boolean","description":"Zoom Revenue Accelerator Plan.","example":true},"zoomCustomerManagedKey":{"type":"boolean","description":"Zoom Customer Managed Key Plan.","example":true},"zoomWhiteboard":{"type":"boolean","description":"Zoom Whiteboard Plan.","example":true},"zoomWhiteboardPlus":{"type":"boolean","description":"Zoom Whiteboard Plus Plan.","example":true},"zoomTranslatedCaptions":{"type":"boolean","description":"Zoom Translated Captions Plan.","example":true},"zoomHuddles":{"type":"boolean","description":"Zoom Huddles Plan.","example":true,"deprecated":true},"zoomWorkforceManagement":{"type":"boolean","description":"Zoom Workforce Management Plan.","example":true},"zoomQualityManagement":{"type":"boolean","description":"Zoom Quality Management Plan.","example":true},"zoomScheduler":{"type":"boolean","description":"Zoom Scheduler Plan.","example":true},"zoomClipsPlus":{"type":"boolean","description":"Zoom Clips Plus Plan.","example":true},"zoomMailAndCalendar":{"type":"boolean","description":"Zoom Mail and Calendar Plan.","example":true},"visitorManagement":{"type":"boolean","description":"Zoom Visitor Management Plan.","example":true},"zoomComplianceManagement":{"type":"boolean","description":"Zoom Compliance Management Plan.","example":true},"zoomDocs":{"type":"boolean","description":"Zoom Docs Plan.","example":true},"zoomContactCenterPlan":{"type":"object","properties":{"zoomContactCenterPackage":{"type":"string","description":"The Zoom Contact Center Plan to assign to the user. Empty value will not assign the user to Zoom Contact Center. The package option:\n* `Essential` — Deprecated.\n* `Essentials` — Zoom Contact Center Package.","example":"Essentials","enum":["Essential","Essentials"]}},"description":"Zoom Contact Center Plan.","deprecated":true},"zoomContactCenterPackage":{"type":"string","description":"The Zoom Contact Center Plan to assign to the user. An empty value will not assign the user to Zoom Contact Center. Package options:\n* `Essentials` — Zoom Contact Center Essentials Package.\n* `Premium` — Zoom Contact Center Premium Package.\n* `Elite` — Zoom Contact Center Elite Package.","example":"Essentials","enum":["Essentials","Premium","Elite"]},"zoomContactCenterAddonsPlan":{"type":"string","description":"This is an optional field. The Zoom Contact Center Plan to assign to the user. An empty value will not assign the user to a Zoom Contact Center Add-On package. Add-on package options:\n* `ai_expert_assist` — Zoom Contact Center AI Expert Assist Package.","example":"ai_expert_assist","enum":["ai_expert_assist"]},"zoomContactCenterRole":{"type":"string","description":"The Zoom Contact Center role to assign to the user. If you do not provide this value, Zoom assigns the default Agent role to the user.","example":"Admin"},"zoomContactCenterRegion":{"type":"string","description":"The Zoom Contact Center region to assign to the user. If you do not provide this value, Zoom assigns the main region to the user.","example":"Main Region"},"zoomContactCenterUserTemplate":{"type":"string","description":"The Zoom Contact Center Add Template apply to the user. You can only use add-type templates when creating users, if you use an update-type template, it will be ignored. If you provide the add-type template value, leave all other fields blank to apply all settings from the template. If you specify both individual SCIM values and specify a template in the request, the individual values will take priority over the template settings.","example":"Add Template"},"clinicalNotes":{"type":"boolean","description":"Clinical Notes.","example":true,"deprecated":true},"zoomClinicians":{"type":"boolean","description":"Zoom Workplace for Clinicians.","example":true},"zoomCustomAICompanion":{"type":"boolean","description":"Zoom Custom AI Companion.","example":true},"zoomAICompanion":{"type":"boolean","description":"Zoom AI Companion.","example":true},"zoomRevenueAcceleratorRole":{"type":"string","description":"Zoom Revenue Accelerator Role.","example":"Sales Manager"},"zoomAutoDialer":{"type":"string","description":"The plan option of Zoom Auto Dialer.\n`1073741824` - Zoom Auto Dialer Plus US/Canada.","example":"1073741824","enum":["1073741824"]},"zoomFrontline":{"type":"string","description":"The plan option of Zoom Workplace for Frontline.\n`2048` - Zoom Workplace for Frontline.","example":"2048","enum":["2048"]},"zoomWorkplaceSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workplace license. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomPhoneCallingPlanSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Phone calling plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomRevenueAcceleratorSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Revenue Accelerator plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomCustomerManagedKeySubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Customer Managed Key. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWhiteboardSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Whiteboard and Zoom Whiteboard Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomTranslatedCaptionsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Translated Captions plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWorkforceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workforce Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomQualityManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Quality Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomSchedulerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Scheduler plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomClipsPlusSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Clips Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"visitorManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Visitor Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomComplianceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Compliance Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomDocsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Docs plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomAutoDialerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Auto Dialer plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"}}}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201` \nUser created.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The user's ID.","example":"k&KdKr6TLWuxdDtk0hjSzL"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `User` for the User resource type.","example":"User"},"location":{"type":"string","description":"The resource's URI in `https://api.zoom.us/scim2/Users/{userId}` format.","example":"https://api.zoom.us/scim2/Users/k&KdKr6TLWuxdDtk0hjSzL"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"created":{"type":"string","description":"The user's creation time.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The user's last modification time.","example":"2023-11-24T05:13:15Z"}},"description":"The user's resource metadata."},"schemas":{"type":"array","description":"A list of schemas.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"name":{"type":"object","properties":{"givenName":{"type":"string","description":"The user's first name.","example":"Jill"},"familyName":{"type":"string","description":"The user's last name.","example":"Chill"}},"description":"Information about the user's name."},"emails":{"type":"array","description":"The user's email information.","items":{"type":"object","properties":{"type":{"type":"string","description":"The type of email address.","example":"work","default":"work"},"value":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"primary":{"type":"boolean","description":"Whether the email address is the user's primary email address.","example":true}}}},"displayName":{"type":"string","description":"The user's display name.","example":"Jill Chill"},"userName":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"active":{"type":"boolean","description":"Whether the user is active.","example":true},"userType":{"type":"string","description":"The user type:\n* `Collaboration`\n* `Basic`\n* `Licensed`\n* `On-Prem`","example":"On-Prem","deprecated":true,"enum":["Collaboration","Basic","Licensed","On-Prem"]},"title":{"type":"string","description":"The user's job title.","example":"Developer"},"locale":{"type":"string","description":"The user's location.","example":"San Jose"},"phoneNumbers":{"type":"array","description":"A list of the user's assigned phone numbers.","items":{"type":"object","properties":{"type":{"type":"string","description":"The phone number's label:\n* `mobile`\n* `office`\n* `home`\n* `fax`\n* `work`\n\nThis value defaults to `work`.","example":"work","default":"work","enum":["mobile","office","home","fax","work"]},"value":{"type":"string","description":"The phone number.","example":"+015550100"}}}},"roles":{"type":"array","description":"The user's [role](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0064983) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The role's display name.","example":"Developer"},"value":{"type":"string","description":"The role name.","example":"Developer"},"primary":{"type":"boolean","description":"Whether the role is the user's primary role.","example":true}}}},"groups":{"type":"array","description":"The user's [groups](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062584) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The group's display name.","example":"Developers"},"type":{"type":"string","description":"The group type.","example":"direct","default":"direct"},"value":{"type":"string","description":"The group name.","example":"Developers"},"primary":{"type":"boolean","description":"Whether the group is the user's primary group.","example":true,"deprecated":true}}}},"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User":{"type":"object","properties":{"department":{"type":"string","description":"The user's department.","example":"Development"},"organization":{"type":"string","description":"The user's organization.","example":"Example"},"costCenter":{"type":"string","description":"The user's assigned cost center.","example":"US01"},"employeeNumber":{"type":"string","description":"The user's employee ID.","example":"ABCDE12345"},"manager":{"type":"string","description":"The email address of the user's manager.","format":"email","example":"thill@example.com"}}},"urn:ietf:params:scim:schemas:extension:zoom:1.0:User":{"type":"object","properties":{"{customAttribute}":{"maxItems":5,"type":"string","description":"A custom attribute and its value. This field returns as the custom attribute's name. For example, `currentState` and the `California` value.","example":"\"Custom attribute name\" : \"custom attribute value\""},"personalLinkName":{"type":"string","description":"The user's customized [personal link](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0068443#h_08f381ef-1e88-417c-b014-a2b9ad4abbda).","example":"user001"},"transferee":{"type":"string","description":"The transferee is another user within the same account designated to receive the original user's data when that user is deactivated or deleted.","example":"transferee@example.com"},"pronouns":{"type":"string","description":"The user's pronouns.","example":"They/Them/Their"},"zoomUnited":{"type":"string","description":"The user's number of [Zoom United licenses](https://zoom.us/pricing/zoom-bundles).","example":"16"},"zoomOneBizPlus":{"type":"string","description":"Zoom One Business Plus.","example":"16"},"zoomOneEdu":{"type":"string","description":"Zoom One for Education Enterprise Student.","example":"576460752303423488"},"zoomOneSchoolCampusPlus":{"type":"string","description":"Zoom One for Education School and Campus Plus.","example":"137438953472"},"zoomOneEntPremier":{"type":"string","description":"Zoom One Enterprise Premier.","example":"13421772"},"zoomOneEduEntPremier":{"type":"string","description":"Zoom One for Education Enterprise Premier.","example":"4294967296"},"zoomIQ":{"type":"boolean","description":"Zoom IQ Plan.","example":true,"deprecated":true},"zoomRevenueAccelerator":{"type":"boolean","description":"Zoom Revenue Accelerator Plan.","example":true},"zoomCustomerManagedKey":{"type":"boolean","description":"Zoom Customer Managed Key Plan.","example":true},"zoomWhiteboard":{"type":"boolean","description":"Zoom Whiteboard Plan.","example":true},"zoomWhiteboardPlus":{"type":"boolean","description":"Zoom Whiteboard Plus Plan.","example":true},"zoomTranslatedCaptions":{"type":"boolean","description":"Zoom Translated Captions Plan.","example":true},"zoomHuddles":{"type":"boolean","description":"Zoom Huddles Plan.","example":true,"deprecated":true},"zoomWorkforceManagement":{"type":"boolean","description":"Zoom Workforce Management Plan.","example":true},"zoomQualityManagement":{"type":"boolean","description":"Zoom Quality Management Plan.","example":true},"zoomScheduler":{"type":"boolean","description":"Zoom Scheduler Plan.","example":true},"zoomClipsPlus":{"type":"boolean","description":"Zoom Clips Plus Plan.","example":true},"zoomMailAndCalendar":{"type":"boolean","description":"Zoom Mail and Calendar Plan.","example":true},"visitorManagement":{"type":"boolean","description":"Zoom Visitor Management Plan.","example":true},"zoomComplianceManagement":{"type":"boolean","description":"Zoom Compliance Management Plan.","example":true},"zoomDocs":{"type":"boolean","description":"Zoom Docs Plan.","example":true},"clinicalNotes":{"type":"boolean","description":"Clinical Notes.","example":true,"deprecated":true},"zoomClinicians":{"type":"boolean","description":"Zoom Workplace for Clinicians.","example":true},"zoomCustomAICompanion":{"type":"boolean","description":"Zoom Custom AI Companion.","example":true},"zoomAICompanion":{"type":"boolean","description":"Zoom AI Companion.","example":true},"zoomRevenueAcceleratorRole":{"type":"string","description":"Zoom Revenue Accelerator Role.","example":"Sales Manager"},"zoomAutoDialer":{"type":"string","description":"The plan option of Zoom Auto Dialer.","example":"1073741824","enum":["1073741824"]},"zoomFrontline":{"type":"string","description":"The plan option of Zoom Workplace for Frontline.\n`2048` - Zoom Workplace for Frontline.","example":"2048","enum":["2048"]},"zoomWorkplaceSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) name for the Zoom Workplace license. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomRevenueAcceleratorSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Revenue Accelerator plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomCustomerManagedKeySubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Customer Managed Key. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWhiteboardSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Whiteboard and Zoom Whiteboard Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomTranslatedCaptionsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Translated Captions plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWorkforceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workforce Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomQualityManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Quality Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomSchedulerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Scheduler plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomClipsPlusSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Clips Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"visitorManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Visitor Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomComplianceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Compliance Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomDocsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Docs plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomAutoDialerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Auto Dialer plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Account has not enabled Single Sign-On. <br>\n**Error Code:** `400` <br>\n The request body must be in JSON format. <br>\n**Error Code:** `400` <br>\n The request JSON must not be empty. <br>\n**Error Code:** `400` <br>\n The \"userName\" of the request is invalid. <br>\n**Error Code:** `400` <br>\n The email \"{email}\" is already in use. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"User:Edit\". <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n The email domain does not match the associated domain of the account, please contact Zoom Customer Support to set up if necessary. <br>\n**Error Code:** `409` <br>\n Cannot add paid users. <br>\n**Error Code:** `409` <br>\n The Zoom United Plan is invalid. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom United Plan. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom Workplace Business Plus. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom Workplace Enterprise Premier. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom Workplace for Education School and Campus Plus. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom Workplace for Education Enterprise Premier. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom Workplace for Education Enterprise Student. <br>\n**Error Code:** `409` <br>\n Cannot create more users with Zoom Workplace Pro Plus. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["User:Edit"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}}},"/scim2/Users/{userId}":{"get":{"tags":["User"],"summary":"Get a user","description":"Returns information about a specific user.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"userSCIM2Get","parameters":[{"name":"userId","in":"path","description":"The user's Zoom ID.","required":true,"schema":{"type":"string","example":"k&KdKr6TLWuxdDtk0hjSzL"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` \n User information retrieved successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The user's unique identifier.","example":"k&KdKr6TLWuxdDtk0hjSzL"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `User` for the User resource type.","example":"User"},"location":{"type":"string","description":"The resource's URI in `https://api.zoom.us/scim2/Users/{userId}` format.","example":"https://api.zoom.us/scim2/Users/k&KdKr6TLWuxdDtk0hjSzL"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"created":{"type":"string","description":"The timestamp when the user was created.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The timestamp when the user was last modified.","example":"2023-11-25T06:23:17Z"}},"description":"The user's resource metadata."},"schemas":{"type":"array","description":"A list of schemas.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"name":{"type":"object","properties":{"givenName":{"type":"string","description":"The user's first name.","example":"Jill"},"familyName":{"type":"string","description":"The user's last name.","example":"Chill"}},"description":"The information about the user's name."},"emails":{"type":"array","description":"The user's email information.","items":{"type":"object","properties":{"type":{"type":"string","description":"The email address label. For example, `work`.","example":"work","default":"work"},"value":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"primary":{"type":"boolean","description":"Whether the email address is the user's primary email address.","example":true}}}},"displayName":{"type":"string","description":"The user's display name.","example":"Jill Chill"},"userName":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"active":{"type":"boolean","description":"Whether the user is active.","example":true},"userType":{"type":"string","description":"The user type: \n* `Collaboration` \n* `Basic` \n* `Licensed` \n* `On-Prem`","example":"On-Prem","deprecated":true,"enum":["Collaboration","Basic","Licensed","On-Prem"]},"phoneNumbers":{"type":"array","description":"A list of the user's assigned phone numbers.","items":{"type":"object","properties":{"type":{"type":"string","description":"The phone number's label: \n* `mobile` \n* `office` \n* `home` \n* `fax` \n* `work` \n\nThis value defaults to `work`.","example":"work","default":"work","enum":["mobile","office","home","fax","work"]},"value":{"type":"string","description":"The phone number.","example":"+015550100"}}}},"roles":{"type":"object","properties":{"display":{"type":"string","description":"The role's display name.","example":"Developer"},"value":{"type":"string","description":"The role name.","example":"Developer"},"primary":{"type":"boolean","description":"Whether the role is the user's primary role.","example":true}},"description":"The user's [role](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0064983) information."},"groups":{"type":"object","properties":{"type":{"type":"string","description":"The group type.","example":"direct"},"value":{"type":"string","description":"The group name.","example":"Developers"},"display":{"type":"string","description":"The group's display name.","example":"Developers"}},"description":"The user's [groups](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062584) information."},"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User":{"type":"object","properties":{"department":{"type":"string","description":"The user's department.","example":"Development"},"organization":{"type":"string","description":"The user's organization.","example":"Example"},"costCenter":{"type":"string","description":"The user's cost center.","example":"US01"},"employeeNumber":{"type":"string","description":"The user's employee identifier.","example":"123"},"manager":{"type":"string","description":"The email address of the user's manager.","format":"email","example":"thill@example.com"}}},"urn:us:zoom:scim:schemas:extension:1.0:ZoomUser":{"type":"object","properties":{"loginType":{"type":"object","properties":{"workEmail":{"type":"boolean","description":"Whether login using work email address is enabled.","example":true},"sso":{"type":"boolean","description":"Whether Single Sign-On (SSO) login is enabled.","example":true}},"description":"The user's login method information."}}},"urn:ietf:params:scim:schemas:extension:zoom:1.0:User":{"type":"object","properties":{"personalLinkName":{"type":"string","description":"The user's customized [personal link](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0068443#h_08f381ef-1e88-417c-b014-a2b9ad4abbda).","example":"user001"},"transferee":{"type":"string","description":"The transferee is another user within the same account designated to receive the original user's data when that user is deactivated or deleted.","example":"transferee@example.com"},"pronouns":{"type":"string","description":"The user's pronouns.","example":"They/Them/Their"},"zoomUnited":{"type":"string","description":"The user's number of Zoom United licenses.","example":"16"},"zoomOneBizPlus":{"type":"string","description":"Zoom Workplace Business Plus.","example":"16"},"zoomOneEdu":{"type":"string","description":"Zoom One for Education Enterprise Student.","example":"576460752303423488"},"zoomOneSchoolCampusPlus":{"type":"string","description":"Zoom One for Education School and Campus Plus.","example":"137438953472"},"zoomOneEntPremier":{"type":"string","description":"Zoom Workplace Enterprise Premier.","example":"13421772"},"zoomOneEduEntPremier":{"type":"string","description":"Zoom One for Education Enterprise Premier.","example":"4294967296"},"zoomIQ":{"type":"boolean","description":"Whether the Zoom IQ Plan is enabled.","example":true,"deprecated":true},"zoomRevenueAccelerator":{"type":"boolean","description":"Whether the Zoom Revenue Accelerator Plan is enabled.","example":true},"zoomCustomerManagedKey":{"type":"boolean","description":"Whether the Zoom Customer Managed Key Plan is enabled.","example":true},"zoomWhiteboard":{"type":"boolean","description":"Whether the Zoom Whiteboard Plan is enabled.","example":true},"zoomWhiteboardPlus":{"type":"boolean","description":"Whether the Zoom Whiteboard Plus Plan is enabled.","example":true},"zoomTranslatedCaptions":{"type":"boolean","description":"Whether the Zoom Translated Captions Plan is enabled.","example":true},"zoomHuddles":{"type":"boolean","description":"Whether the Zoom Huddles Plan is enabled.","example":true,"deprecated":true},"zoomWorkforceManagement":{"type":"boolean","description":"Whether the Zoom Workforce Management Plan is enabled.","example":true},"zoomQualityManagement":{"type":"boolean","description":"Whether the Zoom Quality Management Plan is enabled.","example":true},"zoomScheduler":{"type":"boolean","description":"Whether the Zoom Scheduler Plan is enabled.","example":true},"zoomClipsPlus":{"type":"boolean","description":"Whether the Zoom Clips Plus Plan is enabled.","example":true},"zoomMailAndCalendar":{"type":"boolean","description":"Whether the Zoom Mail and Calendar Plan is enabled.","example":true},"visitorManagement":{"type":"boolean","description":"Whether the Zoom Visitor Management Plan is enabled.","example":true},"zoomComplianceManagement":{"type":"boolean","description":"Whether the Zoom Compliance Management Plan is enabled.","example":true},"zoomDocs":{"type":"boolean","description":"Whether the Zoom Docs Plan is enabled.","example":true},"clinicalNotes":{"type":"boolean","description":"Whether Clinical Notes is enabled.","example":true,"deprecated":true},"zoomClinicians":{"type":"boolean","description":"Whether Zoom Workplace for Clinicians is enabled.","example":true},"zoomCustomAICompanion":{"type":"boolean","description":"Whether Zoom Custom AI Companion is enabled.","example":true},"zoomAICompanion":{"type":"boolean","description":"Zoom AI Companion.","example":true},"zoomAutoDialer":{"type":"string","description":"The plan option of Zoom Auto Dialer.\n`1073741824` - Zoom Auto Dialer Plus US/Canada.","example":"1073741824","enum":["1073741824"]},"zoomFrontline":{"type":"string","description":"The plan option of Zoom Workplace for Frontline.\n`2048` - Zoom Workplace for Frontline.","example":"2048","enum":["2048"]},"zoomWorkplaceSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) name for the Zoom Workplace license. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomRevenueAcceleratorSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Revenue Accelerator plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomCustomerManagedKeySubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Customer Managed Key. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWhiteboardSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Whiteboard and Zoom Whiteboard Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomTranslatedCaptionsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Translated Captions plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWorkforceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workforce Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomQualityManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Quality Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomSchedulerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Scheduler plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomClipsPlusSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Clips Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"visitorManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Visitor Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomComplianceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Compliance Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomDocsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Docs plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomAutoDialerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Auto Dialer plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Account has not enabled Single Sign-On. <br>\n"},"403":{"description":"**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n The request was denied due to insufficient permissions: \"User:Read\". <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n User does not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["scim2","scim2:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["User:Read"],"x-macro-scopes":["scim2"],"x-granular-scopes":["scim2:admin"]}},"put":{"tags":["User"],"summary":"Update a user","description":"Updates a user's information.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `scim2:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"userSCIM2Update","parameters":[{"name":"userId","in":"path","description":"The user's Zoom ID.","required":true,"schema":{"type":"string","example":"k&KdKr6TLWuxdDtk0hjSzL"}}],"requestBody":{"description":"This schema displays a list of properties that you can update. When you make an update request, include **only** the parameters that you want to update and the `schemas` parameter in the request body.","content":{"application/json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","description":"A list of schemas in `urn:ietf:params:scim:api:messages:2.0:{operation}` format.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"active":{"type":"boolean","description":"Whether to activate the user: \n* `true` - Activate user. \n* `false` - Deactivate user.","example":true},"userType":{"type":"string","description":"The user type: \n* `Collaboration` \n* `Basic` \n* `Licensed` \n* `On-Prem`","example":"On-Prem","deprecated":true,"enum":["Collaboration","Basic","Licensed","On-Prem"]},"name":{"type":"object","properties":{"givenName":{"type":"string","description":"The user's first name.","example":"Jill"},"familyName":{"type":"string","description":"The user's last name.","example":"Chill"}},"description":"Information about the user's name."},"displayName":{"type":"string","description":"The user's display name. Note: Zoom does not update the display name if you update the first name or last name. You must send a new displayName if you change these values.","example":"Jill Chill"},"title":{"type":"string","description":"The user's job title.","example":"Developer"},"locale":{"type":"string","description":"The user's location.","example":"San Jose"},"phoneNumbers":{"type":"array","description":"A list of the user's assigned phone numbers.","items":{"type":"object","properties":{"type":{"type":"string","description":"The label of the phone number: `mobile`, `office`, `home`, `fax`. If you do not provide a label, Zoom assigns the default label value: `work`.","example":"work","default":"work"},"value":{"type":"string","description":"The phone number.","example":"+015550100"}}}},"roles":{"type":"array","description":"The user's [role](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0064983) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The role's display name.","example":"Developer"},"value":{"type":"string","description":"The role name.","example":"Developer"},"primary":{"type":"boolean","description":"Whether the role is the user's primary role.","example":true}}}},"groups":{"type":"array","description":"The user's [groups](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062584) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The group's display name.","example":"Developers"},"type":{"type":"string","description":"The group type. This value defaults to `direct`.","example":"direct","default":"direct"},"value":{"type":"string","description":"The group name.","example":"Developers"},"primary":{"type":"boolean","description":"Whether the group is the user's primary group.","example":true,"deprecated":true}}}},"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User":{"type":"object","properties":{"department":{"type":"string","description":"The user's department.","example":"Development"},"organization":{"type":"string","description":"The user's organization.","example":"Example"},"costCenter":{"type":"string","description":"The user's cost center.","example":"US01"},"employeeNumber":{"type":"string","description":"The user's employee ID.","example":"123"},"manager":{"type":"string","description":"The email address of the user's manager.","format":"email","example":"thill@example.com"}}},"urn:ietf:params:scim:schemas:extension:zoom:1.0:User":{"type":"object","properties":{"zoomPhoneExtNumber":{"type":"string","description":"The user's Zoom Phone extension number. To automatically assign an extension number, set this field's value to `0`.","example":"0"},"zoomPhoneNumber":{"type":"string","description":"The user's assigned Zoom Phone number. This value must be an unassigned number in the Zoom account.","example":"5550100"},"zoomPhoneSite":{"type":"string","description":"The Zoom Phone site to assign the user to. If you do not provide this value, Zoom assigns the user to the main site.","example":"main"},"zoomPhoneCallingPlan":{"type":"string","description":"The user's assigned [Zoom Phone calling plan number](/docs/api/references/billing-plans/#zoom-phone-calling-plans). To remove all calling plans, set the value of `zoomPhoneCallingPlan` to `-1`.","example":"phone_calling_usca_monthly_unlimited"},"{customAttribute}":{"maxItems":5,"type":"string","description":"A custom attribute and its value. This field returns the custom attribute's name. For example, `currentState` and the `California` value.","example":"\"Custom attribute name\" : \"custom attribute value\""},"personalLinkName":{"type":"string","description":"The user's customized [personal link](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0068443#h_08f381ef-1e88-417c-b014-a2b9ad4abbda).","example":"customLinkName"},"transferee":{"type":"string","description":"The transferee is another user within the same account designated to receive the original user's data when that user is deactivated or deleted.","example":"transferee@example.com"},"pronouns":{"type":"string","description":"The user's pronouns.","example":"They/Them/Their"},"zoomUnited":{"type":"string","description":"The user's number of Zoom United licenses. Choose a license option: \n* `1` - Zoom United Pro-United with US/CA Unlimited. \n* `2` - Zoom United Pro-United with UK/IR Unlimited. \n* `4` - Zoom United Pro-United with AU/NZ Unlimited. \n* `8` - Zoom United Pro-United with Global Select. \n* `16` - Zoom United Pro-United with Zoom Phone Pro. \n* `32` - Zoom United Biz-United with US/CA Unlimited. \n* `64` - Zoom United Biz-United with UK/IR Unlimited. \n* `128` - Zoom United Biz-United with AU/NZ Unlimited. \n* `256` - Zoom United Biz-United with Global Select. \n* `512` - Zoom United Biz-United with Zoom Phone Pro. \n* `1024` - Zoom United Ent-United with US/CA Unlimited. \n* `2048` - Zoom United Ent-United with UK/IR Unlimited. \n* `4096` - Zoom United Ent-United with AU/NZ Unlimited. \n* `8192` - Zoom United Ent-United with Global Select. \n* `16384` - Zoom United Ent-United with Zoom Phone Pro. \n* `32768` - Zoom United Pro-United with JP Unlimited. \n* `65536` - Zoom United Biz-United with JP Unlimited. \n* `131072` - Zoom United Ent-United with JP Unlimited.","example":"16","enum":["1","2","4","8","16","32","64","128","256","512","1024","2048","4096","8192","16384","32768","65536","131072"]},"zoomOneBizPlus":{"type":"string","description":"The Zoom Workplace plan option. Choose from: \n* `16` - Zoom Workplace Business Plus with US/CA Unlimited. \n* `32` - Zoom Workplace Business Plus with UK/IR Unlimited. \n* `64` - Zoom Workplace Business Plus with AU/NZ Unlimited. \n* `128` - Zoom Workplace Business Plus with Japan Unlimited. \n* `33554432` - Zoom Workplace Business Plus with Global Select. \nThe Zoom One plan option for Gov accounts: \n* `16` - Zoom One Business Plus.","example":"16","enum":["16","32","64","128","33554432"]},"zoomOneEdu":{"type":"string","description":"Zoom One for Education Enterprise Student: \n* `576460752303423488` - Zoom One for Education Enterprise Student.","example":"576460752303423488"},"zoomOneSchoolCampusPlus":{"type":"string","description":"The Zoom One plan option: \n* `137438953472` - Zoom One for Education School and Campus Plus with US/CA Unlimited. \n* `274877906944` - Zoom One for Education School and Campus Plus with Japan Unlimited. \n* `549755813888` - Zoom One for Education School and Campus Plus with UK/Ireland Unlimited. \n* `1099511627776` - Zoom One for Education School and Campus Plus with AU/NZ Unlimited. \n* `2199023255552` - Zoom One for Education School and Campus Plus with Global Select.","example":"137438953472","enum":["137438953472","274877906944","549755813888","1099511627776","2199023255552"]},"zoomOneEntPremier":{"type":"string","description":"The Zoom One plan option: \n* `134217728` - Zoom One Enterprise Premier with US/CA Unlimited. \n* `268435456` - Zoom One Enterprise Premier with Japan Unlimited. \n* `536870912` - Zoom One Enterprise Premier with UK/Ireland Unlimited. \n* `1073741824` - Zoom One Enterprise Premier with AU/NZ Unlimited. \n* `2147483648` - Zoom One Enterprise Premier with Global Select.","example":"134217728","enum":["134217728","268435456","536870912","1073741824","2147483648"]},"zoomOneEduEntPremier":{"type":"string","description":"The Zoom One plan option: \n* `4294967296` - Zoom One for Education Enterprise Premier with US/CA Unlimited. \n* `8589934592` - Zoom One for Education Enterprise Premier with Japan Unlimited. \n* `17179869184` - Zoom One for Education Enterprise Premier with UK/Ireland Unlimited. \n* `34359738368` - Zoom One for Education Enterprise Premier with AU/NZ Unlimited. \n* `68719476736` - Zoom One for Education Enterprise Premier with Global Select.","example":"4294967296","enum":["4294967296","8589934592","17179869184","34359738368","68719476736"]},"zoomIQ":{"type":"boolean","description":"Zoom IQ Plan.","example":true,"deprecated":true},"zoomRevenueAccelerator":{"type":"boolean","description":"Zoom Revenue Accelerator Plan.","example":true},"zoomCustomerManagedKey":{"type":"boolean","description":"Zoom Customer Managed Key Plan.","example":true},"zoomWhiteboard":{"type":"boolean","description":"Zoom Whiteboard Plan.","example":true},"zoomWhiteboardPlus":{"type":"boolean","description":"Zoom Whiteboard Plus Plan.","example":true},"zoomTranslatedCaptions":{"type":"boolean","description":"Zoom Translated Captions Plan.","example":true},"zoomHuddles":{"type":"boolean","description":"Zoom Huddles Plan.","example":true,"deprecated":true},"zoomWorkforceManagement":{"type":"boolean","description":"Zoom Workforce Management Plan.","example":true},"zoomQualityManagement":{"type":"boolean","description":"Zoom Quality Management Plan.","example":true},"zoomScheduler":{"type":"boolean","description":"Zoom Scheduler Plan.","example":true},"zoomClipsPlus":{"type":"boolean","description":"Zoom Clips Plus Plan.","example":true},"zoomMailAndCalendar":{"type":"boolean","description":"Zoom Mail and Calendar Plan.","example":true},"visitorManagement":{"type":"boolean","description":"Zoom Visitor Management Plan.","example":true},"zoomComplianceManagement":{"type":"boolean","description":"Zoom Compliance Management Plan.","example":true},"zoomDocs":{"type":"boolean","description":"Zoom Docs Plan.","example":true},"clinicalNotes":{"type":"boolean","description":"Clinical Notes.","example":true,"deprecated":true},"zoomClinicians":{"type":"boolean","description":"Zoom Workplace for Clinicians.","example":true},"zoomCustomAICompanion":{"type":"boolean","description":"Zoom Custom AI Companion.","example":true},"zoomAICompanion":{"type":"boolean","description":"Zoom AI Companion.","example":true},"zoomContactCenterPlan":{"type":"object","properties":{"zoomContactCenterPackage":{"type":"string","description":"Zoom Contact Center Plan to assign to the user. Empty value will result in no changes. The package options: \n* `Essential` - Deprecated. \n* `Essentials` - Zoom Contact Center Package.","example":"Essentials","enum":["Essential","Essentials"]}},"description":"Zoom Contact Center Plan.","deprecated":true},"zoomContactCenterPackage":{"type":"string","description":"Zoom Contact Center Plan to assign to the user. Empty value will result in no changes. The package options: \n* `Essentials` - Zoom Contact Center Essentials Package. \n* `Premium` - Zoom Contact Center Premium Package. \n* `Elite` - Zoom Contact Center Elite Package.","example":"Essentials","enum":["Essentials","Premium","Elite"]},"zoomContactCenterAddonsPlan":{"type":"string","description":"This is an optional field. The Zoom Contact Center Plan to assign to the user. Empty value will result in no changes. The add-on package option: \n* `ai_expert_assist` - Zoom Contact Center AI Expert Assist Package.","example":"ai_expert_assist","enum":["ai_expert_assist"]},"zoomContactCenterRole":{"type":"string","description":"The Zoom Contact Center role to update for the user. Empty value will result in no changes.","example":"Admin"},"zoomContactCenterRegion":{"type":"string","description":"The Zoom Contact Center region to assign to the user. Empty value will result in no changes.","example":"Main Region"},"zoomContactCenterUserTemplate":{"type":"string","description":"The Zoom Contact Center Update Template to apply to the user. You can only use update-type templates when updating users; add-type templates will be ignored. If you provide this value, leave all other fields blank to apply the settings from the template. Only the settings from the template indicated as 'override' will be applied to the user. If you specify both individual values and a template in the request, the individual values take priority over the template settings.","example":"Update Template"},"zoomRevenueAcceleratorRole":{"type":"string","description":"Zoom Revenue Accelerator role.","example":"Sales Manager"},"zoomAutoDialer":{"type":"string","description":"The plan option of Zoom Auto Dialer.\n`1073741824` - Zoom Auto Dialer Plus with US/CA Unlimited.","example":"1073741824","enum":["1073741824"]},"zoomFrontline":{"type":"string","description":"The plan option of Zoom Workplace for Frontline.\n`2048` - Zoom Workplace for Frontline.","example":"2048","enum":["2048"]},"zoomWorkplaceSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workplace License. Ignore this field if your account doesn't enable the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomPhoneCallingPlanSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Phone calling plans. Ignore this field if your account doesn't enable the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomRevenueAcceleratorSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Revenue Accelerator plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomCustomerManagedKeySubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Customer Managed Key. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWhiteboardSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Whiteboard and Zoom Whiteboard Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomTranslatedCaptionsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Translated Captions plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWorkforceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workforce Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomQualityManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Quality Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomSchedulerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Scheduler plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomClipsPlusSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Clips Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"visitorManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Visitor Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomComplianceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Compliance Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomDocsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Docs plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomAutoDialerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Auto Dialer plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"}}},"emails":{"maxItems":1,"type":"array","description":"The user's email information.","items":{"type":"object","properties":{"type":{"type":"string","description":"The email address label, such as `work`.","example":"work","default":"work"},"value":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"primary":{"type":"boolean","description":"Whether the email address is the user's primary email address.","example":true}}}}}}}}},"responses":{"200":{"description":"**HTTP Status Code:** `200` \nUser updated.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The user's ID.","example":"k&KdKr6TLWuxdDtk0hjSzL"},"meta":{"type":"object","properties":{"resourceType":{"type":"string","description":"The resource type. The value is always `User` for the User resource type.","example":"User"},"location":{"type":"string","description":"The resource's URI in the `https://api.zoom.us/scim2/Users/{userId}` format.","example":"https://api.zoom.us/scim2/Users/k&KdKr6TLWuxdDtk0hjSzL"},"version":{"type":"string","description":"The resource's version number.","example":"1.0.0"},"created":{"type":"string","description":"The user's creation time.","example":"2023-11-24T05:13:15Z"},"lastModified":{"type":"string","description":"The user's last modification time.","example":"2023-11-24T05:13:15Z"}},"description":"The user's resource metadata."},"schemas":{"type":"array","description":"A list of schemas.","items":{"type":"string","example":"urn:ietf:params:scim:api:messages:2.0:ListResponse"}},"name":{"type":"object","properties":{"givenName":{"type":"string","description":"The user's first name.","example":"Jill"},"familyName":{"type":"string","description":"The user's last name.","example":"Chill"}},"description":"Information about the user's name."},"emails":{"type":"array","description":"The user's email information.","items":{"type":"object","properties":{"type":{"type":"string","description":"The email address label. For example, `work`.","example":"work"},"value":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"primary":{"type":"boolean","description":"Whether the email address is the user's primary email address.","example":true}}}},"displayName":{"type":"string","description":"The user's display name.","example":"Jill Chill"},"userName":{"type":"string","description":"The user's email address.","format":"email","example":"jchill@example.com"},"active":{"type":"boolean","description":"Whether the user is active.","example":true},"userType":{"type":"string","description":"The user type: \n* `Collaboration` \n* `Basic` \n* `Licensed` \n* `On-Prem`","example":"On-Prem","deprecated":true,"enum":["Collaboration","Basic","Licensed","On-Prem"]},"title":{"type":"string","description":"The user's job title.","example":"Developer"},"locale":{"type":"string","description":"The user's location.","example":"San Jose"},"phoneNumbers":{"type":"array","description":"A list of the user's assigned phone numbers.","items":{"type":"object","properties":{"type":{"type":"string","description":"The phone number's label: \n* `mobile` \n* `office` \n* `home` \n* `fax` \n* `work` \n\nThis value defaults to `work`.","example":"work","enum":["mobile","office","home","fax","work"]},"value":{"type":"string","description":"The phone number.","example":"+015550100"}}}},"roles":{"type":"array","description":"The user's [role](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0064983) information.","items":{"type":"object","properties":{"display":{"type":"string","description":"The role's display name.","example":"Developer"},"value":{"type":"string","description":"The role name.","example":"Developer"},"primary":{"type":"boolean","description":"Whether the role is the user's primary role.","example":true}}}},"groups":{"type":"array","items":{"type":"object","properties":{"display":{"type":"string","description":"The group's display name.","example":"Developers"},"type":{"type":"string","description":"The group type.","example":"direct"},"value":{"type":"string","description":"The group name.","example":"Developers"},"primary":{"type":"boolean","description":"Whether the group is the user's primary group.","example":true,"deprecated":true}}}},"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User":{"type":"object","properties":{"department":{"type":"string","description":"The user's department.","example":"Development"},"organization":{"type":"string","description":"The user's organization.","example":"Example"}}},"urn:ietf:params:scim:schemas:extension:zoom:1.0:User":{"type":"object","properties":{"{customAttribute}":{"maxItems":5,"type":"string","description":"A custom attribute and its value. This field returns the custom attribute's name. For example, `currentState` and the `California` value.","example":"\"Custom attribute name\" : \"custom attribute value\""},"personalLinkName":{"type":"string","description":"The user's customized [personal link](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0068443#h_08f381ef-1e88-417c-b014-a2b9ad4abbda).","example":"user001"},"transferee":{"type":"string","description":"The transferee is another user within the same account designated to receive the original user's data when that user is deactivated or deleted.","example":"transferee@example.com"},"pronouns":{"type":"string","description":"The user's pronouns.","example":"They/Them/Their"},"zoomUnited":{"type":"string","description":"The user's number of [Zoom United licenses](https://zoom.us/pricing/zoom-bundles).","example":"16"},"zoomOneBizPlus":{"type":"string","description":"Zoom One Business Plus.","example":"16"},"zoomOneEdu":{"type":"string","description":"Zoom One for Education Enterprise Student.","example":"576460752303423488"},"zoomOneSchoolCampusPlus":{"type":"string","description":"Zoom One for Education School and Campus Plus.","example":"137438953472"},"zoomOneEntPremier":{"type":"string","description":"Zoom One Enterprise Premier.","example":"13421772"},"zoomOneEduEntPremier":{"type":"string","description":"Zoom One for Education Enterprise Premier.","example":"4294967296"},"zoomIQ":{"type":"boolean","description":"Zoom IQ Plan.","example":true,"deprecated":true},"zoomRevenueAccelerator":{"type":"boolean","description":"Zoom Revenue Accelerator Plan.","example":true},"zoomCustomerManagedKey":{"type":"boolean","description":"Zoom Customer Managed Key Plan.","example":true},"zoomWhiteboard":{"type":"boolean","description":"Zoom Whiteboard Plan.","example":true},"zoomWhiteboardPlus":{"type":"boolean","description":"Zoom Whiteboard Plus Plan.","example":true},"zoomTranslatedCaptions":{"type":"boolean","description":"Zoom Translated Captions Plan.","example":true},"zoomHuddles":{"type":"boolean","description":"Zoom Huddles Plan.","example":true,"deprecated":true},"zoomWorkforceManagement":{"type":"boolean","description":"Zoom Workforce Management Plan.","example":true},"zoomQualityManagement":{"type":"boolean","description":"Zoom Quality Management Plan.","example":true},"zoomScheduler":{"type":"boolean","description":"Zoom Scheduler Plan.","example":true},"zoomClipsPlus":{"type":"boolean","description":"Zoom Clips Plus Plan.","example":true},"zoomComplianceManagement":{"type":"boolean","description":"Zoom Compliance Management Plan.","example":true},"zoomDocs":{"type":"boolean","description":"Zoom Docs Plan.","example":true},"clinicalNotes":{"type":"boolean","description":"Clinical Notes.","example":true,"deprecated":true},"zoomClinicians":{"type":"boolean","description":"Zoom Workplace for Clinicians.","example":true},"zoomCustomAICompanion":{"type":"boolean","description":"Zoom Custom AI Companion.","example":true},"zoomRevenueAcceleratorRole":{"type":"string","description":"Zoom Revenue Accelerator Role.","example":"Sales Manager"},"zoomAutoDialer":{"type":"string","description":"The plan option of Zoom Auto Dialer.\n`1073741824` - Zoom Auto Dialer Plus with US/CA Unlimited.","example":"1073741824","enum":["1073741824"]},"zoomFrontline":{"type":"string","description":"The plan option of Zoom Workplace for Frontline.\n`2048` - Zoom Workplace for Frontline.","example":"2048","enum":["2048"]},"zoomWorkplaceSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) name for the Zoom Workplace License. Ignore this field if your account doesn't enable the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomRevenueAcceleratorSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Revenue Accelerator plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomCustomerManagedKeySubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Customer Managed Key. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWhiteboardSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Whiteboard and Zoom Whiteboard Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomTranslatedCaptionsSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Translated Captions plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomWorkforceManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Workforce Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomQualityManagementSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Quality Management plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomSchedulerSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Scheduler plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"zoomClipsPlusSubscription":{"type":"string","description":"The [subscription](https://zoom.us/billing) ID or name for the Zoom Clips Plus plan. Ignore this field if your account doesn't include the Multiple Subscription Quoting feature.","example":"2025 Subscription"},"visitorManagement
[...]
