{
  "source": "users",
  "sourceUrl": "https://developers.zoom.us/api-hub/users/methods/endpoints.json",
  "downloadedAt": "2025-12-12T01:50:08.4440724Z",
  "specVersion": "3.0.0",
  "spec": {
    "openapi": "3.0.0",
    "info": {
      "title": "Users",
      "description": "The User APIs allow developers to programatically access data related to users, groups, and contact groups.",
      "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
      "contact": {
        "name": "Zoom Developers",
        "url": "https://developer.zoom.us/"
      },
      "version": "2"
    },
    "externalDocs": {
      "description": "Find out more about Swagger",
      "url": "https://swagger.io"
    },
    "servers": [
      {
        "url": "https://api.zoom.us/v2"
      }
    ],
    "paths": {
      "/contacts/groups": {
        "get": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "List contact groups",
          "description": "List [contact groups](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under an account.\n\n**Prerequisite**: Pro or higher account.  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`",
          "operationId": "contactGroups",
          "parameters": [
            {
              "name": "page_size",
              "in": "query",
              "description": "The number of records returned with a single API call. ",
              "required": false,
              "schema": {
                "maximum": 50,
                "type": "integer",
                "example": 10,
                "default": 10
              }
            },
            {
              "name": "next_page_token",
              "in": "query",
              "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
              "required": false,
              "schema": {
                "type": "string",
                "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n \nList of contact groups returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "groups": {
                        "type": "array",
                        "description": "List of contact group objects.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "group_id": {
                              "type": "string",
                              "description": "The group ID.",
                              "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
                            },
                            "group_name": {
                              "type": "string",
                              "description": "The group name.",
                              "example": "Developers"
                            },
                            "group_privacy": {
                              "type": "integer",
                              "description": "The contact group privacy configuration:  \n `1` - Visible to anyone, searchable by anyone.  \n `2` - Visible to members only, searchable by anyone.  \n `3` - Visible to members only, searchable by members only.",
                              "example": 1,
                              "enum": [
                                1,
                                2,
                                3
                              ]
                            },
                            "description": {
                              "type": "string",
                              "description": "The group description.",
                              "example": "A contact group for office A"
                            }
                          }
                        }
                      },
                      "next_page_token": {
                        "type": "string",
                        "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.\n",
                        "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                      },
                      "page_size": {
                        "type": "integer",
                        "description": "The number of records returned within a single API call.",
                        "example": 10
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `200` <br>\nOnly available for paid account: {accountId}\n\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:read:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-macro-scopes": [
              "contact_group:read:admin"
            ]
          }
        },
        "post": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "Create a contact group",
          "description": "Use this API to create a [contact group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management).\n\n**Prerequisite**: Pro or higher account.  \n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`",
          "operationId": "contactGroupCreate",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "group_name": {
                      "type": "string",
                      "description": "The contact group's name.",
                      "example": "Developers"
                    },
                    "group_privacy": {
                      "type": "integer",
                      "description": "Contact group privacy configuration:  \n `1` - Visible to anyone, searchable by anyone.  \n `2` - Visible to members only, searchable by anyone.  \n `3` - Visible to members only, searchable by members only.",
                      "example": 1,
                      "enum": [
                        1,
                        2,
                        3
                      ]
                    },
                    "description": {
                      "type": "string",
                      "description": "The group description.",
                      "example": "A contact group."
                    },
                    "group_members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "Contact group member types:  \n `1` - user.  \n `2` - user group.",
                            "example": 2,
                            "enum": [
                              1,
                              2
                            ]
                          },
                          "id": {
                            "type": "string",
                            "description": "The member ID: user ID (`user`) or user group ID (`user group`).",
                            "example": "n22T5G6bQDCugVm1V59TAQ"
                          }
                        },
                        "description": "The contact group member information. The member type can be a `user` or `user group`. The maximum number members per request is 50 for the `user` and 3 for the `user group`."
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "**HTTP Status Code:** `201`   \n \nGroup created.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "group_id": {
                        "type": "string",
                        "description": "The contact group ID.",
                        "example": "A4ql1FjgL913r"
                      },
                      "group_name": {
                        "type": "string",
                        "description": "The contact group's name.",
                        "example": "Developers"
                      },
                      "total_members": {
                        "type": "integer",
                        "description": "The contact group's total member count.",
                        "example": 34
                      },
                      "group_privacy": {
                        "type": "integer",
                        "description": "Contact group privacy configuration:  \n `1` - Visible to anyone, searchable by anyone.  \n `2` - Visible to members only, searchable by anyone.  \n `3` - Visible to members only, searchable by members only.",
                        "example": 1,
                        "enum": [
                          1,
                          2,
                          3
                        ]
                      },
                      "description": {
                        "type": "string",
                        "description": "The group description.",
                        "example": "A contact group."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `200` <br>\nOnly available for paid account: {accountId}<br>\n\n**Error Code:** `300` <br>\nThe maximum number of user member per request is 50.<br>\n\n**Error Code:** `300` <br>\nThe maximum number of group member per request is 3.\n\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:write:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-macro-scopes": [
              "contact_group:write:admin"
            ]
          }
        }
      },
      "/contacts/groups/{groupId}": {
        "get": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "Get a contact group",
          "description": "Get a [contact group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under an account.\n\n**Prerequisite**: Pro or higher account.  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
          "operationId": "contactGroup",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The contact group ID.  \n \nRetrieve by calling the [**List contact groups**](/docs/api-reference/zoom-api/methods#operation/contactGroups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n  Group returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "group_id": {
                        "type": "string",
                        "description": "The group ID.",
                        "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
                      },
                      "group_name": {
                        "type": "string",
                        "description": "The group name.",
                        "example": "Developers"
                      },
                      "total_members": {
                        "type": "integer",
                        "description": "The total number of members in a contact group.",
                        "example": 10
                      },
                      "group_privacy": {
                        "type": "integer",
                        "description": "The contact group privacy configuration:  \n `1` - Visible to anyone, searchable by anyone.  \n `2` - Visible to members only, searchable by anyone.  \n `3` - Visible to members only, searchable by members only.",
                        "example": 1,
                        "enum": [
                          1,
                          2,
                          3
                        ]
                      },
                      "description": {
                        "type": "string",
                        "description": "The group description.",
                        "example": "A contact group for office A"
                      }
                    },
                    "description": "The contact group information."
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `200` <br>\nOnly available for paid account: {accountId}<br>\n\n**Error Code:** `300` <br>\nA group with this groupId: {groupId} does not exist.\n\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:write:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-macro-scopes": [
              "contact_group:write:admin"
            ]
          }
        },
        "delete": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "Delete a contact group",
          "description": "Use this API to delete a [contact group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-).\n\n**Prerequisite**: Pro or higher account.  \n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`",
          "operationId": "contactGroupDelete",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The contact group ID.  \n \nRetrieve by calling the [**List contact groups**](/docs/api-reference/zoom-api/methods#operation/contactGroups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "**HTTP Status Code:** `204`  \n \nGroup deleted."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `200` <br>\nOnly available for paid account,{accountId}.<br>\n\n**Error Code:** `300` <br>\nA group with this groupId: {groupId} does not exist.\n\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:write:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-macro-scopes": [
              "contact_group:write:admin"
            ]
          }
        },
        "patch": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "Update a contact group",
          "description": "Update a [contact group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under your account.\n\n**Prerequisite**: Pro or higher account.  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`",
          "operationId": "contactGroupUpdate",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The contact group ID.  \n \nRetrieve by calling the [**List contact groups**](/docs/api-reference/zoom-api/methods#operation/contactGroups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The contact group's name.",
                      "example": "Developers"
                    },
                    "privacy": {
                      "type": "integer",
                      "description": "Contact group privacy configuration:  \n `1` - Visible to anyone, searchable by anyone.  \n `2` - Visible to members only, searchable by anyone.  \n `3` - Visible to members only, searchable by members only.",
                      "example": 1,
                      "enum": [
                        1,
                        2,
                        3
                      ]
                    },
                    "description": {
                      "type": "string",
                      "description": "The group description.",
                      "example": "A contact group."
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "Contact group updated."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `200` <br>\nOnly available for paid account: {accountId}<br>\n\n**Error Code:** `300` <br>\nA group with this groupId: {groupId} does not exist.\n\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:write:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-macro-scopes": [
              "contact_group:write:admin"
            ]
          }
        }
      },
      "/contacts/groups/{groupId}/members": {
        "get": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "List contact group members",
          "description": "List members in [contact groups](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under an account.\n\n**Prerequisite**: Pro or higher account.  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
          "operationId": "contactGroupMembers",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "A4ql1FjgL913r"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The number of records returned with a single API call. ",
              "required": false,
              "schema": {
                "maximum": 50,
                "type": "integer",
                "example": 10,
                "default": 10
              }
            },
            {
              "name": "next_page_token",
              "in": "query",
              "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
              "required": false,
              "schema": {
                "type": "string",
                "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n \nList of contact group members returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "group_members": {
                        "type": "array",
                        "description": "List of contact group members.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "integer",
                              "description": "Contact group member types:  \n `1` - user.  \n `2` - user group.",
                              "example": 2,
                              "enum": [
                                1,
                                2
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "The member ID: user ID (`user`) or user group ID (`user group`).",
                              "example": "n22T5G6bQDCugVm1V59TAQ"
                            },
                            "name": {
                              "type": "string",
                              "description": "The member's name: user's name (`user`) or the group's name (`user group`).",
                              "example": "Developer group"
                            }
                          },
                          "description": "The contact group member information for `user` or `user group`."
                        }
                      },
                      "next_page_token": {
                        "type": "string",
                        "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.\n",
                        "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                      },
                      "page_size": {
                        "type": "integer",
                        "description": "The number of records returned within a single API call.",
                        "example": 10
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for paid account: {accountId}<br> <br>\n**Error Code:** `300` <br>\n A group with this groupId: {groupId} does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:read:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [],
            "x-macro-scopes": [
              "contact_group:read:admin"
            ]
          }
        },
        "post": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "Add contact group members",
          "description": "Use this API to add members to a [contact group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management).\n\n**Prerequisite**: Pro or higher account.  \n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
          "operationId": "contactGroupMemberAdd",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The contact group ID.\nRetrieve by calling the List contact groups API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
              }
            }
          ],
          "requestBody": {
            "description": "Add contact group members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "group_members": {
                      "type": "array",
                      "description": "Group members array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "integer",
                            "description": "Contact group member types:  \n `1` - user.  \n `2` - user group.",
                            "example": 2,
                            "enum": [
                              1,
                              2
                            ]
                          },
                          "id": {
                            "type": "string",
                            "description": "The member ID: user ID (`user`) or user group ID (`user group`).",
                            "example": "n22T5G6bQDCugVm1V59TAQ"
                          }
                        },
                        "description": "The contact group member information. The member type can be a `user` or `user group`. The maximum number members per request is 50 for the `user` and 3 for the `user group`."
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "**HTTP Status Code:** `201`   \n \nMember added.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "member_ids": {
                        "type": "array",
                        "description": "Member ids array",
                        "items": {
                          "type": "string",
                          "description": "The member ID of the member that is added successfully.",
                          "example": "KT6h5SfCSm6YNjZo7i8few"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for paid account: {accountId}<br> <br>\n**Error Code:** `300` <br>\n A group with this groupId: {groupId} does not exist.<br> <br>\n**Error Code:** `300` <br>\n The maximum number of user member per request is 50.<br> <br>\n**Error Code:** `300` <br>\n The maximum number of group member per request is 3. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:write:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [],
            "x-macro-scopes": [
              "contact_group:write:admin"
            ]
          }
        },
        "delete": {
          "tags": [
            "Contact Groups"
          ],
          "summary": "Remove members in a contact group",
          "description": "Removes members in a [contact group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-).\n\n**Prerequisite**: Pro or higher account.  \n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `contact_group:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
          "operationId": "contactGroupMemberRemove",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The contact group ID.\nRetrieve by calling the List contact groups API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "dir.JquKVDGlQ9K6S0QVWGcysw"
              }
            },
            {
              "name": "member_ids",
              "in": "query",
              "description": "The member's ID in a contact group. Use commas (,) to separate a maximum of 20 ids.   \n \nCan be retrieved by calling the [**List contact groups**](/docs/api-reference/zoom-api/methods#operation/contactGroupMembers) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "n22T5G6bQDCugVm1V59TAQ"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "**HTTP Status Code:** `204`  \n \nMember removed."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for paid account,{accountId}.<br> <br>\n**Error Code:** `300` <br>\n A group with this groupId: {groupId} does not exist.<br> <br>\n**Error Code:** `300` <br>\n The maximum number of memberId is 20.<br> <br>\n**Error Code:** `300` <br>\n A member with this memberId: {memberId} does not exist.<br> <br>\n**Error Code:** `300` <br>\n A group must have at least one member. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "contact_group:write:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [],
            "x-macro-scopes": [
              "contact_group:write:admin"
            ]
          }
        }
      },
      "/divisions": {
        "get": {
          "tags": [
            "Divisions"
          ],
          "summary": "List divisions",
          "description": "List divisions under an account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** ` division:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:read:list_divisions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
          "operationId": "listDivisions",
          "parameters": [
            {
              "name": "next_page_token",
              "in": "query",
              "description": "Use the next page token to paginate through a large set of results. It returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
              "required": false,
              "schema": {
                "type": "string",
                "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The number of records returned within a single API call.",
              "required": false,
              "schema": {
                "maximum": 300,
                "type": "integer",
                "example": 30,
                "default": 30
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`   \n \nDivision list returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "next_page_token": {
                        "type": "string",
                        "description": "Use the next page token to paginate through a large set of results. It returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                        "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                      },
                      "page_size": {
                        "maximum": 300,
                        "type": "integer",
                        "description": "The number of records returned within a single API call.",
                        "example": 30
                      },
                      "total_records": {
                        "type": "integer",
                        "description": "The total records of divisions under the account.",
                        "example": 300
                      },
                      "divisions": {
                        "maxItems": 300,
                        "type": "array",
                        "description": "The information about the divisions.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "division_id": {
                              "type": "string",
                              "description": "The division's id",
                              "example": "example-TaOOmobxuqLVnw"
                            },
                            "division_name": {
                              "type": "string",
                              "description": "The division's name.",
                              "example": "my division"
                            },
                            "division_description": {
                              "type": "string",
                              "description": "The division's description.",
                              "example": "this is division"
                            },
                            "is_main_division": {
                              "type": "boolean",
                              "description": "Is it Main Division",
                              "example": true
                            },
                            "total_members": {
                              "type": "integer",
                              "description": "Total number of members in this division.",
                              "example": 100
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid parameters. \n\n "
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031002` <br>\n Missing token <br>\n**Error Code:** `30031004` <br>\n Invalid or expired token <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                " division:read:admin",
                "division:read:list_divisions:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Read"
            ],
            "x-macro-scopes": [
              " division:read:admin"
            ],
            "x-granular-scopes": [
              "division:read:list_divisions:admin"
            ]
          }
        },
        "post": {
          "tags": [
            "Divisions"
          ],
          "summary": "Create a division",
          "description": "Create a division. You can add a maximum of 500 divisions in one account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:wirte:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:write:division:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
          "operationId": "Createadivision",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "division_name"
                  ],
                  "type": "object",
                  "properties": {
                    "division_name": {
                      "type": "string",
                      "description": "The division's name.",
                      "example": "my division"
                    },
                    "division_description": {
                      "type": "string",
                      "description": "The division's description.",
                      "example": "this is division"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "**HTTP Status Code:** `201`   \n \nDivision created.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "division_id": {
                        "type": "string",
                        "description": "The division's id",
                        "example": "example-TaOOmobxuqLVnw"
                      },
                      "division_name": {
                        "type": "string",
                        "description": "The division's name.",
                        "example": "my division"
                      },
                      "division_description": {
                        "type": "string",
                        "description": "The division's description.",
                        "example": "this is division"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `40005` <br>\n Invalid field. <br>\n**Error Code:** `42006` <br>\n You've reached the maximum number of divisions reached. You can clean up some divisions then try again. <br>\n"
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031004` <br>\n Invalid or expired token. <br>\n**Error Code:** `30031002` <br>\n Missing token. <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "409": {
              "description": "**HTTP Status Code:** `409` <br>\n Conflict  This name is already in use. Please try another. \n\n "
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "division:wirte:admin",
                "division:write:division:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Edit"
            ],
            "x-macro-scopes": [
              "division:wirte:admin"
            ],
            "x-granular-scopes": [
              "division:write:division:admin"
            ]
          }
        }
      },
      "/divisions/{divisionId}": {
        "get": {
          "tags": [
            "Divisions"
          ],
          "summary": "Get a division",
          "description": "Get a division under an account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:wirte:admin`,` division:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:read:division:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
          "operationId": "Getdivision",
          "parameters": [
            {
              "name": "divisionId",
              "in": "path",
              "description": "The division's id",
              "required": true,
              "schema": {
                "type": "string",
                "example": "sjdiefbasdas-emaple"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n  Division returned.  ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "division_id": {
                        "type": "string",
                        "description": "The division's id",
                        "example": "example-TaOOmobxuqLVnw"
                      },
                      "division_name": {
                        "type": "string",
                        "description": "The division's name.",
                        "example": "my division"
                      },
                      "division_description": {
                        "type": "string",
                        "description": "The division's description.",
                        "example": "this is division"
                      },
                      "is_main_division": {
                        "type": "boolean",
                        "description": "Is it Main Division",
                        "example": true
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid parameters. \n\n "
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031002` <br>\n Missing token <br>\n**Error Code:** `30031004` <br>\n Invalid or expired token <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  Division not found. \n\n "
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "division:wirte:admin",
                " division:read:admin",
                "division:read:division:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Read"
            ],
            "x-macro-scopes": [
              "division:wirte:admin",
              " division:read:admin"
            ],
            "x-granular-scopes": [
              "division:read:division:admin"
            ]
          }
        },
        "delete": {
          "tags": [
            "Divisions"
          ],
          "summary": "Delete a division",
          "description": "Delete an entire division.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:wirte:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:delete:division:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
          "operationId": "Deletedivision",
          "parameters": [
            {
              "name": "divisionId",
              "in": "path",
              "description": "The division's ID.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "jsjdfsaifh-example"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "**HTTP Status Code:** `204`      Division deleted."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `42011` <br>\n Main division can't be deleted. <br>\n**Error Code:** `42012` <br>\n Please remove all users from this division before deleting. <br>\n"
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031002` <br>\n Missing token. <br>\n**Error Code:** `30031004` <br>\n Invalid or expired token. <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  Division not found. \n\n "
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "division:wirte:admin",
                "division:delete:division:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Edit"
            ],
            "x-macro-scopes": [
              "division:wirte:admin"
            ],
            "x-granular-scopes": [
              "division:delete:division:admin"
            ]
          }
        },
        "patch": {
          "tags": [
            "Divisions"
          ],
          "summary": "Update a division",
          "description": "Update a group under your account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:wirte:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:update:division:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
          "operationId": "Updateadivision",
          "parameters": [
            {
              "name": "divisionId",
              "in": "path",
              "description": "The division's ID.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "sjdihshsifhh-example"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "division_name": {
                      "type": "string",
                      "description": "The division's name.",
                      "example": "my division"
                    },
                    "division_description": {
                      "type": "string",
                      "description": "The division's description.",
                      "example": "this is division"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "**HTTP Status Code:** `204`      Division updated."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid parameters. \n\n "
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031002` <br>\n Missing token <br>\n**Error Code:** `30031004` <br>\n Invalid or expired token <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  Division not found. \n\n "
            },
            "409": {
              "description": "**HTTP Status Code:** `409` <br>\n Conflict  This name is already in use. Please try another. \n\n "
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "division:wirte:admin",
                "division:update:division:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Edit"
            ],
            "x-macro-scopes": [
              "division:wirte:admin"
            ],
            "x-granular-scopes": [
              "division:update:division:admin"
            ]
          }
        }
      },
      "/divisions/{divisionId}/users": {
        "get": {
          "tags": [
            "Divisions"
          ],
          "summary": "List division members",
          "description": "List the users of a division under your account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** ` division:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:read:member:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
          "operationId": "listDivisionMembers",
          "parameters": [
            {
              "name": "divisionId",
              "in": "path",
              "description": "The division's ID.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "example-TaOOmobxuqLVnw"
              }
            },
            {
              "name": "next_page_token",
              "in": "query",
              "description": "Use the next page token to paginate through a large set of results. It returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
              "required": false,
              "schema": {
                "type": "string",
                "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The number of records returned within a single API call.",
              "required": false,
              "schema": {
                "maximum": 300,
                "type": "integer",
                "example": 30,
                "default": 30
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`   \n \nDivision users returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "next_page_token": {
                        "type": "string",
                        "description": "Use the next page token to paginate through a large set of results. It returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                        "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                      },
                      "page_size": {
                        "maximum": 300,
                        "type": "integer",
                        "description": "The number of records returned within a single API call.",
                        "example": 30
                      },
                      "total_records": {
                        "type": "integer",
                        "description": "The total records of users under the division.",
                        "example": 300
                      },
                      "users": {
                        "maxItems": 300,
                        "type": "array",
                        "description": "List of a division's users.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "string",
                              "description": "The user's unique identifier.",
                              "example": "example-FLFD4pfkQ4a2nec"
                            },
                            "user_display_name": {
                              "type": "string",
                              "description": "The user's display name.",
                              "example": "jill chill"
                            },
                            "user_email": {
                              "type": "string",
                              "description": "The user's email address.",
                              "example": "jchill@example.com"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid parameters. \n\n "
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031002` <br>\n Missing token. <br>\n**Error Code:** `30031004` <br>\n Invalid or expired token. <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  Division not found. \n\n "
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                " division:read:admin",
                "division:read:member:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Read"
            ],
            "x-macro-scopes": [
              " division:read:admin"
            ],
            "x-granular-scopes": [
              "division:read:member:admin"
            ]
          }
        },
        "post": {
          "tags": [
            "Divisions"
          ],
          "summary": "Assign a division",
          "description": "Assign a division to members. A user can belong to only one division.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:wirte:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `division:write:member:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
          "operationId": "assigndivisionMember",
          "parameters": [
            {
              "name": "divisionId",
              "in": "path",
              "description": "The division's ID.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "example-sjdihshsifhhss"
              }
            }
          ],
          "requestBody": {
            "description": "Division users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Array of userId/user email of users to whom you would like to assign this division. Up to 30 users can be assigned a division at once.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_email": {
                            "type": "string",
                            "description": "Email address of the user to whom you would like to assign the division. Provide either the userId in the user_id field or the email address in the user_email field. If both fields are provided, only userId is used.",
                            "example": "user@example.com"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "User ID of the user to whom you would like to assign the division. ",
                            "example": "example_2RTm5TNvuvk4yRw"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "**HTTP Status Code:** `201`      Division users added.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "added_at": {
                        "type": "string",
                        "description": "Date and time at which the members are assigned to the division.",
                        "example": "2022-03-25T03:08:12Z"
                      },
                      "ids": {
                        "type": "string",
                        "description": "User ids",
                        "example": "example-userId1,example-userId2"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid parameters. \n\n "
            },
            "401": {
              "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `30031002` <br>\n Missing token. <br>\n**Error Code:** `30031004` <br>\n Invalid or expired token. <br>\n"
            },
            "403": {
              "description": "**HTTP Status Code:** `403` <br>\n Forbidden  No permission. \n\n "
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `40406` <br>\n Division not found. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "division:wirte:admin",
                "division:write:member:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Division:Edit"
            ],
            "x-macro-scopes": [
              "division:wirte:admin"
            ],
            "x-granular-scopes": [
              "division:write:member:admin"
            ]
          }
        }
      },
      "/groups": {
        "get": {
          "tags": [
            "Groups"
          ],
          "summary": "List groups",
          "description": "List [groups](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under an account.\n\n**Prerequisite**: Pro or higher account.  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:admin`,`group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:list_groups:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
          "operationId": "groups",
          "parameters": [
            {
              "name": "page_size",
              "in": "query",
              "description": "The number of records returned in a single API call. The maximum is 300.",
              "required": false,
              "schema": {
                "maximum": 300,
                "type": "integer",
                "example": 30
              }
            },
            {
              "name": "next_page_token",
              "in": "query",
              "description": "The next page token paginates through a set of large results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
              "required": false,
              "schema": {
                "type": "string",
                "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n \nList of groups returned.  \n \n**Error Code:** `200`\nOnly available for paid accounts.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "groups": {
                        "maxItems": 300,
                        "type": "array",
                        "description": "List of Group objects.",
                        "items": {
                          "allOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Group ID.",
                                  "example": "SobVexyrQjqCkcxjpBWi6w"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Group name.",
                                  "example": "Developers"
                                },
                                "total_members": {
                                  "type": "integer",
                                  "description": "Total number of members in this group.",
                                  "example": 200
                                }
                              },
                              "description": "Group object."
                            }
                          ]
                        }
                      },
                      "total_records": {
                        "type": "integer",
                        "description": "Total records.",
                        "example": 200
                      },
                      "next_page_token": {
                        "type": "string",
                        "description": "The next page token paginates through a large set results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                        "example": "qUEQqB1V0HVhJmwKFQrGOD"
                      }
                    },
                    "description": "List of Groups."
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for Paid account.  <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with this {groupId} does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:read:admin",
                "group:write:admin",
                "group:read:list_groups:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Read"
            ],
            "x-macro-scopes": [
              "group:read:admin",
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:read:list_groups:admin"
            ]
          }
        },
        "post": {
          "tags": [
            "Groups"
          ],
          "summary": "Create a group",
          "description": "Use this API to create a [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management). You can add a **maximum** of 100 groups in one account per day, and a maximum of 5000 groups in one account.\n\nIf you enabled a new group via the user interface, you can also choose whether to display the group and set its privacy level.\n\n**Prerequisites**: \n* A Pro or higher account\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
          "operationId": "groupCreate",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The group's name.",
                      "example": "Developers"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "**HTTP Status Code:** `201`   \n \nGroup created.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The group ID.",
                        "example": "A4ql1FjgL913r"
                      },
                      "name": {
                        "type": "string",
                        "description": "The group's name.",
                        "example": "Developers"
                      },
                      "total_members": {
                        "type": "integer",
                        "description": "The group's total member count.",
                        "example": 34
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid parameter: name. <br>\n**Error Code:** `300` <br>\n Validation Failed. <br>\n**Error Code:** `300` <br>\n It has reached the maximum number of groups. You can clean up some groups then add. <br>\n**Error Code:** `200` <br>\n Only available for Paid account. <br>\n"
            },
            "409": {
              "description": "**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `4132` <br>\n The group name \"{groupName}\" is already in use. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:write:admin",
                "group:write:group:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Edit"
            ],
            "x-macro-scopes": [
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:write:group:admin"
            ]
          }
        }
      },
      "/groups/{groupId}": {
        "get": {
          "tags": [
            "Groups"
          ],
          "summary": "Get a group",
          "description": "Get a [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under an account.\n\n**Prerequisite**: Pro, Business, or Education account  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:admin`,`group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
          "operationId": "group",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.  \n \nRetrieve by calling the [**List groups**](/docs/api-reference/zoom-api/methods#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "SobVexyrQjqCkcxjpBWi6w"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n  Group returned.  \n \n**Error Code:** `200`  \n \nOnly available for Paid account,{accountId}.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Group ID.",
                        "example": "825c9e31f1064c73b394c5e4557d3447"
                      },
                      "name": {
                        "type": "string",
                        "description": "Group name.",
                        "example": "Developers"
                      },
                      "total_members": {
                        "type": "integer",
                        "description": "Total count of members in the group.",
                        "example": 100
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1010` <br>\n Group does not belong to your account. <br>\n**Error Code:** `200` <br>\n Only available for Paid account.  <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with this {groupId} does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:read:admin",
                "group:write:admin",
                "group:read:group:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Read"
            ],
            "x-macro-scopes": [
              "group:read:admin",
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:read:group:admin"
            ]
          }
        },
        "delete": {
          "tags": [
            "Groups"
          ],
          "summary": "Delete a group",
          "description": "Delete an entire [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-). **Prerequisites:** * A Pro, Business, or Education account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:delete:group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
          "operationId": "groupDelete",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.  \n \nRetrieve by calling the [**List groups**](/docs/api-reference/zoom-api/methods#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "SobVexyrQjqCkcxjpBWi6w"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Group deleted."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `200` <br>\n Only available for Paid account,{accountId}. <br> Group cannot be deleted. Information Barriers policies have been applied to this group. <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `4130` <br>\n Group does not exist. <br> A group with this {groupId} does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:write:admin",
                "group:delete:group:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Edit"
            ],
            "x-macro-scopes": [
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:delete:group:admin"
            ]
          }
        },
        "patch": {
          "tags": [
            "Groups"
          ],
          "summary": "Update a group",
          "description": "Update a [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under your account.\n\n**Prerequisite**: Pro, Business, or Education account  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:update:group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
          "operationId": "groupUpdate",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.  \n \nRetrieve by calling the [**List groups**](/docs/api-reference/zoom-api/methods#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "SobVexyrQjqCkcxjpBWi6w"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Group name. It must be unique to one account and less than 128 characters.",
                      "example": "Developers"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "Group updated."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for Paid account.  <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with this {groupId} does not exist. <br>\n"
            },
            "409": {
              "description": "**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `4132` <br>\n Group name {groupName} is already in use. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:write:admin",
                "group:update:group:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Edit"
            ],
            "x-macro-scopes": [
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:update:group:admin"
            ]
          }
        }
      },
      "/groups/{groupId}/admins": {
        "get": {
          "tags": [
            "Groups"
          ],
          "summary": "List group admins",
          "description": "Use this API to return a list of [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) administrators under your account.\n\n**Prerequisites:** \n* A Pro, Business, or Education account\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:admin`,`group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:administrator:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
          "operationId": "groupAdmins",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.   Retrieve by calling the [**List groups**](/docs/api-reference/zoom-api/methods#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "SobVexyrQjqCkcxjpBWi6w"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The number of records returned within a single API call.",
              "required": false,
              "schema": {
                "maximum": 300,
                "type": "integer",
                "example": 30,
                "default": 30
              }
            },
            {
              "name": "next_page_token",
              "in": "query",
              "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
              "required": false,
              "schema": {
                "type": "string",
                "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`  \n  Only available for paid account: &quot;{accountId}&quot;.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "admins": {
                        "maxItems": 300,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "description": "The user's email address.",
                              "format": "email",
                              "example": "jchill@example.com"
                            },
                            "name": {
                              "type": "string",
                              "description": "The user's display name.",
                              "example": "Jill Chill"
                            }
                          }
                        }
                      },
                      "next_page_token": {
                        "type": "string",
                        "description": "The next page token is used to paginate through large result sets. A next page token is returned when the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                        "example": "oMTCmjMRwzSfZtUXDIuWDswdksIQ3dyGUB1"
                      },
                      "page_size": {
                        "type": "integer",
                        "description": "The number of records returned in a single API call.",
                        "example": 1
                      },
                      "total_records": {
                        "type": "integer",
                        "description": "The total number of records available across all pages.",
                        "example": 20
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for Paid account.  <br>\n**Error Code:** `300` <br>\n The next page token is invalid or expired. <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with the \"{groupId}\" ID does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:read:admin",
                "group:write:admin",
                "group:read:administrator:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Read"
            ],
            "x-macro-scopes": [
              "group:read:admin",
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:read:administrator:admin"
            ]
          }
        },
        "post": {
          "tags": [
            "Groups"
          ],
          "summary": "Add group admins",
          "description": "Use this API to add administrators to a [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under your account.\n\n**Prerequisites:** \n* A Pro, Business, or Education account\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:administrator:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
          "operationId": "groupAdminsCreate",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.  \n \nRetrieve by calling the [**List groups**](/docs/api-reference/zoom-api/methods#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "SobVexyrQjqCkcxjpBWi6w"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "admins": {
                      "maximum": 10,
                      "maxItems": 10,
                      "type": "array",
                      "description": "A list of the administrators to add to a group.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "The user's email. Use this value if you do not have the user's ID.\n\nIf you pass the `id` value, the API ignores this parameter.",
                            "example": "jchill@example.com"
                          },
                          "id": {
                            "type": "string",
                            "description": "The user's ID.",
                            "example": "v4iyWT1LTfy8QvPG4GTvdg"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "**Status Code:** `201`   \n  Group administrator added.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "added_at": {
                        "type": "string",
                        "description": "The timestamp at which the administrator was added to the group.",
                        "format": "date-time",
                        "example": "2022-03-25T03:08:12Z"
                      },
                      "ids": {
                        "type": "string",
                        "description": "The administrator IDs.",
                        "example": "v4iyWT1LTfy8QvPG4GTvdg"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for paid account,{accountId}. <br>\n**Error Code:** `300` <br>\n Validation Failed. <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with the \"{groupId}\" ID does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:write:admin",
                "group:write:administrator:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Edit"
            ],
            "x-macro-scopes": [
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:write:administrator:admin"
            ]
          }
        }
      },
      "/groups/{groupId}/admins/{userId}": {
        "delete": {
          "tags": [
            "Groups"
          ],
          "summary": "Delete a group admin",
          "description": "Use this API to remove a [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) administrator in a Zoom account.\n\n**Prerequisites:** \n* A Pro, Business, or Education account\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:delete:administrator:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
          "operationId": "groupAdminsDelete",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.  \n \nRetrieve by calling the [**List groups**](/docs/api-reference/zoom-api/methods#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "SobVexyrQjqCkcxjpBWi6w"
              }
            },
            {
              "name": "userId",
              "in": "path",
              "description": "The user ID or email address of the user. For user-level apps, pass the `me` value.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "6dfgdfgdg444447b0egga"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "**Status Code:** `204`   \n  Group administrator removed."
            },
            "400": {
              "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `4138` <br>\n That user is not an administrator for the group: \"{groupId}\". <br>\n**Error Code:** `200` <br>\n Only available for Paid account. <br>\n"
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with the \"{groupId}\" ID does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:write:admin",
                "group:delete:administrator:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Edit"
            ],
            "x-macro-scopes": [
              "group:write:admin"
            ],
            "x-granular-scopes": [
              "group:delete:administrator:admin"
            ]
          }
        }
      },
      "/groups/{groupId}/channels": {
        "get": {
          "tags": [
            "Groups"
          ],
          "summary": "List group channels",
          "description": "Returns a list of channels for a [group](https://support.zoom.us/hc/en-us/articles/204519819-Group-Management-) under your account.\n\n**Prerequisite**: \n- Pro, Business, or Education account  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:admin`,`group:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `group:read:list_channels:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
          "operationId": "groupChannels",
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "description": "The group ID.  \n \nRetrieve by calling the [**List groups**](/docs/api/rest/reference/user/methods/#operation/groups) API.",
              "required": true,
              "schema": {
                "type": "string",
                "example": "A4ql1FjgL913r"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "**HTTP Status Code:** `200`    List of group channels returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "required": [
                      "channels",
                      "group_id"
                    ],
                    "type": "object",
                    "properties": {
                      "channels": {
                        "type": "array",
                        "description": "The channels in a group.",
                        "items": {
                          "required": [
                            "channel_id",
                            "channel_name",
                            "member_count"
                          ],
                          "type": "object",
                          "properties": {
                            "channel_id": {
                              "type": "string",
                              "description": "The unique identifier of the channel. ",
                              "example": "d26fd4dfebfa4aff9f31ee5710529442"
                            },
                            "channel_name": {
                              "type": "string",
                              "description": "The name of the channel.",
                              "example": "Your Channel"
                            },
                            "member_count": {
                              "type": "integer",
                              "description": "The member number of the channel.",
                              "example": 10
                            }
                          }
                        }
                      },
                      "group_id": {
                        "type": "string",
                        "description": "The unique identifier of the group. ",
                        "example": "2NEr8QoCSZq4LV6s7jjYQA"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4130` <br>\n A group with this {groupId} does not exist. <br>\n"
            },
            "429": {
              "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
            }
          },
          "security": [
            {
              "openapi_oauth": [
                "group:read:admin",
                "group:write:admin",
                "group:read:list_channels:admin"
              ],
              "openapi_authorization": []
            }
          ],
          "x-extensions": {
            "x-permissions": [
              "Group:Read"
            ],
            "x-macro-scopes": [
              "group:read:admin",
[...]
