{"openapi":"3.0.0","info":{"title":"Virtual Agent","description":"Zoom Virtual Agent APIs enable you to build artificial intelligence (AI) and chatbot solutions for your website. \n\n Your website users can expect immediate responses to their queries at any time. As a result, Zoom Virtual Agent deploys support to your users faster and reduces the workload for your live agents. \n\n All endpoints are available through `https` at `api.zoom.us/v2/`.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/km/kbs/{kbId}/articles":{"get":{"tags":["Knowledge Management"],"summary":"Get articles","description":"Returns multiple knowledge base articles.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:list_km_articles`,`zva:read:list_km_articles:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetArticles","parameters":[{"name":"kbId","in":"path","description":"The ID of the knowledge base","required":true,"schema":{"type":"string","description":"The ID of the knowledge base.","example":"whelb0q6qe1bpqg6jrw3ismo"}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"e9je7r6yxfqlaklt7zz4wzh9"}},{"name":"page_size","in":"query","description":"The number of records returned per page.","required":false,"schema":{"maximum":300,"type":"number","description":"The number of records returned per page.","example":30,"default":30}},{"name":"include_contents","in":"query","description":"Whether to include the contents of the article in the response or not.","required":false,"schema":{"type":"boolean","description":"Whether to include the contents of the article in the response or not.","example":false,"default":false}},{"name":"excluded","in":"query","description":"Whether to query excluded articles or not.","required":false,"schema":{"type":"boolean","description":"Whether to query excluded articles or not.","example":false,"default":false}},{"name":"language","in":"query","description":"The language of the results.","required":false,"schema":{"type":"string","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]}}],"responses":{"200":{"description":"The list of the returned articles.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","nullable":true,"example":"e9je7r6yxfqlaklt7zz4wzh9"},"page_size":{"maximum":300,"type":"number","description":"The number of records returned within a single API call.","example":30,"default":30},"total_records":{"type":"number","description":"The total number of all the records available across pages.","example":100},"articles":{"maxItems":300,"type":"array","description":"The list or articles from the knowledge base","items":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the article.","example":"e9je7r6yxfqlaklt7zz4wzh9"},"external_id":{"type":"string","description":"The external ID of the article.","nullable":true,"example":"871b707a-7756-46b6-bfba-36a297ba1e85"},"kb_id":{"type":"string","description":"The ID of the knowledge base.","example":"whelb0q6qe1bpqg6jrw3ismo"},"category":{"type":"string","description":"The category of the article.","nullable":true,"example":"Foo"},"title":{"type":"string","description":"The title of the article.","example":"Article One"},"url":{"pattern":"^https?://.+","type":"string","description":"The URL of the article.","format":"uri","nullable":true,"example":"https://example.com/foo/article1"},"content":{"type":"string","description":"The content of the article.","example":"<p>article 1 content with <b>some</b> <i>html</i></p>"},"created_at":{"type":"string","description":"The date and time the article was created.","format":"date-time","example":"2023-05-12T16:31:22.265Z"},"updated_at":{"type":"string","description":"The date and time the article was last updated.","format":"date-time","example":"2023-05-12T21:01:14.07Z"},"exclude":{"type":"boolean","description":"Whether the article is excluded from being presented as a solution to queries.","example":false,"default":false},"language":{"type":"string","description":"The language of the article.","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API. <br>\n**Error Code:** `33005` <br>\n Validation failed. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `33000` <br>\n The knowledge base was not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva:read:km_kbs","zva:read:list_km_articles","zva:read:list_km_articles:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Read","AIStudioKnowledgeBases:Read"],"x-macro-scopes":["zva:read:km_kbs"],"x-granular-scopes":["zva:read:list_km_articles","zva:read:list_km_articles:admin"]}},"post":{"tags":["Knowledge Management"],"summary":"Create article","description":"Creates a knowledge base article.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:write:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:write:km_article`,`zva:write:km_article:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"CreateArticle","parameters":[{"name":"kbId","in":"path","description":"The knowledge base's ID.","required":true,"schema":{"type":"string","example":"whelb0q6qe1bpqg6jrw3ismo"}}],"requestBody":{"description":"Creates a knowledge base article.","content":{"application/json":{"schema":{"required":["content","exclude","title"],"type":"object","properties":{"category":{"type":"string","description":"The article's category.","example":"Foo"},"title":{"type":"string","description":"The article's title.","example":"My Article 1"},"url":{"type":"string","description":"The article's URL.","example":"https://example.com/foo/article1"},"content":{"type":"string","description":"The article's content.","example":"&lt;p&gt;article 1 content with &lt;b&gt;some&lt;/b&gt; &lt;i&gt;html&lt;/i&gt;&lt;/p&gt;"},"exclude":{"type":"boolean","description":"This field excludes the article from being presented as a solution to queries.","example":false},"language":{"type":"string","description":"The article's language.","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]},"external_id":{"type":"string","description":"The article's external ID.","example":"871b707a-7756-46b6-bfba-36a297ba1e85"}}}}}},"responses":{"201":{"description":"Article has been created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The article's ID.","example":"c6o8l4m5xxyyaz0kxiqec6v6"},"kb_id":{"type":"string","description":"The knowledge base's ID.","example":"whelb0q6qe1bpqg6jrw3ismo"},"category":{"type":"string","description":"The category of the article.","example":"Foo"},"title":{"type":"string","description":"The title of the article.","example":"Article One"},"url":{"type":"string","description":"The article's URL.","example":"https://example.com/foo/article1"},"created_at":{"type":"string","description":"The date and time the article was created.","format":"date-time","example":"2023-03-21T20:21:30.659Z"},"updated_at":{"type":"string","description":"The date and time the article was last updated.","format":"date-time","example":"2023-03-21T20:21:30.659Z"},"exclude":{"type":"boolean","description":"This field excludes the article from being presented as a solution to queries.","example":false},"language":{"type":"string","description":"The article's language.","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]},"external_id":{"type":"string","description":"The article's external ID.","example":"871b707a-7756-46b6-bfba-36a297ba1e85"},"content":{"type":"string","description":"The article's content.","example":"<p>article 1 content with <b>some</b> <i>html</i></p>"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API. <br>\n**Error Code:** `33002` <br>\n Too many articles for KB (limit is 5000). <br>\n**Error Code:** `33005` <br>\n Validation failed. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `33000` <br>\n The knowledge base was not found. <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `33003` <br>\n An article for this KB already exists with external ID \"871b707a-7756-46b6-bfba-36a297ba1e85\" and language \"en\". <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva:write:km_kbs","zva:write:km_article","zva:write:km_article:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Edit","AIStudioKnowledgeBases:Edit"],"x-macro-scopes":["zva:write:km_kbs"],"x-granular-scopes":["zva:write:km_article","zva:write:km_article:admin"]}}},"/km/kbs/{kbId}/articles/{articleId}":{"get":{"tags":["Knowledge Management"],"summary":"Get article","description":"Returns a knowledge base article.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:km_article`,`zva:read:km_article:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetArticle","parameters":[{"name":"kbId","in":"path","description":"The ID of the knowledge base.","required":true,"schema":{"type":"string","example":"whelb0q6qe1bpqg6jrw3ismo"}},{"name":"articleId","in":"path","description":"The ID of the article.","required":true,"schema":{"type":"string","example":"c6o8l4m5xxyyaz0kxiqec6v6"}}],"responses":{"200":{"description":"The returned article.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the article.","example":"c6o8l4m5xxyyaz0kxiqec6v6"},"kb_id":{"type":"string","description":"The ID of the knowledge base.","example":"whelb0q6qe1bpqg6jrw3ismo"},"category":{"type":"string","description":"The category of the article.","example":"Foo"},"title":{"type":"string","description":"The title of the article.","example":"Article One"},"url":{"type":"string","description":"The URL of the article's URL.","example":"https://example.com/foo/article1"},"created_at":{"type":"string","description":"The date and time the article was created.","format":"date-time","example":"2023-03-21T20:21:30.659Z"},"updated_at":{"type":"string","description":"The date and time the article was last updated.","format":"date-time","example":"2023-03-21T20:21:30.659Z"},"exclude":{"type":"boolean","description":"This field excludes the article from being presented as a solution to queries.","example":false},"language":{"type":"string","description":"The language of the article.","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]},"external_id":{"type":"string","description":"The external ID of the article. ","example":"871b707a-7756-46b6-bfba-36a297ba1e85"},"content":{"type":"string","description":"The content of the article.","example":"<p>article 1 content with <b>some</b> <i>html</i></p>"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API. <br>\n**Error Code:** `33005` <br>\n Validation failed. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `33000` <br>\n The knowledge base was not found. <br>\n**Error Code:** `33004` <br>\n The article was not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva:read:km_kbs","zva:read:km_article","zva:read:km_article:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Read","AIStudioKnowledgeBases:Read"],"x-macro-scopes":["zva:read:km_kbs"],"x-granular-scopes":["zva:read:km_article","zva:read:km_article:admin"]}},"put":{"tags":["Knowledge Management"],"summary":"Update article","description":"Updates a knowledge base article.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:write:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:update:km_article`,`zva:update:km_article:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"UpdateArticle","parameters":[{"name":"kbId","in":"path","description":"The knowledge base's ID.","required":true,"schema":{"type":"string","example":"whelb0q6qe1bpqg6jrw3ismo"}},{"name":"articleId","in":"path","description":"The ID of the article.","required":true,"schema":{"type":"string","example":"c6o8l4m5xxyyaz0kxiqec6v6"}}],"requestBody":{"description":"This field updates a knowledge base article.","content":{"application/json":{"schema":{"required":["content","exclude","title"],"type":"object","properties":{"category":{"type":"string","description":"The category of the article.","example":"Foo"},"title":{"type":"string","description":"The title of the article.","example":"My Article 1"},"url":{"type":"string","description":"The URL of the article.","example":"https://example.com/foo/article1"},"content":{"type":"string","description":"The content of the article.","example":"&lt;p&gt;article 1 content with &lt;b&gt;some&lt;/b&gt; &lt;i&gt;html&lt;/i&gt;&lt;/p&gt;"},"exclude":{"type":"boolean","description":"This field excludes the article from being presented as a solution to queries.","example":false,"default":false},"language":{"type":"string","description":"The language article.","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]},"external_id":{"type":"string","description":"The external ID of the article.","example":"871b707a-7756-46b6-bfba-36a297ba1e85"}}}}}},"responses":{"200":{"description":"The updated article.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the article.","example":"c6o8l4m5xxyyaz0kxiqec6v6"},"kb_id":{"type":"string","description":"The ID of the knowledge base.","example":"whelb0q6qe1bpqg6jrw3ismo"},"category":{"type":"string","description":"The category of the article.","example":"Foo"},"title":{"type":"string","description":"The title of the article.","example":"Article One"},"url":{"type":"string","description":"The URL of the article.","example":"https://example.com/foo/article1"},"created_at":{"type":"string","description":"The date and time the article was created.","format":"date-time","example":"2023-03-21T20:21:30.659Z"},"updated_at":{"type":"string","description":"The date and time the article was last updated.","format":"date-time","example":"2023-03-21T20:21:30.659Z"},"exclude":{"type":"boolean","description":"This field excludes the article from being presented as a solution to queries.","example":false},"language":{"type":"string","description":"The language of the article.","example":"en-US","enum":["zh-CN","zh-TW","en-US","en-GB","en-AU","en-NZ","fr-FR","fr-CA","pt-PT","pt-BR","es-ES","es-US","es-MX","da-DK","nl-NL","nl-BE","en-CA","fr-BE","fr-LU","de-DE","de-AT","de-CH","it-IT","ja-JP","ko-KR","no-NO","pl-PL","ro-RO","ru-RU","sv-SE","tr-TR"]},"external_id":{"type":"string","description":"The external ID of the article.","example":"871b707a-7756-46b6-bfba-36a297ba1e85"},"content":{"type":"string","description":"The content of the article.","example":"<p>article 1 content with <b>some</b> <i>html</i></p>"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API. <br>\n**Error Code:** `33005` <br>\n Validation failed. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `33000` <br>\n The knowledge base was not found. <br>\n**Error Code:** `33004` <br>\n The article was not found. <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `33003` <br>\n An article for this KB already exists with external ID \"871b707a-7756-46b6-bfba-36a297ba1e85\" and language \"en\". <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva:write:km_kbs","zva:update:km_article","zva:update:km_article:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Edit","AIStudioKnowledgeBases:Edit"],"x-macro-scopes":["zva:write:km_kbs"],"x-granular-scopes":["zva:update:km_article","zva:update:km_article:admin"]}},"delete":{"tags":["Knowledge Management"],"summary":"Delete article","description":"Deletes a knowledge base article.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:write:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:delete:km_article`,`zva:delete:km_article:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"DeleteArticle","parameters":[{"name":"kbId","in":"path","description":"The ID of the knowledge base.","required":true,"schema":{"type":"string","example":"whelb0q6qe1bpqg6jrw3ismo"}},{"name":"articleId","in":"path","description":"The ID of the article.","required":true,"schema":{"type":"string","example":"c6o8l4m5xxyyaz0kxiqec6v6"}}],"responses":{"204":{"description":"The article is deleted."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API. <br>\n**Error Code:** `33005` <br>\n Validation failed. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `33000` <br>\n The knowledge base was not found. <br>\n**Error Code:** `33004` <br>\n The article was not found. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva:write:km_kbs","zva:delete:km_article","zva:delete:km_article:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Edit","AIStudioKnowledgeBases:Edit"],"x-macro-scopes":["zva:write:km_kbs"],"x-granular-scopes":["zva:delete:km_article","zva:delete:km_article:admin"]}}},"/km/kbs/{kbId}/sync":{"post":{"tags":["Knowledge Management"],"summary":"Create sync request","description":"Creates a sync request for the specified knowledge base\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:write:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:update:km_kb:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"CreateSyncRequest","parameters":[{"name":"kbId","in":"path","description":"The knowledge base's ID.","required":true,"schema":{"type":"string","example":"whelb0q6qe1bpqg6jrw3ismo"}}],"requestBody":{"description":"Creates a sync request for the specified knowledge base."},"responses":{"201":{"description":"Default Response","content":{"application/json":{"schema":{"required":["error_code","error_message","progress_percent","started_at","sync_status"],"type":"object","properties":{"sync_id":{"type":"string","description":"The sync ID.","example":"a6w6izgus3qlxz6di0vsrv8s"},"kb_id":{"type":"string","description":"The knowledge base's ID.","example":"whelb0q6qe1bpqg6jrw3ismo"},"sync_status":{"type":"string","description":"The status of the sync.","example":"IN_PROGRESS","enum":["QUEUED","PENDING","IN_PROGRESS","COMPLETED","FAILED","ABORTING","ABORTED"]},"progress_percent":{"type":"integer","description":"The percent progress of the sync.","nullable":true,"example":50},"error_code":{"type":"integer","description":"The numerical error code of reason why sync failed (otherwise null).","nullable":true,"example":33009,"enum":[33009,33008,33010,33007]},"error_message":{"type":"string","description":"The error message of the reason why a sync failed (otherwise null).","nullable":true,"example":"The sync failed because no articles had any content."},"created_at":{"type":"string","description":"The time the sync request was created (in ISO 8601 format).","format":"date-time","example":"2025-01-08T13:00:00Z"},"updated_at":{"type":"string","description":"The type the sync progress or status was last updated (in ISO 8601 format).","format":"date-time","example":"2025-01-08T13:00:00Z"},"started_at":{"type":"string","description":"The time the sync started (in ISO 8601 format).","format":"date-time","nullable":true,"example":"2025-01-10T13:00:00Z"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Bad Request \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API. <br>\n**Error Code:** `33013` <br>\n The knowledge base is not enabled <br>\n**Error Code:** `33005` <br>\n Validation failed. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Not Found \n\n **Error Code:** `33000` <br>\n The knowledge base was not found. <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  Conflict \n\n **Error Code:** `33011` <br>\n A sync is already in progress <br>\n**Error Code:** `33012` <br>\n A sync has completed too recently <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva:write:km_kbs","zva:update:km_kb:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Edit","AIStudioKnowledgeBases:Edit"],"x-macro-scopes":["zva:write:km_kbs"],"x-granular-scopes":["zva:update:km_kb:admin"]}}},"/km/kbs/{kbId}/sync/{syncId}":{"get":{"tags":["Knowledge Management"],"summary":"Get sync","description":"Returns the details of a knowledge base sync.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:km_kbs`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:km_kb:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"GetSync","parameters":[{"name":"kbId","in":"path","description":"The ID of the knowledge base.","required":true,"schema":{"type":"string","example":"whelb0q6qe1bpqg6jrw3ismo"}},{"name":"syncId","in":"path","description":"The ID of the sync request.","required":true,"schema":{"type":"string","example":"a6w6izgus3qlxz6di0vsrv8s"}}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"required":["error_code","error_message","progress_percent","started_at","sync_status"],"type":"object","properties":{"sync_id":{"type":"string","description":"The sync ID.","example":"a6w6izgus3qlxz6di0vsrv8s"},"kb_id":{"type":"string","description":"The knowledge base's ID.","example":"whelb0q6qe1bpqg6jrw3ismo"},"sync_status":{"type":"string","description":"The status of the sync.","example":"IN_PROGRESS","enum":["QUEUED","PENDING","IN_PROGRESS","COMPLETED","FAILED","ABORTING","ABORTED"]},"progress_percent":{"type":"integer","description":"The percent progress of the sync.","nullable":true,"example":50},"error_code":{"type":"integer","description":"The numerical error code of reason why sync failed (otherwise null).","nullable":true,"example":33009,"enum":[33009,33008,33010,33007]},"error_message":{"type":"string","description":"The error message of reason why sync failed (otherwise null).","nullable":true,"example":"The sync failed because no articles had any content"},"created_at":{"type":"string","description":"The time the sync request was created (in ISO 8601 format).","format":"date-time","example":"2025-01-10T13:00:00Z"},"updated_at":{"type":"string","description":"The type the sync progress or status was last updated (in ISO 8601 format).","format":"date-time","example":"2025-01-10T13:00:00Z"},"started_at":{"type":"string","description":"The time the sync started (in ISO 8601 format).","format":"date-time","nullable":true,"example":"2025-01-12T15:00:00Z"}}}}}},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Default Response \n\n **Error Code:** `33014` <br>\n The knowledge base or sync request was not found <br>\n"}},"security":[{"openapi_oauth":["zva:read:km_kbs","zva:read:km_kb:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["ZoomKnowledgeBaseKnowledgeBases:Read","AIStudioKnowledgeBases:Read"],"x-macro-scopes":["zva:read:km_kbs"],"x-granular-scopes":["zva:read:km_kb:admin"]}}},"/virtual_agent/report/engagements":{"get":{"tags":["Report"],"summary":"Get ZVA engagements","description":"Generates a list of ZVA engagements.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva_report:read`,`zva_report:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:list_engagements:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"GetZVAEngagements","parameters":[{"name":"from","in":"query","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, return data from the past 24 hours.","required":false,"schema":{"type":"string","format":"date","example":"2023-07-01"}},{"name":"to","in":"query","description":"**Required** only when the **from** parameters are specified. The end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format is the same format as the **from** parameter.","required":false,"schema":{"type":"string","format":"date","example":"2023-07-02"}},{"name":"timezone","in":"query","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","required":false,"schema":{"type":"string","example":"UTC"}},{"name":"page_size","in":"query","description":"The number of items returned per page.\nConstraints: Maximum - 100, default - 10","required":false,"schema":{"maximum":100,"type":"integer","example":10,"default":10}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"}},{"name":"include_query_detail","in":"query","description":"Whether the engagement response includes query details.","required":false,"schema":{"type":"boolean","example":false,"deprecated":true}},{"name":"agent_types","in":"query","description":"A list of (comma-separated) agent types. The default value is **chat**.","required":false,"schema":{"maxItems":3,"type":"array","example":["chat","ai_voice","ai_chat"],"items":{"type":"string","enum":["chat","ai_voice","ai_chat"]}}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br> ZVA engagements successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"},"page_size":{"maximum":100,"type":"integer","description":"The number of records returned within a single API call.\nConstraints: Max: 100 Default: 10","example":10,"default":10},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":44},"timezone":{"type":"string","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","example":"UTC"},"engagements":{"maxItems":100,"type":"array","description":"The information about the engagements.","items":{"type":"object","properties":{"engagement_id":{"type":"string","description":"The engagement's ID.","example":"NF1kPajwRCGa9-cgHWGAQw"},"start_time":{"type":"string","description":"The engagement's start time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.","format":"date-time","example":"2023-07-11T22:17:49Z"},"duration":{"type":"integer","description":"The duration of the engagement in seconds.","example":25},"campaign_name":{"type":"string","description":"The engagement's campaign name.","example":"campaignA"},"global_variables":{"type":"array","description":"The information about the engagement's global variables. Marked for removal. Recommended to use the new **Variables API** instead.","deprecated":true,"items":{"type":"object","properties":{"type":{"type":"string","description":"The global variable's type.","example":"system"},"value":{"type":"string","description":"The global variable's value.","example":"value A"},"group_name":{"type":"string","description":"The global variable's group name.","example":"group A"},"group_id":{"type":"string","description":"The global variable's group ID.","example":"1688149024708"},"variable_name":{"type":"string","description":"The global variable's name.","example":"variable A"},"variable_id":{"type":"string","description":"The global variable's ID.","example":"h9NNoHkwTrqEEiQ3e8ATOw"},"need_mask":{"type":"boolean","description":"If the global variable needs a mask.","example":true},"need_store":{"type":"boolean","description":"If the global variable needs a store.","example":true}},"description":"The engagement's global variables."}},"outcome":{"type":"string","description":"The outcome of the engagement.","example":"assistanceRequested"},"launch_url":{"type":"string","description":"The URL of the transcript of the engagement, such as a link to the transcript as a secured embeddable web page.\n","example":"https://zoom.us"},"query_summary":{"type":"object","properties":{"query_ids":{"type":"array","description":"The engagement's query IDs.","items":{"type":"string","description":"The engagement's query ID.","example":"kkvuqwaosrm9itxqthxirq"}},"count":{"type":"integer","description":"The total count of the engagement's query IDs.","example":12}},"description":"The summary of queries in an engagement.","deprecated":true},"intent_summary":{"type":"object","properties":{"intents_matched":{"type":"array","description":"The matched custom intents in the engagement.","items":{"type":"object","properties":{"intent_id":{"type":"string","description":"The intent's ID","example":"sbyW0BwLTUSKGzDsqcfnCQ"},"intent_name":{"type":"string","description":"The intent's name.","example":"Contact Support copy"},"intent_type":{"type":"string","description":"The intent's type. \n* `custom_intent`\n* `small_talk`\n* `default_intent`\n* FAQ","example":"faq","default":"default_intent","enum":["custom_intent","small_talk","default_intent","faq"]},"accuracy":{"type":"number","description":"The intent's accuracy, from 0 to 1. 0.5 means this intent has 50% accuracy.","example":0.5},"system_intent":{"type":"boolean","description":"Whether this record belongs to the system intent.","example":true}},"description":"The engagement's bot intent."}},"count":{"type":"integer","description":"The total count of the matched engagement's intents.","example":10}},"description":"The summary of the matched custom intents in the engagement."},"language_code":{"type":"string","description":"The language code for the engagement.","example":"en-US","default":"en-US","enum":["en-GB","en-US","ar","da-DK","de-DE","es-ES","es-MX","fr-CA","fr-FR","it-IT","ja","ko-KR","nl-NL","pt-BR","pt-PT","ru","zh-CN","zh-HK"]},"query_details":{"type":"array","description":"The engagement's query details.","deprecated":true,"items":{"type":"object","properties":{"query_id":{"type":"string","description":"The query's ID.","example":"0b883910-0783-4383-9dcf-b5c9ba315438"},"engagement_id":{"type":"string","description":"The engagement's ID.","example":"ioknax-4siqztcqwga0xug"},"bot_id":{"type":"string","description":"The bot's ID that the engagement uses.","example":"FZOKnPjmTse9ISSvQN4Zjg"},"bot_session_id":{"type":"string","description":"The bot session's ID.","example":"ioknax-4siqztcqwga0xug"},"query_time":{"type":"string","description":"The date and time when the query started in ISO 8601 format (**yyyy-MM-dd'T'HH:mm:ss'Z'** or **yyyy-MM-dd'T'HH:mm:ss**).","format":"date-time","example":"2023-07-11T22:17:49Z"},"language_code":{"type":"string","description":"The language code for the query.","example":"en-US","default":"en-US","enum":["en-GB","en-US","ar","da-DK","de-DE","es-ES","es-MX","fr-CA","fr-FR","it-IT","ja","ko-KR","pt-BR","pt-PT","ru","zh-CN","zh-HK","nl-NL"]},"query_text":{"type":"string","description":"The query's text.","example":"Route 1"},"intents":{"type":"array","description":"The intents associated with the query.","items":{"type":"object","properties":{"intent_id":{"type":"string","description":"The intent's ID","example":"sbyW0BwLTUSKGzDsqcfnCQ"},"intent_name":{"type":"string","description":"The intent's name.","example":"Contact Support copy"},"intent_type":{"type":"string","description":"The intent's type. \n* `custom_intent`\n* `small_talk`\n* `default_intent`\n* FAQ","example":"faq","default":"default_intent","enum":["custom_intent","small_talk","default_intent","faq"]},"accuracy":{"type":"number","description":"The intent's accuracy. From 0 to 1. (e.g. 0.5 means this intent has 50% accuracy.)","example":0.5},"system_intent":{"type":"boolean","description":"Whether this record belongs to the system intent.","example":true}},"description":"The top intent associated with the query."}},"articles":{"type":"array","description":"The query's articles.","items":{"type":"object","properties":{"id":{"type":"string","description":"The article's ID.","example":"-0zryh7dTEyY9HADPHm_dA"},"title":{"type":"string","description":"The article's title.","example":"Can I edit my chat welcome screen?"},"answer":{"type":"string","description":"The article's answer.","example":"Yes, you can customize the following settings for the chat welcome screen."},"url":{"type":"string","description":"The article's URL.","example":"https://docs.google.com/"},"score":{"type":"number","description":"The article's socre, from 0 to 1.","example":0.5},"kb_details":{"type":"array","description":"The article's knowledge base detail list.","items":{"type":"object","properties":{"kb_id":{"type":"string","description":"The knowledge base's ID.","example":"-0zryh7dTEyY9HADPHm_dA"},"kb_name":{"type":"string","description":"The knowledge base's name.","example":"default knowledge base"},"kb_groups":{"type":"array","description":"The article's knowledge base group.","items":{"type":"object","properties":{"id":{"type":"string","description":"The knowledge base group ID.","example":"2"},"name":{"type":"string","description":"The knowledge base group name.","example":"default name"}},"description":"The knowledge base group."}}},"description":"The article's knowledge base details."}}},"description":"The top knowledge base article associated with the query."}}},"description":"The query details."}},"end_time":{"type":"string","description":"The engagement's end time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.","format":"date-time","example":"2023-07-12T22:17:49Z"},"consumer_id":{"type":"string","description":"The consumer iD of the engagement","example":"KuwgnuP7RgSJAN3Kjaw_uQ"},"deleted":{"type":"boolean","description":"Whether the status engagement is deleted or not.","example":true},"agents":{"type":"array","description":"This list of agents involved in this engagement","items":{"type":"object","properties":{"agent_type":{"type":"string","description":"The type of the agent used in the engagement.","example":"AI_VOICE","enum":["AI_VOICE","AI_CHAT","CHAT"]},"agent_id":{"type":"string","description":"The internal ID of the agent.","example":"QF0l7by1TfuIteSJfleVdg"},"agent_name":{"type":"string","description":"The agent name entered by the user.","example":"HappyBot AI Agent"},"agent_version_id":{"type":"string","description":"Internal version ID of AI agent.","example":"Mn8m2c4ERrWrzZ9SqjNHMQ"},"agent_version_number":{"type":"integer","description":"Version number of AI agent.","example":8}},"description":"AI Agent details"}},"tools":{"type":"array","description":"The list of tools AI agent used in this engagement.","items":{"type":"string","description":"The name of the tool AI agent used in this engagement.","example":"End_Conversation"}},"skills":{"type":"array","description":"The list of skills AI agent invoked in this engagement.","items":{"type":"string","description":"The name of the skill AI agent used in this engagement.","example":"Route_To_Demo"}},"articles":{"type":"array","description":"The list of articles AI agent used in this engagement.","items":{"type":"string","description":"The title of the article AI agent used in this engagement.","example":"Can I edit my chat welcome screen?"}},"topics":{"type":"array","description":"The list of topics AI agent detected in this engagement.","items":{"type":"string","description":"The name of the topic AI agent used in this engagement.","example":"Weather Inquiry"}},"last_responder":{"type":"string","description":"The entity that responded the last in this conversation.","example":"Consumer","enum":["AI Agent","Consumer","Chatbot"]},"interaction_duration":{"type":"integer","description":"The total number of seconds of interaction between the AI agent and the consumer.","example":25},"interaction_turns":{"type":"integer","description":"The total number of conversation exchanges between the Consumer and AI Agent.","example":7},"escalation_reason":{"type":"string","description":"Whether the escalation was requested or by design.","example":"Escalation requested","enum":["Escalation by design","Escalation requested"]},"user_phone_number":{"type":"string","description":"The phone number of the user.","example":"+12097899000"},"source_types":{"type":"array","description":"The list of sources from where the engagement originates.","items":{"type":"string","description":"The enum value for the source type.","example":"ZCC_AI_AGENT","enum":["ZCC","ZCC_AI_AGENT","ZP","AMAZON","GENESYS","WEB_SDK","WEB_SDK_SIMULATOR","WEB_SDK_PREVIEW","WEB_SDK_AI_AGENT","WEB_SDK_AI_AGENT_PREVIEW","MOBILE","MOBILE_AGENT","TEAM_CHAT_BETA","TEAM_CHAT_CHANNEL","ZECO","ZECO_HEADLESS","CHAT","WHATSAPP","SMS","TEAM_CHAT","FACEBOOK_MESSENGER","INSTAGRAM"]}},"transfer_accepted":{"type":"boolean","description":"Whether the transfer was accpeted by the agent or not.","example":true},"implicit_resolution":{"type":"string","description":"Whether the consumer's issue was implicitly resolved by the virtual agent. **This is field is available only if it is enabled for the account.**","example":"RESOLVED","enum":["RESOLVED","NOT_RESOLVED"]}},"description":"The single engagement that returns."}},"from":{"type":"string","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","format":"date-time","example":"2023-07-01T00:00:00Z"},"to":{"type":"string","description":"**Required** only when the **from** parameters is specified. The end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, the same format as the **from** parameter.","format":"date-time","example":"2023-07-02T23:59:59Z"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1001` <br>\n User does not exist. <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva_report:read","zva_report:read:admin","zva:read:list_engagements:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zva_report:read","zva_report:read:admin"],"x-granular-scopes":["zva:read:list_engagements:admin"]}}},"/virtual_agent/report/engagements/query_details":{"get":{"tags":["Report"],"summary":"Get ZVA query details","description":"Returns a list of ZVA engagement query details.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva_report:read`,`zva_report:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:list_queries:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"GetZVAQueryDetails","parameters":[{"name":"from","in":"query","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","required":false,"schema":{"type":"string","format":"date","example":"2023-07-01"}},{"name":"to","in":"query","description":" The field is **required** only when the **from** parameter is specified. The end time and date is in the **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.","required":false,"schema":{"type":"string","format":"date","example":"2023-07-02"}},{"name":"timezone","in":"query","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","required":false,"schema":{"type":"string","example":"UTC"}},{"name":"page_size","in":"query","description":"The number of items returned per page. \nConstraints: Max: 100 Default: 10","required":false,"schema":{"maximum":100,"type":"integer","example":10,"default":10}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"}},{"name":"engagement_ids","in":"query","description":"The engagement IDs string separated by \",\". Up limit is 2000 characters.","required":false,"schema":{"type":"string","example":"N-ecLZBoS-ayCabdwDQSrA,MDP1xR_CQ0eJzHmPT9jOUA"}},{"name":"agent_types","in":"query","description":"A list of (comma-separated) agent types. Default value is **chat**.","required":false,"schema":{"maxItems":3,"type":"array","example":["chat","ai_voice","ai_chat"],"items":{"type":"string","enum":["chat","ai_voice","ai_chat"]}}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br> ZVA engagement query details successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","format":"date-time","example":"2023-07-01T00:00:00Z"},"to":{"type":"string","description":" This field is **required** only when the **from** parameter is specified. The end time and date is in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.","format":"date-time","example":"2023-07-02T23:59:59Z"},"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"},"page_size":{"maximum":100,"type":"integer","description":"The number of records returned within a single API call. Constraints: Max: 100 Default: 10","example":10,"default":10},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":22},"timezone":{"type":"string","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","example":"UTC"},"engagement_query_details":{"maxItems":100,"type":"array","description":"The list for the engagement query details.","items":{"type":"object","properties":{"engagement_id":{"type":"string","description":"The engagement's ID.","example":"NF1kPajwRCGa9-cgHWGAQw"},"query_details":{"type":"array","description":"The query details list that belong to the engagement.","items":{"type":"object","properties":{"query_id":{"type":"string","description":"The query's ID.","example":"0b883910-0783-4383-9dcf-b5c9ba315438"},"bot_id":{"type":"string","description":"The bot's ID that the query uses. This field is available only when the agent type in the engagement is **CHAT**.","example":"FZOKnPjmTse9ISSvQN4Zjg"},"bot_name":{"type":"string","description":"The bot's name. This field is available only when the agent type in the engagement is **CHAT**.","example":"Chatbot"},"bot_session_id":{"type":"string","description":"The bot session's ID. This field is available only when the agent type in the engagement is **CHAT**.","example":"ioknax-4siqztcqwga0xug"},"query_time":{"type":"string","description":"The date and time when the query started in ISO 8601 format (**yyyy-MM-dd'T'HH:mm:ss'Z'** or **yyyy-MM-dd'T'HH:mm:ss**).","format":"date-time","example":"2023-07-11T22:17:49Z"},"language_code":{"type":"string","description":"The language code for the query.","example":"en-US","default":"en-US","enum":["en-GB","en-US","ar","da-DK","de-DE","es-ES","es-MX","fr-CA","fr-FR","it-IT","ja","ko-KR","pt-BR","pt-PT","ru","zh-CN","zh-HK","nl-NL"]},"query_text":{"type":"string","description":"The query's text.","example":"Route 1"},"intents":{"type":"array","description":"The intents associated with the query.","items":{"type":"object","properties":{"intent_id":{"type":"string","description":"The intent's ID.","example":"sbyW0BwLTUSKGzDsqcfnCQ"},"intent_name":{"type":"string","description":"The intent's name.","example":"Contact Support copy"},"intent_type":{"type":"string","description":"The intent's type.","example":"faq","default":"default_intent","enum":["custom_intent","small_talk","default_intent","faq"]},"accuracy":{"type":"number","description":"The intent's accuracy. From 0 to 1. (e.g. 0.5 means this intent has 50% accuracy.)","example":0.5},"system_intent":{"type":"boolean","description":"Whether this record belongs to the system intent.","example":false,"default":true}},"description":"The top intent associated with the query."}},"articles":{"type":"array","description":"The query's articles.","items":{"type":"object","properties":{"article_id":{"type":"string","description":"The article's ID.","example":"-0zryh7dTEyY9HADPHm_dA"},"article_title":{"type":"string","description":"The article's title.","example":"Can I edit my chat welcome screen?"},"article_answer":{"type":"string","description":"The article's answer.","example":"Yes, you can customize the following settings for the chat welcome screen.","deprecated":true},"article_url":{"type":"string","description":"The article's URL.","example":"https://docs.google.com/"},"is_Helpful":{"type":"boolean","description":"Whether the article is helpful.","example":true},"article_score":{"type":"number","description":"The article's score from 0 to 1.","example":0.5},"kb_details":{"type":"array","description":"The list for the article's knowledge base details.","items":{"type":"object","properties":{"kb_id":{"type":"string","description":"The knowledge base's ID.","example":"0zryh7dTEyY9HADPHm_dA"},"kb_name":{"type":"string","description":"The knowledge base's name.","example":"default knowledge base"},"kb_groups":{"type":"array","description":"The article's knowledge base group.","deprecated":true,"items":{"type":"object","properties":{"group_id":{"type":"string","description":"The knowledge base group ID.","example":"2"},"group_name":{"type":"string","description":"The knowledge base group name.","example":"default name"}},"description":"The knowledge base group."}}},"description":"The article's knowledge base detail."}},"helpful_response":{"type":"string","description":"Whether the article is helpful.","example":"No Response","enum":["Yes","No","No Response"]}},"description":"The top knowledge base article associated with the query."}},"deleted":{"type":"boolean","description":"Whether the status query is deleted or not.","example":true},"topic_name":{"type":"string","description":"The name of the topic used in the query.","example":"Check refund status"},"agent_id":{"type":"string","description":"The ID of the agent used in the query. This field is available only when the agent type in the engagement is either **AI_VOICE** or **AI_CHAT**.","example":"jSeZPyVUQamm7WSVZWpExA"},"agent_name":{"type":"string","description":"The name of the agent in the query. This field is available only when the agent type in the engagement is either **AI_VOICE** or **AI_CHAT**.","example":"HappyBot Agent"},"agent_type":{"type":"string","description":"The type of the agent used in the query. This field is available only when the agent type in the engagement is either **AI_VOICE** or **AI_CHAT**.","example":"AI_VOICE","enum":["AI_VOICE","AI_CHAT"]},"agent_session_id":{"type":"string","description":"The session ID of the agent in the query. This field is available only when the agent type in the engagement is either **AI_VOICE** or **AI_CHAT**.","example":"vXd6K1SPSz2WSTz0t3wuRg"}},"description":"The query's detail."}}},"description":"The object for the engagement query details."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1002` <br>\n Unable to fetch query details. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n Engagement does not exist: $engagement_ids <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva_report:read","zva_report:read:admin","zva:read:list_queries:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zva_report:read","zva_report:read:admin"],"x-granular-scopes":["zva:read:list_queries:admin"]}}},"/virtual_agent/report/engagements/variables":{"get":{"tags":["Report"],"summary":"Get ZVA variable details","description":"Get a list of ZVA engagement variable details.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva_report:read`,`zva_report:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:list_variables:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"GetZVAengagementvariabledetails","parameters":[{"name":"from","in":"query","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","required":false,"schema":{"type":"string","format":"date","example":"2023-07-01"}},{"name":"to","in":"query","description":" The field is **required** only when the **from** parameter is specified. The end time and date is in the **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.","required":false,"schema":{"type":"string","format":"date","example":"2023-07-02"}},{"name":"timezone","in":"query","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","required":false,"schema":{"type":"string","example":"UTC"}},{"name":"page_size","in":"query","description":"The number of items returned per page. \nConstraints: Max: 100 Default: 10","required":false,"schema":{"maximum":100,"type":"integer","example":10,"default":10}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"}},{"name":"engagement_ids","in":"query","description":"The engagement IDs string separated by \",\". Up limit is 2000 characters.","required":false,"schema":{"maxLength":2000,"type":"string","example":"N-ecLZBoS-ayCabdwDQSrA,MDP1xR_CQ0eJzHmPT9jOUA"}},{"name":"agent_types","in":"query","description":"The list of (comma-separated) agent types. The default value is **chat**.","required":false,"schema":{"maxItems":3,"type":"array","example":["chat","ai_voice","ai_chat"],"items":{"type":"string","enum":["chat","ai_voice","ai_chat"]}}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br> ZVA engagement variable details successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","format":"date-time","example":"2023-07-01T00:00:00Z"},"to":{"type":"string","description":" This field is **required** only when the **from** parameter is specified. The end time and date is in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.","format":"date-time","example":"2023-07-02T23:59:59Z"},"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"},"page_size":{"maximum":100,"type":"integer","description":"The number of records returned within a single API call. Constraints: Max: 100 Default: 10","example":10,"default":10},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":22},"timezone":{"type":"string","description":"The call's [timezone ID](https://developers.zoom.us/docs/api/references/abbreviations/#timezones). The default is **UTC**.","example":"UTC"},"engagement_variable_details":{"type":"array","description":"The list of engagements and its variable details.","items":{"type":"object","properties":{"engagement_id":{"type":"string","description":"The engagement ID.","example":"G9wepeWxQAO7o0M6AJw2AA"},"variable_details":{"type":"array","description":"The list of variable details belonging to the given engagement ID.","items":{"type":"object","properties":{"variable_id":{"type":"string","description":"The ID of the variable.","example":"f15c3714-4c24-4fc1-b4e6-4f0702b5398f8b2a93e9-3125-4044-8cd6-06ce7f582de8"},"type":{"type":"string","description":"The type of the variable. Type Array and Json are not stored.","example":"Number","enum":["String","Number","Boolean","DateTime","Currency","Percent","Email","URL","Phone","CustomEntity","SystemEntity"]},"name":{"type":"string","description":"The name of the variable.","example":"startTime"},"value":{"type":"string","description":"The value of the variable. It is always a **string**.","example":"1736866627040"},"need_mask":{"type":"boolean","description":"Whether the value of the variable needs masking to protect sensitive data.","example":true},"group_id":{"type":"string","description":"The ID of the group to which the variable belongs to.","example":"1fb58719-22f3-439f-88e2-96c069347331"},"group_name":{"type":"string","description":"The name of the group to which the variable belongs to.","example":"Engagement"}}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1002` <br>\n Unable to fetch variable details <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Missing or invalid authentication \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n Engagement does not exist: $engagement_ids <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva_report:read","zva_report:read:admin","zva:read:list_variables:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zva_report:read","zva_report:read:admin"],"x-granular-scopes":["zva:read:list_variables:admin"]}}},"/virtual_agent/report/surveys":{"get":{"tags":["Report"],"summary":"Get ZVA Surveys","description":"Returns a list of ZVA engagement surveys.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva_report:read`,`zva_report:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:list_surveys:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"GetZVASurveys","parameters":[{"name":"from","in":"query","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","required":false,"schema":{"type":"string","format":"date","example":"2025-10-01"}},{"name":"to","in":"query","description":"This field is **required** only when the **from** parameter is specified. The end time and date is in the **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.","required":false,"schema":{"type":"string","format":"date","example":"2025-10-29"}},{"name":"timezone","in":"query","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","required":false,"schema":{"type":"string","example":"UTC"}},{"name":"page_size","in":"query","description":"The number of items returned per page. \nConstraints: Max: 100 Default: 10","required":false,"schema":{"maximum":100,"type":"integer","example":10,"default":10}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"}},{"name":"engagement_ids","in":"query","description":"A string of engagement IDs separated by \",\". Up limit is 2000 characters.","required":false,"schema":{"maxLength":2000,"type":"string","example":"N-ecLZBoS-ayCabdwDQSrA,MDP1xR_CQ0eJzHmPT9jOUA"}},{"name":"agent_types","in":"query","description":"The list of (comma-separated) agent types. The default value is **chat**.","required":false,"schema":{"maxItems":3,"type":"array","example":["chat","ai_voice","ai_chat"],"items":{"type":"string","enum":["chat","ai_voice","ai_chat"]}}},{"name":"survey_ids","in":"query","description":"A string of survey IDs separated by \",\". Up limit is 2000 characters.","required":false,"schema":{"maxLength":2000,"type":"string","example":"r8DUXy4BSbO-UQ5ylOUyLg"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br> ZVA engagement surveys successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.","format":"date-time","example":"2025-10-01T00:00:00Z"},"to":{"type":"string","description":"This field is **required** only when the **from** parameter is specified. The end time and date is in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.","format":"date-time","example":"2025-10-29T23:59:59Z"},"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"},"page_size":{"maximum":100,"type":"integer","description":"The number of records returned within a single API call. Constraints: Max: 100 Default: 10","example":10,"default":10},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":30},"timezone":{"type":"string","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","example":"UTC"},"surveys":{"type":"array","description":"The list of surveys.","items":{"type":"object","properties":{"survey_id":{"type":"string","description":"The ID of the survey.","example":"r8DUXy4BSbO-UQ5ylOUyLg"},"survey_name":{"type":"string","description":"The name of the survey.","example":"voice survey"},"engagement_id":{"type":"string","description":"The engagement ID of the survey.","example":"N-ecLZBoS-ayCabdwDQSrA"},"agent_type":{"type":"string","description":"The type of the virtual agent.","example":"Voice"},"virtual_agent":{"type":"string","description":"The name of the virtual agent.","example":"voice agent"},"consumer":{"type":"string","description":"The name of the consumer.","example":"consumer"},"start_time":{"type":"string","description":"The start time of the survey.","example":"2025-09-03T05:52:22Z"},"submitted_time":{"type":"string","description":"The submitted time of the survey.","example":"2025-09-03T05:55:22Z"},"results":{"type":"array","description":"The results of the survey.","items":{"type":"object","properties":{"question":{"type":"string","description":"A question in the survey.","example":"What color do you like?"},"answer":{"type":"string","description":"The answer to the question.","example":"green"}}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Unable to fetch survey results. \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Missing or invalid authentication. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Survey results do not exist. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva_report:read","zva_report:read:admin","zva:read:list_surveys:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zva_report:read","zva_report:read:admin"],"x-granular-scopes":["zva:read:list_surveys:admin"]}}},"/virtual_agent/report/transcripts":{"get":{"tags":["Report"],"summary":"Get ZVA transcripts","description":"Generates a list of ZVA transcripts.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva_report:read`,`zva_report:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `zva:read:list_transcripts:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"GetZVATranscripts","parameters":[{"name":"from","in":"query","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, returns data from the past 24 hours.","required":false,"schema":{"type":"string","format":"date-time","example":"2023-07-01T00:00:00Z"}},{"name":"to","in":"query","description":"**Required** only when the **from** parameter is specified. The end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, in the same format as the **from** parameter.","required":false,"schema":{"type":"string","format":"date-time","example":"2023-07-02T23:59:59Z"}},{"name":"timezone","in":"query","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","required":false,"schema":{"type":"string","example":"UTC"}},{"name":"page_size","in":"query","description":"The number of items returned per page.\nConstraints: Maximum - 100, default - 10","required":false,"schema":{"maximum":100,"type":"integer","example":10,"default":10}},{"name":"next_page_token","in":"query","description":"The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","required":false,"schema":{"type":"string","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"}},{"name":"engagement_ids","in":"query","description":"The engagement IDs string separated by \",\". The limit is 2000 characters.","required":false,"schema":{"maxLength":2000,"type":"string","example":"N-ecLZBoS-ayCabdwDQSrA,MDP1xR_CQ0eJzHmPT9jOUA"}},{"name":"agent_types","in":"query","description":"A list of (comma-separated) agent types. The default value is **chat**.","required":false,"schema":{"maxItems":3,"type":"array","example":["chat","ai_voice","ai_chat"],"items":{"type":"string","enum":["chat","ai_voice","ai_chat"]}}}],"responses":{"200":{"description":"**HTTP Status Code:** `200` <br> ZVA transcripts successfully returned.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.","example":"ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"},"page_size":{"maximum":100,"type":"integer","description":"The number of records returned within a single API call. Constraints: Maximum - 100, Default - 10","example":10,"default":10},"total_records":{"type":"integer","description":"The total number of all the records available across pages.","example":44},"timezone":{"type":"string","description":"The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.","example":"UTC"},"transcripts":{"maxItems":100,"type":"array","description":"The information about the transcripts.","items":{"type":"object","properties":{"engagement_id":{"type":"string","description":"The engagement's ID.","example":"akNPVkF0ShCG-X5dY2Nd0Q"},"channel":{"type":"string","description":"The engagement's channel type.","example":"Chat Agent","enum":["Chat Agent","Voice Agent","Classic ChatBot"]},"start_time":{"type":"string","description":"The engagement's start time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.","format":"date-time","example":"2023-07-11T22:17:30Z"},"total_duration":{"type":"integer","description":"The duration of the engagement in seconds.","example":25},"interaction_duration":{"type":"integer","description":"The total number of seconds of interaction between the AI agent and the consumer.","example":20},"end_time":{"type":"string","description":"The engagement's end time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.","format":"date-time","example":"2023-07-12T22:17:55Z"},"messages":{"type":"array","description":"A list of messages.","items":{"type":"object","properties":{"sender":{"type":"string","description":"The sender of the message.","example":"AI Agent","enum":["AI Agent","Bot","Consumer"]},"timestamp":{"type":"string","description":"The message sent time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.","format":"date-time","example":"2023-07-12T22:17:49Z"},"message_type":{"type":"string","description":"The Ttpe of the message.","example":"text"},"text":{"type":"string","description":"The message content.","example":"Message in the conversation"},"kb_articles":{"type":"array","description":"A list of knowledge base articles involved in generating the message.","items":{"type":"object","properties":{"title":{"type":"string","description":"The title of the article.","example":"Creating and Scheduling Meetings."},"url":{"type":"string","description":"The article URL.","example":"https://support.zoom.com/article_1"}}}}}}}}}},"from":{"type":"string","description":"The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, returns data from the past 24 hours.","format":"date-time","example":"2023-07-01T00:00:00Z"},"to":{"type":"string","description":"**Required** only when the **from** parameter is specified. The end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, in the same format as the **from** parameter.","format":"date-time","example":"2023-07-02T23:59:59Z"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  Unable to fetch Transcripts. \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  Missing or invalid authentication. \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  Transcripts do not exist. \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["zva_report:read","zva_report:read:admin","zva:read:list_transcripts:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":[],"x-macro-scopes":["zva_report:read","zva_report:read:admin"],"x-granular-scopes":["zva:read:list_transcripts:admin"]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{"zva:write:km_kbs":"zva:write:km_kbs","zva:write:km_article":"zva:write:km_article","zva:write:km_article:admin":"zva:write:km_article:admin","zva:read:km_kbs":"zva:read:km_kbs","zva:read:list_km_articles":"zva:read:list_km_articles","zva:read:list_km_articles:admin":"zva:read:list_km_articles:admin","zva:update:km_article":"zva:update:km_article","zva:update:km_article:admin":"zva:update:km_article:admin","zva:delete:km_article":"zva:delete:km_article","zva:delete:km_article:admin":"zva:delete:km_article:admin","zva:read:km_article":"zva:read:km_article","zva:read:km_article:admin":"zva:read:km_article:admin","zva:update:km_kb:admin":"zva:update:km_kb:admin","zva:read:km_kb:admin":"zva:read:km_kb:admin","zva_report:read":"zva_report:read","zva_report:read:admin":"zva_report:read:admin","zva:read:list_engagements:admin":"zva:read:list_engagements:admin","zva:read:list_queries:admin":"zva:read:list_queries:admin","zva:read:list_variables:admin":"zva:read:list_variables:admin","zva:read:list_surveys:admin":"zva:read:list_surveys:admin","zva:read:list_transcripts:admin":"zva:read:list_transcripts:admin"}}}}}}}