{"openapi":"3.0.0","info":{"title":"Workforce Management","description":"Workforce Management","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/workforce-management/forecasts":{"get":{"tags":["Forecasts"],"summary":"List forecasts","description":"List forecasts.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:read:forecasts:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ","operationId":"Listforecasts","parameters":[{"name":"name","in":"query","description":"The forecast name.","required":false,"schema":{"maxLength":36,"type":"string","example":"Weekday forecast"},"example":"Weekday forecast"},{"name":"scheduling_group_name","in":"query","description":"The scheduling group name.","required":false,"schema":{"maxLength":36,"type":"string","example":"Infra support"},"example":"Infra support"},{"name":"status","in":"query","description":"The forecast status.","required":false,"schema":{"type":"string","example":"ready_step_1","enum":["ready_step_1","processing","ready_step_2","completed","failed","applied","generating","generating_failed","reforecasting","reforecasting_failed"]},"example":"ready_step_1"},{"name":"type","in":"query","description":"The forecast type.","required":false,"schema":{"type":"string","example":"SHORT_TERM","enum":["SHORT_TERM","LONG_TERM"]},"example":"SHORT_TERM"},{"name":"next_page_token","in":"query","description":"The next page token from the previous page, if available. Not required for the first page.","required":false,"schema":{"maxLength":36,"type":"string","example":"cm2n7z2vl000e9cllp4ckoc45"},"example":"cm2n7z2vl000e9cllp4ckoc45"},{"name":"page_size","in":"query","description":"The number of items to be returned per page.","required":false,"schema":{"maximum":50,"minimum":1,"type":"number","example":50,"default":10},"example":50},{"name":"division_id","in":"query","description":"The division ID.","required":false,"schema":{"type":"string","example":"ya2kZo77RE6LFqaoKwWM0g"}}],"responses":{"200":{"description":"Forecast list response.","content":{"application/json":{"schema":{"required":["forecasts","next_page_token","page_size","total_records"],"type":"object","properties":{"next_page_token":{"description":"Use the next page token to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size.","anyOf":[{"type":"string","example":"cm2n7z2vl000e9cllp4ckoc45"},{"type":"null"}]},"page_size":{"type":"integer","description":"The number of items returned per page.","example":10},"total_records":{"type":"integer","description":"The total number of items available across all pages.","example":100},"forecasts":{"type":"array","description":"List of forecasts.","items":{"required":["create_time","description","end","forecast_id","forecast_profile_id","interval_minutes","modify_time","name","scheduling_groups","start","status","type"],"type":"object","properties":{"forecast_id":{"maxLength":30,"type":"string","description":"The forecast ID.","example":"cm2n7z2vl000e9cllp4ckoc45"},"name":{"maxLength":36,"type":"string","description":"The forecast name.","example":"Weekday forecast"},"description":{"type":"string","description":"The forecast description.","example":"Forecast for business days"},"type":{"type":"string","description":"The forecast type.","example":"SHORT_TERM","enum":["SHORT_TERM","LONG_TERM"]},"status":{"type":"string","description":"The forecast status.","example":"ready_step_1","enum":["ready_step_1","processing","ready_step_2","completed","failed","applied","generating","generating_failed","reforecasting","reforecasting_failed"]},"start":{"type":"string","description":"The forecast start.","format":"date-time","example":"2025-01-01T00:00:00Z"},"end":{"type":"string","description":"The forecast end.","format":"date-time","example":"2025-01-06T23:59:59Z"},"create_time":{"type":"string","description":"The forecast request create time.","format":"date-time","example":"2024-12-16T04:21:23.207Z"},"modify_time":{"type":"string","description":"The forecast request modify time.","format":"date-time","example":"2024-12-16T04:21:23.207Z"},"interval_minutes":{"maximum":60,"minimum":15,"type":"number","description":"The forecast granularity length, in minutes.","example":15},"forecast_profile_id":{"description":"The forecast profile ID.","anyOf":[{"type":"string","example":"cm2n7z2vl000e9cllp4ckoc45"},{"type":"null"}]},"scheduling_groups":{"type":"array","description":"List of scheduling groups present in the forecast.","items":{"required":["asa","color_code","deferrable_sla","deferrable_sla_target_time","dynamic_shrinkage","fixed_shrinkage","name","occupancy","scheduling_group_id","sla","sla_target_time"],"type":"object","properties":{"scheduling_group_id":{"maxLength":30,"type":"string","description":"The scheduling group ID.","example":"cm2n7z2vl000e9cllp4ckoc45"},"name":{"maxLength":36,"type":"string","description":"The scheduling group name.","example":"Infra support"},"color_code":{"description":"The RGB hexadecimal color code.","anyOf":[{"type":"string","example":"#c0106f"},{"type":"null","description":"Null if color code is not present."}]},"sla":{"maximum":100,"minimum":-1,"type":"number","description":"Service level target goal percentage. `-1` if not set.","example":75,"default":-1},"sla_target_time":{"minimum":-1,"type":"integer","description":"Service level target time in seconds. `-1` if not set.","example":30,"default":-1},"asa":{"minimum":-1,"type":"integer","description":"Average speed of answer in seconds. `-1` if not set.","example":30,"default":-1},"occupancy":{"maximum":100,"minimum":0,"type":"number","description":"Occupancy percentage. `0` if not set.","example":85,"default":0},"fixed_shrinkage":{"description":"Fixed shrinkage value to use for all days.","anyOf":[{"maximum":99,"minimum":0,"type":"number","description":"Shrinkage percentage.","example":20},{"type":"null","description":"Value will be `null` if `dynamic_shrinkage` is present."}]},"dynamic_shrinkage":{"description":"Dynamic shrinkage value to use, based on configured days.","anyOf":[{"required":["default_shrinkage","dynamic_config"],"type":"object","properties":{"default_shrinkage":{"maximum":99,"minimum":0,"type":"number","description":"Shrinkage percentage.","example":20},"dynamic_config":{"type":"array","description":"List of shrinkage values for required intervals.","items":{"required":["days","end_time","start_time","value"],"type":"object","properties":{"days":{"type":"array","description":"List of days this configuration will apply for.","items":{"type":"number","description":"`0` - Sunday \n`1` - Monday\n`2` - Tuesday\n`3` - Wednesday\n`4` - Thursday\n`5` - Friday\n`6` - Saturday","example":1,"enum":[0,1,2,3,4,5,6]}},"start_time":{"maximum":1440,"minimum":0,"type":"integer","description":"The starting minute of a day to apply this shrinkage value.","example":600},"end_time":{"maximum":1440,"minimum":0,"type":"integer","description":"The ending minute of a day until when to apply this shrinkage value.","example":660},"value":{"maximum":99,"minimum":0,"type":"number","description":"Shrinkage percentage.","example":20}}}}}},{"type":"null","description":"Value will be `null` if `fixed_shrinkage` is present.","example":""}]},"deferrable_sla":{"maximum":100,"minimum":-1,"type":"number","description":"Deferrable channels interactions' percentage. `-1` if not set.","example":75,"default":-1},"deferrable_sla_target_time":{"minimum":-1,"type":"integer","description":"Deferrable channels interactions' target time in hours. `-1` if not set.","example":30,"default":-1}}}}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n "}},"security":[{"openapi_oauth":["workforce_management:read:admin","workforce_management:read:forecasts:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkforceAdmin:Edit"],"x-macro-scopes":["workforce_management:read:admin"],"x-granular-scopes":["workforce_management:read:forecasts:admin"]}}},"/workforce-management/forecasts/{forecastId}/scheduling-groups/{schedulingGroupId}":{"get":{"tags":["Forecasts"],"summary":"Get a forecast for a scheduling group","description":"List forecasted values for a scheduling group within a forecast.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:read:forecasts:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"Getforecastofschedulinggroup","parameters":[{"name":"forecastId","in":"path","description":"The forecast ID.","required":true,"schema":{"maxLength":30,"type":"string","example":"cm2n7z2vl000e9cllp4ckoc45"},"example":"cm2n7z2vl000e9cllp4ckoc45"},{"name":"schedulingGroupId","in":"path","description":"The scheduling group ID.","required":true,"schema":{"maxLength":30,"type":"string","example":"cm2n7z2vl000e9cllp4ckoc45"},"example":"cm2n7z2vl000e9cllp4ckoc45"},{"name":"division_id","in":"query","description":"The division ID.","required":false,"schema":{"type":"string","example":"ya2kZo77RE6LFqaoKwWM0g"}}],"responses":{"200":{"description":"Forecast scheduling group response.","content":{"application/json":{"schema":{"required":["forecast_id","forecast_intervals","scheduling_group_id"],"type":"object","properties":{"forecast_id":{"maxLength":30,"type":"string","description":"The forecast ID.","example":"cm2n7z2vl000e9cllp4ckoc45"},"scheduling_group_id":{"maxLength":30,"type":"string","description":"The scheduling group ID.","example":"cm2n7z2vl000e9cllp4ckoc45"},"forecast_intervals":{"maxItems":1000,"type":"array","description":"List of forecasted values per interval.","items":{"required":["forecast","timestamp"],"type":"object","properties":{"timestamp":{"type":"string","description":"The interval's starting timestamp.","format":"date-time","example":"2025-01-01T00:00:00Z"},"forecast":{"required":["agents"],"type":"object","properties":{"agents":{"type":"number","description":"The forecasted staffing count.","example":5},"voice":{"required":["aht","e_aht","e_vol","vol"],"type":"object","properties":{"aht":{"type":"number","description":"The forecasted average handle time, in seconds.","example":40},"e_aht":{"type":"number","description":"The edited average handle time, in seconds. `-1` if not edited.","example":38},"vol":{"type":"number","description":"The forecasted volume.","example":10},"e_vol":{"type":"number","description":"The edited volume. `-1` if not edited.","example":12}},"description":"Interval forecast for all queues in scheduling group of channel category `voice`."},"messaging":{"required":["aht","e_aht","e_vol","vol"],"type":"object","properties":{"aht":{"type":"number","description":"The forecasted average handle time, in seconds.","example":40},"e_aht":{"type":"number","description":"The edited average handle time, in seconds. `-1` if not edited.","example":38},"vol":{"type":"number","description":"The forecasted volume.","example":10},"e_vol":{"type":"number","description":"The edited volume. `-1` if not edited.","example":12}},"description":"Interval forecast for all queues in scheduling group of channel category `messaging`."},"deferrable":{"required":["aht","e_aht","e_vol","vol"],"type":"object","properties":{"aht":{"type":"number","description":"The forecasted average handle time, in seconds.","example":40},"e_aht":{"type":"number","description":"The edited average handle time, in seconds. `-1` if not edited.","example":38},"vol":{"type":"number","description":"The forecasted volume.","example":10},"e_vol":{"type":"number","description":"The edited volume. `-1` if not edited.","example":12}},"description":"Interval forecast for all queues in scheduling group of channel category `deferrable`."}},"description":"Forecasted values."},"reforecast":{"required":["agents"],"type":"object","properties":{"agents":{"type":"number","description":"The forecasted staffing count.","example":5},"voice":{"required":["aht","e_aht","e_vol","vol"],"type":"object","properties":{"aht":{"type":"number","description":"The forecasted average handle time, in seconds.","example":40},"e_aht":{"type":"number","description":"The edited average handle time, in seconds. `-1` if not edited.","example":38},"vol":{"type":"number","description":"The forecasted volume.","example":10},"e_vol":{"type":"number","description":"The edited volume. `-1` if not edited.","example":12}},"description":"Interval forecast for all queues in scheduling group of channel category `voice`."},"messaging":{"required":["aht","e_aht","e_vol","vol"],"type":"object","properties":{"aht":{"type":"number","description":"The forecasted average handle time, in seconds.","example":40},"e_aht":{"type":"number","description":"The edited average handle time, in seconds. `-1` if not edited.","example":38},"vol":{"type":"number","description":"The forecasted volume.","example":10},"e_vol":{"type":"number","description":"The edited volume. `-1` if not edited.","example":12}},"description":"Interval forecast for all queues in scheduling group of channel category `messaging`."},"deferrable":{"required":["aht","e_aht","e_vol","vol"],"type":"object","properties":{"aht":{"type":"number","description":"The forecasted average handle time, in seconds.","example":40},"e_aht":{"type":"number","description":"The edited average handle time, in seconds. `-1` if not edited.","example":38},"vol":{"type":"number","description":"The forecasted volume.","example":10},"e_vol":{"type":"number","description":"The edited volume. `-1` if not edited.","example":12}},"description":"Interval forecast for all queues in scheduling group of channel category `deferrable`."}},"description":"Re-forecasted values."}}}}},"description":"Forecast scheduling group response."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "}},"security":[{"openapi_oauth":["workforce_management:read:admin","workforce_management:read:forecasts:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkforceAdmin:Edit"],"x-macro-scopes":["workforce_management:read:admin"],"x-granular-scopes":["workforce_management:read:forecasts:admin"]}}},"/workforce-management/imports/historical-queue-metrics":{"post":{"tags":["Imports"],"summary":"Upload historical queue metrics","description":"Import historical queue metrics to Workforce Management (WFM).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:write:queue_metrics:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`\n\n**Not supported in Gov cluster** ","operationId":"Uploadhistoricalqueuemetrics","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"Attachment file. Only CSV format is supported. For format details, log in to WFM and visit **Forecasting -> Historical data -> Import historical data**.","format":"binary","example":"Vm0wd2QyUXlVWGxWV0d4V1YwZDRWMVl3WkRSV01WbDNXa1JTVjAxV2JETlhhMUpUVmpBeFYySkVUbGhoTVVwVVZtcEJlRll5U2tWVWJHaG9UVlZ3VlZadGNFSmxSbGw1VTJ0V1ZXSkhhRzlVVmxaM1ZsWmFkR05GU214U2JHdzFWVEowVjFaWFNraGhSemxWVm14YU0xWnNXbUZrUjA1R1UyMTRVMkpIZHpGV1ZFb3dWakZhV0ZOcmFHaFNlbXhXVm0xNFlVMHhXbk5YYlVaclVqQTFSMVV5TVRSVk1rcElaSHBHVjFaRmIzZFdha1poVjBaT2NtRkhhRk5sYlhoWFZtMHhORmxWTUhoWGJrNVlZbFZhY2xWcVFURlNNVlY1VFZSU1ZrMXJjRWxhU0hCSFZqRmFSbUl6WkZkaGExcG9WakJhVDJOdFJraGhSazVzWWxob1dGWnRNSGhPUm14V1RVaG9XR0pyTlZsWmJGWmhZMnhXY1ZGVVJsTk5WbFkxVkZaU1UxWnJNWEpqUld4aFUwaENTRlpxUm1GU2JVbDZXa1prYUdFeGNHOVdha0poVkRKT2RGSnJhR2hTYXpWeldXeG9iMWRHV25STlNHaFBVbTE0VjFSVmFHOVhSMHB5VGxac1dtSkdXbWhaTW5oWFkxWkdWVkpzVGs1V2JGa3hWa1phVTFVeFduSk5XRXBxVWxkNGFGVXdhRU5UUmxweFVtMUdVMkpWYkRaWGExcHJZVWRGZUdOSE9WZGhhMHBvVmtSS1QyUkdTbkpoUjJoVFlYcFdlbGRYZUc5aU1XUkhWMjVTVGxOSGFGQlZiVEUwVmpGU1ZtRkhPVmhTTUhCNVZHeGFjMWR0U2tkWGJXaGFUVzVvV0ZreFdrZFdWa3B6VkdzMVYySkdhM2hXYTFwaFZURlZlRmR1U2s1WFJYQnhWV3hrTkdGR1ZYZGhSVTVVVW14d2VGVnRNVWRWTWtwV1lrUmFXR0V4Y0hKWlZXUkdaVWRPU0U5V1pHaGhNSEJ2Vm10U1MxUXlVa2RUYmtwb1VqSm9WRmxZY0ZkbGJHUllaVWM1YVUxWFVraFdNalZUVkd4T1NHRkdRbFppVkVVd1ZtcEdVMVp0UmtoUFZtaFRUVWhDTlZaSGVHRmpNV1IwVTJ0a1dHSlhhR0ZVVnpWdlYwWnJlRmRyWkZkV2EzQjZWa2R6TVZZeVNrZGhNMmhYWVRGd2FGWlVSbFpsUm1SMVUyczFXRkpZUW5oV1YzaHJUa2RHUjFaWVpHaFNWVFZWVlcxNGQyVkdWblJOVldSV1RXdHdWMWxyVW1GWFIwVjRZMGhLV2xaWFVrZGFWV1JQVTBVNVYxcEhhR2hOU0VKMlZtMTBVMU14VVhsVmEyUlVZbXR3YjFWcVNtOVdSbXhaWTBaa2JHSkhVbGxhVldNMVlWVXhXRlZyYUZkTmFsWlVWa2Q0VDFOSFJrZFJiRnBwVmtWVmQxWnRjRWRWTVZwMFVtdG9VRlp0YUZSVVZXaERUbFphU0dWSFJtcE5WMUl3VlRKMGExZEhTbGhoUjBaVlZucFdkbFl3V25KbFJtUnlXa1prVjJFelFqWldhMlI2VFZaWmVWTnJaR2hOTW1oWVdWUkdkMkZHV2xWU2JGcHNVbTFTTVZVeWN6RlhSa3BaVVc1b1YxWXphSEpVYTJSSFVqRmFXVnBIYUZOV1ZGWldWbGN4TkdReVZrZFdibEpPVmxkU1YxUlhkSGRXTVd4eVZXMUdXRkl3VmpSWk1HaExWMnhhV0ZWclpHRldWMUpRVlRCVk5WWXhjRWhoUjJoT1UwVktNbFp0TVRCVk1VMTRWVmhzVm1FeVVsVlpiWFIzWWpGV2NWTnRPVmRTYlhoYVdUQmFhMkpIU2toVmJHeGhWbGROTVZsV1ZYaFhSbFp5WVVaa1RtRnNXbFZXYTJRMFZERk9TRkpyWkZKaVJuQndWbXRXVm1ReFduUmpSV1JXVFZad01GVnRkRzlWUmxwMFlVWlNWVlpYYUVSVWJGcGhVMGRXU0ZKdGNFNVdNVWwzVmxSS01HRXhaRWhUYkdob1VqQmFWbFp0ZUhkTk1XeFdWMjVrVTJKSVFraFdSM2hUVlRKRmVsRnFWbGRTTTJob1ZrUktSMVl4VG5WVmJFSlhVbFJXV1ZaR1l6RmlNV1JIV2taa1dHSkZjSE5WYlRGVFpXeHNWbGRzVG1oV2EzQXhWVmMxYjFZeFdYcGhTRXBYVmtWYWVsWnFSbGRqTVdSellVZHNWMVp1UWxGV2ExcGhXVmRSZVZaclpGZFhSM2h5Vld0V1MxZEdVbGRYYm1Sc1ZtMTBNMVl5Tld0WFJrbDNWbXBTV2sxR1NsQldha3BIWTJ4a2NtVkdaR2hoTTBKUlZsUkdhMU14U1hoalJXUmhVbXMxV0ZZd1ZrdE5iRnAwVFZSQ1ZrMVZNVFJXVm1oelZsWmtTR1ZHV2xwV1JWb3pXV3BHVjJOV1VuSlViR1JUWWxob05WWnRNREZoTVZsNFYyNU9hbEpGU21oV2JHUk9UVlphV0dNemFGaFNiRm94V1RCYWExUnNXWGxoUkVwWFlXdEtjbFY2Umt0amF6VlhXa1phYVZKc2NGbFdSbEpMWWpGT1YxZHJhR3hTTUZwWVZGZDRTMU5XV2xoa1J6bG9UVlZzTlZsVmFFTldiVXBJWVVWT1lWSkZXbWhaZWtaM1VsWldkR05GTlZkTlZXd3pWbXhTUzAxSFJYaGFSV2hVWWtkb2IxVnFRbUZXYkZwMVkwWmthMkpHYkROV01qVlBWREpLUm1OSWNGaGhNbEl6V1ZaYVQxSnNUbkppUm1ST1lteEtlVmRZY0VkV2JWWlhWRzVXVkdKR1NuQldiRnAzVjFaYVIxbDZSbWxOVjFKSVYydGFhMWRIU2taalNFNVdZbFJHVkZwWGVITldiR1J6Vkcxb1YyRXpRWGhXVm1RMFpERlplVk5zYkZaaVIyaG9WV3RXWVZsV2NGWmFSWFJVVm1zMWVsbFZaRzlVYXpGV1kwWmtWMkpIVGpSVWEyUlNaVlphY2xwR1pGaFNNMmg1Vmxkd1ExbFhUa2RXYmxKc1UwZFNjMWxyV25OT1ZuQldZVWQwV0ZKcmJETldiWEJUVjJzeFIxTnNRbGROYWtaSFdsWmFWMk5zY0VoU2JHUk9UVzFvU2xZeFVrcGxSazE0VTFoc1UyRXlVbTlWYlhoTFZrWmFjMkZGVGxSTlZuQXdWRlpTUTFack1WWk5WRkpYWWtkb2RsWXdXbXRUUjBaSFlrWndhVmRIYUc5V2JYQkhZekpOZUdORmFGQldiVkpVV1d4b2IxbFdaRlZSYlVab1RXdHdTVlV5ZEc5V2JVcElaVWRvVjJKSFVrOVVWbHB6VmpGYVdXRkdhRk5pUm5BMVYxWldZV0V4VW5SU2JrNVlZa1phV0ZsVVNsSk5SbHBGVW1zNVUwMVdjREZXYlhoWFlWWktkVkZ1V2xoV2JFcEVXa1JCTVdNeFpISmhSM1JUVFVad1dWZFhlR0ZaVm1SWFYyeG9hMUo2Ykc5VVZsWjNUVVpzVmxkc1RsZFdiSEJaV1ZWV1UxWnJNWFZoUjJoYVpXdGFNMVZzV2xka1IwNUdUbFprVGxaWGQzcFdiWGhUVXpBeFNGSllhR0ZTVjJoVldXdGtiMkl4Vm5GUmJVWlhZa1p3TUZwVmFHdFVhekZZWlVaa1YwMXFWbkpXVkVwTFUxWkdjbUZHWkZOTk1taFZWbXhTUzFKdFZuTlNia1pYWWtkU1ZGUlVTbTlpTVZweVZXdDBVMDFXYkRSV1J6VlhWbTFLUmxOc2FGWmlSa3BZVmpGYVlWSXhiRFpTYld4T1ZqRktTVmRYZEc5U01WcElVbGhvYWxORk5WZFpiRkpIVmtaWmVXVkhkR3BpUm5CV1ZXMTRhMVJzV25WUmFscFlWa1ZLYUZacVJtdFNNV1IxVkd4U2FFMXRhRzlXVjNSWFdWWnNWMk5HV21GU1dGSlZWbTF6TVdWc2JGWmFSemxWWVhwR1Yxa3dXbXRXTWtwSVZHcFNWV0V5VWxOYVZscGhZMnh3UjFwSGJHbFNXRUpSVm0weE5HRXhWWGhYV0doV1lrZG9jbFV3WkZOWFJsSlhXa1JTYkZac2NGbFVWbFpyVjBaS2NtSkVUbGRpV0VKVVZqSnplRk5IUmtabFJtUk9ZbTFvYjFacVFtRldNazV6WTBWb1UySkhVbGhVVmxaM1ZXeGFjMVZyVGxkaGVsWllWakZvYjJGc1NsaGhSemxXWVd0d2RsWkVSbFprTVZweVpFVTFhVkp1UVhkV1JscFRVVEZhY2sxV1drNVdSa3BZVm0weGIyVnNXblJOVlZwc1ZteGFlbFp0ZUhkaFZtUkhVMWh3V0ZZelFraFdha3BQVmpGU2RWVnNRbGRpVmtwVlYxZDRiMkl4YkZkYVJsWlNZbFZhYjFSWGRIZFRWbFY1WkVjNVYySlZjRWxhVldSdlZqSktTRlZyT1ZWV2JIQjZWbXBHWVZkWFJrZGhSazVwVW01Qk1WWXhXbGRaVjBWNFZXNVNVMkpyTlZsWmExcGhWMFpzVlZOc1NrNVNiWGhXVlcxek5WVXdNVmRqUkVaWFVqTm9kbGxXV2t0ak1rNUhZa1pvVjAweFNqSldWbEpIVkRGWmVGcElTbUZTYkhCdlZGZDRTMWRHV2tkWGJVWnJUVVJHU0ZadE5WTmhNVW8yWWtaa1ZtSllhSHBVYkZwelZtMUdSbFJzWkdsV1dFSktWMVpXVjFVeFdsaFRiR3hvVTBWd1dGbHJXbmRUUm5CR1YydDBhMUl3TlVkVWJGcHJWR3hhV0dRemNGZGlXR2hVVlhwQmVGTkdTbGxoUjBaVFZqSm9WbGRYZEd0aU1rbDRWbTVHVW1KVldsaFphMXAzVFVad1ZtRkhkRlZoZWtaWldsVmFhMVl3TVhGV2JrcFhWa1Z3VEZVeFdrZGpiVVpIV2taT1RrMXRhRlpXYlhoVFV6RktkRlp1VGxOaWExcFlXV3RrVTFaR1VsVlRiVGxwVFZad2VWWlhkREJWTURGWFlrUlNWMUo2VmxoV2JURkxVbXhPYzJGR1dtbFNhM0JaVm1wR1lWbFdTWGhpUkZwVFlsZDRUMVpxUmt0VFZtUllaRWM1VTAxV2NFbFZiR2h2WVd4T1JrNVdaRnBpUmtwSVZtdGFXbVZYVmtoa1IzQnBVbTVDVjFaWE1UUmhNVkp6VjI1V1VtRnNjRmxXYTFaTFlVWmFjVkp0ZEZOTlYxSXhWa2Q0VTJGRk1YUmhSemxYVmpOU1dGZFdXbk5XTWs1SFYyMUdVMWRHU2xaV2JURjZUVmRXYzJKR1dtRlNlbXhXV1Zod1IxWXhhM2RYYlhSWFRXdHdTVlpIY0ZOV1YwVjVWV3hPWVZac2NHaFpNbmgzVWpGd1NHSkhiRk5YUlVwU1ZtMHdlRTVIUlhoV1dHaFlWMGRvVjFsclpHOWpiRlYzV2taT1dGSnNTbGhYYTFKVFlrWmFjMk5HYkZWV2JGcHlWakJhUzJOdFNrVlViR1JwVjBWS1ZWWnFTbnBsUms1SVVtdGFiRkp0VWs5WmJURnZZakZhY1ZGdFJsZE5helY2V1RCV2IxVXlTa2hWYkdoVlZteGFNMVpYZUdGak1WWnlWR3hrYUdWc1dsbFdha1p2WWpKR2MxTnNhR2hTZW14WFdWZDBkMlJzV2tWU2JGcHJUVlp3ZVZwRlZURmhWa3AxVVZoa1YxSnNjRlJWVkVaaFkyc3hWMWRyTlZkU2EzQlpWbTB3ZUdJeVZuTlhibEpPVmxad2MxWnRlR0ZsYkZwMFpVaGthRlp0VWtoVk1XaDNWMFpaZWxGcmFGZGhhM0JRVm1wR1UyUldWbk5SYkdScFZtdHdWbFl4WkRSaU1rbDRZa1prWVZKc1dsTlpiRlpoWWpGU1dHUklaRlJXYkZZMVdrVmpOVll5U2xaalJXeGhWbGRTZGxacVNrdFRSbFp5VDFaV1YySklRalpXYlhCSFdWWmtXRkpyWkdoU2F6VndWVzAxUWsxV1dYaFhiR1JhVmpCV05GWlhOVk5WTWtweVRsWnNXbUV4Y0doV01GcHpWbFpPYzFOck5WTmlTRUpIVmxjeGVrNVdXa2RUYmtwcVUwZDRXVmxVUm5kVVJteFhWMnQwYTFacldqRlhhMXByWVZaa1IxTnNiRmRpVkVJMFZsY3hWMUl4Y0VsV2JGcHBWMFZLVlZadGNFZFRNV1JIVjJ0a1dHSlZXbkpVVlZKSFUwWmFkRTVXVG1oTlZXOHlXV3RhYTFadFNsbGhSRTVWVmxad2VsWnRlR3RqTVZKeldrWmthVk5GU21GV01WcFhWakZWZUZkc2FGUmhNbEp4VldwS2IxWXhVbFphUms1WVVteFdNMVl5ZERCaE1VbDNUbFZrVldKR2NISldSM2hoVjBkUmVtTkdaR2xYUjJoVlZsaHdRbVZHVGtkVGJHeG9VakJhVkZacVNtOVdiR1JZWkVkMGFVMXJiRFJXYlRWSFZXMUtWbGRzYUZwaE1YQXpWRlphY21ReFpIUmtSMmhPWVROQ1NWZFhkRk5VTVZsM1RWaEdWMkV6YUdGWlZFWjNWRVp3Umxkc1pHdFdNSEJJV1ZWa2IxUnNaRVpUYWxaWFlsUkdNMVY2Umt0a1JscDFWR3hPYVdFeGNGcFhWM1JyVlRKSmVGVnNhR3hTV0VKUFdXdGFkMU5HV1hsTlZXUllVakJ3V0ZWdGNFOVdWbHB6WTBoS1YwMUhVa3hXTUdSWFUxWlNjMk5HWkZOV2JUazJWbTF3UjFsWFJYaGFSV2hYWVRKb1VWWnRkSGRVTVZwMFpFaGtWRlpzY0hwWFdIQkhWa1V4V0ZWcmJGWk5ibEpvV1ZkNFQxSnJOVmRhUm5CcFVtdHdTVlp0ZEdGa01XUklWbXRzVldKSFVuQlZha1pMVG14YWNsa3phR2xOVm13MVZXeG9kMVZzWkVoaFJtaFhZbFJHVTFSVlduZFNWa3B6WTBkNFYyRjZWalpYVjNSaFdWZEdWMU5ZYkdoU2VteFlWbXBPVTFkR1pGZFhiazVYVFdzMVNGWXlNVWRWTVdSSFUyeGFWMkpVUmpaVVZtUlhZekpLUjFkdFJsTmxiWGhYVjFab2QxSXhXWGhoTTJSWVlsaFNXRlJYZEhkVFZscElZMFpPVjFZd1ZqVldWM2hQV1ZaYWMyTkhhRnBOYm1nelZXcEdkMU5IU2toaVJrNVlVbFZ3VTFadE1IZGxSVFZJVWxob1YxZEhhRmxXTUdSdlZqRnNjbHBIT1dwaVJsWXpWMnRhVDFkR1NuTlRiR2hZWVRGS1ZGbHJXbUZqTWs1SFlrWldWMkpHY0hsV2FrSmhVekpPZEZOclZsVmlSMUp3VmpCV1MxWldXbkZUYm5Cc1VtczFTVlZ0ZEdGaVJrcDBWV3M1V21KVVJuWlpha1poWTFaR2RGSnNaRTVoZWxZMlYxUkNWMkl4VlhsVGEyaFdZa2RvVmxadGVHRk5NVnBZWlVkR2FrMVdXbmxXUjNocllVZFdjMWRzYkZkaGExcDJXV3BLUjJNeFRuTmhSMmhUWlcxNFdGZFdaREJrTWxKelYydFdVMkpHY0hKVVZscDNaVlp3UmxaVVJtaFdhM0F4VlZab2ExWXhTbk5qUmxKV1ZrVmFhRmt5YzNoV01XUnlUbFprVTJFelFscFdiVEIzWlVkSmVWWnVUbGhpYkVwUFZteGFkMk14V25SbFIwWnNZa1p3TUZwVmFHdGhSbHAwVld0b1ZrMVhhRE5XTUZwYVpXeEdjbUZHWkdoaE0wSlJWbTF3UjFVeVVsZFdiazVTWWtkU2NGWnRkSGRXYkZsNFdrUlNhVTFyYkRSWmExcHJXVlpLYzFkc1RscGlSbHBvV1dwR1UxZEhVa2xhUmxKWFlrWlpNVmRyVm1wT1ZsbDVVMnhhYWxKWGVHaFdiR1JUWkd4YWNWTnJkRlJTYkZwNVZERmFWMVl5U2tsUmFscFhZbGhDU0ZkV1dtdFhSa3B5V2tkb1UyRjZWbmRXVnpBeFVXc3hWMWRZYUZoaVIxSmhWbXBDVjA1R1dsaE9WazVXVFd0d2VWUnNXbk5YYlVWNFkwZG9WMDFHY0hwV2JGcFBZekZPY2s1V1RtbFhSMmhZVm14amVHVnJOVmRXV0dST1ZtMVNjVlZyVm1GWFJsWnhWRzA1YTJKSGVGaFdNblF3WVdzeGNrNVZhRnBoTVhCMlZtcEJkMlZHVG5GVGJHUlhZa1Z3U1ZaclVrZFhiVlpIWTBWc1ZHSlZXbFJaYTJoRFpHeGFSMXBFVWxSTlYxSklWakowYTFkSFNsWlhia3BWVmxaS1NGVXdXbUZrUlRWWFZHMW9UbFpYT0hsWFYzUmhZVEZhZEZOc2JHaFRTRUpXV1d0YWQyVnNXblJOVldSVFlrWktlbGRyWkhOV01XUkdVMnQwVjAxV2NGaFdha1pXWlVaa2MyRkdVbWxTTTJoMlZsUkNWMlF4WkVkaVNFcFlZbTFTVlZWdE5VTlNNVmw1WkVSQ2FFMVZiRE5VYkZaclZsZEtSMk5JU2xkU00yaG9WakJrVW1WdFRrZGFSMnhZVWpKb1ZsWnNhSGRSYlZaSFZHdGtWR0pIZUc5VmFrSmhWa1phY1ZOdE9WZGlSMUpaV2tWa01HRlZNWEppUkZKWFlsUldTRlpYTVV0V2JHUnpZVVp3YUUxWVFYcFdSbHBoWTIxUmVGcElVbXRTTW1oUFdWUk9RMU5XWkZoa1JrNVZUVlpzTTFSV2FFZFdNa1Y2WVVkR1dsWkZXak5XUlZwM1VteGtjMXBIZEZkTlNFSkpWMVpXYTJJeFVuTmFSVnBVWVd4YVdGbHNVa2ROTVZZMlVtdDBhMUpzY0RGV1IzaFBZVmRGZUdOR2NGaFdNMUp5VmxSS1NtVkdWbk5oUjNoVFYwVktVRmRYZEdGa01VNUhWMWhzVGxaWFVtOVZiRkpIVmpGc2NsVnNUbGROVlc4eVZtMTRRMVl3TVVoVmEzaFhUVlp3U0ZsNlJsZGpNWEJJWVVkb2JHSkdiRFZXYlRGM1VqRnNXRkpZYUdGU1YyaFlXVlJLYjFWV1duUmtTR1JWVFZad01GcEZhR3RXUmxwelkwaHdXRmRJUWtoV2ExVjRWMFpXY21KR1drNWliRXB2VjFaa05GUXhTbkpPVm1SaFVtNUNjRlZ0ZEhkVFZscDBaRWRHYTAxWFVrbFdiWFJ6VmxkS1NGVnVRbFpoYTFwTVZHMTRZV05zYTNwaFIyeE9WbXhaTUZacVNqQlpWbVJJVW01T2FsSnRhRmhaVkVaaFpWWndWbGR1VG1wV2EzQjZXVEJrTkZVeVNsZFRhbEpYWVd0dk1GVjZTa2RUUms1eVYyMXdVMkpXU2xwV2JURTBVekZTUjFkc1ZsTmhlbXhVVkZaYWQwMVdWblJsUlRsb1ZteHdXRmt3V25kV01rcFZVVmhvVmxaRldsQldha3BMVWpGa2MyRkhhR3hpV0doYVZtdGFZVmxYVVhoVWEyUllWMGQ0YzFWcVRsTlhSbEpZWkVoa1ZGWnNjRWxaTUZwUFZqRlpkMVpxVmxkV00yaFFWMVphWVdNeVRraGhSbkJPWW0xbmVsWlhjRWRrTVU1SVUydG9hVkpyTlZsVmJGWjNWVEZhZEUxSVpHeFNWRlpKVld4b2IxWXhaRWhoUm14WFRVZFNkbFpxUm5OamJIQklUMWR3YVZKc1dYcFdNblJoVkRGa1IxTnVUbFJpUjJoWldWUkdTMVpHYkhKWGJVWnFUV3MxU0ZscldsZFdNa3BIWTBoc1YyRnJTbWhWZWtwUFpFWk9jbFpzVm1sU01VcDNWbXBDVjFNeFdsZFhia1pVWW01Q2MxVnRjekZUVmxaMFpFZEdhVkpyY0RCV1YzTTFWMjFLVlZKdVdscGhhMXBvV1RGYVIyUkdTbk5hUlRWb1pXeFpNbFl4VWtOV01rbDRWbGhzVkdFeWFGZFphMlJ2Vm14YWRHVkhSazVOVm5CWldsVmtSMkZyTVZkWGJteFhVak5vY2xsVlpGZGpNV1J6WWtaa2FHRXhjREpYVjNCTFVqSk5lRlJ1VG1oU01taFVXbGN4TkZkR1pGZGFSRUpyVFd4S2VsWXlkRmRWTWtwSFkwaEtWVlpzY0ROYVZscDNVbXhhVlZKdGFGZGhNMEY0VmxaYWIyRXhXWGhUYms1cVVteEtWMVpyVm1GaFJtdDVZek5vVjAxWFVubFViRnByVlRKRmVsRnNjRmRpVkVJeldsVmtTbVZXV25WVWJHaHBZa1Z3VUZadGVHRmtNazE0VjI1U2JGSXdXbk5aYTFwM1RVWndWbUZIZEdoU2JIQXdWbGQwYjFack1WaGhSRTVYVFVad1lWcFhlRWRqYlVaSFdrZG9hRTB3U2xKV2JURjNVakZWZVZWc1pGZGlhelZUV1d0a1UyTkdXblJrU0dSWFlrWnNORmRyVWxOaFZURnlZa1JTV21FeGNISlhWbHBMWXpGa2MxUnNjR2xTYkhCdlYxZHdSMVV4WkVoVmEyeGhVbXhLV0ZscldscE5WbVJ5Vm0xd1QxWnNiRFZWTW5oaFlXeEtXR1ZIYUZkaVIxSlVXa2Q0WVdOV1RuSmtSbEpUWWtad05WWkVSbUZXTVZsNVUydHNVbUZzY0ZoWmJHaERVMFprVjFkdGRGaFNhM0I1VjJ0a2IxVXlSalpXYm1SWFZucEJlRlZYYzNoV01XUlpZVVpvYVZJeFNtaFdiWEJEVmpBMVIxZHNhRTlXYXpWWFZGZDBkMlZXVW5OWGJrNVlZbFZXTkZrd1pHOVdNREZIWTBod1YySkdjRkJaZWtaUFkyczFWMVJ0YkZSU1ZYQkpWbTE0YW1WSFZuSk9WbVJZWVRKU1ZWbHRkSGRqVmxWM1drUlNXRlp0ZUZaVmJUVnJWbFpLZEdWR2FGZE5ibEYzV1ZSR1lXTnNaSEZTYkdob1RWaENlVmRXV21GaE1VbDRWRzVPYVZKdFVuQldhMVpLVFVaYWMxa3phRmROVld3MFdUQldjMVl5U2tkalNFSlhUVVphVEZac1dtRmtSMDVHV2taU1RsWXhTa2xXYWtvd1lURmtTRk5zV2xoaWEzQldWbXhhUzFOR1ZYZFhiVVpyVWxSV1dGWkhNVzlVYkZwWVQwaHNXRll6VW1oWlZFWmhaRVpPYzJKSGFGTlNWRlpYVm0xNFlXUXlWbk5YYmxKc1VqTlNjVlJXV2t0bGJHUnlWMjEwYUZack5VZFZNakZIVmpBeFYyTkdhRmRoYTFwWFdsVmFhMk15UmtkVmJXaE9Za1Z3TkZac1pIZFRNa2w0VjFob1ZtSkdjR2hWYlhNeFYxWldkR1ZHWkU1TlZtdzFXa1ZTUTJGRk1WWmlSRTVWWWtaYWNsWnNaRXRTTWs1SlUyeGtVMDB5YUc5V2FrSnJWVzFXZEZSclpHRlNNbmhaVldwS2IxWnNXbk5oU0dSU1lsWmFTRlpIZEd0V1IwcElaVWM1Vm1GclNtaFdhMXBoWTFaT2RFOVdaR2xTTVVwYVYydFdhMDFIUmxaTldFcHBVa1pLV0Zsc1VsZFRSbHBZVFZWMFYySkhVbnBaVlZwM1lVVXhXVkZZY0ZkU2JIQm9XVEl4VW1WR2NFbFZiWFJUVFcxb1VGZFdVazlSTVU1WFdrWm9hMUpyTlZaVVZscHpUVEZTVjJGRlpGZE5hMVkyV1ZWa1IxZHNXa1pYYWs1WFVsWndNMVZ0ZUd0ak1YQklaRVprVGxORlNrcFdNVnBYWVRKSmVGVnVUbUZTVm5CVldWZDRZVmRHYkhOVmEyUk9UVlpaTWxWdGREQmhNVXB6WTBSR1YxSXphRkJaVm1SR1pVZE9SMk5HYUZkTk1VcDVWbXhTUzFOdFZrZFdiazVvVWpOb1ZGWXdWa3RWUm1SWVpFZEdhMDFWTlVoV01XaHpWR3hhV0ZWdE9WWmlSa3BJVm1wR2MyTnNWbk5VYkdST1ZsYzRlVlp0TVRSUk1WbDNUVlZvVm1FemFGaFVWbHAzVTBac05sSnNaR3BOV0VKSldWVmtiMkpIU2tkaVJGWlhZbFJHTTFWcVJuTlhSa3BaWVVkR1UxWXlhRmxYVmxKTFlqRldWMWR1VW10VFIxSldWRlphZDAxR2NFWmhSM1JYVW14d2Vsa3dhSGRYUm1SSlVXdG9WMkV4VmpSV01GcFhZMjFLUjFkck5XbGlSWEIyVmpGYWEwNUdVWGhUYmtwUFZtMVNhRlZ0TlVOalJsWjBaRWhrVkZac2NEQmFSV1JIWVRBeFdGVnJiRmRpV0ZKNlZteGtTMU5HVm5WUmJGcG9ZVEZ3VFZaSE1UUlpWMDV6WVROd2FGSXllRTlXYlhoYVRVWmFjVk5xUWxwV2JWSkpWVzAxVDJGc1NuUmhSbWhhVmtWYWFGcFdXbmRXYkdSMVZHMXdWMkV6UWpaWFZFSnJUa1pWZVZOc1pGUmhiRXBZV1ZkMGRrMUdXa1ZTYkhCc1VtczFlbFl5TVhkVk1sWjBaVVpzVjJKWVFsQldWRVpyVWpGd1IxcEhSbE5XUjNoNFZrWmFZV1F3TVZkV2JsSnNVbXMxYjFWc1VrTk9SbFY1WlVkR1YwMXJjRlpWYkZKRFZtMVdjbEpxVWxaaGEzQk1WV3BHYTJNeVJraGhSM2hwVjBkbmVWWnRlR3RrTVVsNFlrWm9WMkpyTlZsV01HUTBZekZXYzFwR1RsaFNiRXBaV2tWYWExUXhTblJrUkU1WVlUSk5NVll3V2t0ak1rNUZVV3hrVjAweWFGRldNVnBoV1ZkTmVWUnJhR2hTYmtKUFdXMHhibVZzV2xoalJXUnJUVlZzTlZWdGRHdFdWMFkyVm1zNVdtSkhVbkZhVlZwaFpFVXhWVlZ0YUU1U1JWcEpWbXBHYjJJeFdsZGFSV2hvVWpKb1YxbHJaRk5XUmxweFVtNU9hbUpJUWtoV1IzaHZWakpLV1ZvelpGZFNiSEJvVmtSS1IyTnJNVmRhUjNCVFVsVndWMVp0TVRSVE1VcEhWMnRvYWsweWFGaFVWM1IzVW14YWRHVkdaR2hXYTJ3MFZXMXdUMVl5Um5KVGJXaFdaV3R3VUZwRldrOWpiRnB6Vm0xc1UwMVZjRE5XYlhCRFZqRk5lRmRzWkZoaWExcFZXVzAxUTJNeFZuUmtTRTVQVW14d1NWUnNWVFZXYlVwV1kwVnNWMVo2UVRGV01uaGhVbXMxVmxWc1drNVdia0o1Vm0xNFlWUXlUbGRXYmxKb1VsUldiMXBYZUZkTk1WcDBUVWhvVGxJd1ZqUlphMXByVmtaa1NHVkhPVlppYmtKNlZtMTRZV05zV25Ka1JsWlRZa2hDV2xkc1ZtdFNNa1p5VFZaa1dHSnRlRmxaVkVwVFpHeGFTR1ZIUmxkV2EzQldWVmQ0YTFZeFNsZGpSRXBZVmpOQ1RGVnFTazVsUmxKMVZHMW9VMkpJUW5kV2JYQkxZakZrUjFwR2FHeFNlbXhXV1d4YVlWTkdXWGhoUjNSWVVqQndTbFZYTlV0V1ZscHpZMFJPWVZac2NETlZiWGhoVmxaS2RHRkdaR2hOTUVZMFZteGFZV0l5UlhoWFdHaFVZbXMxY1ZWdGVFdFdNVnB5Vm0xR2FGSnRkRFZaZWs1dlZqQXhXRlZ1YkZWaVJuQnlWbFJLUm1Wc1JuTmpSbVJwVmtWSmVsZHNWbXRUYlZaWFYyNVdWV0pIYUhCWldIQlhWMnhrV0dWSE9WWk5WbkJZVm0wMVIxVXlTbFpYYkZaV1lsaG9lbFJzV25kV2JVWklaRVprVGxKRldsaFhWRUpoWWpGa2RGSnVTazlXUlRWWVZGVmFkMWxXY0ZobFJXUnFZbFZhU0ZkclpHOWhSVEIzVTJ4S1YySlVSak5WYWtaYVpWWldjMXBHVm1saGVsWlpWMWQ0YTA1R1drZFZiR1JYWW0xU1dGbHJXbk5PUm1SeVZXeE9hRlpVUm5sWmExSlRWMjFGZUdOSVNsaFdiSEJNV1hwR2EyTXhVbk5qUjJ4VFlraENkbFl4WkhkU01WVjRWMWhvYWxKWFVsWlphMXBMVmtac2NscEVUazVXYkhCSldsVmFZVlF4V1hkWGEyeFdUVzVTYUZsWGVFdFNiRTUwWVVaa2FWSXhTbFZXVkVKaFdWZE5lRnBJVWxOaVIxSlBXVmh3VjFOV1dYbGtSMFpYVFZac05WVXlkSE5WYlVaelkwWm9XbUpIYUVSVk1GcHJWakZrZEdSR2FGTmhNMEkxVjFaV2EyUXhWWGROV0Zab1VtMTRXRmxYZEV0WFJsWTJVbXM1VTAxWFVqRldWekUwVlRBd2VGTnNSbGRXTTBKRVZtcEJNVkl4WkhOaFJUbFhZWHBXV0ZaR1pEQmtNbFpYVlc1T1dHSnJOVmxaYkZaWFRrWnJkMXBIT1ZkTlJFWklXVEJvZDFZeVNrZGpSa0phWld0YVVGa3ljekZXTVZKMFlrWm9VMDF0YUZwV2JURTBZVzFXU0ZadVNrOVdiVkpZVmpCa1UxUXhXblJOVms1cVZteGFlVlp0TVVkWFJrcHpWMjVvVjFKNlFURlpWRXBMVTBkV1IyRkdaRTVpYkVZelYxWmtlbVZIVG5KT1ZscG9VbTVDYjFSV2FFTk5iRnAwWTBWS2EwMXNXa2hXUnpWSFZrZEtTRlZzYUZwaE1Wb3pWVEZhYTFZeFZuSmFSbWhwVm14d1NWZFVRbGRqTVZwSVUyeG9hRkpzU2xaV2ExWmhWRVphYzFkdFJsTk5WbkF3VlcweE1GUnNXWGhUYkd4WFRXNVNhRmxxU2t0U01VNVpXa1pvYVZaV2NGbFhWM2h2VkcxV1IxZFlaRmhpVlZweVZXeFNWMWRHV2toTlZ6bFZZa1p3V1ZRd2FITlhSbGw2Vlcxb1dsWkZXbWhhUlZwUFl6SktTR0ZHVWxSU1ZYQllWakZrTUZsWFVYbFdiazVZWW14S1QxWnNaRk5XUm14eVYydDBiR0pIVW5sWGEyaFBWakF4V0ZWclpGWk5ibEYzVm1wQmVGWXlUa2RoUm1Sb1lURndXRmRzVm1GaE1rMTVVbXRrVm1KWGVGUlVWRXB2VFd4YWMxVnJUbGROYkVZMFYydFdhMkZXVGtaalJteGFZbFJHVkZac1dsZGtSVFZXVkd4T1RsWnRkekZYYTFaVFVUSkdSazFXV21sU1JUVldXV3RhWVdOc1duTmFSWFJUVFdzMVNsVXllR3RWTURCNVlVYzVWMkZyU25KV1Z6RlhaRVpTY2xwSFJsTk5ibWhhVmxkd1MySXhXbk5YYms1b1UwZFNVMWxzV21GVFJscElaRWQwVjFJd2NFbGFWV00xVm0xR2NsTnRhRmRoTVhCb1dURmFUMlJGT1ZkYVIyeFRUVlZ3WVZZeWRGZGhNREZJVW14YVRsZEZjSEJWYTFwTFYwWnNjMVZzWkZSU2JIQlpWRlpXTUZZeVNraFZibkJhVmxad00xbFZWWGhYVmtaWlkwWmtVMkpJUW05WFZFbDRWVzFXUjJORmJGWmlXRkpVVkZjeGIxVkdaRmRWYXpsU1RWVTFXRmRyV205aE1VcHlUbFphVlZac2NIcFVWRVpUVmpKR1JscEdaRTVoTVZreVYxWldhMUl4WkhOWGExcFlZV3MxV0ZWc1duZE5NVlowWlVkMGFrMVlRa2xhUlZwclZHeE9SbE5yY0ZkTlZuQllXVlJLU21WR1ZuVlViVVpUVm01Q1ZsZFdaRFJaVm1SSFlraE9WbUV5VWs5VVZscGFUV3hXZEdSRVFtaE5WWEI2V1RCU1IxWXhTWHBoUmtKYVZtMVNSMXBWWkU5U01rNUhZVVprVGsxVmNEVldiWGhUVXpGT2RGWnJaRmRpYXpWdlZXcE9iMVpHV1hkV2EzUldVbTFTV1ZwRlpFZGhNREZXVGxWb1YwMVhhSHBXUjNoaFYwWldjMkpHV21oaE1HOTZWbXBDWVZZeVVraFVhMXBRVm0xU1dGbHJhRU5PYkdSVlVXMDVWRTFXYkROVVZsWnZWbTFGZW1GR2FGVldWMUpVVmpCYVZtVkdaSE5VYlhCT1lYcFdTVll5ZEdGVU1WbDVVMnhXYUdWcmNGaFpiRkpIVFRGV2NWSnVUbGhTYTNCYVdWVmtSMVV4V1hsaFJteFlWbXhLVEZscVJsZFdNV1IxVlcxMFZGSXhTbGRXUmxwaFpESldjMWRzYUd0U01GcFdXV3RXZDJWc2EzZGhTR1JZVWpCV05GVXllRk5YYkZwWFZtcFNWMDFIVWxoVmFrcEhVakZrY2s1WGJHbFdNbWN4Vm1wR1lXRXdOVWRWV0doVVltdHdVRlp0TVZOaFJsWjBUbFZPYWxKc1dqQmFSV2hyVmtaYWMyTkVRbUZTVjFKSVZqQmtTMVl4WkhOaVJtUnBWMFpLTWxkV1VrZFRiVlp6VW01V1VtSkdjSEJXYTFwaFVsWmFkR05GWkZwV2JWSkhWRlphVjFadFNsaGhSVGxYWWxoU00xUnRlR0ZqVms1VlVteGtUbFpzYjNkV1Z6QXhWREpHYzFOdVVteFNiV2hoVm10V1lXRkdXa1pYYms1WFlrZFNNRlZ0TVhkV01rVjZVVmhrV0dFeFdtaFdSRVpUWXpGa1dXRkdVbWxXVm5CYVZtMTBWMU15UmtkYVJtUmhVbGRTV1ZWdGRIZFhiR3QzVjJ0MGFGWnJiRFpaVlZwelYwWlplbUZJV2xkV1JWcHlWV3BHZDFJeGNFaFNiRTVwVm10d05GWnJXbUZoTVZWM1RWWmtWMkpzU25OVmJGSnpZakZhZEdSSVRrOVNiRlkxVkd4ak5WWXdNVlpqU0hCYVRVZG9URlpxUm1GU2JVNUhZVVp3YkdFelFrMVdWM0JIWVRKU1IxTnVUbFppUlRWWVZXMTRkMWxXV25Sa1IwWmFWbTE0V1ZaV2FHdFViRnAwVld4b1dtRXlVblpaZWtaWFl6RndSMVJzYUZOaVJYQmFWMnRXWVdFeFVYaFRibEpyVWtVMVdWbFVTazVOVmxsM1YydDBhazFyTlVaVlYzaHJWakF3ZVdGR1JsZE5WbkJvVjFaa1RtVldVbkpoUjJoVFltdEtVRmRYTUhoaWJWWnpWMnhvYWxKWFVuSlVWbFp6VGxaV2RHUkhkRmRXTUZreVZtMXpOVmR0U2toVmJrWmhWbFp3YUZwRlZYaFdWbFowWVVVMVUxSldjRXBXYlhCSFlqSkplRmRzWkdGU1YyaHZWV3BLYjFZeGJISmFSazVYVW14d2VGVnROVTloYlVwSlVXdG9WMUl6YUhaV2FrcExWMVp2ZWxwR1pGTmlTRUp2Vm10U1MxSXlUbkpOVm1SaFVqTkNWRlZzVm5kV01WcDBUVlJTVkUxVmNFaFdNblJ2WVdzd2VXRkdhRlZXTTFJelZXMTRZV1JIVmtkYVIyaFhZVEozTUZaWE1YZFVNVmw1VW01S1ZHSlhhRmRhVjNSM1ZVWndSbGRyT1dwaVJuQjZWbTB4YzFVd01WWmpSRTVYWWxoQ1JGWnFSazVsUm1SeldrWm9hV0V4Y0ZaWFZ6QXhVVEpOZUZadVVtcGxhMXBWVm0xNFlVMUdjRVphUldSb1ZtdHdlVmt3VWtOV01WbDZWRlJHVjAxcVJreFdiRnBMWkZaa2MyTkhhR2hOV0VKMlZqRlNSMWxXU1hsVmEyUlVZbXMxYUZWc1VsZGlNWEJZWlVad1RtSkdiRFJXVjNSUFZqQXhjbUpFVWxkaVIyaDZWbXRrUm1WWFJrZGFSbkJvVFd4S01sWnRNVFJaVjFKSVZtdG9VMkY2Vms5V2JUVkRWMnhrYzFadGRGTk5hMXA1VkZaYWMxVnRSWHBSYkd4YVZrVmFNMVpyV21GVFIxWklVbXhrVjJFelFsZFdWbVEwWVRGWmVGTnNaR3BTUlhCWlZqQm9RMU5HV25STlZtUlhUVlUxZWxsclpITlZNREYwWVVaV1dHSkhUalJVYTFwclVqRndSMkZIZEZOTlJuQldWa1phYTFVeFRrZFhXR2hvVWpOU1dWVnFRbmRsVmxKellVVjBWMkpWV25sV01uUTBWbTFHY2xkcVRsWmlXR2hvVm14YVMyUkhSa2RhUjJoT1RVVlpNRlp0ZUdGWlYwbDVVbGhvV0ZkSGFGVlpiWE14WTFaV2RHVkZkRmROVm5CNVZtMHhSMkZHU25Sa1JGWmFaV3MxZGxacVFYaFhSbFoxWWtaV2FWSnVRbmxXYkZKTFVtMVdjMUp1VG1wU2JWSndWbXRXUjA1R1pISlZhMlJZWWxaYVNGZHJhRXRaVmtwMFlVaENXbFpGV2pOV2JYaHJWakZXY2xwSGRFNWhla1V3Vm1wSk1WVXlTa2RUV0dSWVlYcHNXRmxzYUc5aFJsSldWMjVrVjJKSVFrZFhhMlJ2VlRKS1NWRnFWbGhXTTFKVVZsUkdZV1JHVG5KaFIyaFVVbGhDV1ZkV1pEQmtNVkpIVjI1T1dHRXpVbGhXYlhSaFpXeHJkMXBFVW1oU1ZFSXpWVEo0UjFZd01YVmhSbWhhVmtWYVUxcFZXazlrVmxaelZHMW9UbUpGY0ZWV01XUXdZVEZWZVZSclpGaGliRXB5VlRCa1UxZEdiSEpYYms1UFVtMVNlVlpYZEU5V01ERkZVbTV3Vm1KWVFsUldNR1JHWlZkR1IxRnNaRTVTTVVwSVYyeGFhMUl4VGxkVmJrNVlZbGRvYjFwWGVHRlNiRnAwWlVaa1dsWnRlRmxXVjNSdlZqSkZlV1ZHV2xwWFNFSjZWbXRhYzJOc2NFVlVhelZYWWtoQ1NsZHNWbUZaVmxGNFYxaGtXR0V5ZUZkVVZ6VlRZVVpzV0dWRmRHdFNNVnBKVlcxNGEyRldTblZSV0hCWVlrZFJNRmRXWkU5V01WSjFVMnhvYVZkSGFGVlhWM1J2VVRGc1YxcEdaRmRpV0ZKVVZGWmFWMDB4VWxaaFNFNW9VbXR3U0Zrd1dtOVhiVXBJWVVWU1ZrMUdjSEpXYWtaclpFZFNSMkZHVG1oTk1Fa3hWbXBLTUdFeVNYaFdXR3hUWVd4d1dGbHRNVk5YUmxwMVkwVk9UazFXU25wV2JGSkhWVEF4V0ZWc2NGcFdWbkJvV1ZWVmVGSldXblJoUm1ScFYwVktSVlp0Y0VKTlZrbDRXa2hPYUZKVWJGaFdhMlEwVjJ4YVdFMUlhRlpOVlRWWVdUQmFZVmR0Vm5OWGJHaGFZa1phV0ZScldscGxWMDVHVDFaa1RsSkZXa2xYVkVKaFZURlplVkp1U2xoaWEzQm9WVzE0ZDAweFZYZGFSV1JUVFZaS01GbHJXazloVm1SSFVsaG9WMkpVUlRCWlZ6RlhVbXN4Vm1GR1dsaFNNMmhXVjFaU1MxVXhXbGRpU0ZKcVpXdGFXRlp0TVRSWFZuQkdXa1ZrV0ZKcmNEQmFWV2gzVjJ4YVdGUlVSbGRpUm5CTVdrVmtWMUl5UmtkYVJUVnBZa1ZaZWxZeFdtdGxiVlpJVkc1S1QxWnNjRzlWYlRWRFlqRlNWMkZGVG14V2JIQjZWbGQwTUZaRk1WWmpSRUpYVWpOU2FGbFdXa3RrUmxaellrWmFUbEpzY0UxV1YzUmhXVlpKZUZwSVVtdFNiRnB3Vm0xNGQxTldaRlZSYkdScVRWWndTVlV5ZUc5aFJrcHpVMnhhVjJFeFdqTmFSM2hoWXpGa2RGSnNUazVXYmtGM1ZsY3dlRTFHVW5SU1dHaHFVbGQ0V0ZsWGRISmxSbHBWVTJ0a2FrMVZOWHBaVlZwaFlWWktjMk5HWkZkaVZFVXdWMVprVjJNeFZuVlRiR2hwVmxad1dsWlhlRk5XTVZsNFZWaG9XR0pVYkZkVVZWSkhVMnhXV0dWSE9WZE5hMXA1V1c1d1ExZHNXa1pYYldoaFVsWndVRmw2U2t0VFIwWkhWR3hPVjFKc2NGbFdiVEI0VGtac1dGVlliRk5oTWxKWlZqQmtVMWRHV25KV2JVWllVbTE0ZVZZeWREQmlSMHBJVlc1c1YySkdTa2haVlZwTFZsWkdjVlJzV2s1aWJFWXpWbTF3UW1WR1dYbFVhMlJvVW0xU2IxbFVSbmRYUm1SelZtMUdhRTFzU2xoV1J6VkxWREZhZEZWdVFsZGlXRkl6Vkd0YVlXTXhjRWxhUmxKT1lUSjNNRmRYZEdGaE1WcDBVMnRvVm1KSGVHRlpiRkpIVmtaYWNWSnNaR3RTVkVaV1ZWZHpOVlV5U2toa2VrWllZa1phY2xSVlpFZFRSa3B4VjJ4T2FWSXphRmxXYlRWM1ZqSldjMWR1VG1GU1dGSlVWRmR6TVZOc1ZYbGxSM1JXVFVSQ05WbFZZelZXTWtaeVUyNUtWMVo2UmxoYVJWcFRZMnh3U0ZKc1RrNWliV2hoVm14a2QxTXlTWGhYYms1WVltczFiMVV3WkZOVk1XeHpWMjFHVkZKc2NFbGFSV1F3VmpGSmQyTkZiR0ZXVjAweFZtMHhSMk5zVG5SaFJtUm9UVmhDYjFkVVJtRlVNbEpHVDFaa1lWSXllRlJVVmxaM1dWWlplV1JHWkdoTlJFWkpWVzE0WVZSc1pFWmpTRUpXWVRGd1RGWXdXbk5qTVZaeldrWlNVMkpJUWxwV1JscFhUVVpaZVZOcmFGWmlia0poVm14YWQwMHhiRlpXV0doWVZtdGFXbGt3V210Vk1rcEpVVzA1V0ZaRmJEUldWekZYVWpKT1JtSkdXbWxYUmtwVlZrWmplR0l4VmtkYVJtUldZWHBzVTFSV1ZURlhSbVJ5VjIwNWFFMVZjSGxVYkZwaFZsWmFjMk5JY0ZWV1JWcFVWbXBLUjFKc2NFZGFSVFZvVFZacmVWWXhXbGRoTVVsNFdraE9XR0V4Y0ZsWlYzTXhWMFpXYzFkdVpFNU5WbG93V2xWa01HRnJNVmxSYTJ4aFVsWndjbFpIZUU5U2JFNXlZMFprVGxadVFsbFhWbEpMVTIxV1IxWnVWbFZpVlZwVVZtMDFRMVpzWkZkYVJGSmFWbTFTU0ZscmFFOVdiVVY1VldzNVZWWnNjR0ZVVjNoWFpFZFNSVkZ0YUU1V1dFSTJWMVJDVTFJeFdYaFRXSEJvVW10S1lWWnRNVk5TTVhCV1drVTVVMDFyTlVoWlZWcHJWR3N4Vm1ORVZsZGlXR2hVVlhwR1QyUkdXbkphUm1ScFlYcFdkbFpYY0U5aU1WcEhWMWhrVjJFelVsZFZiVEZUVjFad1JscEZaR2hOUkVaWFZHeFdiMVl3TVZoaFNIQlhVak5vYUZZd1dsZGpNa3BIVjIxb2FFMUhPVFpXYlhCRFdWWlplVlZyYUZWaE1YQlJWbTB4VTFkR2JISmhSVTVQWWtkU1ZsVlhNRFZXUlRGWFlrUk9WVlpzV25aV2JURkdaVzFHUjJGR1ZsZFdNVXBWVm1wQ1lWWnRWa2RhU0U1VllsaENUMWxZY0ZkVFZsbDVaRWRHVlUxV2JEVlZNbmhYWVVkV2NtTkdhRnBpUmtwSVZGUkdWMk5XU25WVWJHaFRZVE5DWVZkV1ZtdFNNVlY0VjFoc2FGSnRlRmxXYlhoTFZFWnNjVkpzWkZkTlYxSXhWbGN4TUZaR1NYaFRiR1JYVW14d2FGcEVRWGhTTWs1R1YyMW9VMDB4U2xsV1Z6RTBaREpXYzJFelpHaFRSMUpaVlcweFUxTnNWbGhrUnpsWFRXdFdORlp0Y0ZOV01ERkhZMFpvV2sxcVJreFZha1pyWTJzMVdHSkhiRk5YUlVsNVZtMXdSMWxYUlhkT1ZXUldWMGRvVlZsdGRIZFZSbHAwVFZaT2FGSnNXakJVYkZaUFlXeEtjMWRxUW1GU1YyaHlWbXRhWVdNeVRrVlJiVVpUVmpGS1NWZFdVa0psUm1SSFZtNUthVkp0VW5CV01GcExUbXhhZEdWSGRGUk5WVFZJVm0wMVYxVnRTa2RqUnpsYVZrVmFNMVpHV21GVFJURlZWV3h3VjAxRVZqWlhWbEpQWkRKR1IxTlliR3hTVkd4WVdXeFNSbVZzVWxkWGJVWllVakZhU1ZReFpEQlViRnB6WTBSYVYwMXVVbGhaYWtwSFVqRk9kVlZ0YUZOaVYyaG9WMWQwWVZNeFRrZFhhMVpUWW0xU1dGbHJaRk5OVmxwSVRWaGtWMDFyVmpaVlYzQmhWMFphUmxOdVNsVmhNWEJYV2xaYVQyTXhjRWRWYld4WFZtNUNZVlp0TVRCV01VMTVWRzVPYVZORldsUlpiRlpoVmtaU1YxWlVSbXhpUjNoNVZqSjBNR0ZHV25KaVJGcGFWbFp3ZWxZd1dscGxiVVpKVjJ4a1YxSldjSGxXVjNCSFpERkplR05GYUZOaVJUVndWbTEwZDA1R1duSlhiVVpvVFZaV00xUldXbXRXTWtwelUyNU9WbUpHU25wWmFrWmhaRWRTU1ZSck9WTmlSbGt4VmtkNGFrNVdXWGROVmxwcVUwaENZVlJWWkc5VVJscHhVbTFHVTJKVk5VaFpWVnAzWWtkRmVsRnJNVmRXTTBKSVdWUktVMUl4VG5WVWJGcHBVbFJXV1ZaWE1UUmtNV3hYVjI1U2ExSXdXbUZXYlRFMFYxWmFWMkZIZEZWaVJuQXdWbGQ0YjFkdFJYbFZibHBhWld0YVdGbDZSbmRTTVZKellVWk9hVkpZUW1GV01uUlhXVmRGZUZWWWFGUmliRXB5Vld0Vk1WZFdiRlZUYXpWT1ZteHNNMVl5ZERCaGF6RnlUbFZhVmxZemFISldha0YzWlZkR1IxSnNaRTVXYmtKdlZqRmFhMVJ0VmxkVmJrcG9VakpvVkZsdGRFdFZSbVJZVFVob2FXSldXbnBXTW5odllXeEtXRlZ1U2xWV2JGcDZWR3hhVjJSSFVraGtSbVJYVFVacmVWWnRNWHBPVm1SMFUydG9WbUpyV21oV2JGcDNZVVp3UmxaWWFGZFdiRm93V1ZWVk1WVXhTbGRqUlhCWFlsaENTRmxxU2twbFJtUnpXa2RHVTFZeWFIWldWM0JMWWpGWmVHSklTbUZTYXpWWVZXMTRkMlZHVm5ST1ZUbG9ZbFZ3U2xWWGRHOVdNVWw2WVVoYVYyRnJjRXhXTVZwMlpXeHdSMXBHVG1sVFJVcDJWbTEwVTFNeFNYbFVia3BPVm0xU2FGVnFUa05XUmxaelZtNWtWMDFXY0RCVVZsSlRWa1V4Vm1ORmFGZE5ibEoyV1ZkemQyVlhSa2RoUmxaWFRURkplbFpYTVRSWlYxSklWbXRrWVZJeWFGaFpWRW96VFVaYVdFMVlaRlZOVm13MVZXMDFTMVpIU2xoaFJtUmhWak5TTTFaVlduZFNiR1J5VDFkd2FWSnVRalpXYlRCNFl6RlZkMDFXV21wU1JUVllXV3hvUTFKR1duRlNhelZzVW0xU2VsZHJXbTloVjBWNFkwWmFXRlo2UVhoVlZFcE9aVVphZFZWdGNHeGhNWEJXVm0weE5GbFZNVWRqUlZwaFVsZFNiMVp0ZEhkbFZtdDNWV3RPVjAxV2JEWldSbEpIVmpBeGNWSnJlRmRpUm5CTVdrWmFhMk15VGtoaFIyaE9WMFZLTWxacVJsTlNNV3hYVTFoc1ZtRXlVbFZaYlhNeFlVWldjMVZzWkdsTldFSlpXbFZhZDFSdFNrZGlSRkpYVmpOU1VGWnFRWGhqYlVwRlZXeGthVkl5YURaV2JYUnJVbTFXV0ZKclpHRlNia0p2VkZkNFMwMXNXblJOVkZKYVZqRktTVlp0ZEc5Vk1rWTJWbXM1VjJKVVZrUldNbmhyWXpGYWRHUkdUazVoTVhBMVZrWmFZV014Vm5SU1dIQlNZa2Q0WVZaclZtRk5NVnB5VjIxR1ZGSXhXa2xWYlhoclZqSkZlbEZzWkZkV2JWRXdXVlJHV21WR1RuTmFSM0JUVWxoQ1dsWnFRbTlSTVU1SFYyNVNUbFp0VWxoVVZsVXhaV3hzY2xwSVRsWk5SRVl3V1ZWYVYxZEhTa2hVYWxKVllURndjbFZxUm5kU01rWklaRVpPVGxKdVFsZFdhMXBoWVRGVmVGUnJaRmhYUjJodlZXcE9VMWRXVm5GUmJtUnNWbXhLZWxsVlZqQldNa3BXVjI1c1YwMXVVVEJXYlRGSFkyeGtjVlJzV21sWFIyaHZWbTE0WVZNeVVraFNhMlJoVWpKb1QxUlZWbHBOUmxwMFpVZEdXbFl3YkRWVmJHaHZWMFprU0dGR1ZscGlXRTE0V1RGYVYyUkhWa1prUm1ST1ZtNUNOVlp0TUhoU01rWkhVMjVTYTFKR1dtRmFWM014Wkd4YWNWRllhRmhTYkZveFdXdGFWMkZXU25WUmJteFhZa1pLVEZWdE1WZGpNVXAxVkcxd1UySldTbmRXYlhSWFUyMVdjMXBJVGxkaVdGSlZXV3hhWVZkR1dYbE9WbVJYVmpCd1NWbFZhRU5YYkdSSlVXeG9WMDF1YUhKV01HUlhVMFU1VjFkck5WZGlhMHBhVm0wd2QwMVdTWGhXV0d4VVlrWndXVmxyV21GV01XeHpZVWM1YkdKR1NucFdNalZyVmpKS1ZsZHJiR0ZTVm5CeVZrZDRTMUpzWkhOaFJtaFhVbFZ3YjFkWGNFZGhNbEpIVTI1V1ZHRjZiRmhWYkZKWFYxWmFSMVp0Um10TmExcElXV3RTWVZVeVNsbFZia3BXWVd0S2FGVXdXbXRqYkhCSVQxZG9VMVpGU1hwV1ZFbzBVekZaZVZOc1ZsTmhhelZYV1ZkMFlWWXhjRmRYYkdScVRWaENTRmRyWkhOaFIxWnpWMnhXVjAxWFVYZFpWRVpXWlZaU2NscEdhR2xpUlhCNVZsUkNhMVV4WkVkaVNFcFlZbXMxVUZWdE1WTmxWbHBZWkVVNVYwMUVSa1pWYlRWM1ZtMUtXVkZzVWxkTlIxSkhXbFprUjFJeFJuTmFSVFZUVFZWd1NWWXllR0ZoTVVsNFZHeGtWbUpyTlZsWmJHUnZZakZ3V0dWSFJsTmlSbkF3V2xWYWExZHNXblJsUm14WFZqTlNkbFpxU2tabFYxWkhWMnh3V0ZORlNqWldiWFJoWXpKT2MyTkZWbFZoZWxaWVdXdG9RMU5zWkhOV2JVWmFWbXhHTkZZeGFHdFhSMFY1WlVaa1ZWWjZWbFJaVlZwelYwZFdSbVJIZEZOTlZuQktWbGN4TkdFeVJsZFRibFpTVjBoQ1dWbHJaRkpOUm1SWFdrVTVWMDFXU2pGVk1uaHZZVlprU0dGR1ZsaFdNMUoyVlZSR2MxWXhjRWRhUm1ScFYwWktWVlpHV21GV01EQjRWV3hhYUZORk5XOVZiWFIzVTBacmQxZHRPVmhpVlhCSldWVldVMVpyTVVkalNFcFhZV3RhY2xwRlpGTlNNa1pIVkcxb1RrMUZhM2hXYWtaaFZqSkZlVlZZYUZkWFIxSlBWakJhWVdJeFZuUk5WRkpZVW0xNFdWcEZWakJYUmtwelYxUktWbUpZVFRGV1ZFRjRWMFpXY1ZKc1pGZGxhMVYzVm14U1FtUXlWa2RVYms1VFlrZFNXRlJVUWt0U1ZscDBZMFZLVGxacmJEUlhhMmhQWVVaS1ZXSkdhRmRoTWxFd1ZqSjRZVmRGTVVsaFJscE9WbFJXV1ZkVVFtRlpWbVIwVm01T1dHSkhhR0ZaYTFwaFYwWlNjbGRzY0d4V01EVkhWREZhYTFSc1NrWlhhMnhZVmtWS2RscEVSbHBrTURGV1lVWmFhVkpyY0ZoWFYzaFRVakZhUjFaWVpHRlNWR3hWVldwQ2QxTkdXa2hOV0U1V1RVUkNORlZzYUc5V01rcFZVbFJDV2xaNlJsaFZiWE40Vm14a2NrNVdaRmROYldoV1ZqRmplRTVHVFhoWGEyUnBVbTFvYzFVd1pGTlhWbFowVFZSU2JGWnRVbmxYV0hCWFYwWktjMk5FUW1GV1ZuQm9WbTB4UzFaV1duVlRiSEJYVm01Q1RWZHJWbXRXTVVsNVVtdGtZVkpVVm5CWmExWmFaV3haZUZkdGRHeGlWbHBKVmtjMVMxUXhXbk5qUnpsV1lsUldSRmxxUmxOV01rWkdWR3MxYVZKdVFYZFhWRUpYVXpKRmQwMVlUbGhpUjNoWFdXeG9VMlJzV2xaWGJVWnJVbXhhZWxsVlpFZFdNREI0VTJ0NFYxSnNXbWhYVm1ST1pVZEZlbU5IYUZOaVZrcFFWbTE0YTAwd01VZGFSbFpTWWtkU2NWUldXbk5PVmxWNVpFZDBhR0pGTlVkVk1uaHZWbFphVjJOSGFGZFNWbkJvV1hwR2EyUkdTblJrUms1T1VrWmFTVlpxU2pCWlZsVjRWVzVPV0ZkSGFGVlpWRW8wVjBac1dHUklXbXROVjNoV1ZXMHhNRlpHU25KT1dIQlhUVzVvZGxsV1pFWmxiRVp6V2taa2FWZEhhRzlXV0hCSFZERkplRmRzYkdGU2JXaHdWbXhhZDJWV1dsaGxSazVYVFZkU1NGWXlkRzlVYkZvMllrWmFXbUV4Y0ROV01WcFNaREpHU1ZSc2FGTmlSM2N5Vm14amVHSXhaSE5YYTFwWVlsZG9hRlZzV25kVlJtdzJVMnQwVkZJd1draFdSM2hQVmpGS2MyTkdiRmRpVkVJMFZHdGFjMWRHVmxsaVJtUnBZWHBXV2xkWE1UUlRNazE0Vm01R1ZXSkZOWEZXYlhoTFYwWlplV1JFUW1sU01IQkpWbGMxYzFZd01YRlNXR1JhVmxad2FGa3ljekZXYkhCSFYyczFhR0V4Y0VwV2JURjNVVzFXUjFkWWJGVmhNbEp2VlcweFUySXhiRlZTYm1SWVVtMVNlbFp0TVVkaFJURnlUVlJXVm1KWVVuSldiVEZMVjBkR1JrOVdjR2hOVm05NlZrZDBZVmxYVFhoalJXeGhVbXhLVDFsVVNqTk5SbHB4VW0wNWFVMVdjREJWTW5ScllXeEplV0ZHWkZwaVIyaFBXbFZhV21WR1pITmFSM1JUVFZad1NWWXlkRlpOVmxKelYyNVNhMlZyV2xsWlZFWmhWa1pXVlZOclpGTmhla1pZVmpJeGMxVXhTbFZXYkdSWVZqTlNhRmRXWkU5ak1XUjFWRzFHVTFkR1NsVldSbVI2VFZaT2MxWlliR3hTTTFKWFZGVlNRMDVXYkZaWmVsWlhUV3RhZVZVeU5VdFdNVm8yVW14b1lWSldjRlJaTW5oM1UwWktjMVJyTldsaVYyaG9WbTE0YTJReFRYbFRXR2hZWW1zMVdWbHRjekZpTVZWM1drWk9WazFYZUhwV01qRkhWa1pLYzJORmJHRlNWMUYzVm1wR1dtUXlUa1ppUjBaWFZqSm9SVlp0TUhoVE1XUlhWV3hzYUZKdVFtOVpWRVozVmxaYWNWRnRkRmROVlhBd1ZsZDBhMWxXU1hsbFJsSlZWbXhhTTFkV1dtRmpiR1IwVW0xc1RtSkZXVEJXYkdNeFZERmtTRk51U2s5WFJWcFhXV3hTUjJSc1pGZFhiazVYVm1zMU1GUXhXbGRWTWtwWFUyeHNWMkZyYjNkVVZWcFNaVlpPYzFkdGNGTldNbWhvVm0xNFlXUXdNSGhpUmxwWFYwZG9XVlp0ZEdGWGJHdDNWMjA1YUZacmJEUlZiR2hyVmpKR2NtSkVVbGRoYTFwb1dUSnpNVll4Y0VoaFJrNU9UVlZ3VmxZeFpEQlpWMUY1Vlc1T1lWTkZOV2hWYTFaTFdWWmFkRTFXVGxoU2JWSjVWako0YTFadFNsWmpSbHBhWVRKb1NGWnNXbUZqTWs1SlkwWldWMUpXY0ZWV2JYQkxVakZLYzJORlpGaGhlbFp2VkZaYWNtVkdXWGhYYkdSb1RWVnNORll4YUhOVk1rcHlZMFpDVjAxR2NETlhWbHBoWXpGa2RWcEhlRmRpYTBwWlZqSjBWazVXVVhsVGExcHFVMGhDWVZac1duZGpiRnBJWlVVNVUySkZOWGxaTUZwclZHeGFkVkZzYkZoV2JFcE1WVEl4VjFJeFduVldiRlpwVmxad1ZWWnRNREZSTVZweldrWm9hMUp0VW5KVVZtUlRVMFphV0dWSGRGaFNNSEF3Vmxjd05WWnRTbFZTYkZKWFRVWndZVnBXWkU5T2JFcDBZa1pPYVZORlNUSldiRkpMWkRGSmVGZFlhRmhYU0VKdlZXMHhiMWxXV25OWGJHUlBVbXh3ZUZVeWN6VlZNREZ5VGxWb1dsWldjSEpXUjNONFZtMU9SVlpzWkdsWFIyaFZWbGh3UjFWdFZrZFViR3hvVW0xb2NGbHJXbmRXVm1SWVpFWmthMDFYVWtoV2JUVlBWakpLZEZWc1pGWmlXR2d6VmpGYVUxWnRSa2hQVm1Sb1pXdGFXbFpzWXpGa01XUnpWMnRhVDFkRmNGaFpWM1IzVkVaWmVGZHNaR3BOYTFwSVZtMTRhMVJyTVZaaVJGcFhZbGhDUkZkV1dscGxWbFp5WVVaV2FFMVlRbEpXYlRCNFZURmtSMkpJU21oU1ZUVlFXV3RhZDJWR1ZYaFZhMlJvVFVSR1dWWlhOWGRXTURGMVlVaEtXbFl6YUV4V01XUkhVMFpLYzFac1pHeGlSbkJSVmpKNFYxbFdaSFJWV0doWVlrWmFXRmxyWkZOVU1XeFpZMFprVkdKSFVsaFdiWGhoVkd4WmQxZHNhRmROVjJoNldWVmFTMWRHVm5OaFJuQnBVbXR3U1ZaR1VrZFdNazVYVTI1V1ZXSkhhRlJaVkU1RFdWWmtWMVp0Um1sTlYxSklWVEZvYzJGR1RraGhSbWhYWVdzMWRsbFZXbXRXTVdSelYyMTRVMDFJUWt0V2EyTjRZakZWZVZKcVdsZGliV2hZVm01d1JrMUdjRVZSV0doVFRXczFSMVl5ZUc5aFYwcFhVMnhrV0ZZelVsaGFSRXBYWXpKRmVscEhhRk5sYlhoWlYxWm9kMUl3TVZkV2JHaHNVbXMxV0ZSWGRHRmxWbFowWTBaT1YwMXJXbmxXTWpGdlYyc3hWMk5IYUZwbGExcHlXVEp6TVZkSFNraGlSazVZVWxWV05GWnRNWGRTTVd4WVVsaGtUMVpYVWxkV01HUnZWbFpzZEdSSVpGWlNiSEF3VkZaYVQyRkdTbk5YYWtKVllrWmFVRmxYZUV0ak1XUnhVVzFHVTFZeWFIbFdiWFJoV1ZkTmVWUnJWbEppVlZwVVZtcEdTMU5XV25STldIQnNVbXhzTlZVeWRGZFdiVXBJWVVjNVZWWjZSblpXVmxwaFkxWkdkR1JHVWs1V01VcGFWbGN4TUdFeVJrZFRiazVZWWtkb1dGbHNhRk5OTVZweVYyMTBhazFYVWpCVmJYaDNWakpLVjFOcmFGZFNiSEJvVm1wR1lXUkdUbk5oUjNoVFZrZDRXVmRYZUc5aU1XeFhWV3hrV0dKVldsbFZha1poVTFaUmVGcEVRbFZpUm5CNldXcE9hMVl4V2taaWVrSllWbXh3Y2xVd1drOWpiVVpJWVVaT2FWWXlhRzlXTVdRd1dWWk5lRlJyWkZoaE1WcFVXVzB4VTFkR2JISmFSazVPVm14d1NWUldhR3RXTURGeVZtcGFWbFl6UW1oV01GcGhVbXhPZFZOc1ZtaE5XRUpZVjJ4YVlWUXlUWGhqUldSV1lsZDRXRlp0TlVOWlZscDBUVlJDVjAxVk1UVldSelZQWVZaT1JsZHNVbHBpUmxwb1ZtdGFVMVl4V2xWU2JYaHBVak5vTlZacVNqQk5SMFpIVjI1S2FWSkdTbGRVVnpWdlRURmFjVk5yZEZkV2EzQldWVmQ0WVdKSFJYaGpSbFpYVmpOQ1NGbFVTazVsUm1SMVZHeFdhVll5YUhwWFYzaHZZakZhYzFkdVNsaGlWVnBoVm1wR1IwMHhVbGRYYlhSWFRXdHdlbFV5TlU5V2JVcEhVMjV3V21GcldtaGFSV1JYVTFad1IyRkdUbWxYUmtZMlZtMXdTazFYUlhoWFdHUk9WMFZ3Y1ZWdGVIZFdNVnAwVFZjNWEySkdjREJhVldSSFZUSktTRlZ1Y0ZaV00yaHlXVlZrUm1Wc1JuSk5WbVJYVFRCS1NWZFdVa3RVYlZaWFUyNUthRkl5YUZSVVZFcHZaREZhY1ZGdGRHbE5WM2hZVmpJMVUyRXhTWGRYYlVaWFlsUkZNRll4V21GV01rWklUMVprVjAxR1dURldiR1EwWXpGWmQwMVZhRlpXUlVwaFdsZDBZVmRHYTNoWGJFNXFUVlpLZWxsVldrOWhWa3BaVVcxR1YwMXVVbGhaYWtwR1pVWmtjbHBHYUdsaGVsWjRWbGQ0YTA1R2JGZFZiRnBZWW0xU1YxVnRlSGRsUmxaMFpVaGthRTFFUmxoWk1HaHZWakpLV1dGSVNsZGhhMFl6V2xaa1IxSXhTbk5hUlRWWFltdEtkbFpxUm1GaE1WSjBWbXhrVm1KcmNHOVZha3B2Vmtac2RHUkZkRlpTYlZKWlZGVm9iMkZYU2xkWGJuQlhUVzVvZGxsWGVFdFhSbFoxVTJ4V1YySkdjRFpXUjNoaFZqSlNTRlZyYUd0U2JWSllWRlZhY21WV1duUk5XSEJQVm0xU01GVXlkRzlXYlVweVYyMW9WMkpHY0ROWlZWcDNVbXhhV1dGR1pGZGlSbTkzVjFaV1ZrMVhSbGRUYkdSb1RUSlNXRmxyWkZKTlJteHhVMnR3YkZacmNIcFhhMXBUWVZkS1JtTklXbGRXZWtVd1drUkdjMVl4WkhWVGJHUnBZbFpLV1ZaWE1UUmpNREI0VjFoc1QxWlViRzlVVmxaelRrWlplV1JIZEZwV2EzQlpWbGR3VDFZeFNYcGhSMmhhWld0YWNsWXhaRTlTTVhCR1RsZHNhVkpZUWpKV2JURXdWVEZOZUZOWWJGVmlhM0JQVm0weFUySXhWbkZVYlRsWFZteGFlRlpITURWWFJscHpZMFZvV0dFeWFISldha0Y0VmpGa2NtRkdaRTVpYkVwWlZteFNTMU14V25OYVNGWlVZa2RTY0ZZd1drdGlNV1J6V2tSU2FFMXJOWHBYYTJoWFdWWktkRlZyT1ZkaVZFVjZWRlZhWVZkRk1WbGFSbFpPVm0xM01WWlhNREZUTVZwSVUyeG9hRkp0VW1oV2FrNVRUVEZhVmxkdVpGTmlSMUo1VkRGa2QyRldTblZSYWxwWFlsUkNORmw2Umxaa01ERlhWMjF3VTFKVVZsbFhWM2h2VVRGS1IxZHVSbE5oZWxaelZXMHhVMlZzWkhKWGJUbG9WakJXTkZrd1dtRlhSbG8yVVZob1ZsWkZjRTlhVlZwaFpGWldkR1JHVWxOV1JscFNWbXhqZUU1SFVYaFViR1JXWW1zMVdGWnJXbUZYUm14elZtNWtWMDFYZEROV2JUVlBWakF4VjJKRVdsZFNiRXBJVm1wQmVHUlhSa2hTYlVaWFRUSm9XVmRyVm10U01VbDRXa2hLVDFack5YQlpWRUoyVFZaYWNWSnRPV3ROVld3MVZXeG9jMVp0UlhsVmJGWmFZbGhOZUZsVldsZGpNVlp6V2tkc1RsZEZTbHBYYkZaaFpERlNkRk5yWkdsU1JrcFlWbXBPVTFWR1duRlJXR2hxWWxWd1JsWlhlR3RoVmtsNVlVUmFWMkpZVW5KVmJURlhWMFpLY2xwSFJsTmlhMHBhVmxSQ1YxTXdOWE5YYmxKT1ZrWktZVlpxUmt0WFZscElaRWRHV2xacmJEWldWelZEVm0xS1dXRkhSbFZXYkhCeVdYcEdZV1JHU25Sa1JUVm9UVEJLU2xac1VrcE5WbEY0V2tWb1ZHSnNTbk5WYWtKaFZteGFjMXBHVGxaTlZrcFhWakl4UjFZeFduSk9XR3hZWVRGVk1WbFdXa3RYVmtaeldrWmtWMkpXUlhkWFZsSkhWMjFXUjFSdVRtRlNNMEpVVld4b1ExZHNXblJqUlRsU1RWWktTRlp0TlVkV1IwWTJWbTVPVm1KWWFFeFVWbHBoVTBVeFdFOVdXazVTUlZsM1YxWldZVmxXV1hoWFdIQm9VbTFvYUZWclZtRmpiRlp4VW01a1UwMXJXa2xhVlZwUFlVZFdjMWRzV2xkaE1YQnlWR3RhVG1WV1duVlViR2hZVWpOb1VWWnRlRzlWTVdSWFZtNUdVbUp0VWxoVVZscHpUbFpTYzFadGRGZE5WbkI2V1d0U1lWWXhXalpTYmxwWFlsUkdTRmt5ZUd0a1IwWkhWMnMxVTAxVmNGcFdiR1IzVWpGVmVWUllhRmhpYkVwd1ZXMXpNV05HYkZWUmJIQk9VbXh3TUZwVlpFZFhiRmwzWWtSV1ZtSkhhSFpXTUZwclUwZEdSMVpzY0dsWFJURTBWMVJHWVZZeVVraFdhMXByVW0xU1QxWnROVU5PVmxwMFRVaG9VMDFyV2toVk1qVlRZVEZLUjFkdFJtRldNMDE0V2tkNFlXTldSbGxoUm1oVFlrWnZlRmRYZEdGV01rWlhVMjVXVW1KdGVGaFphMXBMVkVaV2RFMVdaR3BOVlhBeFZrY3hkMVV5U2xkVGJFSlhZbGhDU0ZWcVFYZGxSbkJIV2taYWFFMHhTbFpYVjNoaFdWWmtSMWR1VWs5V2JWSllWbXBDZDFOV2JGWlhiazVYWWxWYWVWWXlkRFJXTURGMVlVaEtWMDFIVWxoVk1GVTFWakZrY2s1V1pHbGhNSEJoVm0wd2QyUXdNVmRUV0doWFlteEtWVmxyV25kWFZteHlWMjFHVjAxWGVIcFdWM1JoVkd4S2RWRnNhRmROYm1neldXdGFZVlpXV25OaVIwWlRWakZLTWxac1VrdFRNVTVYVW14c1lWSnRVbkJWYWtaSFRURmtXV05GWkdoTmF6RTBWMnRvVDJGR1NuTlhiR2hXWWtad00xWXhXbXRXTVhCRlVXMTBUbFpyY0VsV2Fra3hWREZrU0ZKWWNGWmlSMmhZV1d4b1UyRkdjRmhsU0VwclRWaENSbFpYTVc5Vk1WcEdVMWh3VjFaRmJ6QlZla1phWkRBeFYyRkhhRk5TVkZaWVYyeGtNRmxXVlhoalJscFlZWHBzY2xadGVHRmxiRnBJVFZjNVZXSlZjRWRaTUZwWFZqQXhXRlZZWkZwV1JWcFhXbFZhVjFkWFJrZFhiV3hUWW10S1dsWXhZM2RsUmxWNFdrVmthVk5GY0ZsWmJYTXhWVVpXZEUxV1RteFdiSEJaV2tWVk5XRkdTbk5qUmxwV1lsaG9jbFpxU2t0WFZrWnpVV3hrYVZJeFNrMVdWM0JIWVRKU1YxUnVUbUZTVkZaVVZGWldkMVJzV1hoVmEzQnNVbXhHTkZaSGRHdFdSMHB5VGxab1dtRXlVbFJXYTFwYVpERmFjbVJHWkdsU2JrRjNWMnhXWVdFeFpITlhibEpzVW0xNFdGWnFUbE5rYkZweFUydGFiRll4V2toV01uaDNWMFpPUmxOcVdsZGlXRkpvV1hwS1QyTXlUa1pXYkZab1pXeGFXVmRYZEc5Uk1VNXpXa2hPVjJKVldtRldiWGhIVGtaWmVHRkhkRmhTTUZZMVdsVmFhMVpXV2paV2JGSmFWbFp3ZWxZd1pGZFNiVkpJWkVaT1RsWnVRa3RXYkdONFRrZEZlVkpzWkZSaWJGcFRWakJvUTFkV2JISmFSa3BPVW0xU1dGZHJWVFZXTURGWFUycEdWazF1YUhaWlZscHJVMGRHUjFac2FGZE5NVW95VmxaU1IyTXhXWGhqUldSaFVtMVNjRll3V2t0V1ZscEhWMjFHVjAxRVFqUldWM2hoWVVaT1JrNVhPVlppV0ZJelZUQmFjbVF4WkhSUFZtaHBWbGhDU2xkV1ZsZFZNVnB5VFZWa2FsTkZjRmhaVjNSaFkyeHdSbHBHVGxOTmExcElWa2N4YjFSck1VWmhNMmhYWWxoQ1RGUlZaRVpsVms1WllVWmtXRkl6YUZWWFZtUTBaREZrUjJKSVVrNVdhelZaVlcxNGQwMVdhM2RXYTNScFVtdHdlbFl5ZUhOWGJWWnlUbGhhVjJGclJqUldNRnBYWXpKT1IyTkdaRmRpYTBsNVZqRmFZVmxXVG5SV2EyUlZZbXhLYjFWdE1WTmpSbGwzVm10MFUxWnNjREJaTUZaTFZHeGFjbUpFVWxoaE1taFFXVlZhUzFaWFNrZGhSbkJZVTBWS1dWWnFRbUZaVmtsNFkwVldVbUpZVWs5WmExcDNWMVphYzFsNlJsVk5WMUpKVlRJMVMxUXhXblJsUjBaYVlURndhRll3V2xOamJHUjFVMjEwVGxkRlNrcFdSRVpoWVRGU2MxTnJXbGhoTW5oWlZtdFdTMlJzY0VWU2JIQnNWbXMxZVZkclpIZFZNa1YzWTBkb1dHSkhVWGRYVmxwWFVqSkZlbUpIY0d4aE1YQlpWa1phWVZNd01VZGlTRXBZWWxoU2IxVnNVa05OTVZWNVRWYzVWMDFyY0ZaVlYzQlRXVlpLUmxkck9XRlNSVVkwVm0xNGEyTnJOVmRhUm1ST1lsZG9WMVpxUm1wbFJURklWVmhvVmxkSGFGbFpiWGhMVkRGYWRHTjZSbGhTYkhBd1ZGWlNVMWRHV25WUmEyUllZVEZhY2xZd1drdGpiVTVKWTBaa1RtSnJTa2xXYWtwNlpVWkplRnBJVmxSaVNFSllWV3hvUTFSV1dsaGpSWFJWVFZWc05GZHJhRTlYUjBZMlZtNUNXbUV4V21GYVYzaGhaRWRXUjFSc1NtbFdiSEJLVm10ak1WTXhVWGhYYms1cVVucHNWMWxzVWxkU1JteHhVbXhPVjAxcldrZFdSekUwVmpKS1NWRnFXbGRpUjFGM1ZGVmFZVkpyTVZkWGJYQlRVbFZ3V1ZaWGNFOVZNa1pIVjJ0b2JGSXdXbkpWYWtKaFUwWnNWbGRzWkZkTlZYQlhXVEJWZUZZeFdrWlhiV2hZVm0xU1VGbDZSbUZrVms1MFVteE9hVll5YUROV2JUQjRUa2RSZUZSc1pHRlNiRnBUV1d0a1UyTldVbGRYYm1SVVZteFdOVnBWWXpWaFJrcHlZMGh3VmsxdWFHaFdha3BHWlVaa2NWUnRSbE5OTW1odlYxaHdSMkV5VWtkVGJrNVZZWHBXV0ZsdGRFZE5NVnB6V1ROa2JGSlVSa2hXVnpWVFZURmtTR0ZJUmxaaVIxRXdWakJhYzFkSFVrbFRiWGhUWWtoQ1YxWlhNVFJVTWtaeVRWWmtWR0p0ZUdGV2JHUlRaR3hhVlZOcmRGZE5WVFY2VjJ0YWEyRldXa1pXV0dSWFRWWndjbFpxU2s1bFJscDFWbXhTYVZJeWFIZFdiWGhoWkRGa2MxZHNhR3hTYXpWWVZGWmFjMDVHV2xkaFJ6bFlVakJ3VmxscldtdFdWbHBYVTJ0b1ZrMXVhRmhXTUdSWFUwVTVWMXBGTldoTldFRXhWakZqTVdReFJYaGFTRTVZWVRGd1dWbHNaRzloUmxaelYyNWtWbEp0ZHpKVk1uUXdWa1pKZDFkcmFGZFNNMmhRVm1wR1MyTXlUa2RpUm1ScFZrVkpNRlpIZEdGak1XUkhWbXhzYVZKdFVuQlpXSEJYVjJ4a1dFMVVVbFJOYXpFMFZtMDFSMVpYU2taT1dFWlhZbGhvVEZZd1dscGxWMUpGVVcxc1UwMUlRa3BXYkdNeFl6RlpkMDFZUmxOWFIxSmhWbXhhZDJGR2EzbGpla1pYWWtoQ1NGWXljekZoVjBwWVdrUmFWMkpVUmpOVlZ6RlhVakZrV1dGR1ZtbGhNMEpZVjFkMGIxRXhaRWRXYms1WVltMVNWbFZ0TVZObGJGcDBUVlZrYUZKVVJubFVWbEpUVjJzeFIxZHVTbHBXVm5CTFdsWmtWMU5GT1ZoU2JHUk9UVzFvZGxaclpEQlpWbXhZVkZob2FsSlhlR2hWYlhoTFZERnNWVk5xVGs1U2JWSlpXa1ZrUjJGRk1YSlhibkJXVFdwV1ZGbFZXazlTYlU1SFdrWndWMDB4U2sxWFZsWmhXVlpLVjFOdVRsVmlSMUpQVm1wR1NtUXhXbGhOU0doUFVqQmFXRlV5TlZOaE1sWnlWMnhzV21FeGNHaFpNbmhUVm14d1JscEdUbWhsYTFwWlZtcEplR014VlhoVGJGWlhZa2RTV1ZacVRsTmhSbVJYV2tVNWFrMVhVakZXUnpGSFZURmtSMU5zVmxkU2JWSTJWRlphVDJNeFdsbGlSM2hUVFRGS1dGWkdWbE5STURWWFlrWmFXbVZzV2xoVVYzUmhaVlpWZVU1VmRGZE5WbTh5VlcxNGIxbFdTbGRqUmxKYVRXNW9NMVV3V2t0ak1WSnlUbGRzYVZZeWFHOVdiVEUwWVRKUmVGUlliRlJYUjJoWldXMXpNVmRXYkhSamVrWnBUVlpXTTFkcldrOVdhekZZWlVod1YwMXFSa2hXYTFwTFl6Sk9SbUpIUmxOV01VWXpWbTF3UjFOdFVYbFVhMXBwVWpCYVdGWnFRWGRsUmxwMFRVaG9VMDFyTlhwV1J6VlRZVVpLZEZWdE9WVldiV2hFV1dwR2ExWldTblJTYkZaT1lrVndTRlpFUm1GaE1XeFhVMWhzYkZKc1NsWldiWGhoVFRGa1YxZHNjR3hXTVVwSVYydGtiMVJzU2taWGEzQlhWbnBGTUZkV1dsTmpNWEJHVjIxd1ZGSlZjRmhYVmxKSFpERlNSMWRZWkZoaWF6VnhWRlphWVdWc1pISlhiRTVXVFd0d1NsVlhlSGRXTVVwelkwWm9WVlpXY0dGYVZscFBZMjFHUjFkdGJHbGhNSEJ2Vm0weE5GbFhVWGROU0docFVteHdXRll3Wkc5WFZscDBaRWRHV0dKSGRETldNakV3Vm1zeGNtTkZhRnBOUjAweFZqQmtSbVZHVG5KaFJtaFhZbFpLVlZaWGNFZFVNbEpYVkc1U2FGSnJOVTlVVmxaM1ZteFplRnBFUWxwV01VWTFWbGMxVDFsV1RrWk9WMmhXWVRGYVRGZFdXbUZrUlRGWFZHeG9VMkpXU2pWV2FrbzBZVEZhZEZOc1dtcFNiSEJoV1ZSS2IxTkdXbk5YYlVacVRXczFTbGt3V2xkV01VcFhZMFpXVjJKWVFreFZha1pMWXpKT1JscEdhR2hsYkZwMlZrWmFZV050VmtkWFdHaFlZa2RTYjFSV1ZuTk9SbGw0WVVoT1ZrMXJjSGxaTUZwRFZqQXhSMk5FVGxoV2JIQm9XWHBHYTJSV2NFaGxSbVJwWVRCd1dsWnRNVFJpTWtsNFYxaHNVMkZzY0hCVmJURnZWMFpXY1ZSdE9XcGlSM2hYVm14b2IxZEdTbFZpUmxwWFVqTm9jbGxXV2twa01EVkZVV3hrVTAweFNtOVdiR040VmpGSmVHTkZaR2xTTUZwVVZtdGFZVmRXWkZoa1J6bFNUVmRTZWxZeU5VZFZiVXBWWWtaT1ZWWnRVbFJWTUZwelkyMUdSazlXWkdsV1Zsa3hWbXhrZWs1V1dsZFhiazVxVWpCYVZsWnFUbTlYUm5CR1drVTVUMkpGY0RCWmExcFBZVlpPUmxOVVNsZGlSa3BNV2tSR1NtVkdaRmxoUmxKWVUwVktkbFpYTUhoaU1XeFhWMjVTVGxack5WUlVWbWhEVjFad1ZsWnRkR2hOVm5Bd1ZsYzFkMWRIUlhoalNFcGFZVEpTUjFwRVNrWmxiSEJIV2tkc1dGSXlhRlpXYkdSM1VqSk5lRmRZYUZWaVIzaHZWVzB4VTJOR2JGbGpSbVJZVm0xU1dWcEZaRWRXUlRGeVRsVm9WMDFxVmt4WFZscExVakZPZFZOc1ZsZGlTRUY2VmxSQ1lWZHRWbFpOVmxwaFVqSm9UMVZyVm1GT2JGcHhVMnBTYVUxV2JETlVWbWhYWVVaT1IyTkhSbGRoTVZwb1ZrVmFWMlJIVmtaUFYzQk9WMFZLU1ZadE1UUmhNVmw1VWxod1VtRXpRbGhaYkdoRFVrWmtWMXBGTld4V2JFb3hWa2Q0YTJGWFJqWldiR1JZVmpOU2NsWlVSbEpsUm1SMVZHeHdiR0pGY0hwV2JURTBaREF4UjFWc1pGWmlSVFZ2Vm14U1IxZEdiSEpWYkdSWFlYcEdNVmxWV205V01WcEdZMFZrWVZaNlJraFZha1ozVWpKT1NHSkdUazVpVjJRMVZtMHhORll4YkZoVVdHUlBWMFUxVmxsdGRIZGhSbFowWTNwR1ZVMVdjSGhWYlhSM1lUQXhXRlZzYkdGU1YxSklWbXhWZUdOc1pISmFSbFpYVmpKb2VWWnRkR3RUTVZweldraE9hRkp1UW5CVmJYUjNVMVphUjFWclpGZE5helZZVlRJMVYxWlhTa2hWYXpsYVZrVTFSRlV4V2xwbFYxSklVbXhhVGxZeFNrbFdWRVp2WXpKR1IxUnJhRlppUjJoWVdWZHpNVlpHYkZaWGJtUlRWbXR3TUZWdGVFOVViVVY2VVd0MFYyRXlUalJWYWtaV1pVWk9kVk50Y0ZOaVZrcFpWbGN4TkdReVJrZGpSVlpVWWtkU1ZGUldXbmROVmxwWVRWUkNWazFWY0ZkWk1GcHpWakZhTmxKVVFtRlNSVVkwVldwR2EyTXlSa2hsUmxKVFZrWmFiMVp0TUhoTlIxRjRXa1prV0dKSGFISlZibkJ6VjBaU1dHUkhSbXhXYkZvd1dUQmFUMVl3TVhKWGJteFhUV3BXVEZkV1drdGtSbFp6VVd4YWFHRXpRa2xXVkVKclVqRktjazVXWkdGU01uaHZWRlZhY21WR1duUk5XR1JUVFZkNFdGWXhhRzloVmtwMFZXeGFWMDFIVVRCV2JYaGFaREZ3U0U5V1pHbFNNMmQzVjFST2QxSXhaRWRYYmxKc1UwZDRXVmxVUm5kVlJteFlaVVYwYWsxck5VcFphMXByWVZaYVJsZHJiRmRpV0VKSVYxWmtUbVZXVW5KV2JFcHBWbFp3VlZadGNFZFRNVTVYV2taa1ZtRXdjSE5WYlRGVFUwWmFkRTVWZEdoV2EzQXdWbGMxUTFZd01VZGpSWGhWWWxob2FGcEZaRmRUUjFKSFZXczFWMVpHV2twV2JUQjNUVlpaZUZadVVsUmhNbEp4Vlc1d2MxbFdXbkpXYlVaT1RWWndTRll5TVVkV1JrcFZVbXhhVjFZemFETldha0Y0VWxaYWNWZHNhRmRpUlhCUlYydFNTMUl4U1hoVWJHeHBVak5vVkZaclpEUlhWbVJZWlVjNWFVMVhlRmhXVjNoaFYwZEtWbGR1UmxkaVdFMTRXbFZhVjFkSFZrbGFSbVJPWVROQ1dWWlVTakJrTVZsNFYycGFVbGRIYUZoVmExWjNVMFpzTmxKck9XdFdiRm93V1ZWYVQyRldXWGxoUnpsWFlsUkZkMVpxUm5OWFJrcHlXa2R3VTJKV1NscFhWekI0VlRGa1IySklTbUZTYXpWUFZtMTRkMU5XVWxkaFIzUlhUVVJHZVZadGNHRldiRmw2VVcxb1YwMUdjR2hWYlhoUFpGWk9jMVp0YUU1WFJVcFpWako0WVZsV1VYbFVXR2hxVWxkU1YxbHNaRFJYUmxwMFRsVk9XbFpzY0RCVVZsSkRWakF4VmsxVVZsWmlXRkp5VjFaYVMyUkdWblJoUmxwcFVqRktWVlpxUW1GVk1WbDRWMnhXVTJKSGFIQlZhazV2VGxaWmVXUkhjRTlXYkhCNVZGWm9TMkZzVGtobFJtUlZWbnBXZGxwWGVGcGtNV1J6WTBkNGFWWldjRWxXYkdRMFdWZEdWMXBGV2s5U1JVcFlWbXBPUTFSR1drVlNhM1JxVFZkU01WWkhlRmRoVmxsNllVaGFXR0pIVVRCWFZscHJZekZrZFZOc2FHbFhSa3A2VjFab2QxSXhaRWRYYTJoclVqTlNXVlZ0TVZOVFZuQldZVVU1VjJKVmNERlZWelYzVjIxR2NsZHRhR0ZTVmxZMFZtcEdVMk14Vm5OVWJXeFRZa2QwTkZadGRHdE9SMGw0VlZob1dGZEhVazlXTUZaM1kxWldkR1ZJWkZkTlYzaDVWMnRqTldGdFNraFZiR2hYVFc1UmQxWlVTa3RXYXpWV1lVWndWMVp1UVhwWFYzUnJVbTFXU0ZScmJHbFNiV2h2VkZab1EySXhXblJqUlhSVlRXczFlVlJzV210WlZrbDVZVVpTV2xkSVFsaFdNVnBoVjBVeFZWVnRkRTVXTTJoWlZtcEpNVlV5UlhoVFdHUllZbFZhV0Zsc2FHOWxiRkp6VjIxR1UwMXJXa2xhUlZwWFZHeFplRk5yYUZkU00yaDJWVlJHWVdSR1RuTmlSMmhUVWxSV1dWZFdaREJaVjFaellUTnNiRk5IVWxSVVZscExaV3hzVmxkck9XaFdhM0JhVlZkNGMxWXlTbGxoU0VwVlZsZFNSMXBWV25kU2JIQkhZVWRzYUdWc1dqUldiR04zWlVkSmVHSkdaRmhpYXpWb1ZXMTBkMk5zVWxkWGJrNU9UVlpzTlZwRlVrTmhSMFkyVW01c1ZXSkdXbWhXYlhoYVpXMUdTVk5zWkdoaE1GbDZWMnhhYTFJeFNYaFRiazVoVWxSV1dGbHRkRXRrYkZweFVtMUdhRTFXU2pCV2JYaHJWbTFLY21OSE9WWmhhM0IyVm10YWMyUkhVa1prUmxwVFlsWktXbFpHVm05aU1rWllVMnhrV0dKdVFsaFVWelZ2Wkd4c1dHVkZkRmhTYkZveFZUSjRWMVl5U2tkV2FsSlhWa1ZhYUZadE1WZFhSbFp5WVVaQ1YwMXRhRmxYVmxKUFVUQTFWMWRyYUd4U01GcHhWRlphZDAxR1ZYbGtSM1JZVWpCd01GcFZaRzlXTWtwSFkwUk9XbFpXY0ROVmJYaGhWMWRHUjFwR1pHbFNiVGt6VmpGYVYxWnJNVmRXV0doVVlrZFNjVlZzYUVOWFJteHpZVVZPVkZKdGVIaFZNblIzWWtaS2RGVnVjRmhoTWxKSVZsUkdXbVZYUmtsalJtUlhaV3RWZDFZeFdtRmhNVWw0Vm01T1dHSlZXbFJaV0hCWFpWWmtXR1JIZEU1U1ZFSTBWakZvYzJKR1NYcFZiVGxWVm14YU0xWnRlRmRrUjFaSVVteGtUbFp0T0hsV1Z6RjNWREZaZVZKdVNtcFNXR2hYV1ZkMGQxVkdWbk5YYlhScVRWaENSMVJzWkhOaFZrcFpVV3BLVjJKVVJYZFdWRVpPWlVaT1dXSkdWbWxoTTBKUVZtMHdlRlV5UmtkV2JrWlZZVEExV0ZWdGVHRmxiRnAwVGxkMGFGWlVSbGhaTUZKRFdWWmFXRlZyYUZkTlIxSk1WbXBHUzJOV1ZuTmpSMmhPWWxkb1RsWnFSbUZaVmsxNFdrWmtWMkpyTlZkWmExcGhWMFpTVlZGWWFFOVNiSEJaVkZaU1UxWXdNVmhWYTJ4WFlsaFNjbGRXV2t0a1JsWnlUMVprYVZaR1drVldSM2hoWVRGYVYxSnVVbE5pV0VKUFZtMHhNMDFXV2xoTlJFWlVUVlp3U1ZVeWVHOWhSa3AwVld4YVYyRnJOVVJWTUZwaFZsWktkVnBHWkU1V01VbzJWbXRqZUdReVJsZFRXR2hVVjBkU1dWWnRlR0ZoUmxwRlUydGtXRkpyY0ZwWGEyUjNWVEpGZUdOR2JGaFdNMUp5VmtSQmQyVkdWbk5hUm1ob1RWaENlVlpHVmxOU01XUnpWMnRvYkZKNmJHOVdha0pYVGtacmQxZHRSbGhTYkc4eVZWWm9iMVpzV2taalJUbGhWbFp3YUZwR1dsZGtSMDVJWlVkb1RsZEZTbGhXYlRCM1pVVTFSMkpHV2s1V1YxSnhWV3hhZDJGR1ZuTmFSazVwVFZad01GcEZhR3RpUmxwMFpFUk9WMVl6VWxCV2FrRjRWakpLUlZkc1pGTmlSWEJKVm0xd1FtVkhUbGRUYmtwc1VtMVNjRlZ0TlVOVVZtUnlWMjFHYUUxck1UVldSM1J2WVVaSmVXRkZPVmROUmxwTVZGZDRZV05XU25OVWJFNU9Wak5vV1ZaVVJtOWpNVnAwVWxoc1ZtSkdXbUZaYkdoT1pVWnNWbGRzWkdwTlZscDZWMnRrYzFSc1pFWlRiSEJZWWtaYWFGcEVSbE5rUms1eVdrZHNVMUpyY0ZsV2JYQlBWVEZXUjFkdVJsSlhSMmh4V1d4V2QxSnNXbGhsUjNSb1ZtdHNOVmxWVW1GV01rcFpWVzVLVm1KVVJsaFdNRnBMWTJ4d1NGSnNUbWxoTUhCaFZteFNRMVl4VFhkT1dFNVlZbXhLVDFacldrdFpWbHB4VW10MFdGWnNjRWxhUldSSFYyeGFjbUpFV2xkV2VsWkVWbTB4UzFkWFJraFNiRlpYWWtoQ2VWZFljRWRaVjFKSFUyNVNhMUpVVm05VVZFSkxVMnhhYzFWcmNFNVdiRVkwVjJ0V2IxWkhTbk5UYms1V1lXdEthRlp0ZUdGak1YQkhWR3hhVGxacmNGaFdha2w0VWpGWmVGZHVTazlYUjNoWldWUkdWazFXYkZkWGEzUllWbXRhZWxkcldtdFdNa3BYVWxoa1dGWnNTa2hXTWpGWFVqRlNkVlJ0UmxOTk1FcFZWbGQ0YjFFeFpITlhibEpxVWxSc1UxUldXa3RUUmxwMFRsVmtWMUl3V1RKV2JUVlBWbTFLV1dGRmVGVldiSEJvVlRCVmVGZEZPVmRYYXpWb1RUQktURlpzV21wTlYwVjRWMWhzVkdKSGVGTlpWRTV2V1Zac1dHUkhSbXBpUmxwNFZXMDFhMVV3TVhKWGEyeGhWbFp3VUZsclpFdFhWMFpIWVVaa1RsWXhSWGRXTVZwaFl6RlplRlZ1U21GU2JXaFpWV3BLYjJSc1dsaGpSVGxXVFZkU1dGWnROVWRWYlVwMFZXeFdXbUV4Y0doV01WcFRZekZhY1ZGc1pFNVdia0kyVjFSQ2IyUXhaSEpOVldSVVlrVktXVlp0ZUhkaFJtdzJVMnM1VTFac1NucFdNakZ6VjBaSmVXRklXbGRpVkVVd1YxWmFUbVZXVm5KaFJrNW9UV3hLYjFaWGNFdGlNVkY0Vld4YVYySklRazlWYlhoM1RVWndWbHBGWkZoaVJtd3pXV3RTVjFadFNraGhTRnBZVm14d1RGWXdXbGRqTWtwSFkwWmtVMVp0T1RaV2JURTBXVmROZVZSdVRtcFNWMmhSVm0wMVExZEdiSEpoUlU1UFZteHdNRlJWYUc5Vk1ERnlWMnBDVmsxdVVuWlpWRXBYWTIxT1IxcEdjR2xTYTNCSVYydFNSMWR0VVhoYVNGSlRZbGhTV0ZsVVJuZE9WbVJYVm0xR2FVMXJXa2RVVm1oUFZrZEdjbU5HYkZkaVdHZ3pXVlZhVjA1c1NuUmtSbVJPVmxoQmVGWnJZM2hrTVZWNVUyeGtWR0pGU2xoWmJHaERVMFpXY1ZGWVpHeFNia0pJVjJ0YVlXRkZNSGhUYkZwWVZqTm9hRmRXV210U01XUjFWV3M1VjJKV1NsbFdiWEJEWkRGT1YySkdXbGhpYXpWWVdXeFdZV1ZXV1hsa1JGSlhUVVJHTVZsVmFFdFdNREZJVld4b1ZrMUdWVEZXYWtaclkyczFWMXBIYkdoTlNFSm9WbTB3ZDJReVVYZE5WbVJVVjBkb1dGbHRlRXRXVm14eVYyNWtXRlp0ZUhsV01qRkhWakF4V0dWSWNGcFdWMDB4V1d0a1MxSXhUblZqUm1ST1lXeGFlVlp0Y0V0VE1WcHpXa2hLYVZJd1dsUldha1pMVFd4YWMxVnJkRlJOVlRWWVZXMTRjMWxXU25SVmJrSldZV3RhU0ZSVVJtdFhWMDVHV2tkb1RtRjZSVEJXTW5SdlZESkdSMU51VGxoaVIyaFhXV3RhZDAweFdYaFhiWFJYVFZoQ1JsVlhNVEJVYkZweVkwVnNWMkZyYTNoV1JFWnJVMFpLV1dOR1dtbFNNbWhaVjFkNGIxVXlSa2RqUm1oc1UwVndjbFJXYUVOU2JGcFlUVmM1VmsxV2NFZFZNV2gzVmpGYVJtSjZRbFpsYTFwaFdrUkJlRll5UmtoaFJrNVRWa1phV1ZZeFdtdE5SMUY0Vmxob2FsSnNjRmxaYTFVeFkxWlNWMkZGVGxSU2JIQXdWRlpvVDJGR1duSmpSbkJXVmpOQ1dGWnFTa3RUUmxKeFZXMUdWMDB3TkRCV2JYQkhWakZrV0ZKclpGaGlWM2hVV1cxMFMxZHNXWGhaTTJSc1VteFdORmRyVm10aFZrNUdZMFpzV21KWVRYaFdWVnBYWkVVeFYxUnRlRmRpU0VKYVYydFdWazVXWkVkVFdHUnFVbGRvWVZsVVJrdFdSbHAwVFZWMFdGWnJXbnBWVjNocllWWkplRk5yTVZkV00wSklXVlJLVTFZeFVuVlViVVpUVmtaYVZWWkdXbGRrTVZKelYyNU9WbUV3Tlc5VVZsWnpUa1pWZVU1VmRGWlNiSEF3VmxjeGIxWnRSbkpqU0ZwWFVrVmFhRnBGVlRGV2JGSnpWbTFzVTJKclJqTldNblJYV1ZaUmVGWllaRTVXYlZKd1ZXdGFZVmRHV25GVWJFNXJZa1p3ZUZVeWRHRmlSbGw0VjJ0b1YwMXVhRE5XTUZwUFVteE9jVmRzWkdsWFJrcHZWMWh3UzFReVRYbFVhMXBYWWtaYWIxcFhlR0ZYVm1SWVpFYzVVazFWTlhwWGEyaFBWakpLVmxkdFJsZGlXR2hJVkd0YVdtVkhSa2hrUm1oVFRVWlpNVmRzVm1GaE1WcFhWMnBhVjJKR1NtRldiRnAzWld4WmQxcEdaRk5pVmtwSldrVmFUMVJzV25WUmEzUlhZa2RPTkZSclpFWmxWa3B6V2taU2FXSkdjRlJXYWtKdlVURmtWMkpHVmxSaVJYQlBWVzB4VTFkR1pISldWRlpYVFVSR1dGVXljRWRXYXpGeFVtdG9WMVpGUmpOYVJFWlBaRlprYzJGSGJGTk5WVll6Vm1wR1lWbFhSWGhYV0doaFUwWmFWbGxzVm1GV1JsWjBaRWhrYTJKR2NFaFdNakZIVmpBeFJWWnJhRmROVjJoNlZrUkdZV1JHVm5OYVJuQnBVbXh3YjFkc1pEUmpiVkY0V2toU1VGWnRhSEJXYkdoRFUyeGtWMVp0T1ZwV2JWSjZWako0YTJGc1NuUmhSMFpWVm14d00xWkZXbmRTYkhCSFZHeE9UbUV4Y0VsV2EyTjRZakZTY2sxVldtaE5NbWhZV1d4b1ExUkdVbFpYYms1WFRWZFNXbGxyV2s5aFZrbDRVMnhhVjJGclNuSlpha1poVmpKS1NWVnRlRlJTTVVwYVZsY3hORmxWTVVkalJscFhZV3RLVjFSV1ZuZGxiRnAwWTBaa1dHSldXbmxVYkdoaFYyeFplbFJxVWxkTlJuQllXVEZhUzJNeGNFZGFSM2hvVFZac05sWnRNVFJWTVVaMFZWaHNWMkV5VWxaWmJYTXhWa1pzY2xwR1RsaFNia0paV2tWV2QxUnNTbk5qUld4aFVsZFNTRmxWVlhoV2JVcEZWV3hvYUUxdGFGbFdiWGhyVXpGa1NGSnJaRmRpUm5Cd1ZXMTBkMWRXV25GU2JVWmFWbTFTU1ZaSGRHRldWMHBJVldzNVZtRXhjR2hWTVZwclZqRldjazlYYUU1V01VcEtWbFJKTVZNeFVYaFhibEpvVW14d1dGbHJXbmRVUmxWM1YyeGFiRkp0VWpGV1IzaHJZVlpLZFZGcVdsZGhNbEV3V1ZSR1UyTXhUbkpYYkdob1RXNW9XbFp0ZEZkVE1rNXpZa2hHVTJKWVVuSlZiWGgzVFZaVmVXVkhPV2hXTUZZMlZWY3dOVll4V2paU1ZFSmhVa1ZHTTFwVldtRmtWa3B6Vkcxc1UxWkdXalJXTVZwdlpERlplRnBGWkdGVFJYQm9WVzV3YzFac2JISlhiazVQWWtad1dGbFZhR3RXTURGeVkwWmFWbFl6UWxSWFZscExVbXhrY2s5WFJsTlNWVmt3Vm0weE5HUXhTWGhhU0U1b1VtczFUMWxzWkc5aFJscHhVbTF3YkZKVVZraFdSbWh2VjBkS1NGVnVRbFppV0dob1ZtdGFjMlJGTVZkVWJHaFRZa2hCZDFaR1dsTlZNa3BIVjI1T2FWSkdXbFpaYTJSU1pERmFjVkZZYUdwaVZUVkhXVlZhZDFSc1NYbGFNM0JYWWxoQ1ExcFZaRk5XTVZwMVZteFNhVkl4U2xWV1JsSkNUVVV4UjFkdVVtcFNWMUp2VkZkek1VMUdWblJrUjNSWVVqQndXVnBWV2xOWGJGcEdUbFZPVlZZemFHaGFSV1JYVTBaS2MyTkdaR2xTTTJOM1ZtMXdTMDVHYkZkVmJrNVlZa2RTV1Zsc1VuTmhSbHB4Vkd0T1VrMVdSalJWYkZKelZWWldWVTFFYXowPQ=="},"timezone":{"type":"string","description":"The timezone of the intervals in the CSV file. The default is `UTC`.","example":"America/Los_Angeles"},"allow_overwrite":{"type":"boolean","description":"When set to `false`, the import fails if existing data conflicts with the uploaded data.","example":true}}}}}},"responses":{"201":{"description":"File uploaded successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"import_id":{"type":"string","description":"The import's unique reference ID.","example":"cmgoyz7mb00002f6obth9ojea"}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n "}},"security":[{"openapi_oauth":["workforce_management:write:admin","workforce_management:write:queue_metrics:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkforceAdmin:Edit"],"x-macro-scopes":["workforce_management:write:admin"],"x-granular-scopes":["workforce_management:write:queue_metrics:admin"]}}},"/workforce-management/reports/adherence/agents":{"get":{"tags":["Reports"],"summary":"List agents' adherence data","description":"Get agents' adherence data.\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:read:list_adherence_agents:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listAdherenceAgents","parameters":[{"name":"date","in":"query","description":"The date in 'yyyy-MM-dd' format.","required":true,"schema":{"type":"string","example":"2025-09-01"}},{"name":"timezone","in":"query","description":"The adherence timezone. The default is UTC.","required":false,"schema":{"type":"string","example":"America/Los_Angeles","default":"UTC"}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size.","required":false,"schema":{"type":"string","example":"jA5csQv1W1oXuYZLspNIZzMOXqTD9r9Rje2","default":"null"}},{"name":"page_size","in":"query","description":"The number of agents returned per page.","required":false,"schema":{"maximum":10,"minimum":1,"type":"integer","example":10,"default":10}},{"name":"division_id","in":"query","description":"The division ID.","required":false,"schema":{"type":"string","example":"ya2kZo77RE6LFqaoKwWM0g"}}],"responses":{"200":{"description":"List of agents with adherence for the date.","content":{"application/json":{"schema":{"required":["agents","next_page_token","page_size","timezone","total_records"],"type":"object","properties":{"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size.","example":"jA5csQv1W1oXuYZLspNIZzMOXqTD9r9Rje2"},"page_size":{"type":"integer","description":"The number of agents returned per page.","example":10},"total_records":{"type":"integer","description":"The total number of agents available across pages.","example":100},"timezone":{"type":"string","description":"The adherence timezone. The default is UTC.","example":"America/Los_Angeles"},"agents":{"maxItems":10,"type":"array","description":"List of agents with adherence.","items":{"required":["adherence_time_for_activity","display_name","schedule_activities","shifts","user_id"],"type":"object","properties":{"user_id":{"type":"string","description":"The agent's unique identifier.","example":"0c30da44bd68aae3b5714abb885a59"},"display_name":{"type":"string","description":"The agent's name.","example":"Alex"},"shifts":{"maxItems":10,"type":"array","description":"Shift details.","items":{"required":["end_in_adherence","end_time","start_in_adherence","start_time"],"type":"object","properties":{"start_time":{"type":"string","description":"The shift start time, in ISO 8601 format `yyyy-MM-dd'T'HH:mm:ss'Z'` or yyyy-MM-dd'T'HH:mm:ss'TZD'`.","example":"2024-11-06T03:30:00.000Z"},"end_time":{"type":"string","description":"The shift end time, in ISO 8601 format `yyyy-MM-dd'T'HH:mm:ss'Z'` or `yyyy-MM-dd'T'HH:mm:ss'TZD'`.","example":"2024-11-06T03:30:00.000Z"},"start_in_adherence":{"type":"integer","description":"The number of seconds after shift start that the user started being in adherence.","example":0},"end_in_adherence":{"type":"integer","description":"The number of seconds before shift end that the user started being in adherence.","example":0}}}},"schedule_activities":{"maxItems":250,"type":"array","description":"All activities in the schedule.","items":{"required":["activity_id","activity_name","end_time","start_time"],"type":"object","properties":{"activity_id":{"type":"string","description":"The activity's unique identifier.","example":"0c30da44bd68aae3b5714abb885a59"},"activity_name":{"type":"string","description":"The activity's name.","example":"Chat"},"start_time":{"type":"integer","description":"The activity's start time in timestamp.","example":1730896200000},"end_time":{"type":"integer","description":"The activity's end time in timestamp.","example":1730896200000}},"description":"Activity details"}},"adherence_time_for_activity":{"maxItems":250,"type":"array","description":"All unique activities in the schedule with adherence.","items":{"required":["activity_id","activity_in_adherence","activity_name","activity_out_adherence"],"type":"object","properties":{"activity_id":{"type":"string","description":"The activity's unique identifier.","example":"0c30da44bd68aae3b5714abb885a59"},"activity_name":{"type":"string","description":"The activity's name.","example":"Chat"},"activity_in_adherence":{"type":"integer","description":"Activity in adherence, in seconds.","example":0},"activity_out_adherence":{"type":"integer","description":"Activity out of adherence, in seconds.","example":0}},"description":"The activity's adherence details."}}},"description":"Agent and adherence details."}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1902` <br>\n Invalid date parameter. <br>\n**Error Code:** `1903` <br>\n Invalid timezone. <br>\n**Error Code:** `1904` <br>\n Invalid page size. <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n "}},"security":[{"openapi_oauth":["workforce_management:read:list_adherence_agents:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkforceAdmin:Edit"],"x-granular-scopes":["workforce_management:read:list_adherence_agents:admin"]}}},"/workforce-management/reports/schedules/agents":{"get":{"tags":["Reports"],"summary":"List all schedule agents","description":"List all the schedule agents for the particular date and timezone\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `workforce_management:read:list_schedule_agents:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"listScheduleAgents","parameters":[{"name":"date","in":"query","description":"The date in 'yyyy-MM-dd' format.","required":true,"schema":{"type":"string","format":"date","example":"2025-09-01"}},{"name":"user_ids","in":"query","description":"Return results only for the specified user IDs. Add multiple `user_ids` parameters to include more users. Example: `?user_ids=123&user_ids=456`.","required":false,"schema":{"type":"array","format":"string","example":["jA5csQv1W1oXuYZLspNIZzMOXqTD9r9Rje2"]}},{"name":"timezone","in":"query","description":"The schedule's timezone. The default is UTC.","required":false,"schema":{"type":"string","example":"America/Los_Angeles","default":"null"}},{"name":"next_page_token","in":"query","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. ","required":false,"schema":{"type":"string","example":"jA5csQv1W1oXuYZLspNIZzMOXqTD9r9Rje2","default":"null"}},{"name":"page_size","in":"query","description":"The number of scheduled agents returned per page.","required":false,"schema":{"maximum":10,"minimum":1,"type":"integer","example":10,"default":10}},{"name":"division_id","in":"query","description":"The division ID.","required":false,"schema":{"type":"string","example":"ya2kZo77RE6LFqaoKwWM0g"}}],"responses":{"200":{"description":"List of agents in the schedule for the date","content":{"application/json":{"schema":{"required":["agents","next_page_token","page_size","timezone","total_records"],"type":"object","properties":{"next_page_token":{"type":"string","description":"Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. ","example":"jA5csQv1W1oXuYZLspNIZzMOXqTD9r9Rje2","default":"null"},"page_size":{"maxLength":10,"minLength":1,"type":"integer","description":"The number of scheduled agents returned per page.","example":10,"default":10},"total_records":{"type":"integer","description":" The total number of all scheduled agents available across pages.","example":100},"timezone":{"type":"string","description":"The schedule's timezone. The default is UTC.","example":"America/Los_Angeles"},"agents":{"maxItems":250,"type":"array","description":"List of agents in the schedule","items":{"required":["activities","display_name","scheduling_group_name","total_paid_time","total_scheduled_time","user_email","user_id"],"type":"object","properties":{"user_id":{"type":"string","description":"The agent unique identifier","example":"0c30da44bd68aae3b5714abb885a59"},"display_name":{"type":"string","description":"The agent's display name","example":"Alex"},"user_email":{"type":"string","description":"The agent's email address","example":"alex@example.com"},"scheduling_group_name":{"type":"string","description":"The name of the scheduling group","example":"Sales","default":"null"},"total_scheduled_time":{"type":"integer","description":"The total schedule duration, in minutes.","example":480,"default":0},"total_paid_time":{"type":"integer","description":"The total duration of paid schedule activity in minutes","example":340,"default":0},"activities":{"maxItems":250,"type":"array","description":"List of activities","items":{"required":["activity_name","activity_type","end_time","is_paid","schedule_activity_id","start_time"],"type":"object","properties":{"schedule_activity_id":{"type":"string","description":"The activity unique identifier","example":"cll20wknm01cwex0isvewiegl"},"start_time":{"type":"string","description":"The schedule activity start time. In ISO 8601 format (yyyy-MM-dd'T'HH:mm:ss'Z' or yyyy-MM-dd'T'HH:mm:ss’TZD’).","example":"2024-07-20T14:00:00-08:00"},"end_time":{"type":"string","description":"The schedule activity end time. in ISO 8601 format (yyyy-MM-dd'T'HH:mm:ss'Z' or yyyy-MM-dd'T'HH:mm:ss’TZD’).","example":"2024-07-20T14:00:00-08:00"},"activity_name":{"type":"string","description":"The activity name identifier","example":"SMS"},"activity_type":{"type":"string","description":"Type of the activity","example":"Productive"},"is_paid":{"type":"boolean","description":"The is_paid indicates if the scheduled activity counts as paid time for calculating the agent's total paid duration.","example":true}},"description":"The activity details"}}},"description":"The schedule agent details"}}},"description":"Schedule agents list returned"}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1902` <br>\n Invalid date parameter <br>\n**Error Code:** `1903` <br>\n Invalid timezone <br>\n**Error Code:** `1904` <br>\n Invalid page size <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n "},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  Internal server error \n\n "}},"security":[{"openapi_oauth":["workforce_management:read:list_schedule_agents:admin"],"openapi_authorization":[]}],"x-extensions":{"x-permissions":["WorkforceAdmin:Edit"],"x-granular-scopes":["workforce_management:read:list_schedule_agents:admin"]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{"workforce_management:read:admin":"workforce_management:read:admin","workforce_management:read:forecasts:admin":"workforce_management:read:forecasts:admin","workforce_management:write:admin":"workforce_management:write:admin","workforce_management:write:queue_metrics:admin":"workforce_management:write:queue_metrics:admin","workforce_management:read:list_adherence_agents:admin":"workforce_management:read:list_adherence_agents:admin","workforce_management:read:list_schedule_agents:admin":"workforce_management:read:list_schedule_agents:admin"}}}}}}}